<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss(1)">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>


    <img class="allergic-info-icon" src="/assets/dining/allergic-info-icon.svg">

    
    <p class="allergic-info-sec">
      This item contains allergens - <span class="allergic-fi">{{allergic}}</span> to which <span class="din-consumer-name">{{consumer}}</span> is allergic.
    </p>

    <div class="din-notes">
      <!-- <ion-label>PN: </ion-label> -->
      <ion-label class="ml-5">
         Would you like to override these alerts and still make the selection?
      </ion-label>
    </div>

    <div class="din-modal-btn-box">

      <ion-button class="din-modal-continue-btn" (click)="dismiss(2)"> Yes </ion-button>

      <ion-button class="din-modal-cancel-btn" (click)="dismiss(1)"> No </ion-button>

    </div>


  </div>

</ion-content>