.background-color {
    --background:  #fff !important;
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;

    img {
        border-radius: 4px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

// ion-textarea {
//     padding: 10px !important;
// }

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 57px;
    z-index: 999;
}

ion-footer::before {
    background-image: none !important;
}

// ion-footer {
//     border: 0px !important;
//     border-bottom-color: transparent !important;
//     background-image: none !important;
//     border-bottom: none !important;
//   }
ion-content.background {
    --background: url(../../assets/feedback/review-bg.png) 0 0/100% 100% no-repeat !important;
}

.custom-header {
    padding-top: 20px;
    padding-bottom: 5px;
    display: block;

    .back-btn {
        display: inline-flex;
        vertical-align: middle;
    }

    .give-us-feedback {
        display: inline;
        margin-left: 15px;
        font-family: "Product Sans";
        vertical-align: middle;

    }
}

.feedback-footer {

    ion-toolbar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;

        .fdbk-continue-btn {
            --background: #0077b5;
            --border-radius: 50px;
            --box-shadow: none !important;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            text-align: center;
            max-width: fit-content;
            height: 45px;
            margin-left: auto;
            margin-right: auto;
            display: inline-flex;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --padding-start: 25px;
            --padding-end: 25px;
            text-transform: capitalize;

            &:nth-of-type(2) {
                margin-left: 15px;
            }
        }

        .lfa-btn {
            --background: #74c0e4 !important;
        }
    }
}

ion-header {
    padding-inline-start: 0px;
}

.fdbk-textarea {
    height: 104px !important;
    min-height: auto !important;
    overflow-y: scroll;
    font-size: 18px;
}

@media screen and (min-width:768px) and (orientation:portrait) {
    .fdbk-textarea {
        height: auto !important;
        min-height: 150px !important;
    }

}

@media screen and (min-width:1024px) {
    .fdbk-textarea {
        //height: auto !important;
		height: calc(100vh - 350px) !important;
        min-height: 150px !important;
    }

}

.native-textarea.sc-ion-textarea-md {
    --padding-top: 0 !important;
    --padding-end: 0 !important;
    --padding-bottom: 0 !important;
    --padding-start: 0 !important;
  }
  
  .native-textarea.sc-ion-textarea-ios {
    --padding-top: 0 !important;
    --padding-end: 0 !important;
    --padding-bottom: 0 !important;
    --padding-start: 0 !important;
  }