<!-- <ion-header no-padding color="none"
  style="background: url('assets/common_header.svg') no-repeat center center !important;background-attachment: fixed; background-size: cover !important;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" [routerLink]="['/select-feedback-type']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Enter Feedback</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header> -->
<ion-header >
  <span class="custom-header">
    <ion-buttons slot="start" class="back-btn" mode="md">
      <ion-back-button style="color:#000;padding-inline-start: 10px !important;" text="" [routerLink]="['/select-category',{type:type}]"></ion-back-button>
    </ion-buttons>
    <ion-label class="give-us-feedback" mode="md">Please enter your feedback</ion-label>
  </span>
</ion-header>
<ion-content class="background-color" style="background-image: url(../../assets/feedback/review-bg.png);background-repeat: no-repeat;background-size: cover">
  <!-- <div class="feedback-bg-blue"> -->
    <!-- <span class="custom-header">
      <ion-buttons slot="start" class="back-btn">
        <ion-back-button style="color:#000;padding-inline-start: 25px !important;" text="" [routerLink]="['/select-category',{type:type}]"></ion-back-button>
      </ion-buttons>
      <ion-label class="give-us-feedback">Please enter your feedback</ion-label>
    </span> -->
  <!-- <ion-item lines="none" color="none">
    <ion-label class="give-us-feedback">Please enter your feedback</ion-label>
  </ion-item> -->
  <form (ngSubmit)="submit()">
  <ion-card class="padding-20">

    <ion-textarea rows="20" name="feedback" class="fdbk-textarea" [(ngModel)]="feedback">

    </ion-textarea>

    <div class="fdbk-add-image" (click)="selectImage()" *ngIf="imageResponse.length<5">

      <ion-icon name="attach"></ion-icon>

      <ion-label>Add images</ion-label>

    </div>
    <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

      <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">
        
        <ion-thumbnail class="uploaded-image">
          <img src="{{item}}">
          <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>
  
        
  
      </ion-col>
      </ion-row>

  </ion-card>
  <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>
</form>
  <!-- </div> -->

</ion-content>

<ion-footer class="ion-no-border feedback-footer" no-border style="box-shadow: none;" >
  <ion-toolbar>
    <ion-button class="fdbk-continue-btn" (click)="submit()">Continue</ion-button>

    <!-- <ion-button class="fdbk-continue-btn lfa-btn" (click)="submit()">Leave Feedback Anonymously</ion-button> -->
  </ion-toolbar>
</ion-footer>