<ion-content class="res-overview-page">

  <ion-icon class="back-arrow" name="arrow-back-outline" (click)="back()"></ion-icon>

  <div class="res-overview-inner-sec">



  </div>

  <div class="profile-details-box">

    <ion-avatar>

      <img [src]="user.profile_pic">

    </ion-avatar>

    <ion-label class="consumer-name">{{user.name}}</ion-label>

    <ion-label class="agedcare-name">{{branch}}</ion-label>

    <ion-label class="room-wingname" *ngIf="rv==0">{{room}}, {{wing}}</ion-label>
    <ion-label class="room-wingname" *ngIf="rv==1">{{property_name}}</ion-label>
    <div class="profile-switch-box" *ngIf="members.length>1">

      <ion-button class="profile-switch-btn" (click)="showConsumer()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-button>

      <ion-label>change</ion-label>

    </div>

  </div>

  <!-- <div class="resident-away-card-holder">

    <ion-card class="resident-away-card">

      <ion-card-header class="rac-header">

        <div class="rac-header-ib">

          <div class="rac-hib-row">

            <div class="rac-hib-left">

              <ion-text class="rac-title">Away</ion-text>
              <span class="away-date-range">03 Jan 2024 - 17 Jan 2024</span>

            </div>

            <div class="rac-hib-right">
              <ion-icon name="ellipsis-vertical" class="rac-more-options"></ion-icon>
              <ion-icon name="chevron-down-outline" class="rac-more-details-down-arrow"></ion-icon>
            </div>

          </div>

          <div class="rac-hib-row">

            <div class="show-more-booking-box">

              <ion-icon name="ellipsis-horizontal-circle-sharp"></ion-icon>
              <ion-text><b>2</b> other aways </ion-text>

            </div>

          </div>

        </div>

      </ion-card-header>

      <ion-card-content class="rac-content">

        <ion-row>

          <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

            <ion-card class="away-resident-card">
              <ion-avatar class="resident-avatar">
                <img
                  src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=600">
              </ion-avatar>
              <ion-text class="resident-name">John Doe</ion-text>
            </ion-card>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

            <div class="away-dates-holder">

              <ion-text class="start-date">Start date : <b>03 January 2024</b></ion-text>
              <ion-text class="return-date">Return date : <b>03 January 2024</b></ion-text>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

            <div class="away-comment-holder">

              <p class="away-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. <span class="more">More...</span></p>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

            <div class="show-more-booking-box">

              <ion-icon name="ellipsis-horizontal-circle-sharp"></ion-icon>
              <ion-text>View <b>2</b> other aways </ion-text>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

            <div class="other-away-info-holder">

              <div class="single-oaif-holder">

                <ion-row>

                  <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

                    <ion-card class="away-resident-card">
                      <ion-avatar class="resident-avatar">
                        <img
                          src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=600">
                      </ion-avatar>
                      <ion-text class="resident-name">John Doe</ion-text>
                    </ion-card>

                  </ion-col>

                  <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

                    <div class="away-dates-holder">

                      <ion-text class="start-date">Start date : <b>03 January 2024</b></ion-text>
                      <ion-text class="return-date">Return date : <b>03 January 2024</b></ion-text>

                    </div>

                  </ion-col>

                  <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

                    <div class="away-comment-holder">

                      <p class="away-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. <span class="more">More...</span></p>

                    </div>

                  </ion-col>

                </ion-row>

              </div>

              <div class="single-oaif-holder">

                <ion-row>

                  <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

                    <ion-card class="away-resident-card">
                      <ion-avatar class="resident-avatar">
                        <img
                          src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=600">
                      </ion-avatar>
                      <ion-text class="resident-name">John Doe</ion-text>
                    </ion-card>

                  </ion-col>

                  <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

                    <div class="away-dates-holder">

                      <ion-text class="start-date">Start date : <b>03 January 2024</b></ion-text>
                      <ion-text class="return-date">Return date : <b>03 January 2024</b></ion-text>

                    </div>

                  </ion-col>

                  <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

                    <div class="away-comment-holder">

                      <p class="away-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. <span class="more">More...</span></p>

                    </div>

                  </ion-col>

                </ion-row>

              </div>

            </div>



          </ion-col>

        </ion-row>

      </ion-card-content>

    </ion-card>

  </div> -->

  <ion-label class="p-30days">Past 30 days overview</ion-label>

  <ion-row *ngIf="modules.includes('Dining Beta')&&modules.includes('Visitor management')">

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/resident-overview/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card">

        <img src="/assets/resident-overview/dining-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-mr">{{meals}}</ion-label>

          <ion-label class="overview-info">Meals refused</ion-label>

        </div>

      </ion-card>

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card mr-zero">

        <img src="/assets/resident-overview/visitor-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-visitors">{{visitors}}</ion-label>

          <ion-label class="overview-info">Visitors</ion-label>

        </div>

      </ion-card>

    </ion-col>

  </ion-row>

  <ion-row *ngIf="!modules.includes('Dining Beta')&&modules.includes('Visitor management')">

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/resident-overview/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>



    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card mr-zero">

        <img src="/assets/resident-overview/visitor-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-visitors">{{visitors}}</ion-label>

          <ion-label class="overview-info">Visitors</ion-label>

        </div>

      </ion-card>

    </ion-col>

  </ion-row>

  <ion-row *ngIf="modules.includes('Dining Beta')&&!modules.includes('Visitor management')">

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/resident-overview/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card">

        <img src="/assets/resident-overview/dining-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-mr">{{meals}}</ion-label>

          <ion-label class="overview-info">Meals refused</ion-label>

        </div>

      </ion-card>

    </ion-col>


  </ion-row>
  <ion-row *ngIf="!modules.includes('Dining Beta')&&!modules.includes('Visitor management')">

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/resident-overview/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>



  </ion-row>

  <!-- <ion-segment (ionChange)="segmentChanged($event)" class="ro-segment">

    <ion-segment-button>
      <ion-label>Daily overview</ion-label>
    </ion-segment-button>

    <ion-segment-button>
      <ion-label>Contacts</ion-label>
    </ion-segment-button>

    <ion-segment-button>
      <ion-label>Gallery</ion-label>
    </ion-segment-button>

  </ion-segment>


  <div class="ro-select-date-sec">

    <div class="ro-date-sec">

      <ion-icon name="chevron-back-outline"></ion-icon>

      <ion-label>24 March 2022</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <ion-button class="ro-month-select-sec-btn">

      <i class="las la-calendar"></i>

    </ion-button>

  </div>


  <ion-row>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-activity">

          <ion-label>
            <ion-icon name="pulse-outline"></ion-icon>
            Activity
          </ion-label>

          <ion-label>
            <ion-icon name="time-outline"></ion-icon>
            09 AM-10 AM
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box">

            <ion-label>
              John Abraham's 100th Birthday
              celebration
            </ion-label>

          </div>

          <div class="act-details-box">

            <ion-chip class="act-social">
              <i class="las la-glass-martini-alt"></i>
              <ion-label>Social</ion-label>
            </ion-chip>

            <ion-label class="act-status as-declined">
              <ion-icon name="close-circle-sharp"></ion-icon>
              Declined
            </ion-label>

          </div>

          <div class="activity-comment">

            <ion-label>
              Lorem ipsum dolor sit amet consectetur,
              adipisicing elit.
            </ion-label>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-dining">

          <ion-label>
            <i class="las la-utensils"></i>
            Dining
          </ion-label>

          <ion-label>
            <ion-icon name="time-outline"></ion-icon>
            01 PM-2 PM
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box">

            <ion-label>
              Lunch
            </ion-label>

            <ion-label class="din-dishes">
              Chicken fried rice-, Ice cream, Tea, Juice
            </ion-label>

          </div>

          <div class="din-refused-ib">

            <ion-label class="din-refused-reason">
              Too unwell to eat
            </ion-label>

            <ion-label class="din-status din-declined">
              <ion-icon name="close-circle-sharp"></ion-icon>
              Declined
            </ion-label>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-visitor">

          <ion-label>
            <i class="las la-clone"></i>
            Dining
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box-v">

            <div class="checkin-time-sec">

              <ion-label>Checkin</ion-label>

              <ion-label class="checkin-time">

                <ion-icon name="time-outline"></ion-icon>
                04 PM

              </ion-label>

            </div>

            <div class="checkout-time-sec">

              <ion-label>Checkout</ion-label>

              <ion-label class="checkout-time">

                <ion-icon name="time-outline"></ion-icon>
                5 PM

              </ion-label>

            </div>

          </div>

          <div class="visitor-info-box">

            <ion-avatar>
              <i class="las la-user"></i>
            </ion-avatar>

            <ion-label>Adrian Mayo</ion-label>

          </div>

          <div class="visitor-info-box">

            <ion-avatar>
              <i class="las la-user"></i>
            </ion-avatar>

            <ion-label>John Doe</ion-label>


            <span class="more-visitors">+2</span>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

  </ion-row> -->

  <ion-row class="rp-more-info-sec">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" [routerLink]="['/overview',{cid:res_id,flag:flag,branch:res_branch}]">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-chart-pie overview-icon"></i>
              <link rel="stylesheet"
                href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
              Daily overview
            </ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card"
        [routerLink]="['/consumer-contact',{cid:cons_id,flag:flag,branch:res_branch}]">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-address-book contacts-icon"></i>
              <link rel="stylesheet"
                href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
              Contacts
            </ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" [routerLink]="['/consumer-gallery',{cid:cons_id,flag:flag}]">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-photo-video gallery-icon"></i>
              <link rel="stylesheet"
                href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
              Gallery
            </ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-user dprofile-icon"></i> Dietary Profile</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col> -->

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" [routerLink]="['/petty-cash',{cid:cons_id}]">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-coins pettycash-icon"></i>
              <link rel="stylesheet"
                href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
              Finance
            </ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" [routerLink]="['/resident-mark-away']">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label>
              <span class="mark-away-icon-holder">
                <img class="mark-away-icon" src="/assets/resident-overview/mark-away.svg">
              </span>
              Mark Away
            </ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col> -->

    <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-chart-bar reports-icon"></i> Reports</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col> -->

  </ion-row>



</ion-content>