// ion-header {
//     padding: 45px 25px 0px;

//     ion-icon {
//         font-size: 25px;
//         color: #0077B5;
//     }
// }

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #eee;

    .back-arrow {
        font-size: 25px;
        color: #222;
        margin-top: 30px;
    }

    .res-overview-inner-sec {
        display: flex;
        flex-direction: column;
    }

    .profile-details-box {
        background: #0077b5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 120px;
        padding: 15px 20px;
        color: #fff;
        border-radius: 15px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        ion-avatar {
            width: 100px;
            height: 100px;
            border: 5px solid #fff;
            position: absolute;
            top: 30px;
        }

        .consumer-name {
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-top: 45px;
        }

        .agedcare-name {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .room-wingname {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .profile-switch-box {
            position: absolute;
            right: 30px;
            top: 95px;

            .profile-switch-btn {
                width: 35px;
                height: 35px;
                margin-left: auto;
                margin-bottom: 0;
                color: #0077b5;
                font-size: 25px;
                --background: #fff;
                --border-radius: 50px;
                --padding-start: 5px;
                --padding-end: 5px;
                display: block;
            }

            ion-label {
                font-size: 10px;
                color: #fff;
                opacity: 0.6;
            }
        }
    }

    .resident-away-card-holder {
        display: flex;
        flex-direction: column;

        .resident-away-card {
            font-family: "Roboto", sans-serif;
            border: 1px solid #ffc248;
            border-radius: 10px !important;
            margin: 6px 0 5px;

            .rac-header {
                background: #ffe99b;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 8px 8px 15px;
                width: 100%;

                .rac-header-ib {
                    width: 100%;

                    .rac-hib-row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .rac-hib-left {
                            display: flex;
                            flex-direction: column;
                            line-height: 24px;

                            .rac-title {
                                font-size: 16px;
                                font-weight: 600;
                                color: #222;
                            }

                            .away-date-range {
                                font-size: 15px;
                                font-weight: normal;
                                color: #222;
                            }
                        }

                        .rac-hib-right {
                            display: flex;
                            align-items: center;
                            margin-left: auto;

                            .rac-more-options {
                                font-size: 18px;
                                color: #222;
                            }

                            .rac-more-details-down-arrow {
                                font-size: 18px;
                                color: #222;
                                margin-left: 10px;
                            }
                        }

                        .show-more-booking-box {
                            margin-top: 5px;
                            border-top: 1px solid #e5d89d;
                            padding-top: 10px;
                            width: 100%;
                            display: flex;
                            align-items: center;

                            ion-icon {
                                font-size: 20px;
                                color: #8d671b;
                                margin-right: 5px;
                                margin-left: -2px;
                            }

                            ion-text {
                                font-size: 15px;
                                display: flex;
                                align-items: center;
                                color: #8d671b;
                                margin: 0;

                                b {
                                    margin-right: 2px;
                                }
                            }
                        }
                    }
                }
            }

            .rac-content {
                background-color: #fffcee;
                padding: 10px;

                ion-row {
                    ion-col {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .away-resident-card {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            background: #fff;
                            box-shadow: none;
                            border: 1px solid #f7efc9;
                            padding: 10px;
                            border-radius: 10px;
                            margin-top: 5px;
                            margin-bottom: 0;
                            margin-right: 5px;
                            margin-left: 5px;
                            position: relative;

                            & + .away-resident-card {
                                margin-top: 5px;
                            }

                            .resident-avatar {
                                width: 35px;
                                height: 35px;
                                border-radius: 50px;
                                margin: 0;
                            }

                            .resident-name {
                                font-family: "Roboto", sans-serif !important;
                                font-size: 16px;
                                color: #222;
                                margin-left: 15px;
                            }
                        }

                        .away-dates-holder {
                            display: flex;
                            flex-direction: column;
                            font-family: "Roboto", sans-serif !important;
                            margin-left: 5px;
                            margin-right: 5px;
                            line-height: 25px;

                            .start-date {
                                font-size: 16px;
                                color: #222;
                            }

                            .return-date {
                                font-size: 16px;
                                color: #222;
                            }
                        }

                        .away-comment-holder {
                            margin: 0 5px;

                            .away-comment {
                                font-family: "Roboto", sans-serif !important;
                                font-size: 16px;
                                color: #222;
                                padding: 0;
                                margin: 0;

                                .more {
                                    font-size: 14px;
                                    color: #cb4a18;
                                }
                            }
                        }

                        .show-more-booking-box {
                            margin-top: 5px;
                            border-top: 1px solid #e5d89d;
                            padding-top: 10px;
                            width: 100%;
                            display: flex;
                            align-items: center;

                            ion-icon {
                                font-size: 20px;
                                color: #8d671b;
                                margin-right: 5px;
                                margin-left: -2px;
                            }

                            ion-text {
                                font-size: 15px;
                                display: flex;
                                align-items: center;
                                color: #8d671b;
                                margin: 0;

                                b {
                                    margin-left: 5px;
                                    margin-right: 5px;
                                }
                            }
                        }

                        .other-away-info-holder {
                            display: flex;
                            flex-direction: column;
                            padding: 5px;

                            .single-oaif-holder {
                                border: 1px solid #ffc248;
                                border-radius: 10px;
                                padding: 12px;

                                &+.single-oaif-holder {
                                    margin-top: 15px;
                                }

                                ion-row {
                                    ion-col {
                                        .away-resident-card {
                                            margin: 0;
                                        }

                                        .away-dates-holder {
                                            margin-left: 0;
                                            margin-right: 0;
                                        }

                                        .away-comment-holder {
                                            margin-left: 0;
                                            margin-right: 0;
                                        }
                                    } 
                                } 
                            }
                        }
                    }
                }
            }
        }
    }

    .overview-count-card {
        height: 100%;
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #dfdfdf;
        box-shadow: none;

        img {
            width: 60px;
            height: 60px;
        }

        .oc-info-sec {
            height: 100%;
            display: flex;
            flex-direction: column;

            .overview-count {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #707070;
                margin-top: 15px;
            }

            .label-ah {
                color: #0daf9f;
            }

            .label-mr {
                color: #ffb604;
            }

            .label-visitors {
                color: #e81b66;
            }

            .overview-info {
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #707070;
                margin-top: 5px;
            }
        }
    }

    .ro-segment {
        color: #707070;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #d8d8d8;

        ion-segment-button {
            text-transform: none;
            font-size: 16px;
            letter-spacing: normal;
            --color-checked: #0077b5;
            --indicator-color: #0077b5;
            --indicator-height: 3px;
        }
    }

    .ro-select-date-sec {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .ro-date-sec {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 25px;
                color: #707070;
            }

            ion-label {
                font-size: 18px;
                font-weight: 600;
                color: #707070;
            }
        }

        .ro-month-select-sec-btn {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            margin-bottom: 0;
            color: #707070;
            --background: #efefef;
            --border-radius: 50px;
            --padding-start: 5px;
            --padding-end: 5px;

            i {
                font-size: 25px;
                color: #707070;
            }
        }
    }

    .overview-item-card {
        ion-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #efefef;
            padding: 10px;

            ion-icon {
                font-size: 25px;
                margin-right: 5px;
                vertical-align: middle;
            }

            i {
                font-size: 25px;
                margin-right: 5px;
                vertical-align: middle;
            }

            ion-label {
                font-size: 16px;
            }
        }

        .ot-activity {
            background: #cfefec;

            ion-icon,
            i,
            ion-label {
                color: #0daf9f;
            }
        }

        .ot-dining {
            background: #fef1ce;

            ion-icon,
            i,
            ion-label {
                color: #ffab04;
            }
        }

        .ot-visitor {
            background: #fcdee9;

            ion-icon,
            i,
            ion-label {
                color: #cc3e71;
            }
        }

        ion-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;

            .mc-box {
                display: block;
                width: 100%;

                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                    color: #222;
                    line-height: 20px;
                }

                .din-dishes {
                    font-size: 15px;
                    font-weight: normal;
                    color: #707070;
                    display: block;
                    margin-top: 10px;
                }
            }

            .mc-box-v {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .checkin-time-sec {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 5px;
                    }

                    .checkin-time {
                        color: #222;
                        font-size: 15px;

                        ion-icon {
                            font-size: 22px;
                            vertical-align: middle;
                            color: #707070;
                            margin-right: 5px;
                        }
                    }
                }

                .checkout-time-sec {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 5px;
                    }

                    .checkout-time {
                        color: #222;
                        font-size: 15px;

                        ion-icon {
                            font-size: 22px;
                            vertical-align: middle;
                            color: #707070;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .act-details-box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                ion-chip {
                    padding: 10px 15px;
                    color: #707070;
                    margin: 0;

                    i {
                        font-size: 18px;
                        vertical-align: middle;
                    }

                    ion-label {
                        font-size: 15px;
                        margin-left: 5px;
                    }
                }

                .act-status {
                    color: #707070;
                    font-size: 14px;

                    ion-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }

                .act-social {
                    background: #fbddf9;
                    color: #a20082;
                }

                .act-physical {
                    background: #ffd6db;
                    color: #e2001e;
                }

                .act-spiritual {
                    background: #aeffd5;
                    color: #187a57;
                }

                .act-emotional {
                    background: #ffe5d8;
                    color: #e25900;
                }

                .act-cognitive {
                    background: #dfecff;
                    color: #0965a1;
                }

                .act-trip {
                    background: #fff1bc;
                    color: #725a00;
                }

                .act-entertainment {
                    background: #b1ffff;
                    color: #006064;
                }

                .act-event {
                    background: #ffd1d1;
                    color: #610000;
                }

                .act-meeting {
                    background: #e7e4fd;
                    color: #0f00a2;
                }

                .act-other {
                    background: #ffd8f6;
                    color: #f300d3;
                }

                .as-declined {
                    color: #ff0000;
                }

                .as-attended {
                    color: #1cb300;
                }
            }

            .activity-comment {
                border-top: 1px dashed #c7c7c7;
                margin-top: 15px;
                padding-top: 10px;

                ion-label {
                    font-size: 15px;
                    color: #707070;
                    line-height: 18px;
                    text-align: justify;
                }
            }

            .din-refused-ib {
                border-top: 1px dashed #c7c7c7;
                margin-top: 10px;
                padding-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .din-refused-reason {
                    font-size: 15px;
                    color: #ff5100;
                    max-width: 65%;
                }

                .din-status {
                    color: #707070;
                    font-size: 14px;
                    max-width: 33%;

                    ion-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
            }

            .visitor-info-box {
                background: #f5f5f5;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 10px;

                ion-avatar {
                    width: 35px;
                    height: 35px;
                    background: #e8e8e8;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 25px;
                        color: #707070;
                    }
                }

                ion-label {
                    font-size: 16px;
                    color: #222;
                    margin-left: 15px;
                }

                .more-visitors {
                    color: #673ab7;
                    background: #e7daff;
                    padding: 5px;
                    border-radius: 26px;
                    position: absolute;
                    right: 5px;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .overview-item-card {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    @media only screen and (min-width: 768px) {
        .acc-card {
            padding: 10px 15px !important;
            margin: 0px 5px !important;
        }

        .overview-item-card {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px !important;
            margin-right: 10px !important;
            padding: 0px !important;
            height: 100%;

            ion-card-header {
                padding: 15px;
            }

            ion-card-content {
                .activity-comment {
                    ion-label {
                        font-size: 16px;
                    }
                }

                .mc-box {
                    .din-dishes {
                        font-size: 16px;
                    }
                }
            }
        }

        .overview-count-card {
            height: 100%;
            margin: 10px !important;
            padding: 30px !important;

            img {
                width: 80px;
                height: 80px;
            }

            .overview-count {
                font-size: 25px !important;
            }

            .overview-info {
                font-size: 18px !important;
            }
        }

        .ro-segment {
            margin-top: 20px;

            ion-segment-button {
                font-size: 20px;
            }
        }

        .ro-select-date-sec {
            margin-top: 20px;
        }

        .no_padding_inline ion-row,
        ion-col {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .occ-box {
        ion-col {
            padding-inline-start: 0;
            padding-inline-end: 0;
            padding-top: 0;
        }
    }

    .rp-more-info-sec {
        margin-top: 10px;

        ion-col {
            padding-inline-start: 0;
            padding-inline-end: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .overview-item-card {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 0px !important;
        height: 100%;

        ion-card-header {
            padding: 15px;
        }

        ion-card-content {
            .activity-comment {
                ion-label {
                    font-size: 16px;
                }
            }

            .mc-box {
                .din-dishes {
                    font-size: 16px;
                }
            }
        }
    }

    .overview-count-card {
        height: 100%;
        margin: 0px !important;
        padding: 30px !important;

        img {
            width: 80px;
            height: 80px;
        }

        .overview-count {
            font-size: 25px !important;
        }

        .overview-info {
            font-size: 18px !important;
            margin-top: 0 !important;
        }
    }

    .ro-segment {
        margin-top: 20px;

        ion-segment-button {
            font-size: 20px;
        }
    }

    .ro-select-date-sec {
        margin-top: 20px;
    }

    .no_padding_inline ion-row,
    ion-col {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rp-more-info-sec {
        margin-top: 10px;

        ion-col {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .p-30days {
        font-size: 18px !important;
        // margin: 20px 0 15px !important;
        margin: 15px 0 12px !important;
    }
}

.p-30days {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #222;
    margin: 15px 0 10px;
    display: block;
}

.acc-card {
    // padding: 10px 15px;
    // box-shadow: none !important;
    // background-color: #f5f5f5 !important;
    // margin: 10px 0px;
    // padding: 10px 15px;
    // box-shadow: none !important;
    // background-color: #cbedff !important;
    // margin: 10px 0px;
    // color: #0077b5;

    padding: 10px 15px;
    margin: 5px 0px;
    color: #707070;
    background-color: #fff !important;
    // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    ion-label {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;

        i,
        ion-icon {
            font-size: 27px;
            vertical-align: middle;
            color: #707070;
            margin-right: 15px;
            background: #f4f4f4;
            padding: 5px;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .overview-icon {
            // background: rgb(254 133 34 / 20%);
            // color: rgb(254 133 34);
            background: rgb(229 230 255);
            color: #7e83ff;
        }

        .feeds-icon {
            width: 42px;
            height: 42px;
            margin-right: 15px;
        }

        .about-icon {
            background: rgb(64 178 247 / 20%);
            color: rgb(64 178 247);
        }

        .contacts-icon {
            background: rgb(43 201 103 / 20%);
            color: rgb(43 201 103);
        }

        .gallery-icon {
            background: rgb(166 52 255 / 20%);
            color: rgb(177 82 251);
            font-size: 22px;
        }

        .dprofile-icon {
            background: rgb(0 188 212/0.2);
            color: rgb(0 188 212);
        }

        .pettycash-icon {
            background: rgb(254 178 2 / 20%);
            color: rgb(254 178 2);
        }

        .mark-away-icon-holder {
            vertical-align: middle;
            color: #707070;
            margin-right: 15px;
            background: #cbf9ff;
            padding: 5px;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            filter: hue-rotate(185deg);

            .mark-away-icon {
                height: 16px;
            }
        }

        .reports-icon {
            background: rgb(255 75 76 / 20%);
            color: rgb(255 75 76);
        }
    }

    ion-icon {
        // color: #737373;
        font-size: 20px;
        color: #707070;
        vertical-align: middle;
    }
}

.dflex-ai-center {
    align-items: center;
    display: flex;
}

.mr-zero {
    margin-right: 0px !important;
}

.ios.overscroll.hydrated {
    --padding-top: 45px !important;

    .profile-details-box {
        ion-avatar {
            top: 65px !important;
        }
    }
}
