.skip-button {
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-transform: initial;
  background: hsl(207 90% 54% / 0.1);
  border-radius: 20px;
  padding: 5px 15px;
  height: 29px;
  margin-top: 13px;
}

.input_field {
  margin-bottom: 0px !important;
  --inner-padding-end: 0 !important;
}

ion-input {
  --inner-padding-end: 0 !important;
}