<ion-header color="none" no-border translucent="true" style="box-shadow: none;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none" no-border translucent="true" style="box-shadow: none;">
    <!-- <ion-title>ForgotPassword</ion-title> -->
    <ion-buttons slot="start" mode="md">
      <ion-back-button (click)="back()" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="flag==1">

  <div class="reset-password-sec">

    <div class="rps-item">

      <ion-avatar class="rps-thumb-avatar">
        <img src="assets/reset_password_icon.svg">
      </ion-avatar>

      <ion-text class="rps-title">Reset Password</ion-text>

      <ion-text class="rps-title-1" *ngIf="flag==2">
        Would you like to reset<br>your password?
      </ion-text>

      <form class="rp-form" [formGroup]="resetform" novalidate (ngSubmit)="reset()">

        <div class="rpf-item">

          <ion-input class="input_text_pass" formControlName="old_pass" required name="old" [type]="oldType"
            placeholder="Enter old password" [(ngModel)]="old_pass"></ion-input>
            <ion-icon name="eye-off"  (click)="typeChange(1)" *ngIf="oldType=='password'"></ion-icon>
        <ion-icon name="eye"  (click)="typeChange(4)" *ngIf="oldType=='text'"></ion-icon>

          <!-- <ng-container *ngIf="( resetform.get('old_pass').hasError('required') ) && resetform.get('old_pass').touched">

            <ion-text class="error"
              *ngIf="resetform.get('old_pass').hasError('required') && resetform.get('old_pass').touched">
              *Please enter your old password
            </ion-text>

          </ng-container> -->

        </div>

        <div class="rpf-item">

          <ion-input class="input_text_pass" formControlName="new_pass" required name="new" [type]="newType"
            placeholder="Enter new password" [(ngModel)]="new_pass" (ionChange)="checkStrength(new_pass)"></ion-input>
            <ion-icon name="eye-off"  (click)="typeChange(2)" *ngIf="newType=='password'"></ion-icon>
          <ion-icon name="eye"  (click)="typeChange(5)" *ngIf="newType=='text'"></ion-icon>

          <!-- <ng-container
            *ngIf="( resetform.get('new_pass').hasError('minlength')  ||resetform.get('new_pass').hasError('required') ) && resetform.get('new_pass').touched">

            <ion-text class="error"
              *ngIf="resetform.get('new_pass').hasError('required') && resetform.get('new_pass').touched">
              *Please enter your new password
            </ion-text>

            <ion-text class="error"
              *ngIf="resetform.get('new_pass').hasError('minlength') && resetform.get('new_pass').touched">
              *Minimum 8 characters
            </ion-text>

          </ng-container> -->

          <div class="pswd-strength-indicator-holder">

            <ion-label class="psih-label">Password Strength: <span class="pswd-str-text" id="result"></span></ion-label>

            <div class="password-progress-bar">

              <div id="password-strength" class="progress-bar">
              </div>

            </div>

            <ul class="password-strenth-suggestions-list">

              <li id="one-char">
                <ion-icon name="ellipse-outline"></ion-icon>
                <ion-label>1 lowercase & 1 uppercase</ion-label>
              </li>

              <li id="one-num">
                <ion-icon name="ellipse-outline"></ion-icon>
                <ion-label>1 number (0-9)</ion-label>
              </li>

              <li id="one-special-char">
                <ion-icon name="ellipse-outline"></ion-icon>
                <ion-label>1 Special Character (!@#$%^&*)</ion-label>
              </li>

              <li id="eight-char">
                <ion-icon name="ellipse-outline"></ion-icon>
                <ion-label>Atleast 8 Characters</ion-label>
              </li>

            </ul>

          </div>

        </div>

        <div class="rpf-item">

          <ion-input class="input_text_pass" name="confirm" formControlName="confirm_pass" [(ngModel)]="confirm_pass"
          [type]="conType" placeholder="Confirm your password" required></ion-input>

          <ion-icon name="eye-off"  (click)="typeChange(3)" *ngIf="conType=='password'"></ion-icon>
            <ion-icon name="eye"  (click)="typeChange(6)" *ngIf="conType=='text'"></ion-icon>

          <!-- <ng-container
            *ngIf="(resetform.get('confirm_pass').hasError('minlength')||resetform.get('confirm_pass').hasError('required'))  && resetform.get('new_pass').touched">

            <ion-text class="error"
              *ngIf="resetform.get('confirm_pass').hasError('required') && resetform.get('confirm_pass').touched">
              *Please confirm your new password
            </ion-text>

            <ion-text class="error"
              *ngIf="resetform.get('confirm_pass').hasError('minlength') && resetform.get('confirm_pass').touched">
              *Minimum 8 characters
            </ion-text>

          </ng-container> -->

        </div>

      </form>

    </div>

    <div class="rps-item">

      <ion-button expand="block" class="reset-password-btn" fill="clear" (click)="reset()">
        Reset Password
      </ion-button>

    </div>

    <div class="rps-item" *ngIf="flag==2">

      <ion-button fill="clear" (click)="skip()" class="skip-button">
        skip
      </ion-button>

    </div>

  </div>

 

</ion-content>

<ion-content *ngIf="flag==2">

  <div class="reset-password-sec">

    <div class="rps-item">

      <ion-avatar class="rps-thumb-avatar">
        <img src="assets/reset_password_icon.svg">
      </ion-avatar>

      <ion-text class="rps-title">
        Reset Password
      </ion-text>

      <ion-text class="rps-title-1" *ngIf="flag==2">
        Would you like to reset<br>your password.
      </ion-text>

    </div>

    <form class="rp-form" [formGroup]="quickresetform" novalidate (ngSubmit)="quickreset()">

      <div class="rpf-item">
        
        <ion-input class="input_text_pass" formControlName="new_pass" required name="new" [type]="newType"
          placeholder="Enter new password" [(ngModel)]="new_pass"></ion-input>

        <!-- <ng-container
          *ngIf="( resetform.get('new_pass').hasError('minlength')  ||resetform.get('new_pass').hasError('required') ) && resetform.get('new_pass').touched">

          <ion-text class="error"
            *ngIf="resetform.get('new_pass').hasError('required') && resetform.get('new_pass').touched">
            *Please enter your new password
          </ion-text>

          <ion-text class="error"
            *ngIf="resetform.get('new_pass').hasError('minlength') && resetform.get('new_pass').touched">
            *Minimum 6 characters
          </ion-text>

        </ng-container> -->
        
      </div>

      <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

    </form>

  </div>

  <ion-button expand="block" class="reset-password" fill="clear" (click)="quickreset()">
    Reset Password
  </ion-button>

  <ion-item color="none" lines="none" *ngIf="flag==2">

    <ion-button fill="clear" (click)="skip()" class="skip-button">
      skip
    </ion-button>

  </ion-item>

</ion-content>