<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title mode="md" class="page_title">Activities</ion-title> -->
    <ion-buttons slot="end" style="padding-inline-end: 15px;">

      <ion-col>
        <ion-button class="header_btn_bg" (click)="calendarView()">
          <ion-icon name="calendar-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>

      <!-- <ion-col>
        <ion-button class="header_btn_bg" (click)="filter($event)">
          <ion-icon name="funnel-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col> -->



      <!-- <ion-col>

        <ion-select placeholder="All" class="wing_change_select" [(ngModel)]="wing" (ionChange)="changeWing(wing)">
          <ion-select-option value="{{item.id}}" *ngFor="let item of wingArray">{{item.wing}}</ion-select-option>

        </ion-select>
        <img class="wing-icon1" src="/assets/wing-icon.svg">

      </ion-col> -->

    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-row *ngIf="view" color="none">
    <ion-card class="calendar_card" [ngStyle]="contentStyle">
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'DD/MM/yyyy'" step="30">
      </ion-calendar>
    </ion-card>
  </ion-row> -->

  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content >

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment [(ngModel)]="selectedList" class="fts-segment" mode="md">

      <ion-segment-button class="seg-all-activities" value="1" (click)="changeView(1)">

        <ion-label>All activities
          <!-- <span class="all-act-count">50</span> -->
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-my-activities" value="2" (click)="changeView(2)">

        <ion-label *ngIf="utype==5">My activities</ion-label>
        <ion-label *ngIf="utype==6">Related to me
          <!-- <span class="my-act-count">10</span> -->
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment (ionChange)="segmentChanged($event)" class="fts-segment">

     <ion-segment-button class="seg-all">

       <ion-label>All</ion-label>

     </ion-segment-button>

     <ion-segment-button class="seg-assigned">

       <ion-label>Assigned to me</ion-label>

     </ion-segment-button>

   </ion-segment>

 </ion-fab> -->



  <!-- <ion-label *ngIf="type==1||type==8||type==9">Showing results for {{act_filter}}</ion-label> -->

  <ion-row *ngIf="view" color="none">
    <ion-card class="calendar_card" [ngStyle]="contentStyle">
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'DD/MM/yyyy'" step="30">
      </ion-calendar>
    </ion-card>
  </ion-row>

  <ion-item lines="none" color="none" *ngIf="!view ">
    <ion-label class="activity_date_head">
      {{month}} <span>{{year}}</span></ion-label>
  </ion-item>
  <!-- <hr class="underline"> -->

  <ion-item style="margin: 5px 0 15px;" lines="none" color="none" ion-no-padding *ngIf="!view ">
    <ion-icon class="left_arrow" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)"
      [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
    <!-- <div class="left_arrow" [class.disabled]="sliderOne.isBeginningSlide"></div> -->
    <!-- <ion-row text-center  ion-no-padding class="mlr_auto week_container">
      <ion-col  ion-no-padding  *ngFor="let item of week" >
        <ion-card class="date_card" ion-no-padding  (click)="setDate(item)">
          <ion-item lines="none">
            <ion-label class="activity_date">
              {{item.day}}
              <span>{{item.date}}</span>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row> -->

    <ion-row text-center ion-no-padding class="mlr_auto week_container">
      <ion-col ion-no-padding style="align-content: center; display: flex;">
        <ion-slides [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let item of sliderOne.week; let idx = index" style="width: fit-content;">
            <ion-card [class.date_card]="idx != currentDate" ion-no-padding (click)="setDate(item,idx)"
              [class.current_date]="idx === currentDate">
              <ion-item lines="none" color="none">
                <ion-label class="activity_date">
                  {{item.day}}
                  <span>{{item.date}}</span>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-icon class="right_arrow" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)"
      [class.disabled]="sliderOne.isEndSlide"></ion-icon>

  </ion-item>
  <!-- <ion-label *ngIf="type==1||type==8||type==9" class="filter-result">Showing results for {{act_filter}}</ion-label> -->


  <ion-row class="act_calendar" *ngIf="view ">
    <ion-col text-left>

      <ion-label class="act_calendar_date">
        {{date |dateformat:'DD MMMM yyyy' }}
      </ion-label>

    </ion-col>

    <ion-col text-right>

      <ion-label class="act_calendar_act">
        {{numAct}}{{" "}} Activities
      </ion-label>

    </ion-col>
  </ion-row>


  <div *ngIf="act">

    <!-- <ion-card class="activity_card" *ngFor="let item of activity" (click)="gotoDetails(item.id)">

      <div class="activity-color-strip" [class.physical_icon]="item.type.type_name=='Physical'"
        [class.social_icon]="item.type.type_name=='Social'" [class.trip_icon]="item.type.type_name=='Trip'"
        [class.meeting_icon]="item.type.type_name=='Meeting'" [class.event_icon]="item.type.type_name=='Event'"
        [class.spiritual_icon]="item.type.type_name=='Spiritual'"
        [class.cognitive_icon]="item.type.type_name=='Cognitive'"
        [class.entertainment_icon]="item.type.type_name=='Entertainment'"
        [class.emotional_icon]="item.type.type_name=='Emotional'" [class.other_icon]="item.type.type_name=='Other'">
      </div>

     


      <ion-row style="width: 100%;margin-left: 5px;margin-top: 8px;">
        <ion-icon class="activity_time_icon"></ion-icon>
        <ion-label class="activity_time">{{item.start_time}}{{"-"}}{{item.end_time}}</ion-label>
      </ion-row>

      <ion-row style="width: 100% !important;">
       
        <ion-col size="12" size-md="7" size-lg="8" size-sm="12" class="content-pos">
          <ion-label class="line-clamp-act">{{item.title}}</ion-label>
        </ion-col>

        <ion-col class="mtb-10 content-pos">
          <ion-chip class="social_icon" *ngIf="item.type.type_name=='Social'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="physical_icon" *ngIf="item.type.type_name=='Physical'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="trip_icon" *ngIf="item.type.type_name=='Trip'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="meeting_icon" *ngIf="item.type.type_name=='Meeting'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="event_icon" *ngIf="item.type.type_name=='Event'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="spiritual_icon" *ngIf="item.type.type_name=='Spiritual'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="cognitive_icon" *ngIf="item.type.type_name=='Cognitive'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="entertainment_icon" *ngIf="item.type.type_name=='Entertainment'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="emotional_icon" *ngIf="item.type.type_name=='Emotional'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="other_icon" *ngIf="item.type.type_name=='Other'">
            <i class="{{item.type.icon}}" style="margin-right:3px"></i>
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
        </ion-col>



        <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
          <img class="activity-image" [src]="item.images[0].activity_image" *ngIf="item.images.length>0">
          <img class="activity-image" src="/assets/activity-type-images/cognitive.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Cognitive'">
          <img class="activity-image" src="/assets/activity-type-images/emotional.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Emotional'">
          <img class="activity-image" src="/assets/activity-type-images/entertainment.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Entertainment'">
          <img class="activity-image" src="/assets/activity-type-images/event.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Event'">
          <img class="activity-image" src="/assets/activity-type-images/meeting.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Meeting'">
          <img class="activity-image" src="/assets/activity-type-images/other.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Other'">
          <img class="activity-image" src="/assets/activity-type-images/physical.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Physical'">
          <img class="activity-image" src="/assets/activity-type-images/social.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Social'">
          <img class="activity-image" src="/assets/activity-type-images/spiritual.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Spiritual'">
          <img class="activity-image" src="/assets/activity-type-images/trip.png"
            *ngIf="item.images.length==0&&item.type.type_name=='Trip'">
        </ion-col>

      </ion-row>

      

      <ion-card-content class="activity_description ">
       
      </ion-card-content>

      <ion-item lines="none" color="none" style="--min-height:auto; --padding-start: 5px; width: 100%;"
        *ngIf="item.venue!=null">
        <ion-icon class="activity_location_icon"></ion-icon>
        <ion-label class="activity_location">{{item.venue}}</ion-label>
      </ion-item>
    

      <span class="assigned-tag"
        *ngIf="(utype==5&&item.assigned_consumer==true)||(utype==6&&(item.assigned_consumer==true||item.assigned_family==true))">

        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Assigned</ion-label>

      </span>

    </ion-card> -->
    <ion-card class="activity_card" *ngFor="let item of activity" (click)="gotoDetails(item.id)"
      [class.act-social-card]="item.type.type_name=='Social'"
      [class.act-physical-card]="item.type.type_name=='Physical'" [class.act-trip-card]="item.type.type_name=='Trip'"
      [class.act-meeting-card]="item.type.type_name=='Meeting'" [class.act-event-card]="item.type.type_name=='Event'"
      [class.act-spiritual-card]="item.type.type_name=='Spiritual'"
      [class.act-cognitive-card]="item.type.type_name=='Cognitive'"
      [class.act-entertainment-card]="item.type.type_name=='Entertainment'"
      [class.act-emotional-card]="item.type.type_name=='Emotional'"
      [class.act-other-card]="item.type.type_name=='Other'"
      [class.doNotShow]="(utype==5&&item.individual_activity==1&&!item.assigned_consumer)||(utype==6&&item.individual_activity==1&&(!item.assigned_consumer&&!item.assigned_family))">

      <span class="activity-color-strip"></span>

      <ion-row style="width: 100%;margin-left: 0px;">
        <ion-col class="col_fit">
          <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
          <ion-label class="activity-time">{{item.start_time}}{{"-"}}{{item.end_time}}</ion-label>
        </ion-col>

        <ion-col class="col_fit ml-auto">
          <ion-chip class="activity-type-chip social_icon" *ngIf="item.type.type_name=='Social'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip physical_icon" *ngIf="item.type.type_name=='Physical'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip trip_icon" *ngIf="item.type.type_name=='Trip'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip meeting_icon" *ngIf="item.type.type_name=='Meeting'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip event_icon" *ngIf="item.type.type_name=='Event'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip spiritual_icon" *ngIf="item.type.type_name=='Spiritual'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip cognitive_icon" *ngIf="item.type.type_name=='Cognitive'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip entertainment_icon" *ngIf="item.type.type_name=='Entertainment'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip emotional_icon" *ngIf="item.type.type_name=='Emotional'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
          <ion-chip class="activity-type-chip other_icon" *ngIf="item.type.type_name=='Other'">
            <!-- <i class="{{item.type.icon}}" style="margin-right:3px"></i> -->
            <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

            <ion-label>{{item.type.type_name}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12" size-md="6" size-lg="6" size-sm="12" class="content-pos">
          <ion-label class="line-clamp-act">{{item.title}}</ion-label>
          <div class="activity-location-block" *ngIf="item.venue!=null">
            <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
            <ion-label class="activity_location">{{item.venue}}</ion-label>
          </div>
        </ion-col>

        <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
          <img class="activity-image" src="/assets/activity-type-images/social.png"
            *ngIf="item.type.type_name=='Social'">
          <img class="activity-image" src="/assets/activity-type-images/physical.png"
            *ngIf="item.type.type_name=='Physical'">
          <img class="activity-image" src="/assets/activity-type-images/trip.png" *ngIf="item.type.type_name=='Trip'">
          <img class="activity-image" src="/assets/activity-type-images/meeting.png"
            *ngIf="item.type.type_name=='Meeting'">
          <img class="activity-image" src="/assets/activity-type-images/event.png" *ngIf="item.type.type_name=='Event'">
          <img class="activity-image" src="/assets/activity-type-images/spiritual.png"
            *ngIf="item.type.type_name=='Spiritual'">
          <img class="activity-image" src="/assets/activity-type-images/emotional.png"
            *ngIf="item.type.type_name=='Emotional'">
          <img class="activity-image" src="/assets/activity-type-images/cognitive.png"
            *ngIf="item.type.type_name=='Cognitive'">
          <img class="activity-image" src="/assets/activity-type-images/entertainment.png"
            *ngIf="item.type.type_name=='Entertainment'">
          <img class="activity-image" src="/assets/activity-type-images/other.png" *ngIf="item.type.type_name=='Other'">
        </ion-col>

        <ion-col size="12" size-md="4" size-lg="4" size-sm="12" class="act-more-infoblock">



          <ng-container *ngIf="item.rv_details">

            <div class="ami-block-1">

              <div class="activity-seat-status">

                <div class="seat-availability sa">
                  <i class="las la-chair"></i>
                  <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count>0">
                    {{item.rv_details.slot_limit-item.signedup_users_count}} slots available</ion-label>
                  <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count<=0">Booked out</ion-label>
                </div>

                <span class="others-attending" *ngIf="item.signedup_users_count">
                  <ion-label>{{item.signedup_users_count}} others attending</ion-label>
                </span>

              </div>

              <div class="activity-cost-sec" *ngIf="item.rv_details&&item.rv_details.paid_activity==1">

                <div class="activity-cost">
                  <i class="las la-money-bill"></i>
                  <ion-label>${{item.rv_details.cost}}</ion-label>
                </div>

              </div>

            </div>

            <!-- <div class="act-booking-options-sec" *ngIf="!item.signup_status&&item.rv_details.slot_limit-item.signedup_users_count>0&&!item.signup_list.length">
            <ion-button class="signup-button" (click)="signup(item)">Sign up <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div> -->

            <div class="act-booking-options-sec"
              *ngIf="!item.signup_status&&(item.rv_details.slot_limit-item.signedup_users_count)>0&&signupStatus(item)">
              <ion-button class="signup-button" (click)="signupAlert(item); $event.stopPropagation()">Sign up <ion-icon
                  name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>

            <div class="act-booking-options-sec"
              *ngIf="item.signup_list&&item.signup_list.length&&waitinglistStatus(item)">
              <ion-label class="wl">You are in waiting list</ion-label>
            </div>
          </ng-container>

          <div class="act-assigned-cancel-box">

            <span class="assigned-tag-1"
            *ngIf="(utype==5&&item.assigned_consumer==true)||(utype==6&&(item.assigned_consumer==true||item.assigned_family==true)&&!waitinglistStatus(item))">

            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Assigned</ion-label>

          </span>

          <span class="cancel-signup">
            <ion-icon name="close"></ion-icon>
            <ion-label>Cancel</ion-label>
          </span>

          </div>

          
        </ion-col>

      </ion-row>

    </ion-card>
  </div>
  <div *ngIf="!act">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_activities_found_img.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Activities Found</ion-label>
    </ion-item>
  </div>




  <!-- <ion-card class="activity_card act-social-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">10:00 AM - 10:30 AM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/social.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="ami-block-1">

          <div class="activity-seat-status">

            <div class="seat-availability sa">
              <i class="las la-chair"></i>
              <ion-label>05 slots available</ion-label>
            </div>

            <span class="others-attending">
              <ion-label>25 others attending</ion-label>
            </span>

          </div>

          <div class="activity-cost-sec">

            <div class="activity-cost">
              <i class="las la-money-bill"></i>
              <ion-label>$40</ion-label>
            </div>

          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-button class="signup-button">Sign up <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-physical-card">

    <ion-row>
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">10:30 AM - 11:00 AM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/physical.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="ami-block-1">

          <div class="activity-seat-status">

            <div class="seat-availability">
              <i class="las la-chair"></i>
              <ion-label>Booked out</ion-label>
            </div>

            <span class="others-attending">
              <ion-label>30 others attending</ion-label>
            </span>

          </div>

          <div class="activity-cost-sec">

            <div class="activity-cost">
              <i class="las la-money-bill"></i>
              <ion-label>$40</ion-label>
            </div>

          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-button class="awl-button">Add to waiting list <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-trip-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">11:30 AM - 12:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/trip.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="ami-block-1">

          <div class="activity-seat-status">

            <div class="seat-availability">
              <i class="las la-chair"></i>
              <ion-label>Booked out</ion-label>
            </div>

            <span class="others-attending">
              <ion-label>30 others attending</ion-label>
            </span>

          </div>

          <div class="activity-cost-sec">

            <div class="activity-cost">
              <i class="las la-money-bill"></i>
              <ion-label>$40</ion-label>
            </div>

          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-label class="wl">You are in waiting list</ion-label>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-meeting-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">12:30 PM - 01:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>

        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>

      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/meeting.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="ami-block-1">

          <div class="activity-seat-status">

            <div class="seat-availability sa">
              <i class="las la-chair"></i>
              <ion-label>05 slots available</ion-label>
            </div>

            <span class="others-attending">
              <ion-label>25 others attending</ion-label>
            </span>

          </div>

          <div class="activity-cost-sec">

            <div class="activity-cost">
              <i class="las la-money-bill"></i>
              <ion-label>$40</ion-label>
            </div>

          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-label class="signed-up">Signed up</ion-label>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-event-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">02:00 PM - 02:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/event.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-spiritual-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">02:30 PM - 03:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/spiritual.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-emotional-card">

    <ion-row style="width: 100%;margin-left:0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">03:00 PM - 03:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/emotional.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-cognitive-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">03:30 PM - 04:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="width: 100% !important;">

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/cognitive.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-entertainment-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">04:00 PM - 04:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="width: 100% !important;">

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/entertainment.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>


  </ion-card>

  <ion-card class="activity_card act-other-card">

    <ion-row style="width: 100%;margin-left: 0px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">04:00 PM - 04:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/other.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card> -->

</ion-content>




<style>
  .item-inner {
    --padding-start: 0 !important;
    --inner-padding-end: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>