ion-header {
    .header_btn_bg {
        background: #2b90c5 !important;
    }
}

ion-content {
    --padding-bottom: 20px;
    --padding-top: 60px;
    --background: #eee;
}

.fixed-top-sec {
    padding: 10px 10px 0;
    min-width: 100%;
    background: #fff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    top: 0;
    right: 0;

    .fts-segment {
        .seg-all-activities {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #222;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            text-transform: none;
            display: flex;
            align-items: center;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                // color: #0077b5;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .all-act-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #e1f4ff;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-my-activities {
            min-width: 150px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #222;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 20px;
            text-transform: none;
            display: flex;
            align-items: center;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                // color: #3d3d3d;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .my-act-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #d4d4d4;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }
    }
}

.week_container {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-y: hidden;
    overflow-x: scroll !important;

    ::-webkit-scrollbar {
        display: none !important;
    }
}

ion-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-calendar {
    height: 90px;

    div:title {
        font-weight: bold;
        color: rgb(163, 45, 45);
    }

    :host(.button-clear) {
        --background-activated: #000;
    }
}

.wing_change_select {
    background-color: #2d95cb;
    border-radius: 30px;
    padding: 10px 15px 10px 45px;
    color: #fff;
    font-size: 16px;
    --placeholder-opacity: 1;
    margin-left: 10px;
    position: relative;
}

.activity-image {
    width: 100%;
    max-width: 140px;
    max-height: 80px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    // margin-left: auto;
    margin-top: 12px;
    display: block;
}

@media screen and (max-width: 767px) {
    .dis-none {
        display: none !important;
    }

    .line-clamp-act {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 70px;
        // margin-bottom: 15px;
        margin-bottom: 0px;
        // padding-left: 10px;
        // margin-top: 5px;
        padding-left: 0;
        margin-top: 10px;
    }

    .activity_card {
        ion-chip {
            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 13px;
            }
        }

        // .activity_location {
        //     margin-top: -7px !important;
        // }
    }
}

@media screen and (min-width: 768px) {
    .calendar_card {
        max-width: 45%;
    }

    .activity_card {
        // width: 90%;
        width: 96%;
        margin-top: 20px;
        margin-bottom: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border-radius: 10px;
        padding: 15px !important;
    }

    .activity_description {
        ion-col:first-child {
            justify-content: center;
            align-self: center;

            ion-label {
                display: flex;
                justify-content: start;
                align-self: center;
                font-size: 18px;
            }
        }
    }

    .line-clamp-act {
        // margin-bottom: 0 !important;
        margin-bottom: 15px !important;
        font-size: 18px !important;
    }
}

// .assigned {
//     position: absolute !important;
//     top: 15px !important;
//     right: 15px !important;
// }

.assigned-tag {
    position: absolute !important;
    top: 18px !important;
    right: 15px !important;
    color: #28ba62;
    display: none;

    ion-icon {
        font-size: 12px;
        align-self: center;
    }

    ion-label {
        font-size: 15px;
        margin-left: 10px;
    }
}

.content-pos {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.activity_time {
    margin-left: 0px !important;
}

.line-clamp-act {
    font-size: 17px;
    // font-weight: 400;
    font-weight: 500;
    color: #232323;
}

.wing-icon1 {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 18px;
    z-index: 99999;
}

.filter-result {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #0077b5;
}

.activity_date_head {
    font-size: 25px !important;
    font-weight: normal !important;
    color: #858585 !important;
    text-align: center !important;
    padding-top: 5px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 5px;
}

.activity_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 15px !important;
    margin-bottom: 15px !important;
    position: relative;
    box-shadow: none;
    border: 1px solid #dfdfdf;

    // .activity-color-strip {
    //     width: 7px !important;
    //     height: 60px !important;
    //     background: #858585;
    //     border-top-left-radius: 10px;
    //     border-bottom-left-radius: 10px;
    //     position: absolute;
    //     right: 0;
    //     align-self: center;
    //     vertical-align: middle;
    //     display: flex;
    // }

    .activity-color-strip {
        width: 7px !important;
        height: 50px !important;
        background: #858585;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: 0;
        align-self: center;
        vertical-align: middle;
        display: flex;
        opacity: 0.8;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

// ion-content {
//     --padding-top: 60px;
// }

// .fixed-top-sec {
//    display: flex;
//    justify-content: space-between;
//    width: 100%;
//    top: 0;
//    right: 0;
//    background: #fff;
//    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//    padding: 5px 10px 0;
//    z-index: 999999;

//    .fts-segment {
//        .seg-all {
//            min-width: 125px;
//            max-width: fit-content;
//            --color-checked: #0077B5;
//            --indicator-height: 3px;
//            --padding-start: 0;
//            --padding-end: 0;
//            text-transform: none;
//            padding-bottom: 5px;
//            display: flex;
//            justify-content: center;
//            align-items: center;

//            ion-label {
//                font-size: 18px;
//                font-weight: 500;
//                letter-spacing: normal;
//                margin-top: 0;
//                margin-bottom: 0;
//            }

//        }

//        .seg-assigned {
//            min-width: 150px;
//            max-width: fit-content;
//            --color-checked: #0077B5;
//            --indicator-height: 3px;
//            --padding-start: 0;
//            --padding-end: 0;
//            padding-bottom: 5px;
//            text-transform: none;
//            margin-left: 20px;
//            display: flex;
//            justify-content: center;
//            align-items: center;

//            ion-label {
//                font-size: 18px;
//                font-weight: 500;
//                letter-spacing: normal;
//                margin-top: 0;
//                margin-bottom: 0;

//            }

//        }
//    }
// }

// .act-social-card {
//     background-color: #fbddf9 !important;
//     box-shadow: none;
// }

// .act-physical-card {
//     background-color: rgb(255, 214, 219) !important;
//     box-shadow: none;
// }

// .act-trip-card {
//     background-color: rgb(255, 241, 188) !important;
//     box-shadow: none;
// }

// .act-meeting-card {
//     background-color: rgb(231, 228, 253) !important;
//     box-shadow: none;
// }

// .act-event-card {
//     background-color: rgb(255, 209, 209) !important;
//     box-shadow: none;
// }

// .act-spiritual-card {
//     background-color: rgb(174, 255, 213) !important;
//     box-shadow: none;
// }

// .act-emotional-card {
//     background-color: rgb(255, 229, 216) !important;
//     box-shadow: none;
// }

// .act-cognitive-card {
//     background-color: rgb(223, 236, 255) !important;
//     box-shadow: none;
// }

// .act-entertainment-card {
//     background-color: rgb(177, 255, 255) !important;
//     box-shadow: none;
// }

// .act-other-card {
//     background-color: rgb(255, 216, 246) !important;
//     box-shadow: none;
// }

.act-social-card {
    // background-color: rgb(251 221 249 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #eddceb !important;
    //     border-bottom: 1px solid #eddceb !important;
    // }

    .activity-color-strip {
        background-color: rgb(251 221 249 / 100%) !important;
    }
}

.act-physical-card {
    // background-color: rgb(255 214 219 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #eddbdc !important;
    //     border-bottom: 1px solid #eddbdc !important;
    // }

    .activity-color-strip {
        background-color: rgb(255 214 219 / 100%) !important;
    }
}

.act-trip-card {
    // background-color: rgb(255 241 188 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #e5dfc8 !important;
    //     border-bottom: 1px solid #e5dfc8 !important;
    // }

    .activity-color-strip {
        background-color: rgb(255 241 188 / 100%) !important;
    }
}

.act-meeting-card {
    // background-color: rgb(231 228 253 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #e6e4f5 !important;
    //     border-bottom: 1px solid #e6e4f5 !important;
    // }

    .activity-color-strip {
        background-color: rgb(231 228 253 / 100%) !important;
    }
}

.act-event-card {
    // background-color: rgb(255 209 209 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #f3dddd !important;
    //     border-bottom: 1px solid #f3dddd !important;
    // }

    .activity-color-strip {
        background-color: rgb(255 209 209 / 100%) !important;
    }
}

.act-spiritual-card {
    // background-color: rgb(174 255 213 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #cde9da !important;
    //     border-bottom: 1px solid #cde9da !important;
    // }

    .activity-color-strip {
        background-color: rgb(174 255 213 / 65%) !important;
    }
}

.act-emotional-card {
    // background-color: rgb(255 229 216 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #ebdfd9 !important;
    //     border-bottom: 1px solid #ebdfd9 !important;
    // }

    .activity-color-strip {
        background-color: rgb(255 229 216 / 100%) !important;
    }
}

.act-cognitive-card {
    // background-color: rgb(223 236 255 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #e3e8f1 !important;
    //     border-bottom: 1px solid #e3e8f1 !important;
    // }

    .activity-color-strip {
        background-color: rgb(223 236 255 / 100%) !important;
    }
}

.act-entertainment-card {
    // background-color: rgb(177 255 255 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #caebeb !important;
    //     border-bottom: 1px solid #caebeb !important;
    // }

    .activity-color-strip {
        background-color: rgb(177 255 255 / 100%) !important;
    }
}

.act-other-card {
    // background-color: rgb(255 216 246 / 35%) !important;
    // box-shadow: none;
    border-radius: 15px !important;

    // .ami-block-1 {
    //     border-top: 1px solid #ebdae7 !important;
    //     border-bottom: 1px solid #ebdae7 !important;
    // }

    .activity-color-strip {
        background-color: rgb(255 216 246 / 100%) !important;
    }
}

.activity_card {
    .line-clamp-act {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 5px;
    }

    ion-row {
        width: 100%;
    }

    ion-chip {
        padding: 0;
        margin-left: 0;
        min-height: 16px;
        height: auto !important;
        border-radius: 0;
        // background: transparent !important;
        display: none;
    }

    .activity-type-chip {
        display: flex !important;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin: 0;
        padding: 5px 10px;
        border-radius: 50px;
        opacity: 0.65;
    }

    .content-pos {
        margin-top: 0;

        .activity-location-block {
            margin-bottom: 12px;
            margin-top: 2px;
        }
    }

    .activity_location {
        color: #222 !important;
        font-family: "Roboto", sans-serif;
    }

    .act-more-infoblock {
        margin-left: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .ami-block-1 {
            // border-top: 1px solid #a3a3a3;
            // border-bottom: 1px solid #a3a3a3;
            border-top: 1px dashed #cfcfcf;
            border-bottom: 1px dashed #cfcfcf;
            padding-top: 10px;
            padding-bottom: 0px;
            margin-top: 5px;
            margin-bottom: 10px;
            width: 100%;
            display: flex;

            .activity-seat-status {
                margin-bottom: 10px;
                margin-right: auto;

                .seat-availability {
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 20px;
                        color: #f00000;
                    }

                    ion-label {
                        margin-left: 5px;
                        font-family: "Open Sans", sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                        color: #f00000;
                    }
                }

                .sa {
                    i {
                        color: #0077b5;
                    }

                    ion-label {
                        color: #0077b5;
                    }
                }

                .others-attending {
                    padding-left: 5px;

                    ion-label {
                        // font-family: "Open Sans", sans-serif;
                        font-family: "Roboto", sans-serif;
                        font-size: 12px;
                        color: #545454;
                    }
                }
            }

            .activity-cost-sec {
                margin-bottom: 10px;
                margin-right: auto;

                .activity-cost {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 10px;

                    i {
                        font-size: 25px;
                        // color: #ab00cb;
                        color: #222;
                    }

                    ion-label {
                        margin-left: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        // color: #ab00cb;
                        color: #222;
                    }
                }
            }
        }

        .act-booking-options-sec {
            padding-left: 22px;
            justify-content: center;
            display: flex;
            margin-right: auto;

            .awl-button {
                --background: #fd7500;
                // --border-radius: 50px 50px 0px;
                --padding-start: 20px;
                --padding-end: 15px;
                font-size: 15px;
                font-weight: normal;
                color: #fff;
                height: 40px;
                // margin-left: auto;
                // margin-right: 5px;
                margin-left: auto;
                margin-right: auto;
                // border: 2px solid #fd7500;
                --border-radius: 50px;

                ion-icon {
                    font-size: 18px;
                    color: #fff;
                    margin-left: 4px;
                }
            }

            .signup-button {
                --background: #00b930;
                --padding-start: 25px;
                --padding-end: 20px;
                font-size: 15px;
                font-weight: normal;
                color: #fff;
                height: 40px;
                margin-left: auto;
                margin-right: auto;
                /* border: 2px solid #00b930; */
                --border-radius: 50px;

                ion-icon {
                    font-size: 18px;
                    color: #fff;
                    margin-left: 2px;
                }
            }
            .signup-wl-button {
                --background: #fd7500;
                --padding-start: 25px;
                --padding-end: 20px;
                font-size: 15px;
                font-weight: normal;
                color: #fff;
                height: 40px;
                margin-left: auto;
                margin-right: auto;
                /* border: 2px solid #00b930; */
                --border-radius: 50px;

                ion-icon {
                    font-size: 18px;
                    color: #fff;
                    margin-left: 2px;
                }
            }

            .wl {
                color: #fd7500;
                font-size: 15px;
                margin-left: auto;
                margin-right: 10px;
                margin-top: 0px;
                margin-bottom: 5px;
            }

            .signed-up {
                color: #00b930;
                font-size: 15px;
                margin-left: auto;
                margin-right: 10px;
                margin-top: 0px;
                margin-bottom: 5px;
            }
        }
    }

    .act-assigned-cancel-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .assigned-tag-1 {
            //position: absolute !important;
            // top: 18px !important;
            // bottom: 10px;
            // right: 10px !important;
            // color: #28ba62;

            color: #28ba62;
            // margin-left: auto;
            margin-left: 0;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 12px;
                align-self: center;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 13px;
                margin-left: 5px;
            }
        }

        .cancel-signup {
            display: flex;
            align-items: center;
            // margin-left: 20px;
            // margin-left: auto;
            color: #e31000;

            ion-icon {
                font-size: 15px;
                align-self: center;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 13px;
                margin-left: 2px;
                color: #6c6c6c;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .calendar_card {
        position: relative !important;
        top: 10px !important;
    }

    .act_calendar {
        margin-top: 10px !important;
    }

    .activity_card {
        .activity-seat-status {
            padding: 0 20px;
        }

        .act-more-infoblock {
            .ami-block-1 {
                border: none !important;
            }
        }

        .activity-cost-sec {
            .activity-cost {
                justify-content: start;
                padding: 0 22px;
            }
        }

        .act-booking-options-sec {
            padding: 0 22px;

            .signup-button,
            .signup-wl-button,
            .awl-button,
            .wl,
            .signed-up {
                margin-right: auto;
                margin-left: 0 !important;
            }
        }

        .line-clamp-act {
            padding-right: 20px;
        }

        .activity-image {
            margin-top: 0;
        }

        .act-assigned-cancel-box {
            padding-left: 20px;

            .assigned-tag-1 {
                position: unset !important;
                color: #28ba62;
                // margin-left: auto;

                ion-icon {
                    font-size: 12px;
                    align-self: center;
                }

                ion-label {
                    font-size: 15px;
                    margin-left: 10px;
                }
            }

            .cancel-signup {
                // margin-top: 10px;
                // margin-left: auto !important;

                ion-label {
                    font-size: 15px;
                    margin-left: 5px;
                }
            }
        }
    }

    .ml-auto {
        margin-left: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .activity_card {
        .act-more-infoblock {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .activity-cost-sec {
                margin-left: auto;
                margin-right: 0 !important;
            }

            .act-booking-options-sec {
                margin-left: auto;
                margin-right: 0 !important;
                padding-left: 0;
                width: 100%;
            }
        }
    }
}

.activity-location-icon {
    font-size: 18px;
    vertical-align: middle;
    align-self: center;
    color: #222;
}

.activity-time-icon {
    font-size: 20px;
    vertical-align: middle;
    align-self: center;
    color: #222;
}

.activity-time {
    margin-top: 0px;
    margin-left: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #545454 !important;
    vertical-align: middle;
}

.ml-auto {
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .act-date-slider {
        margin: 5px auto 15px !important;
        max-width: fit-content !important;
    }
}

.calendar_card {
    position: unset !important;
    top: 0 !important;
    margin-top: 20px;
}

.act_calendar {
    margin-top: 10px !important;
}