ion-header {
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;

    .page_title {
        ion-icon {
            vertical-align: middle;
        }

        ion-label {
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #efefef;
    font-family: "Poppins", sans-serif !important;
}

ion-input {
    color: #222;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    min-height: 50px;
    --padding-top: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 20px !important;
}

.addmore-btn {
    --background: rgba(17, 173, 251, 0.2);
    --background-activated: rgba(17, 173, 251, 0.4);
    --background-hover: rgba(17, 173, 251, 0.4);
    --box-shadow: none;
    --border-radius: 50px;
    color: #0077b5;
    text-transform: none;
    letter-spacing: normal;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    height: 40px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    max-width: fit-content;

    ion-icon {
        margin-right: 5px;
    }
}

ion-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .save-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0;
        display: block;
        max-width: fit-content;
        min-width: 92px;
    }

    .cancel-btn {
        --background: #e6e6e6;
        color: #727272;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0px 0px 0px 20px;
        display: block;
        max-width: fit-content;
    }
}

.other-visitor-btn {
    --background: #0077b5;
    --background-activated: #641020;
    --background-focused: #641020;
    --background-hover: #641020;
    --box-shadow: none;
    --border-radius: 50px;
    --padding-start: 20px;
    --padding-end: 20px;
    color: #fff;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    margin: 15px auto 0px;
}