<ion-header class="inner-header-1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-icon name="arrow-back-outline" (click)="cancel()"></ion-icon>

        <ion-label>Add Visitors</ion-label>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let att of anArray; let idx = index">
        <ion-input [(ngModel)]="anArray[idx].value" placeholder="Enter the name"></ion-input>
      </ion-col>
      <ion-col>
        <ion-button class="addmore-btn" (click)="Add()">
          <ion-icon name="add-outline"></ion-icon> Add More
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

  <ion-button class="save-btn" (click)="next()">Save</ion-button>

  <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>


</ion-footer>