@font-face {
    font-family: 'Product Sans';
    src: url('ProductSans-Regular.eot');
    src: url('ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProductSans-Regular.woff2') format('woff2'),
        url('ProductSans-Regular.woff') format('woff'),
        url('ProductSans-Regular.ttf') format('truetype'),
        url('ProductSans-Regular.svg#ProductSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('ProductSans-Medium.eot');
    src: url('ProductSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('ProductSans-Medium.woff2') format('woff2'),
        url('ProductSans-Medium.woff') format('woff'),
        url('ProductSans-Medium.ttf') format('truetype'),
        url('ProductSans-Medium.svg#ProductSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

