<ion-header no-padding color="none"
  style="background: url('assets/common_header.svg') no-repeat center center !important;background-attachment: fixed;background-size: cover !important; padding: 20px 10px;">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Feedback</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content class="feedback1_ion_content">

  <!-- <ion-card class="survey_blue_card" *ngFor="let item of survey" >
      <ion-row style="flex-wrap:nowrap">
      <ion-icon class="survey_bullet_white"></ion-icon>
      <ion-label>{{item.review_name}}</ion-label>
      <ion-col size="1" class="align_flex-end">
        <ion-icon class="c_white" name="chevron-forward-outline"></ion-icon>
      </ion-col> -->
  <ion-card class="survey_blue_card" *ngFor="let item of survey" (click)="next(item)">
    <!-- <ion-row style="flex-wrap:nowrap">
    
          <ion-col size="10" class="dis_flex">
            <ion-icon class="survey_bullet_white"></ion-icon>
            <ion-label>{{item.review_name}}</ion-label>
          </ion-col>
    
          <ion-col size="2" class="align_flex-end c_white">
            Start &nbsp; <ion-icon class="c_white" name="chevron-forward-outline"></ion-icon>
          </ion-col>

      </ion-row> -->

    <ion-item lines="none" color="none" class="feedback-item-sec">

      <div class="dis_flex">
        <ion-icon class="survey_bullet_white"></ion-icon>
        <ion-label>{{item.review_name}}</ion-label>
      </div>

      <div class="start-feedback c_white ml-auto">
        <ion-label>Start</ion-label>&nbsp; <ion-icon class="c_white" name="chevron-forward-outline"></ion-icon>
      </div>

    </ion-item>

  </ion-card>

  <!-- <ion-card class="survey_blue_card" [routerLink]="['/select-language']">
  <ion-icon class="survey_bullet_white"></ion-icon>
  <ion-label>Customer Satisfaction Survey April 2020</ion-label>
</ion-card>

<ion-card class="survey_blue_card">
  <ion-icon class="survey_bullet_white"></ion-icon>
  <ion-label>Customer Satisfaction Survey May 2020</ion-label>
</ion-card>

<ion-card class="survey_white_card">
  <ion-icon class="survey_bullet_blue"></ion-icon>
  <ion-label>Customer Satisfaction Survey June 2020</ion-label>
</ion-card>

<ion-card class="survey_white_card">
  <ion-icon class="survey_bullet_blue"></ion-icon>
  <ion-label>Customer Satisfaction Survey July 2020</ion-label>
</ion-card> -->
  <div *ngIf="survey.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_survey_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Feedback Found.</ion-label>
    </ion-item>
  </div>
</ion-content>