ion-content {
    // --padding-start:10px;
    // --padding-end:10px;
    --padding-top:10px;
    --padding-bottom:10px;
}

.feedback-item-sec {
    --min-height: auto;
    --padding-start:0px;
    --inner-padding-end:0px;
}

.ml-auto {
    margin-left: auto;
}

.start-feedback {
    display: flex;

    ion-label {
        color: #fff;
        align-self: center;
        vertical-align: middle;
        font-size: 14px !important;
    }

    ion-icon {
        font-size: 20px;
        color: #fff;
        vertical-align: middle;
        align-self: center;
    }
}