.cal_card{
    width: 85% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 10px !important;
  z-index: 999 !important;
  position: absolute !important;
  top: 10px !important;
  left: 7%;
  right: 7%;
  background-color: transparent;
}