<ion-header no-padding color="none"
        style="background: url('assets/common_header.svg') no-repeat center center !important; background-attachment: fixed; background-size: cover !important; background-position: center !important;position: relative;">
<ion-row style="height: 20px;"></ion-row>
<ion-toolbar color="none">
  <ion-buttons slot="start" mode="md">
    <ion-back-button style="color: #fff;" [routerLink]="['/choose-consumer']" text=""></ion-back-button>
  </ion-buttons>
    <ion-title class="page_title" mode="md">Choose Date</ion-title>
  </ion-toolbar>

  <ion-toolbar color="none" style="height: 40px;"></ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="none">
    <ion-card class="cal_card">
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'DD/MM/yyyy'" step="30">
      </ion-calendar>
    </ion-card>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" style="margin-top: 20px;">
    <ion-fab-button (click)="callbooking()" >
      <ion-label>Next</ion-label>
      <!-- <ion-icon  name="arrow-forward-outline" ></ion-icon> -->
    </ion-fab-button>
    </ion-fab>
</ion-content>
