ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: #efefef;
}

.page-label {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0077b5;
  text-align: center;
  display: block;
}

.visitbooking-type-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  ion-label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0077b5;
  }

  .visit-booking-options-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .wv-card,
    .pv-card {
      min-width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border: 1px solid #dfdfdf;
      box-shadow: none;

      img {
        width: 80px;
        margin: 0 auto;
        display: block;
      }

      ion-label {
        font-family: "Poppins", sans-serif !important;
        font-size: 16px;
        font-weight: normal;
        color: #525252;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0px;
      }
    }
  }
}

.select-contact-card {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  margin: 5px 0px;
  border: 1px solid #dfdfdf;
  box-shadow: none;

  ion-icon {
    position: absolute;
    right: 20px;
    font-size: 25px;
  }

  ion-avatar {
    width: 50px;
    height: 50px;
  }

  ion-label {
    font-size: 16px;
    color: #232323;
    margin-left: 15px;
  }
}

ion-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  ion-button {
    --background: #0077b5;
    --box-shadow: none;
    --border-radius: 50px;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
  }
}

.p-zero {
  padding: 0px;
}

@media only screen and (min-width: 1024px) {
  ion-card {
    padding: 20px !important;
    margin: 20px 10px !important;
  }
}

.no-access {
  ion-avatar {
    img {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  ion-label {
    color: #c6c6c6 !important;
  }
}

.other-visitor-btn {
  --background: #0077b5;
  --box-shadow: none;
  --border-radius: 50px;
  --padding-start: 12px;
  --padding-end: 20px;
  color: #fff;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16px;
  font-weight: normal;
  height: 45px;
  margin: 15px auto 0px;

  ion-icon {
    font-size: 30px;
    color: #fff;
  }

  ion-label {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.selected_slot {
  background-color: #2ac940 !important;

  // ion-label {
  color: #fff !important;

  // }
}

.choose-time-slot {
  background-color: rgb(17 173 251 / 20%);
}

@media only screen and (min-width: 768px) {
  .calendar_style {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 15px !important;
    padding: 10px !important;
    margin-top: 10px;
    max-width: 40%;
    margin-bottom: 10px;
  }

  .visitbooking-type-sec {
    ion-label {
      font-size: 22px;
    }

    .visit-booking-options-block {
      .wv-card,
      .pv-card {
        min-width: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding: 45px !important;
        margin: 25px 15px !important;

        img {
          max-height: 80px;
        }

        ion-label {
          font-size: 20px;
          margin-top: 20px;
        }
      }
    }
  }

  .call-list-card {
    padding: 25px !important;
    margin: 0px 20px 20px 20px !important;
  }

  .mlr_auto {
    ion-label {
      font-size: 20px !important;
      text-align: left !important;
    }

    .fm-label {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      margin-top: 10px;
      text-align: left;
      white-space: pre-line;
      color: #222;

      span {
        display: block;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .mlr_auto {
    .fm-label {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      margin-top: 10px;
      text-align: center;
      white-space: pre-line;
      color: #222;

      span {
        display: block;
        font-size: 14px;
      }
    }
  }
}

.calendar_style {
  border: 1px solid #dfdfdf;
  box-shadow: none;
  margin-left: 5px;
  margin-right: 5px;
}

.selected {
  border: 2px solid #0077b5;
}

.selected.select-contact-card {
  .remove-ov-icon {
    font-size: 22px;
    color: #cf0000;
  }
}