<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Visit Booking</ion-title>
  </ion-toolbar>

  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>
<ion-content>


  <!----------------------- Visit type style starts here --------------------------->

  <div class="visitbooking-type-sec" *ngIf="content==0">
    <ion-label>Select type of visit</ion-label>
    <!-- <ion-segment [(ngModel)]="type" (ionChange)="selectType()">
      <ion-segment-button value="0">
        <img src='assets/visit-booking/window-visit.svg'>
        <ion-label>Window visit</ion-label>
      </ion-segment-button>

      <ion-segment-button value="1">
        <img src='assets/visit-booking/personal-visit.svg'>
        <ion-label>Person visit</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <div class="visit-booking-options-block">

      <ion-card class="wv-card" (click)="selectType(0)">
        <img src='assets/visit-booking/window-visit.svg'>
        <ion-label>Window visit</ion-label>
      </ion-card>

      <ion-card class="pv-card" (click)="selectType(1)">
        <img src='assets/visit-booking/personal-visit.svg'>
        <ion-label>Person visit</ion-label>
      </ion-card>

    </div>

  </div>


  <!----------------------- Visit type style ends here --------------------------->

  <!----------------------- Choose resident style starts here --------------------------->

  <div *ngIf="content==1">



    <ion-item color="none" lines="none" style="margin-top: 5px;" *ngIf="sel_con==-1">
      <ion-label style="font-size: 18px;text-align: center; white-space: initial;
      word-break: break-word;">You are booking for a visit with</ion-label>
    </ion-item>
    <ion-grid>

      <ion-row>

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of contacts; let idx=index">

          <ion-card class="select-contact-card" [class.no-access]="item.share==0||item.parent.status==0"
            (click)="choose(item,idx)" [class.selected]="idx==sel_con">
            <ion-icon name="checkmark-outline" color="primary" *ngIf="idx==sel_con"></ion-icon>
            <ion-avatar>
              <img [src]="item.parent.user.profile_pic">
            </ion-avatar>

            <ion-label>
              {{item.parent.user.name}}
            </ion-label>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>


    <ion-item color="none" lines="none" class="mlr_auto" *ngIf="family.length">
      <ion-label class="fm-label">
       Select / Add additional visitors
       <span>(if applicable)</span>
     </ion-label>
   </ion-item>

    <ion-grid *ngIf="family.length">

      <ion-row>

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of family; let idx=index">

          <ion-card class="select-contact-card" (click)="chooseFam(item)" [class.no-access]="item.fam.user.status==0"
          [class.selected]="item.selected">
            <ion-icon name="checkmark-outline" color="primary" *ngIf="item.selected"></ion-icon>
            <ion-avatar>
              <img [src]="item.fam.user.profile_pic">
            </ion-avatar>

            <ion-label>
              {{item.fam.user.name}}
            </ion-label>

          </ion-card>

        </ion-col>



      </ion-row>

    </ion-grid>



    <ion-item color="none" lines="none" class="mlr_auto" *ngIf="other&&other.length">
      <ion-label class="fm-label">Other visitors</ion-label>
    </ion-item>

    <ion-grid *ngIf="other&&other.length">

      <ion-row>

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of other; let idx=index">

          <ion-card class="select-contact-card selected"  >
            <!-- <ion-icon name="checkmark-outline" color="primary" ></ion-icon> -->
            <ion-icon class="remove-ov-icon" name="close-outline" (click)="removeOtherVisitor(idx)"></ion-icon>
            <ion-avatar>
              <img src="assets/user.png">
            </ion-avatar>

            <ion-label>
              {{item}}
            </ion-label>

          </ion-card>

        </ion-col>



      </ion-row>

    </ion-grid>


    <ion-item color="none" lines="none" (click)="otherVisitor()">
      <!-- <ion-label style="font-size: 18px;margin-top: 20px;text-align: center;white-space:pre-line; color:#0077b5;">Other
        visitors</ion-label> -->
      <ion-button class="other-visitor-btn">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>Add other visitor</ion-label>
      </ion-button>
    </ion-item>

  </div>

  <!----------------------- Choose resident style starts here --------------------------->

  <!----------------------- Choose date&time style starts here --------------------------->

  <div *ngIf="content==2">
    <ion-label class="page-label">Pick a date and time</ion-label>

    <ion-row color="none">
      <ion-card class="calendar_style">
        <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'yyyy-MM-DD'" step="30">
        </ion-calendar>
      </ion-card>
    </ion-row>



    <ion-item style="margin-top:20px;" lines="none" color="none">

      <ion-label class="call_booking_availability">
        Available Booking Times for
        <!-- <span>Friday, Jul 23, 2020</span> -->
        <span>{{date | dateformat: 'dddd, MMM DD, yyyy'}}</span>
      </ion-label>

    </ion-item>

    <ion-item lines="none" color="none" class="choose-time-slot">
      <ion-select style="opacity: 1;" class="mlr_auto" [(ngModel)]="duration" (ionChange)="selectDuration()">
        <ion-select-option value="1">30 Minutes</ion-select-option>
        <ion-select-option value="2">60 Minutes</ion-select-option>
        <ion-select-option value="3">2 Hours</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid class="p-zero">


      <ion-row class="available_time">

        <ion-col size-sm="4" size-md="4" size-lg="2" size="4" *ngFor="let item of slot" (click)="bookvisit(item)">

          <ion-label [class.disable]="item.disable" [class.selected_slot]="sel_slot==item.slot">
            {{item.slot}}
          </ion-label>

        </ion-col>

      </ion-row>


    </ion-grid>

  </div>


</ion-content>

<ion-footer *ngIf="content==1">

  <ion-button (click)='selectVisitors()'>Continue</ion-button>

</ion-footer>