<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-space-between">

        <ion-col class="col-fit page-name" size="4">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-col>

        <ion-col class="col_fit" size="8">
          <ion-button class="show-allergy-btn"><i class="las la-pen"></i></ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <div class="din-date-box">

        <ion-icon name="chevron-back-outline"></ion-icon>

        <ion-label>11 Oct 2021</ion-label>

        <ion-icon name="chevron-forward-outline"></ion-icon>

      </div>

    </div>


  </ion-fab>


  <!-- <div class="ind-order-header">

    <div class="date-range-box">

      <ion-icon name="chevron-back-outline"></ion-icon>

      <ion-label>11 Oct 2021</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <ion-label class="din-skipped-tag-1">Skipped</ion-label>

    <div class="din-controls">

      <ion-button (click)="copy()">
        <img src="/assets/dining/copy-previous-icon.svg">
      </ion-button>

      <ion-button (click)="chooseDate()">
        <img src="/assets/dining/date-icon-custom.svg">
      </ion-button>

      <ion-button (click)="options($event)">
        <img src="/assets/dining/more-icon-custom.svg">
      </ion-button>

    </div>

  </div> -->

  <!-- <ion-label class="din-skipped-tag-1">Skipped</ion-label> -->

  <div class="din-item-box">

    <ion-label class="din-item">Breakfast <span class="din-timing">(07:00 AM - 09:00 AM)</span></ion-label>

    <!-- <ion-label class="din-skipped-tag">Skipped</ion-label>

    <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"></ion-icon> -->


  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img"
          src="https://www.verywellhealth.com/thmb/LiEYTC9ZucAPtgIkxivHFQQpXUY=/1333x1000/smart/filters:no_upscale()/30D7A016-ABA5-48DD-BE39-3E7A223A03BF-96f2ba9e6c724dc9b2ba638b0c0f44a2.jpeg">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Cereal</ion-label>

        <div class="food-option-box">

          <div class="food-option">
            Food options
          </div>

          <div class="food-option">
            Food options
          </div>

        </div>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>L</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img"
          src="https://goop-img.com/wp-content/uploads/2020/12/20201204_Editorial_Food_Detox-Food-Shoot-2021_FONIO-BREAKFAST-PORRIDGE-WITH-BERRIES-AND-NUTS_051-1024x780.jpg">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Porridge</ion-label>

        <!-- <div class="food-option-box">
            
          <div class="food-option">
            Food options
          </div>

          <div class="food-option">
            Food options
          </div>

        </div> -->

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>L</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/tea.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Tea</ion-label>

        <!-- <div class="food-option-box">
            
          <div class="food-option">
            Food options
          </div>

          <div class="food-option">
            Food options
          </div>

        </div> -->

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>L</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

  </div>


  <div class="din-item-box">

    <ion-label class="din-item">Morning Tea <span class="din-timing">(10:00 AM - 11:00 AM)</span></ion-label>

    <!-- <ion-label class="din-skipped-tag">Skipped</ion-label> -->

    <!-- <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"></ion-icon> -->

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fruit-plater.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Fruit Platter</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Lunch <span class="din-timing">(12:00 PM - 02:00 PM)</span></ion-label>

    <!-- <ion-label class="din-skipped-tag">Skipped</ion-label> -->

    <!-- <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"></ion-icon> -->

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/curried-sausage.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Curried sausages</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/salad.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Salad of the day</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/starchy-veg.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Starchy vegetable</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fruit-pie.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Fruit Pie</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>


        </div>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Afternoon Tea <span class="din-timing">(03:00 PM - 04:00 PM)</span></ion-label>

    <!-- <ion-label class="din-skipped-tag">Skipped</ion-label> -->

    <!-- <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"></ion-icon> -->

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/tim-tam-biscuits.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Tim tam biscuits</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/tea.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Tea</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Dinner <span class="din-timing">(07:00 PM - 09:00 PM)</span></ion-label>

    <!-- <ion-label class="din-skipped-tag">Skipped</ion-label> -->

    <!-- <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"></ion-icon> -->

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/soup.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Soup of the Day displayed on menu board
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fried-rice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Special fried rice</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/rosted-chicken-salad.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Roasted chicken salad</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/dessert.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Dessert of the Day displayed on menu board
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Supper <span class="din-timing">(09:00 PM - 10:00 PM)</span></ion-label>

    <!-- <ion-label class="din-skipped-tag">Skipped</ion-label> -->

    <!-- <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"></ion-icon> -->

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/orange-juice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Orange juice
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

</ion-content>

<!-- <ion-footer>

  <ion-button class="confirm-order-btn">

    <ion-label>Confirm Order</ion-label>

  </ion-button>

</ion-footer> -->