ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 0px;
}

.din-alertmodal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .not-chosen-icon {
        width: 128px;
        height: 128px;
    }

    .confirm-info-block {
        color: #222;
        font-size: 18px;
        line-height: 25px;
        text-align: center;

        span {
            color: #F96700;
        }
    }

    .din-notes {
        font-size: 16px;
        line-height: 20px;
        display: flex;
    }
}