<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>


    <img class="not-chosen-icon" src="/assets/dining/not-chosen-icon.svg">

    <p class="confirm-info-block">
      You have not chosen an item for <span>{{status}}</span>
    </p>

    <p class="confirm-info-block mt-zero">Would you like to override these alerts and still place order ?</p>

    <div class="din-modal-btn-box">

      <ion-button class="din-modal-continue-btn" (click)="confirm()"> Yes </ion-button>

      <ion-button class="din-modal-cancel-btn" (click)="dismiss()"> No </ion-button>

    </div>


  </div>

</ion-content>