.forecast_container {
  overflow-y: scroll !important;
  overflow-x: hidden;
  white-space: nowrap;
}

.select_contact_card {
  padding: 20px 13px;
  height: 100%;
  margin: 5px;
}

.ion_content_style ion-col {
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .select_contact_card {
    padding: 20px 13px;
    height: 100%;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
