<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" [routerLink]="['/message']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Select Contact</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content class="ion_content_style ">

  <ion-item lines="none" color="none">
    <ion-label class="category_title">Family & Contacts</ion-label>
  </ion-item>



  <ion-grid nowrap class="forecast_container">

    <ion-row *ngIf="contacts&&contacts.length">

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6" *ngFor="let item of contacts">

        <ion-card class="select_contact_card" (click)="openChat(item)">

          <ion-icon class="primary-contact-icon" src="/assets/messaging/primary_contact_crown.svg" *ngIf="item.primary==1"></ion-icon>

          <ion-avatar>
            <img [src]="item.user.profile_pic">
          </ion-avatar>

          <ion-label>
            {{item.user.name}}
            <span class="designation">{{item.rel}}</span>
          </ion-label>

        </ion-card>

      </ion-col>

     

    </ion-row>


    <ion-row *ngIf="!contacts||!contacts.length">

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">

       

          <ion-label>
          No family / contacts found
            
          </ion-label>

       

      </ion-col>

     

    </ion-row>

  </ion-grid>





  <ng-container *ngIf="staff&&staff.length">

  <ion-item lines="none" color="none" >
    <ion-label class="category_title">{{branch}} Staff</ion-label>
  </ion-item>

 
  <ion-grid nowrap class="forecast_container">

    <ion-row>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6" *ngFor="let item of staff" [class.doNotShow]="item.user_type_id==4||item.user_type_id==9">

        <ion-card class="select_contact_card" (click)="openStaffChat(item)">

          <ion-avatar>
            <img [src]="item.profile_pic">
          </ion-avatar>

          <ion-label>
            {{item.name}}

            <span class="designation" *ngIf="item.user_type_id==1">Admin</span>
            <span class="designation" *ngIf="item.user_details!=null">{{item.user_details.title}}</span>
           
          </ion-label>

        </ion-card>

      </ion-col>

     

    </ion-row>

  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>

</ion-content>