.forecast_container {
    overflow-y: scroll !important;
    overflow-x: hidden;
    white-space: nowrap;
}

.select_contact_card {
    padding: 20px 13px;
    height: 100%;
    margin: 5px;
}

.ion_content_style {
    ion-col {
        padding: 10px 5px;
    }
}

@media screen and (min-width: 768px) {
    .select_contact_card {
        padding: 20px 13px;
        height: 100%;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}

ion-content {
    --background: #efefef;
}

.select_contact_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfdfdf;
    box-shadow: none;
}

.category_title {
    margin-bottom: 0;
}

.ncf-label {
    color: #000;
}