.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(172, 164, 164, 0.1);
}

.play_icon {
  position: absolute;
  top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.mask-youtube {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
}

ion-content {
  --padding-top: 15px !important;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 15px;
  --background:#efefef;
}

.media-items-block {
  ion-col {
    margin-bottom: 20px !important;

    .threesixty_video_card {
      padding: 20px !important;
      border: 1px solid #dfdfdf;
      box-shadow: none;
      height: 100%;

      .video_name {
        margin-top: 15px;
      }
    }
  }
}
