ion-header {
    ion-label {
        // font-family: "Poppins", sans-serif !important;
        font-family: "Roboto", sans-serif !important;
        font-weight: normal !important;
    }
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;
    position: relative;

    img {
        border-radius: 4px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

.form-submit-btn {
    padding: 10px 30px !important;
}

.description {
    // border-style: solid;
    // border-width: 0.6px;
    // border-color: dimgray;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    min-height: 90px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    padding-right: 10px;
    padding-inline-end: 10px;
}

.ion_create_maintenance_content {
    ion-input {
        background: #efefef;
        border-radius: 6px;
        color: #555;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        --padding-top: 10px !important;
        --padding-end: 15px !important;
        --padding-bottom: 10px !important;
        --padding-start: 15px !important;
    }
    ion-datetime {
        height: 45px;
        display: flex;
        align-items: center;
        background: #efefef;
        border-radius: 6px;
        color: #555;
        font-family: "Roboto", sans-serif;
        --padding-top: 10px !important;
        --padding-end: 15px !important;
        --padding-bottom: 10px !important;
        --padding-start: 15px !important;
    }

    .assign-location-btn {
        background: #efefef;
        color: #555;
        box-shadow: none;
        border-radius: 6px;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        margin-top: 10px;

        ion-label {
            margin-right: 15px;
        }

        ion-icon {
            font-size: 22px;
            color: #afafaf;
            margin-right: -10px;
        }
    }

    ion-select {
        background: #efefef;
        color: #555;
        border-radius: 6px;
        --padding-top: 10px;
        --padding-end: 15px;
        --padding-bottom: 10px;
        --padding-start: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        height: 45px;
        margin-top: 10px;
    }

    ion-textarea {
        background: #efefef;
        color: #222 !important;
        border-radius: 6px;
        --padding-top: 10px;
        --padding-end: 10px;
        --padding-bottom: 10px;
        --padding-start: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        min-height: 150px;
        margin-top: 10px;
        border: none;
    }

    .preferred-datetime {
        position: relative;

        .dp-calendar-icon {
            position: absolute;
            top: 45px;
            right: 10px;
            z-index: 9999;
            color: #777;
            font-size: 20px;
        }
    }
}

.input-custom {
    border: 1px solid #d6d6d6;
    color: #555;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
    color: #ff0000;
    border-radius: 50px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .description {
        min-height: 150px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 10px;
    }
}

.remove-location-label {
    font-size: 15px;
    color: #989898;
    vertical-align: middle;
    margin-top: 10px;
    width: fit-content;

    ion-icon {
        font-size: 22px;
        color: #989898;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.remove-location {
    color: #8c8c8c;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    width: fit-content;

    ion-icon {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.assign-location-btn {
    ion-label {
        p {
            color: #666;
        }
    }
}

ion-footer {
    padding: 15px;
}
