<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-label class="page_title" mode="md">Maintenance Request</ion-label>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content class="ion_create_maintenance_content">

  <ion-card class="create_maintenance_card">

    <div class="mb_20">

      <ion-label class="form-label"
        style="font-size: 17px !important;margin-bottom: 15px !important;font-weight: 400; display: block;">Request
        title <span class="red-asterisk">*</span></ion-label>
      <ion-input [(ngModel)]="title" id="req" placeholder="Enter the title"></ion-input>

    </div>

    <!-- <div class="mb_20" *ngIf="rv==1">

      <ion-label position="stacked" class="form-label"
        style="font-size: 17px !important;margin-bottom: 15px !important;font-weight: 300;">Resident</ion-label>

      <div (click)="openResident()" class="assign-location-btn">
        <ion-label *ngIf="resident==undefined">Select resident</ion-label>
        <ion-label *ngIf="resident!==undefined">{{resident}}</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

     

    </div> -->

    <div class="mb_20">

      <ion-label position="stacked" class="form-label"
        style="font-size: 17px !important;margin-bottom: 15px !important;font-weight: 400;">Location</ion-label>

      <div (click)="openLocation()" class="assign-location-btn">
        <ion-label *ngIf="location==undefined">Assign location</ion-label>
        <ion-label *ngIf="location!==undefined">{{location}}
          <p *ngIf="parent">({{parent}})</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="remove-location">
        <ion-label class="remove-location remove-location-label" *ngIf="location" (click)="removeLoc()">
          <ion-icon name="close-circle-sharp">
          </ion-icon>
          Remove
        </ion-label>
      </div>

    </div>

    <div class="mb_20 ">

      <ion-label position="stacked" class="form-label" style="font-size: 17px !important;font-weight: 400;">Priority
        <span class="red-asterisk">*</span></ion-label>

      <ion-select mode="md" interface="action-sheet" [(ngModel)]="priority">
        <ion-select-option value="2">Urgent</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="0">Low</ion-select-option>
      </ion-select>

    </div>


    <div class="mb_20">

      <ion-label style="font-size: 17px !important;font-weight: 400;color:#222">Type<span class="red-asterisk">*</span>
      </ion-label>
      <ion-select mode="md" [(ngModel)]="type" interface="action-sheet" placeholder="Select a type">
        <ion-select-option value="{{item.id}}" *ngFor="let item of typeArray">{{item.type}}</ion-select-option>
      </ion-select>

    </div>

    <div class="mb_20">

      <ion-label position="stacked" class="form-label" style="font-size: 17px !important;font-weight: 400;">Describe the
        request</ion-label>

      <ion-textarea rows="6" class="mt-10" id="des" class="description" [(ngModel)]="description"
        placeholder="Type here..."></ion-textarea>

    </div>

    <div class="mb_20 preferred-datetime" *ngIf="preferred_date">

      <ion-label position="stacked" class="form-label" style="font-size: 17px !important;font-weight: 400;">Preferred
        date & time</ion-label>

      <ion-datetime mode="ios" class="mt-10" displayFormat="DD/MM/YYYY hh:mm A" [max]="2030" [(ngModel)]="preferred_date">
      </ion-datetime>

      <ion-icon class="dp-calendar-icon" name="calendar-outline"></ion-icon>

    </div>



    <div class="mb_20 " >

      <ion-label position="stacked" class="form-label" style="font-size: 17px !important;font-weight: 400;">Permission
        to enter</ion-label>

      <ion-select mode="md" interface="action-sheet" [(ngModel)]="permission">

        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>

    </div>
    <ng-container >

      <ion-row style="margin-top: 20px;">

        <ion-col *ngIf="imageResponse.length<5" (click)="selectImage()">

          <ion-icon name="attach-outline"
            style="color: #0077b5; transform: rotate(35deg); font-size: 30px; vertical-align: middle;" role="img"
            class="ios hydrated" aria-label="attach outline"></ion-icon>
          <span class="attach-images">Attach Images</span>
        </ion-col>

      </ion-row>



      <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

        <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index" (click)="showImage()">

          <ion-thumbnail class="uploaded-image">
            <img src="{{item}}">
            <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
          </ion-thumbnail>

        </ion-col>

      </ion-row>

    </ng-container>

    <ion-item color="none" lines="none" class="mb_20 ">

      <span class="form-btn-alignment">

        <ion-label class="form-submit-btn" (click)="submit()">Submit</ion-label>

      </span>

    </ion-item>

  </ion-card>

</ion-content>