<ion-content >
  
  <div class="main-content-wrapper">
    
    <ion-card class="blank-card">
      <!-- <ion-icon name="close-outline" class="close" (click)="dismiss()"></ion-icon> -->
      <ion-item class="main-container"  lines="none" color="none">

        <img src="/assets/13-qrcode.gif" style="height: 200px;
                  margin-left: auto;
                  margin-right: auto;">

      </ion-item>



      <ion-grid>

        <ion-row>

          <ion-col size="12" class="vd-form">

            <!-- <ion-label class="f-thanks-head">{{name}}</ion-label> -->

            <span class="confirm-text-container mx-500" style="text-align: center;">

              <p style="font-size: 22px;">Something seems to be wrong. We cannot seem to read the QR code.</p>

            </span>
           
            <span class="confirm-text-container mx-500" style="text-align: center;">

              <!-- <p>Please try again.</p> -->
              <p>Please try again after selecting the resident from this branch.</p>

            </span>

            <ion-button class="confirm-btn" (click)="close()">Close</ion-button>

          </ion-col>

        </ion-row>

      </ion-grid>



    </ion-card>

  </div>



</ion-content>