ion-content ion-button {
  --background: #0077b5;
  --border-radius: 50px;
  --box-shadow: none;
  --padding-start: 30px;
  --padding-end: 30px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
}

ion-content .btn-yes {
  --background: #00b40f !important;
}

ion-content .btn-no {
  --background: #B2B2B2 !important;
  --color: #fff !important;
  margin-left: 10px;
}
