ion-content {
    ion-button {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 30px;
        --padding-end: 30px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: normal;
    }

    .btn-yes {
        --background: #00b40f !important;
    }

    .btn-no {
        --background: #B2B2B2 !important;
        --color: #fff !important;
        margin-left: 10px;
    }
}

.vmanage {
    .welcome-text {
        font-size: 20px;
        font-weight: 500;
        color: #313131;
        text-align: center;
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media only screen and (min-width:768px) {
    .vmanage {
        .welcome-text {
            font-size: 25px !important;
            margin-bottom: 40px;
        }
    }

    ion-button {
        font-size: 22px !important;
        height: 45px;
        min-width: 120px;
    }

    .btn-no {
        margin-left: 25px !important;
    }
}