<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" (click)="dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Participants</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 20px;"></ion-toolbar> -->
</ion-header>

<!-- <ion-item lines="none" color="none" style="margin-top: 25px;width: 100%;">
  <ion-label style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px; color:#0077b5;">Participants</ion-label>
</ion-item> -->

<ion-content>

  <ion-card class="rel_details_card" *ngIf="mem.length>0">
    
    <ion-grid >

      <div class="participants-box" *ngFor="let item of mem">
        
        <ion-row>
          
          <ion-col style="max-width: fit-content !important;">
            <ion-avatar style="width:42px; height: 42px;">
              <img [src]="item.contact.user_details.profile_pic">
            </ion-avatar>
          </ion-col>

          <ion-col style="align-self: center !important;">
            <ion-label class="relprofile_consumer_name">{{item.contact.user_details.name}}</ion-label>
            <p>{{item.contact.relation}}</p>
          </ion-col>

        </ion-row>
      </div>
    </ion-grid>

  </ion-card>
  
  

    <ion-item lines="none" color="none" style="margin-top: 10px;width: 100%;margin-bottom: 10px; display:flex;" *ngIf="call==0&&mem.length>0&&other_mem&&other_mem.length>0">
      <ion-label 
        style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px; color:#0077b5;">Other visitors</ion-label>
        
    </ion-item>

    <ion-card class="rel_details_card" *ngIf="call==0&&other_mem&&other_mem.length>0">

      <ion-grid >
        <div class="othervisitor-box" *ngFor="let item of other_mem">
        <ion-row >
          <ion-col style="max-width: fit-content !important;">
            <ion-avatar style="width:42px; height: 42px;">
              <img src="assets/user.png">
            </ion-avatar>
          </ion-col>
          <ion-col style="align-self: center !important;">
            <ion-label class="relprofile_consumer_name">{{item.visitor_name}}</ion-label>
          </ion-col>
        </ion-row>
        </div>
      </ion-grid>

  </ion-card>

</ion-content>

  
