ion-content {
    --background: #eee;
    --padding-top: 12px;
}

.rel_details_card {
    border: 1px solid #dfdfdf;
    box-shadow: none;
}

.participants-box {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0;
        border: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        font-family: "Open Sans", sans-serif;
        color: #727272;
    }
}

.othervisitor-box {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        border: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        font-family: "Open Sans", sans-serif;
        color: #727272;
    }
}
