ion-header {
  text-align: center;
}

ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

p {
  font-size: 17px;
  margin: 0;
}

ol li {
  font-size: 17px;
  margin-bottom: 20px;
}

.agree-checkbox {
  display: flex;
  align-self: flex-start;
  vertical-align: text-top;
}

.agree-label {
  color: #232323;
  word-break: break-word;
  white-space: pre-line;
  margin-left: 15px;
  font-size: 17px;
}
