ion-header {
    text-align: center;
}

ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}

p {
    font-size: 17px;
    margin: 0;
}

ol {

    li {
        font-size: 17px;
        margin-bottom: 20px;
    }
}

.agree-checkbox {
    display: flex;
    align-self: flex-start;
    vertical-align: text-top;
}

.agree-label {
    color: #232323;
    word-break: break-word;
    white-space: pre-line;
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.vis-guidelines-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    ion-grid {
        // max-width: 75%;
        margin: 0 auto;
        display: block;
        background: #EFEFEF;
        padding: 25px;
        border-radius: 10px;

        ion-title {
            text-align: center;
        }

        .vis-guidelines-header {
            font-size: 18px;
            font-weight: 500;
            color: #000;
            text-align: center;
            width: 100%;
        }

        p {
            font-size: 15px;
            color: #000;
            line-height: 25px;
        }

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;

            ion-toggle {
                padding-left: 0;
                padding-right: 0;
                padding-top: 5px;
                align-self: center;
                display: flex;
            }

            ion-label {
                margin-left: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                align-self: center;
                vertical-align: middle;
                display: flex;
            }
        }
    }
}