<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Visitor guidelines</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <span class="vis-guidelines-sec">

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="vd-form">

          <ion-title>Visitor guidelines</ion-title>

          <p [innerHTML]="terms"> </p>
        </ion-col>
        <ion-col size="12" class="vd-form">
          <ion-item lines="none" color="none">
            <!-- <ion-checkbox class="agree-checkbox" (ionChange)="agree($event)" mode="md"></ion-checkbox> -->
            <ion-label class="agree-label" (click)="agree($event)" >I agree to terms & Conditions above </ion-label>
            <ion-toggle (ionChange)="agree($event)" mode="md" [(ngModel)]="agreed_or_not"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </span>





  <!-- <ol>

    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </li>

    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </li>

    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </li>

    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </li>

    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </li>

  </ol> -->


</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" (click)="back()">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="next()" [disabled]="disable">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-grid>

</ion-footer>