<ion-content>

  <span class="pop">
    <img [src]="data" style="object-fit: contain">
    <div class="myOverlay" style="z-index: 9999;opacity: 0.1 !important;"></div>
    <div class="close_icon" (click)="back()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </div>
  </span>


</ion-content>