.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.6);
}

.close_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px !important;
  width: 100%;
  text-align: right;
  color: #fff;
  z-index: 9999;
}

.pop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  background: #000;
}

.pop img {
  object-fit: contain;
  height: 100vh;
  width: 100%;
}
