<ion-header no-padding color="none" style="background: url('assets/common_header.svg') no-repeat center center !important;background-attachment: fixed;background-size: cover !important;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Survey</ion-title>
    <ion-button slot="end" fill="clear" >
      <img src="assets/lens_icon.svg">
    </ion-button>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 40px;"></ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="survey_blue_card" *ngFor="let item of survey" (click)="next(item)">
    <ion-row style="flex-wrap:nowrap">

      <ion-col size="1" class="col_fit">
        <ion-icon class="survey_bullet_white"></ion-icon>
      </ion-col>

      <ion-col size="10" class="dis_flex">
        <ion-label>{{item.survey_name}}</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end">
        <ion-icon class="c_white" name="chevron-forward-outline"></ion-icon>
      </ion-col>

      <!-- <ion-button button style="color: white;" size="small">start</ion-button> -->
    </ion-row>
  </ion-card>
<!-- <ion-card class="survey_blue_card">
  <ion-icon class="survey_bullet_white"></ion-icon>
  <ion-label>Consumer Survey March 2020</ion-label>
</ion-card>

<ion-card class="survey_blue_card">
  <ion-icon class="survey_bullet_white"></ion-icon>
  <ion-label>Consumer Survey April 2020</ion-label>
</ion-card>

<ion-card class="survey_blue_card">
  <ion-icon class="survey_bullet_white"></ion-icon>
  <ion-label>Consumer Survey May 2020</ion-label>
</ion-card>

<ion-card class="survey_white_card">
  <ion-icon class="survey_bullet_blue"></ion-icon>
  <ion-label>Consumer Survey June 2020</ion-label>
</ion-card>

<ion-card class="survey_white_card">
  <ion-icon class="survey_bullet_blue"></ion-icon>
  <ion-label>Consumer Survey July 2020</ion-label>
</ion-card> -->


<div *ngIf="survey.length==0">
  <ion-thumbnail 
    style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
    <img src="assets/no_survey_found.svg">
  </ion-thumbnail>

  <ion-item lines="none" color="none" style="margin-top: 25px;" >
    <ion-label
      style="font-weight: bold;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
      No Surveys Found.</ion-label>
  </ion-item>
</div>


</ion-content>
