<div *ngIf="type==1">
  <ion-label (click)="report(1)">Report post</ion-label>
</div>

<div *ngIf="type!==1" class="pb-zero">
  <ion-label (click)="report(2)">Report comment</ion-label>
</div>

<div *ngIf="type!=1">
  <ion-label (click)="report(3)">Block user</ion-label>
</div>