ion-item {
    ion-label {
        color: #222;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        margin-right: auto;
        margin-left: 5px !important;
        text-align: left !important;
        align-self: self-end !important;
        padding: 5px 8px !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
        white-space: pre-wrap;
    }
}

div {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    ion-label {
        color: #222;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        margin-right: auto;
        text-align: left !important;
        align-self: center !important;
        margin-top: 0px;
        margin-bottom: 0px;
        -webkit-margin-end: 0px;
        margin-inline-end: 0px;
        white-space: pre-wrap;
    }
}

.pb-zero {
    padding-bottom: 0 !important;
}