<ion-item lines="none" color="none" *ngIf="deleteStatus">
  <ion-label (click)="delete()">Delete chat</ion-label>
</ion-item>

<ion-item lines="none" color="none" >
  <ion-label (click)="block()">Block user</ion-label>
</ion-item>