ion-item {
    width: 100%;
    --min-height: 35px;
    --padding-start: 10px;
    --inner-padding-end: 10px;

    &:first-child {
        --padding-top:10px;
    }

    &:nth-child(2) {
        --padding-top:0px;
        --padding-bottom:10px;
    }

    ion-label {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #222;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        align-self: center;
        font-size: 14px;
        padding: 5px 8px !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
    }
}
