<ion-content>
  <div class="ob-sec">
    <div class="ob-img-block">
      <img src="/assets/ob-thumb.svg" />
    </div>

    <div class="ob-other-det-block">
      <ion-label class="ob-sec-title">Please select a user.</ion-label>

      <div class="form-info-block">

        <div class="fib-grid">

          <div class="fib-row-2">

            <ion-card class="ob-user-card" [class.ob-selected-user]="item.parent.user.user_id==selected" *ngFor="let item of parent" (click)="selectResident(item)">
  
              <ion-icon class="ob-selected-checkmark" name="checkmark-circle" *ngIf="item.parent.user.user_id==selected"></ion-icon>
  
              <img class="obuc-company-logo" src="/assets/centrim_logo_inner.svg" />
  
              <ion-avatar class="obuc-avatar">
                <img [src]="item.parent.user.profile_pic"/>
              </ion-avatar>
  
              <ion-label class="obuc-name">{{item.parent.user.name}}</ion-label>
  
              <span class="obuc-relation">{{item.relation}}</span>
  
            </ion-card>
  
            <!-- <ion-card class="ob-user-card">
  
              <img class="obuc-company-logo" src="/assets/centrim_logo_inner.svg" />
  
              <ion-avatar class="obuc-avatar">
                <img src="https://www.ecaret.com.au/projects/centrimlife/assets/img/user/4.png">
              </ion-avatar>
  
              <ion-label class="obuc-name">Albert Johnson</ion-label>
  
              <span class="obuc-relation">Father</span>
  
            </ion-card>
  
            <ion-card class="ob-user-card">
  
              <img class="obuc-company-logo" src="/assets/centrim_logo_inner.svg" />
  
              <ion-avatar class="obuc-avatar">
                <img src="https://www.ecaret.com.au/projects/centrimlife/assets/img/user/2.png"/>
              </ion-avatar>
  
              <ion-label class="obuc-name">Joaquina Weisenborn</ion-label>
  
              <span class="obuc-relation">Family friend</span>
  
            </ion-card> -->
  
          </div>

        </div>

        <ion-button class="ob-proceed-btn mt-20" (click)="next()">
          Proceed to next step
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </div>

    <!-- <p class="ob-powered-by">Powered by Centrim Life</p> -->
  </div>
</ion-content>
