<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-space-between">

        <ion-col class="col-fit page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="dismiss(2)"></ion-icon>
          <ion-label>{{serving_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="din-continental-img-block">

        <div class="fi-detail-img">

          <img [src]="menu.itemdetails.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name dc-fi-name">{{menu.itemdetails.item_name}}</ion-label>

        <ion-label class="fi-name dc-fi-description-title" *ngIf="menu.itemdetails.description">Description</ion-label>

        <p class="din-description">{{menu.itemdetails.description}}</p>

      </ion-col>
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="fi-info-1">

        <p class="pls-choose-msg">Please select from the items below</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="fi-box" *ngIf="details">

    <ion-card class="fi-card" *ngFor="let item of details" [class.fi-selected]="selected.includes(item.itemdetails.id)"
    [class.notAvailable]="item.is_non_texture||item.is_non_pckg||item.visibility==0" (click)="selectitem(item)">
    <ion-icon class="din-selected-icon" name="checkmark-circle" *ngIf="selected.includes(item.itemdetails.id)"></ion-icon>
    <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="item.is_allergic||item.is_dietic"></ion-icon>
      <div class="fi-img-block">
        <div class="order-restr-info" *ngIf="item.is_non_texture&&item.visibility==1&&!item.is_non_pckg">
          <p>Incompatable texture</p>
        </div>
        <div class="order-restr-info" *ngIf="item.is_non_pckg&&item.visibility==1">
          <p>You can't order this item</p>
        </div>
        <div class="order-restr-info" *ngIf="item.visibility==0">
          <p>Disabled</p>
        </div>
        <img class="fi-img" [src]="item.itemdetails.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">{{item.itemdetails.item_name}}</ion-label> 

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="setMealSize(item)">
              <ion-label>{{setMealSize(item)}}</ion-label>
            </div>

            <div class="fi-quantity"*ngIf="setQuantity(item)">
              <ion-label>{{setQuantity(item)}}</ion-label>
            </div>

          </div>

          <div class="fim-div-2" *ngIf="!edit">

            <ion-button (click)="selectoptions(item); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

    

  </div>

</ion-content>

<ion-footer>

  <ion-button class="continue-btn" (click)="dismiss(1)">Back</ion-button>

</ion-footer>