<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkin-health-declaration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar lines="none" color="none">
    <ion-title>Declaration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="vmanage">

  <ion-grid>

    <ion-row>


      <!-- <ion-col size="12" class="vd-form" *ngIf="tempStatus==1">

        <p>My temperature has been tested on entry and reads</p>

        <span class="temp-span">

          <ion-input class="custom-input" style="--padding-start:10px;" type="number" [(ngModel)]="temp"
            placeholder="Eg:36"></ion-input>

          <ion-label class="unit-sep">°C</ion-label>

        </span>

        <div *ngIf="count>0">
          <span class="temperature-inputbox" *ngFor="let att of anArray; let idx = index">

            <ion-input class="custom-input" style="--padding-start:10px;" type="number" [(ngModel)]="anArray[idx].value"
              [placeholder]="'Person'+(idx+1)"></ion-input>

            <ion-label class="unit-sep">°C</ion-label>



          </span>
        </div>

      </ion-col> -->


      <ion-col size="12" class="vd-form" *ngIf="test==1">

        <span color="none" lines="none">

          <ion-label class="question cblack">
            Have you had a test for COVID-19?
          </ion-label>

          <span>
            <!-- <ion-radio-group (ionChange)="covidTest($event)" [(ngModel)]="testorNot">
              <ion-row>
                <ion-col size="4">
                  <ion-item lines="none" color="none">
                    <ion-radio mode="md" [value]="1"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item lines="none" color="none">
                    <ion-radio mode="md" [value]="0"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group> -->

            <ion-segment (ionChange)="covidTest($event)" [(ngModel)]="testorNot" class="yn-segment">

              <ion-segment-button value="1" class="segment-button-yes">
                <ion-label>
                  <ion-icon name="checkmark-circle-outline"></ion-icon> Yes
                </ion-label>
              </ion-segment-button>

              <ion-segment-button value="0" class="segment-button-no">
                <ion-label>
                  <ion-icon name="close-circle-outline"></ion-icon>No
                </ion-label>
              </ion-segment-button>

            </ion-segment>

          </span>

        </span>

      </ion-col>


      <ion-col size="12" class="vd-form" *ngIf="testStatus==1">

        <span class="radio-options" color="none" lines="none">

          <ion-label class="question cblack">
            If yes, COVID 19 test date
          </ion-label>

          <span>
            <ion-datetime class="custom-input1" displayFormat="DD MMM YYYY" [(ngModel)]="testDate" value=""
              [max]="minDate">
            </ion-datetime>
          </span>


        </span>

      </ion-col>


      <ion-col size="12" class="vd-form" *ngIf="testStatus==1">

        <span color="none" lines="none">

          <ion-label class="question cblack">
            If Yes, was the covid-19 result positive ?
          </ion-label>

          <span>
            <!-- <ion-radio-group (ionChange)="covidTestResult($event)" [(ngModel)]="postvOrNot">
              <ion-row>
                <ion-col size="4">
                  <ion-item lines="none" color="none">
                    <ion-radio mode="md" [value]="1" name=""></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col size="4">
                  <ion-item lines="none" color="none">
                    <ion-radio mode="md" [value]="0" name=""></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

            </ion-radio-group> -->

            <ion-segment (ionChange)="covidTestResult($event)" [(ngModel)]="postvOrNot" class="yn-segment">

              <ion-segment-button value="1" class="segment-button-yes">
                <ion-label>
                  <ion-icon name="checkmark-circle-outline"></ion-icon> Yes
                </ion-label>
              </ion-segment-button>

              <ion-segment-button value="0" class="segment-button-no">
                <ion-label>
                  <ion-icon name="close-circle-outline"></ion-icon>No
                </ion-label>
              </ion-segment-button>

            </ion-segment>
          </span>

        </span>

      </ion-col>


      <!-- <ion-col size="12" class="vd-form" *ngIf="vaccination==1">

        <span class="radio-options" color="none" lines="none">

          <ion-label>
            Have you been vaccinated?
          </ion-label>

          <span class="vd-form-radio-container">
           

            <ion-segment (ionChange)="vaccinated($event)" [(ngModel)]="vacOrNot" class="yn-segment">

              <ion-segment-button value="1" class="segment-button-yes">
                <ion-label>
                  <ion-icon name="checkmark-circle-outline"></ion-icon> Yes
                </ion-label>
              </ion-segment-button>

              <ion-segment-button value="0" class="segment-button-no">
                <ion-label>
                  <ion-icon name="close-circle-outline"></ion-icon>No
                </ion-label>
              </ion-segment-button>

            </ion-segment>

          </span>

        </span>

      </ion-col>


      <ion-col size="12" class="vd-form" *ngIf="vacStatus==1">

        <span class="radio-options" color="none" lines="none">

          <ion-label>
            If Yes, select vaccine.
          </ion-label>
          <span>
            <ion-select [(ngModel)]="vaccine" *ngIf="vacArray && vacArray.length" (ionChange)="selectVaccine(vaccine)">
              <ion-select-option value="{{item.id}}" *ngFor="let item of vacArray">{{item.vaccine}}</ion-select-option>
            </ion-select>
          </span>


        </span>

      </ion-col>

      <ion-col size="12" class="vd-form" *ngIf="vacStatus==1">

        <span class="radio-options" color="none" lines="none">

          <ion-label>
            Vaccination date
          </ion-label>

          <span>
            <ion-datetime class="custom-datetime-sec" displayFormat="DD MMM YYYY" [(ngModel)]="vacDate" value=""
              [max]="minDate">
            </ion-datetime>
          </span>

        </span>

      </ion-col> -->

      <!-- <ion-col size="12" class="vd-form" *ngIf="vacStatus==1&&vaccine==1">

            <span class="radio-options" color="none" lines="none">

              <ion-label>
                Expiry date
              </ion-label>

              <span>
                <ion-datetime class="custom-datetime-sec" displayFormat="DD MMM YYYY" [(ngModel)]="expDate" value="" [min]="minDate">
                </ion-datetime>
              </span>
             

            </span>

          </ion-col> -->




      <ion-col size="12" *ngIf="doNotHaveStatus==1">

        <ion-label class="vd-subtitle">I do not have</ion-label>

      </ion-col>

      <ion-col size="12" class="vd-form" *ngIf="doNotHaveStatus==1">

        <span>
          <ion-item lines="none" color="none" *ngFor="let item of i_donot_have">
            <ion-checkbox color="primary" aria-checked="false" role="checkbox" [checked]="donotHave.includes(item)"
              (ionChange)="notHave($event,item)"></ion-checkbox>
            <ion-label>{{item}}</ion-label>
          </ion-item>
        </span>

        <!-- <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Cough</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Chills or sweats</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Shortness of breath</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Loss or change in sense of taste</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>loss or change in sense of smell</ion-label>
        </span> -->

      </ion-col>

      <ion-col size="12" class="vd-form1" *ngFor="let item of custom_fields;let idx=index">

        <p class="mt-0 question cblack" *ngFor="let add of item.additional_questions">
          {{add.question}}
          
        </p>

        <!-- <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item> -->

        <!-- <ion-radio-group (ionChange)="mark($event,item.id,item.preferred_answer)"
          [(ngModel)]="qna[qna.indexOf(item.id)+1]" *ngIf="backfrom==1">
          <ion-row>
            <ion-col size="4">
              <ion-item lines="none" color="none">
                <ion-radio mode="md" [value]="1"></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item lines="none" color="none">
                <ion-radio mode="md" [value]="0"></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group> -->


        <!-- <ion-radio-group (ionChange)="mark($event,item.id,item.preferred_answer)" *ngIf="backfrom!=1">
          <ion-row>
            <ion-col size="4">
              <ion-item lines="none" color="none">
                <ion-radio mode="md" [value]="1"></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item lines="none" color="none">
                <ion-radio mode="md" [value]="0"></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group> -->

        <ion-segment (ionChange)="mark($event,item.id,item.preferred_answer)" [(ngModel)]="qna[qna.indexOf(item.id)+1]"
          *ngIf="backfrom==1" class="yn-segment">

          <ion-segment-button value="1" class="segment-button-yes">
            <ion-label>
              <ion-icon name="checkmark-circle-outline"></ion-icon> Yes
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="0" class="segment-button-no">
            <ion-label>
              <ion-icon name="close-circle-outline"></ion-icon>No
            </ion-label>
          </ion-segment-button>

        </ion-segment>
        <ion-segment (ionChange)="mark($event,item.id,item.preferred_answer)" *ngIf="backfrom!=1" class="yn-segment">

          <ion-segment-button value="1" class="segment-button-yes">
            <ion-label>
              <ion-icon name="checkmark-circle-outline"></ion-icon> Yes
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="0" class="segment-button-no">
            <ion-label>
              <ion-icon name="close-circle-outline"></ion-icon>No
            </ion-label>
          </ion-segment-button>

        </ion-segment>

      </ion-col>

      <!-- <ion-col size="12" class="vd-form">

        <p>
          I have not lived in or visited the Greater Sydney, Central Coast or Northern Beaches areas of New South Wales
          since 11 December 2020 or the Blue Mountains or Woollongong since 27 December
        </p>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>

      </ion-col> -->

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" (click)="back()">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="next()" [disabled]="disable">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-grid>

</ion-footer>