ion-header {
  text-align: center;
}

ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

.vd-subtitle {
  margin-bottom: 20px;
  display: block;
}

.vd-form span {
  margin-bottom: 15px;
  display: block;
}

.vd-form span ion-checkbox {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0px;
}

.vd-form span ion-label {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .vd-form span ion-checkbox {
    vertical-align: middle;
    width: 25px;
    height: 25px;
  }
}

.custom-input {
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  --padding-start: 15px;
  --padding-end: 15px !important;
  margin-bottom: 10px;
}

.custom-input1 {
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  --padding-start: 15px;
  --padding-end: 15px !important;
  margin-top: 15px;
  margin-bottom: 10px;
}

.unit-sep {
  position: relative;
  top: -40px;
  right: 15px;
  float: right;
  color: #7e7e7e;
  border-left: 1px solid #d6d6d6;
  padding-left: 10px;
}

.vd-form1 ion-radio {
  margin-right: 15px;
}
