ion-header {
    text-align: center;
}

ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}

.vd-subtitle {
    margin-bottom: 20px;
    display: block;
}

.vd-form {

    span {
        margin-bottom: 15px;
        display: block;

        ion-checkbox {
            width: 20px;
            height: 20px;
            margin: 0px 10px 0px 0px;
            --border-radius: 50px;
            --border-color: transparent;
            --background: #e0e0e0;
            vertical-align: middle;
            align-self: center;
        }

        ion-label {
            margin-left: 15px;
        }
    }

}

@media screen and (min-width:768px) {
    .vd-form {

        span {

            ion-checkbox {
                vertical-align: middle;
                width: 25px;
                height: 25px;
            }

        }

    }
}

.temp-span {
    max-width: 130px;
}

.custom-input {
    background: #f5f5f5;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px !important;
    margin-bottom: 10px;
}

.custom-input1 {
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px !important;
    margin-top: 15px;
    margin-bottom: 10px;
}

.unit-sep {
    position: relative;
    top: -40px;
    right: 15px;
    z-index: 9999;
    float: right;
    color: #7e7e7e;
    border-left: 1px solid #d6d6d6;
    padding-left: 10px;
}

.vd-form1 {
    ion-radio {
        margin-right: 15px;
    }

    p {
        line-height: 22px;
    }
}

ion-select,
ion-datetime {
    // border: 1px solid #d6d6d6;
    background: #f5f5f5;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px !important;
    margin-top: 15px;
    margin-bottom: 10px;
}

.yn-segment {
    background: #f5f5f5;
    display: flex;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: fit-content;

    ion-segment-button {
        display: flex;
        letter-spacing: normal;
        font-weight: normal;
        text-transform: none;
        --color-checked: #fff !important;
        --color: #313131;

        ion-label {
            font-size: 18px;
            vertical-align: middle;
            align-self: center;
            margin-bottom: 0;

            ion-icon {
                font-size: 25px;
                vertical-align: middle;
                align-self: center;
                margin-right: 5px;
            }
        }
    }

    .segment-button-yes {
        // background: #12B400;
        --indicator-color: transparent;
        // color: #fff;
        border-radius: 50px;
        --background-checked: #12B400;
        // --color-checked: #fff;
        // --indicator-color: #0077b5;
        // ion-label {
        //     color: #fff;

        //     ion-icon {
        //         color: #fff;
        //     }
        // }

        // ion-label {
        //     color: #fff !important;
        // }
    }

    .segment-button-no {
        // background: #F30000;
        --indicator-color: transparent;
        // color: #fff;
        border-radius: 50px;
        --background-checked: #F30000;
        // --color-checked: #fff !important;
        // ion-label {
        //     color: #000;

        //     ion-icon {
        //         color: #000;

        //     }
        // }
    }
}

.vd-form {
    span {
        ion-label {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width:767px) {
    .yn-segment {
        ion-segment-button {
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.vd-form {
    .question {
        padding-left: 10px;
        color: #222;

        &::before {
            content: "\f101";
            font-family: FontAwesome;
            font-size: 22px;
            color: #0077b5;
            display: inline-block;
            margin-left: 0;
            padding-right: 10px;

        }
    }
}

.vd-form1 {
    .question {
        padding-left: 10px;

        &::before {
            content: "\f101";
            font-family: FontAwesome;
            font-size: 22px;
            color: #0077b5;
            display: inline-block;
            margin-left: 0;
            padding-right: 10px;

        }
    }
}

