<ion-header no-padding color="none"
  style="background: url('/assets/common_header.svg') no-repeat center center !important;background-attachment: fixed; background-size: cover !important;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Maintenance Overview</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header>

<ion-content class="ion_maintenance_overview_content">
  <ion-label class="book_newcall_btn" [routerLink]="['/technician-new-request']" >
    <ion-icon class="newcallbook_icon"></ion-icon> &nbsp; New Request
  </ion-label>
  <ion-grid>

    <ion-row>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-all-border-bottom" (click)="gotoDetails()">

          <span class="count-all">{{request.incomplete_count}}</span>

          <ion-label>All incomplete</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-urgent-border-bottom" (click)="gotoDetailsByPriority(2)">

          <span class="count-urgent">{{request.urgent_count}}</span>

          <ion-label>Urgent</ion-label>

        </ion-card>

      </ion-col>



      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-pending-border-bottom" (click)="gotoDetailsByStatus(0)">

          <span class="count-pending">{{request.pending_count}}</span>

          <ion-label>Pending</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-inprogress-border-bottom" (click)="gotoDetailsByStatus(1)">

          <span class="count-inprogress">{{request.in_progress_count}}</span>

          <ion-label>In Progress</ion-label>

        </ion-card>

      </ion-col>



      <!-- <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-overdue-border-bottom" [routerLink]="['/maintenance-list']">

          <span class="count-overdue">20</span>

          <ion-label>Overdue</ion-label>
          
        </ion-card>

      </ion-col> -->

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-wtp-border-bottom" (click)="gotoDetailsByStatus(2)">

          <span class="count-wtp">{{request.with_third_party_count}}</span>

          <ion-label>With third party</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <!-- <ion-card class="count-alljobs-border-bottom" [routerLink]="['/maintenance-list']">

          <span class="count-all-jobs">{{</span>

          <ion-label>All Jobs</ion-label>
          
        </ion-card> -->

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>