<ion-item lines="none" color="none" style="width:100%;--min-height:35px;--padding-start:0px;--inner-padding-end:0px" color="none">
  <ion-label style="font-weight: normal;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:16px;background-color: #fff !important;padding :5px 8px !important;border-radius: 6px !important;color:#707070 !important;margin-top: 0px;margin-bottom: 0px;margin-inline-end: 0px;"
    (click)="cancel()">Cancel</ion-label>
</ion-item>