ion-content {
  --padding-top: 20px !important;
  --padding-bottom: 20px !important;
  --padding-start: 20px !important;
  --padding-end: 20px !important;
}

.ccs-card {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ccs-card .consumer-pic {
  width: 60px;
  height: 60px;
  display: flex;
}

.ccs-card .consumer-infos {
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.ccs-card .consumer-infos .consumer-room {
  font-size: 13px;
  font-weight: normal !important;
  color: #A6A6A6;
  text-align: center;
  display: flex;
  margin-top: 2px;
  align-self: center;
}

@media (min-width: 1024px) {
  ion-card {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px;
    padding: 10px !important;
  }
}
