<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkin-choose-consumer</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="vmanage">

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row class="jcc">

        <ion-col size="12">

          <p class="welcome-text">
            Choose resident you are visiting
          </p>

        </ion-col>


        <ion-col size="6" size-sm="6" size-md="4" size-lg="4" *ngFor="let item of members" [class.doNotShow]="item.status==0" (click)="next(item)" class="mb-10">

          <ion-card class="ccs-card" [class.selected]="item.user_id==res_id">

            <ion-avatar class="consumer-pic">

              <img [src]="item.user.profile_pic">

            </ion-avatar>

            <ion-label class="consumer-infos">
              {{item.user.name}}

              <span class="consumer-room" *ngIf="rv==0">
                Room No : {{item.room}}
              </span>
            </ion-label>

          </ion-card>

        </ion-col>

        <!-- <ion-col size="6" size-sm="6" size-md="4" size-lg="4">

          <ion-card class="ccs-card">

            <ion-avatar class="consumer-pic">

              <img src="assets/user.png">

            </ion-avatar>

            <ion-label class="consumer-infos">
              John Abraham

              <span class="consumer-room">
                Room No : 212
              </span>
            </ion-label>

          </ion-card>

        </ion-col> -->




      </ion-row>

    </ion-grid>

  </div>


</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" [routerLink]="['/checkin-scan-qr']">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <!-- <ion-col size="6">

      <ion-button class="next-btn" [routerLink]="['/checkin-visit-purpose']">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col> -->

  </ion-grid>

</ion-footer>