.inner-header-1 {
    ion-icon {
        vertical-align: middle;
        font-size: 25px;
    }

    ion-label {
        margin-left: 10px;
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #efefef;
}

.vd-box {
    position: relative;

    ion-label {
        color: #000 !important;
    }

    ion-datetime {
        background: #fff;
        border: none;
        border-radius: 10px;
        color: #1c1c1c !important;
        --padding-start: 15px;
        --padding-end: 15px;
        margin-top: 15px;
        height: 45px;
        display: flex;
        align-items: center;
    }

    i {
        font-size: 25px;
        color: #707070;
        position: absolute;
        top: 45px;
        right: 10px;
        z-index: 99999;
    }

}



.mt-10 {
    margin-top: 10px !important;
    display: block;
}


ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .continue-btn {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        letter-spacing: normal;
        font-size: 16px;
        font-weight: normal;
        height: 45px;
        min-width: 120px;
    }

    .dismiss-btn {
        --background: #ebebeb;
        --border-radius: 50px;
        --box-shadow: none;
        color: #8d8d8d;
        letter-spacing: normal;
        font-weight: normal;
        font-size: 16px;
        font-weight: normal;
        height: 45px;
        min-width: 120px;
        margin-left: 20px;
    }
}