<ion-header class="inner-header-1">

  <ion-row style="height: 10px;"></ion-row>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title" (click)="dismiss()">

        <ion-icon name="arrow-back-outline" ></ion-icon>

        <ion-label>Reschedule</ion-label>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-row style="height: 10px;"></ion-row>

</ion-header>

<ion-content>

  <div class="vd-box">
    <ion-label class="mt-10">Choose the date</ion-label>
    <ion-datetime displayFormat="DD MMMM YYYY" (ionChange)="onChange($event)" [(ngModel)]="date" value=""
      [min]="data.date" [max]="2040"></ion-datetime>
    <i class="las la-calendar"></i>
  </div>




  <ion-item style="margin-top:20px;" lines="none" color="none">

    <ion-label class="call_booking_availability">
      Available Booking Times for
      <!-- <span>Friday, Jul 23, 2020</span> -->
      <span>{{date | dateformat: 'dddd, MMM DD, yyyy'}}</span>
    </ion-label>

  </ion-item>

  <ion-item lines="none" color="none" class="choose-time-slot">
    <ion-select style="opacity: 1;" class="mlr_auto" [(ngModel)]="duration" (ionChange)="selectDuration()">
      <ion-select-option value="1">30 Minutes</ion-select-option>
      <ion-select-option value="2">60 Minutes</ion-select-option>
      <ion-select-option value="3">2 Hours</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid class="p-zero">


    <ion-row class="available_time">


      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngFor="let item of slot" (click)="bookvisit(item)">

        <ion-label [class.disable]="item.disable" [class.selected_slot]="sel_slot==item.slot">
          {{item.slot}}
        </ion-label>

      </ion-col>



    </ion-row>


  </ion-grid>

</ion-content>

<ion-footer>

  <ion-button class="continue-btn" (click)="continue()">Continue</ion-button>
  <ion-button class="dismiss-btn" (click)="dismiss()">Cancel</ion-button>

</ion-footer>