<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Comment</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%;">
    <ion-label style="color: #222; display: block;width: 100%;text-align: left;font-weight: 500px;margin-bottom: 10px;font-size: 16px;">Comments<span class="red-asterisk">*</span></ion-label>
    <ion-textarea class="comments" rows="3" clearOnEdit="true" auto-grow="true" name="comment"
      placeholder="Enter your comments" [(ngModel)]="comment"></ion-textarea>
  </div>




  <!-- <app-multi-file-upload></app-multi-file-upload> -->

  <ion-row>
    <!-- <ion-col *ngFor="let item of img">
      <ion-thumbnail style="height:90px;width:90px">
        <img [src]="item">
      </ion-thumbnail>
    </ion-col> -->

    <ion-col (click)="presentActionSheet()">
      <ion-icon name="attach-outline"
        style="color: #0077b5; transform: rotate(35deg); font-size: 30px; vertical-align: middle;" role="img"
        class="ios hydrated" aria-label="attach outline"></ion-icon>
      <span class="attach-images">Attach documents</span>
    </ion-col>
  </ion-row>


  <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

    <ion-col size="5" class="col_fit" *ngFor="let item of imageResponse ;let i=index" (click)="showImage()">

      <ion-thumbnail class="uploaded-image">
        <img src="{{item}}">
        <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
      </ion-thumbnail>



    </ion-col>
  </ion-row>

  <ion-row class="uploaded-images-container" *ngIf="docResponse.length>0">

    <ion-item lines="none" color="none" class="docs-sec" *ngFor="let item of docResponse;let i=index">

      <ion-icon class="doc-icon1" name="document-outline"></ion-icon>

      <ion-label>{{item.name}}</ion-label>

      <ion-icon name="close-outline" class="remove-file1" (click)="removeDoc(i)"></ion-icon>

    </ion-item>



  </ion-row>



  <ion-item color="none" lines="none" class="mb_20">

    <span class="form-btn-alignment">

      <ion-label class="form-submit-btn" (click)="submit()">Submit</ion-label>


    </span>

  </ion-item>
</ion-content>