.comments {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  font-size: 15px;
  top: 0px;
  min-height: 150px !important;
  overflow-y: scroll;
  white-space: break-spaces;
  flex-wrap: wrap;
  display: flex;
  min-width: 100%;
  line-height: 20px;
  --padding-end:0px;
}

ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

.uploaded-images-container {
  margin-top: 20px;
}

.uploaded-images-container ion-col {
  margin-right: 15px;
  margin-bottom: 20px;
}

.uploaded-image {
  width: 80px;
  height: 80px;
}

.uploaded-image img {
  border-radius: 4px;
}

.uploaded-image-name {
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 80px;
}

.form-submit-btn {
  padding: 10px 30px !important;
}

.remove-img {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 57px;
  z-index: 999;
  color: #232323;
  border-radius: 50px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .comments {
    min-height: 150px;
  }
}
