ion-content {
    --background: #eee;
}

.comments {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #464646;
    top: 0px;
    min-height: 150px !important;
    overflow-y: scroll;
    white-space: break-spaces;
    flex-wrap: wrap;
    display: flex;
    min-width: 100%;
    line-height: 20px;
    --padding-end: 0px;
}

.attach-images {
    color: #222;
}

.docs-sec {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: auto;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }

    .doc-icon1 {
        font-size: 22px;
        color: #646464;
    }

    ion-label {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        white-space: initial;
        color: #646464;
    }

    .remove-file1 {
        font-size: 20px;
        color: #646464;
    }
}




ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}


.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;
    position: relative;

    img {
        border-radius: 4px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

.form-submit-btn {
    padding: 10px 30px !important;
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
    color: #ff0000;
    border-radius: 50px;
    background-color: #fff;
}

@media (min-width: 768px) {

    .comments {
        min-height: 150px;
    }

}