ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    .page_title {
        font-size: 18px !important;
        font-weight: 500 !important;

        ion-icon {
            vertical-align: middle;
            font-size: 25px;
        }

        ion-label {
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    .page-close-btn {
        font-size: 32px;
        color: #fff;
        vertical-align: middle;
        position: absolute;
        // right: 10px;
        // top: 52px;
        right: 5px;
        top: -4px;
    }
}

.inner-header-1 {
    ion-grid {
        ion-row {
            position: relative;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background:#fff;
    // --background:#e7e7e7;
    // font-family: "Poppins", sans-serif !important;
}

.main-content-wrapper {
    .cb-box {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px dashed #dbdbdb;

        &:last-child {
            border: none;
        }

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;

            ion-checkbox {
                width: 25px;
                height: 25px;
                --border-radius: 5px;
                --border-color: #bdbdbd;
                --background: transparent;
                --border-width: 1px;
                --background-checked: #0077b5;
                --border-color-checked: #0077b5;
                --checkmark-color: #fff;
                margin: 0;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #222;
                margin: 0 0 0 15px;
            }
        }
    }
}

ion-footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .continue-btn1 {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        width: 100%;
        height: 45px;
        font-size: 16px;
        margin: 0;
        display: block;
    }
}
