<ion-header mode="md" class="inner-header-1 nc-header">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>

        <ion-label>Notify me for the selected</ion-label>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<ion-content>

  <div class="main-content-wrapper">

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="myStory" [checked]="myStory==1" (ionChange)="myStoryStatus($event)">
      </ion-checkbox>

      <ion-label class="not_label">New story added</ion-label>
    </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="my_comment" [checked]="my_comment==1" (ionChange)="commentStatus($event)">
      </ion-checkbox>

      <ion-label class="not_label">New comment </ion-label>
    </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)">
      </ion-checkbox>

      <ion-label class="not_label">New message</ion-label>
    </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="call" [checked]="call==1" (ionChange)="callStatus($event)"></ion-checkbox>

      <ion-label class="not_label">Video call</ion-label>
    </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="activity" [checked]="activity==1" (ionChange)="activityStatus($event)">
      </ion-checkbox>

      <ion-label class="not_label" style="white-space: pre-line !important;">Weekly activity history </ion-label>
    </ion-item>
    </div>

  </div>

</ion-content>

<ion-footer>

  <ion-button class="continue-btn1" (click)="continue()">Continue</ion-button>

</ion-footer>