<ion-header mode="md" class="inner-header-1 nc-header">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>

        <ion-label>Notify me for the selected</ion-label>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <div class="main-content-wrapper d-none">

    <div class="cb-box">
      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="myStory" [checked]="myStory==1" (ionChange)="myStoryStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">New story added</ion-label>
      </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="my_comment" [checked]="my_comment==1" (ionChange)="commentStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">New comment </ion-label>
      </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)">
        </ion-checkbox>

        <ion-label class="not_label">New message</ion-label>
      </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="call" [checked]="call==1" (ionChange)="callStatus($event)"></ion-checkbox>

        <ion-label class="not_label">Video call</ion-label>
      </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="activity" [checked]="activity==1" (ionChange)="activityStatus($event)">
        </ion-checkbox>

        <ion-label class="not_label" style="white-space: pre-line !important;">Weekly activity history </ion-label>
      </ion-item>
    </div>

  </div>

  <!-- <div class="notifications-sec">

    <div class="ns-collapse-panel">

      <ion-text class="n-category-name">General notifications</ion-text>
      <ion-icon name="chevron-down" class="nscp-chevron-down-icon"></ion-icon>

    </div>

    <div class="ns-expanded-panel">

      <div class="nsep-item">

        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" [(ngModel)]="myStory" [checked]="myStory==1" (ionChange)="myStoryStatus($event)">
          </ion-checkbox>
          <ion-label class="not_label">New story added</ion-label>
        </ion-item>

      </div>

      <div class="nsep-item">

        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" [(ngModel)]="my_comment" [checked]="my_comment==1"
            (ionChange)="commentStatus($event)">
          </ion-checkbox>
          <ion-label class="not_label">New comment </ion-label>
        </ion-item>

      </div>

      <div class="nsep-item">

        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)">
          </ion-checkbox>

          <ion-label class="not_label">New message</ion-label>
        </ion-item>

      </div>

      <div class="nsep-item">

        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" [(ngModel)]="call" [checked]="call==1"
            (ionChange)="callStatus($event)"></ion-checkbox>

          <ion-label class="not_label">Video call</ion-label>
        </ion-item>

      </div>

      <div class="nsep-item">

        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" [(ngModel)]="activity" [checked]="activity==1" (ionChange)="activityStatus($event)">
          </ion-checkbox>
          <ion-label class="not_label" style="white-space: pre-line !important;">Weekly activity history </ion-label>
        </ion-item>

      </div>

    </div>

    <div class="ns-collapse-panel">

      <ion-text class="n-category-name">Maintenance notifications</ion-text>
      <ion-icon name="chevron-down" class="nscp-chevron-down-icon"></ion-icon>

    </div>

    <div class="ns-expanded-panel">

      <ion-text class="ns-sub-heading">Maintenance Email Notifications</ion-text>

      <div class="nsep-item-1">

        <ion-label class="mns-label">When a new job is created</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Mobile</ion-label>
          </ion-item>

        </div>

      </div>

      <div class="nsep-item-1">

        <ion-label class="mns-label">When a new job is created for a maintenance type I am responsible for</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Mobile</ion-label>
          </ion-item>

        </div>

      </div>

      <div class="nsep-item-1">

        <ion-label class="mns-label">When a job is assigned to me</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Mobile</ion-label>
          </ion-item>

        </div>

      </div>

      <div class="nsep-item-1">

        <ion-label class="mns-label">When a job is closed</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Mobile</ion-label>
          </ion-item>

        </div>

      </div>

      <div class="nsep-item-1">

        <ion-label class="mns-label">When a new comment is added for the job</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Mobile</ion-label>
          </ion-item>

        </div>

      </div>

      <div class="ns-sub-heading-holder">

        <ion-item lines="none" color="none">
          <ion-text class="ns-sub-heading">Weekly overview email</ion-text>
          <ion-toggle mode="ios"></ion-toggle>
        </ion-item>
        
      </div>

      <div class="nsep-item-1">

        <ion-label class="mns-label">Jobs overview</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

        </div>

      </div>

      <div class="ns-sub-heading-holder">

        <ion-item lines="none" color="none">
          <ion-text class="ns-sub-heading">Monthly overview email</ion-text>
          <ion-toggle mode="ios"></ion-toggle>
        </ion-item>
        
      </div>

      <div class="nsep-item-1">

        <ion-label class="mns-label">Jobs overview</ion-label>

        <div class="mns-cb-holder">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios">
            </ion-checkbox>
            <ion-label class="not_label">Email</ion-label>
          </ion-item>

        </div>

      </div>

    </div>

  </div> -->

  <div class="notifications-sec">

    <div class="ns-item">

      <ion-text class="ns-ib-sub-heading">Story</ion-text>

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="myStory" [checked]="myStory==1" (ionChange)="myStoryStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">New story added</ion-label>
      </ion-item>

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="my_comment" [checked]="my_comment==1" (ionChange)="commentStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">New Comment</ion-label>
      </ion-item>

    </div>

    <div class="ns-item">

      <ion-text class="ns-ib-sub-heading">Bookings</ion-text>

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="call" [checked]="call==1" (ionChange)="callStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">Video Call Booking</ion-label>
      </ion-item>

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="visit" [checked]="visit==1" (ionChange)="visitStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">Visit Booking</ion-label>
      </ion-item>

    </div>

    <div class="ns-item">

      <ion-text class="ns-ib-sub-heading">Messages</ion-text>

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">New Messages</ion-label>
      </ion-item>

    </div>

    <div class="ns-item" *ngIf="role==6">

      <ion-text class="ns-ib-sub-heading">Activity</ion-text>

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="activity" [checked]="activity==1" (ionChange)="activityStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">Weekly activity history of resident</ion-label>
      </ion-item>

    </div>

    <div class="ns-item">

      <ion-text class="ns-ib-sub-heading">Maintenance</ion-text>

      <!-- <ion-item lines="none" color="none">
        <ion-checkbox mode="ios">
        </ion-checkbox>
        <ion-label class="not_label">Notify for hazard / urgent maintenance jobs</ion-label>
      </ion-item> -->

      <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" [(ngModel)]="maintenance_comment" [checked]="maintenance_comment==1" (ionChange)="maintenanceCommentStatus($event)">
        </ion-checkbox>
        <ion-label class="not_label">New Comment</ion-label>
      </ion-item>

    </div>
    
  </div>

</div>

<ion-footer>

  <ion-button class="continue-btn1" (click)="continue()">Continue</ion-button>

</ion-footer>