<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none" no-border>
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">About</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-col>
        <ion-button fill="clear">
          <img src="assets/lens_icon.svg">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" (click)="filter($event)">
          <ion-icon name="funnel-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-buttons> -->

  </ion-toolbar>
  <!-- <ion-toolbar color="none" no-border style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-card class="about_card_main" *ngFor="let com of company">

    <ion-grid>
      <ion-row>
        <ion-col class="comp_logo_col">
          <ion-avatar>
            <!-- <img src="assets/sample_logo.png"> -->
            <img [src]="com.logo" style="object-fit: contain">
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="comp_name">
            {{com.c_name}}
          </ion-label>
          <p>
            {{com.description}}
          </p>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card>

  <ion-card class="suburb" (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header class="facility_region">{{item.head.region_name}}
      <span style="float: right;">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span>
    </ion-card-header>


    <ion-card-content style="padding-left: 20px; padding-right: 20px;">
      <app-expandable expandHeight="700px" [expanded]="item.expanded">

        <div class="facility-info-box">

          <ion-row class="facility_sep" (click)="gotoDetails(branch)" *ngFor="let branch of item.head.branches">

            <ion-col size-sm="4" size-md="12" size-lg="12" size="4" class="about_item">
              <ion-thumbnail>
                <img class="rounded_corner_thumb" [src]="branch.branchimages[0].branch_image"
                  *ngIf="branch && branch.branchimages && branch.branchimages.length">
              </ion-thumbnail>
            </ion-col>

            <ion-col class="align-self-center" size-sm="8" size-md="12" size-lg="12" size="8">
              <ion-label class="facility_title" text-wrap>{{branch.name}}</ion-label>
              <ion-icon class="go-fd-icon" name="chevron-forward-outline"></ion-icon>
            </ion-col>

          </ion-row>

          <ion-row class="facility_sep" *ngIf="!item.head.branches||!item.head.branches.length">

           

            <ion-col class="align-self-center" size-sm="8" size-md="12" size-lg="12" size="8">
              <ion-label class="facility_title" text-wrap>No sites</ion-label>
              
            </ion-col>

          </ion-row>


        </div>

      </app-expandable>
    </ion-card-content>



  </ion-card>




</ion-content>