ion-content {
    --background: #eee;
}

ion-col.ios.hydrated {
    max-width: fit-content;
}

.suburb {
    margin-left: 20px !important;
    margin-right: 20px !important;
    border: 1px solid #dfdfdf;
    box-shadow: none;
}

.facility-info-box {
    display: grid;
    grid-template-columns: auto;

    .facility_sep {

        ion-col {
            display: flex;
            align-items: center;
        }

        .go-fd-icon {
            font-size: 22px;
            color: #999999;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width:768px) {

    .suburb {
        padding: 10px !important;

        .facility_region {
            padding: 10px 25px;
        }
    }

    .facility-info-box {
        grid-template-columns: auto auto auto;

        ion-row {
            ion-col {
                padding: 10px;

                .about_item ion-thumbnail {
                    height: 100%;
                }

                .facility_title {
                    margin-left: 5px;
                }
            }
        }
    }

    .facility_sep {
        border: none !important;
        margin-bottom: 5px !important;
        padding-bottom: 5px !important;
    }
}