ion-header {
    // min-height: 95px;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    .page_title {
        font-size: 18px !important;
        font-weight: 500 !important;

        ion-icon {
            vertical-align: middle;
            font-size: 25px;
        }

        ion-label {
            vertical-align: middle;
            margin-left: 15px;
        }
    }

    ion-row {
        position: relative;
    }

    .page-close-btn {
        font-size: 32px;
        color: #fff;
        vertical-align: middle;
        position: absolute;
        right: 5px;
        top: -4px;
    }
}

ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-family: "Poppins", sans-serif !important;

    .input-sec {
        display: flex;
        flex-direction: column;

        .input-label {
            font-size: 16px;
            color: #545454;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        ion-input {
            color: #222;
            background: #f3f3f3;
            border-radius: 10px;
            min-height: 50px;
            --padding-start: 15px;
            --padding-end: 15px;
        }
    }
}

ion-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .submit-btn-1 {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0;
        display: block;
        max-width: fit-content;
        min-width: 92px;
    }
}
