<ion-header mode="md" class="inner-header-1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <!-- <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon> -->

        <ion-label>Report</ion-label>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<ion-content>

  <div class="input-sec">
    <ion-label class="input-label"> Please enter your reason(optional)</ion-label>
    <ion-input [(ngModel)]="reason"></ion-input>
  </div>

</ion-content>

<ion-footer>

  <ion-button class="submit-btn-1" (click)="submit()">Submit</ion-button>

</ion-footer>