ion-content {
  --background: #efefef;
  --padding-top: 15px;
  --padding-start: 5px;
  --padding-end: 5px;
}

.rel_details_card {
  padding: 35px !important;
  border: 1px solid #dfdfdf;
  box-shadow: none;
}

.skip-button {
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-transform: initial;
  background: hsl(207 90% 54% / 0.1);
  border-radius: 20px;
  padding: 5px 15px;
  height: 29px;
  margin-top: 13px;
}

.num_badge {
  position: absolute;
  font-size: 20px;
  width: 100%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
  margin-top: 42%;
  background: #000;
  opacity: 0.5;
}

.user-details-box {
  display: flex;
  flex-direction: column;

  .edit_username {
    font-size: 16px !important;
    font-weight: 500;
    color: #222 !important;
    margin-top: 10px !important;
  }

  .edit_email {
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px !important;
    color: #646464 !important;
  }
}

@media only screen and (min-width: 768px) {
  .rel_details_card {
    box-shadow: none;
    padding: 35px !important;
    max-width: fit-content;
    min-width: 280px;
    margin: 20px auto !important;
    display: block;
  }
}
