<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-title class="page_title" *ngIf="flag!=2" mode="md">Edit Profile</ion-title>
    <ion-title class="page_title" *ngIf="flag==2&& image==undefined" mode="md">
      <div class="ion-text-wrap">
        Would you like to add your photo?
      </div>
    </ion-title>
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="rel_details_card">
    <ion-item lines="none" color="none">
      <ion-avatar class="custom_avtar" *ngIf="img">
        <img [src]="img">
        <div class="num_badge" *ngIf="flag==2 && image==undefined">Add photo</div>
          <!-- <ion-icon class="edit_profile_circle_icon" (click)="selectImage()"></ion-icon> -->
          <ion-icon class="edit_profile_circle_icon" name="camera-outline" (click)="selectImage()"></ion-icon>
      </ion-avatar>
      <ion-avatar class="custom_avtar bg-green bg-lighten-4" *ngIf="!img">
        <ion-label style="margin-left: 60px;margin-top: 50px;font-size: 35px; font-weight: bold;">{{p_name}}</ion-label>
        <ion-icon class="edit_profile_circle_icon" name="camera-outline" (click)="selectImage()"></ion-icon>
      </ion-avatar>
      
    </ion-item>
    <div class="user-details-box">

      <ion-label class="edit_username">{{name}}</ion-label>
      <ion-label class="edit_email">{{email}}</ion-label>

    </div>
    
  </ion-card>
  <ion-item color="none" lines="none" *ngIf="flag==2">
    <ion-button  fill="clear" (click)="skip()" class="skip-button">
      skip
    </ion-button>
  
  </ion-item>
</ion-content>
