ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

ion-item {
  margin-bottom: 20px;
}

.call_comments {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  min-height: 90px;
  padding: 10px;
}

@media (min-width: 768px) {
  .call_comments {
    min-height: 150px;
  }
}

.participant-border {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}
