<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Confirm Booking</ion-title>
  </ion-toolbar>

  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-item color="none" lines="none">

    <ion-thumbnail class="confirm_callbooking_icon">
      <img src="/assets/call_booking/confirm_booking.svg">
    </ion-thumbnail>

  </ion-item>

  <ion-item color="none" lines="none" class="col_fit mlr_auto">

    <p class="confirm_callbooking_text" text-center>
      Are you sure you would like to book a video call with {{name}} ?
    </p>

  </ion-item>

  <ion-item color="none" lines="none">

    <ion-label class="callbooking_date">
      {{date | dateformat:'DD MMM yyyy'}}
      <span>{{slot}}</span>
      <span>{{duration}} Minutes</span>
    </ion-label>

  </ion-item>

  <ion-item color="none" lines="none" class="call_participants no_mb">

    <ion-label class="call_participants_heading">
      Participants
    </ion-label>

  </ion-item>

  <ion-row class="call_participants_thumbnail mlr_auto">

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="participant-border">
      
      <ion-card>

        <ion-avatar>
          <img [src]="rec_pic">
        </ion-avatar>

        <p>{{name}}</p>

      </ion-card>
      
    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="participant-border">

      <ion-card>

        <ion-avatar>
          <img [src]="img">
        </ion-avatar>

        <p>{{user_name}}</p>

      </ion-card>
      
    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of family" class="participant-border">

      <ion-card>

        <ion-avatar>
          <img [src]="item.pic">
        </ion-avatar>

        <p>{{item.name}}</p>

      </ion-card>
      
    </ion-col>

  </ion-row>

  <div class="comments-box">
    <ion-label class="sec-title">Comments </ion-label>
    <ion-textarea class="call_comments" rows="3" clearOnEdit="true" auto-grow="true" name="comment"
      placeholder="Enter your comments" [(ngModel)]="comment"></ion-textarea>
  </div>

  <ion-item color="none" lines="none" class="mlr_auto">

    <span class="cc-btn-container">

      <ion-button fill="clear" class="booking_confirm_btn" (click)="confirm()" [disabled]="disableButton">Confirm
      </ion-button>

      <ion-button fill="clear" class="booking_cancel_btn" (click)="cancel()">Cancel</ion-button>

    </span>



  </ion-item>
  <!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none"></ion-item> -->
</ion-content>