ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
    --background: #eee;
}

ion-item {
    margin-bottom: 20px;
}

.call_comments {
    // border-style: solid;
    // border-width: 0.6px;
    // border-color: dimgray;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    min-height: 90px;
    padding: 10px;
}

@media (min-width: 768px) {
    .call_comments {
        min-height: 150px;
    }

    .booking_confirm_btn {
        background-color: #0077b5;
        padding: 10px 25px;
        text-align: center;
        color: #fff !important;
        font-size: 16px !important;
        font-weight: normal !important;
        text-transform: none;
        border-radius: 50px;
        width: 100% !important;
        height: 50px !important;
        max-width: fit-content;
        letter-spacing: normal;
    }

    .booking_cancel_btn {
        background: none !important;
        border: 1px solid #828282;
        border-radius: 50px;
        padding: 10px 25px;
        text-align: center;
        color: #828282 !important;
        font-size: 16px !important;
        font-weight: normal !important;
        text-transform: none;
        margin-left: 10px;
        height: 50px !important;
        width: 100% !important;
        max-width: fit-content;
    }

    .cc-btn-container {
        display: flex;
        max-width: fit-content;
        margin: 15px auto 0;
    }

    .participant-border {
        .part-inner-box {
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
        }
    }
}

ion-textarea {
    background: #fff;
    border-radius: 6px;
    border: none !important;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    margin-top: 10px;
    border: none;
}

.participant-border {
    // border: 1px solid #dfdfdf;
    // border-radius: 10px;
    // background: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;

    ion-card {
        padding: 10px 15px !important;
        display: flex;
        align-items: center;
        margin: 0 !important;
        border: 1px solid #dfdfdf;
        box-shadow: none;
        width: 100%;

        ion-avatar {
            width: 50px;
            height: 50px;
        }

        p {
            font-size: 16px;
            margin-left: 15px;
            margin-top: 0;
            margin-bottom: 0;
            color: #545454;
        }
    }
}

.cc-btn-container {
    margin: 15px auto 0;
}

ion-textarea {
    color: #222;
}

.sec-title {
    width: 100%;
    text-align: left;
    font-weight: 400;
    margin-bottom: 10px;
    color: #222;
}

.mlr_auto {
    margin-left: 0px !important;
    margin-right: 0px !important;
    min-width: 100%;
}

.confirm_callbooking_text {
    margin: 0 auto;
}

.comments-box {
    width: 100%;
    padding: 10px;
}