<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" *ngIf="!hide" text="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" *ngIf="!hide" mode="md">
      <div class="ion-text-wrap">
        {{title}}
      </div>
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="search()" *ngIf="!hide">
      <img src="assets/lens_icon.svg">
    </ion-button>
    <ion-searchbar *ngIf="hide" no-padding color="none" placeholder="Search" search-icon="none" class="resource_search_1" [(ngModel)]="terms"
    (ionCancel)="cancel()" showCancelButton="always" (ionChange)="search1(terms)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>

    <ion-row class="resources-items-block">
      

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6" *ngFor="let item of folder" [class.doNotShow]="item.visibility==2">

        <ion-card class="threesixty_video_card" (click)="openFolder(item)">

          
          <ion-thumbnail>
            <img src="/assets/menu/new-icons/resources.svg">
          </ion-thumbnail>

          <ion-label>
            {{item.title}}
          </ion-label>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>


  <ion-card class="resource_list_card" *ngFor="let item of resource" (click)="openDoc(item)" [class.doNotShow]="item.visibility==2">
    <ion-item lines="none" color="none">
      <ion-icon class="pdf_icon" *ngIf="item.file_ext=='pdf'"></ion-icon>
      <ion-icon class="ms_word_doc_icon" *ngIf="item.file_ext=='doc'||item.file_ext=='docx'"></ion-icon>
      <ion-icon class="excel_icon" *ngIf="item.file_ext=='xlsx'||item.file_ext=='xls'"></ion-icon>
      <ion-icon class="weblink_icon" *ngIf="item.file_ext=='null'"></ion-icon>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-card>


  <div *ngIf="resource.length==0 ">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-resources.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Documents Found.</ion-label>
    </ion-item>
  </div>

</ion-content>
