ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background:#efefef;
}

.resource_search_1 {
    width: 98% !important;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    --inner-padding-end: 0;
    background: #fff;
    color: #222 !important;
    border-radius: 10px;
}

.resource_list_card {
    border: 1px solid #dfdfdf;
    box-shadow: none;
    margin-bottom: 20px;
}
