<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" [routerLink]="['/entertainment']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">360<sup>0</sup> Videos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="folder.length || files.length">
    <ion-grid>

      <ion-row class="media-items-block">

        <ion-col size-sm="6" size-md="3" size-lg="3" size="6" *ngFor="let item of folder">

          <ion-card class="threesixty_video_card" (click)="openFolder(item)">


            <ion-thumbnail>
              <img src="/assets/menu/new-icons/resources.svg">
            </ion-thumbnail>

            <ion-label>
              {{item.title}}
            </ion-label>

          </ion-card>

        </ion-col>

        <!-- <ion-col size-sm="6" size-md="3" size-lg="3" size="6">

        <ion-card class="threesixty_video_card">

          <ion-thumbnail>
            <img src="/assets/menu/resources_icon.svg">
          </ion-thumbnail>

          <ion-label>
            Media Sub folder
          </ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">

        <ion-card class="threesixty_video_card">

          <ion-thumbnail>
            <img src="/assets/menu/resources_icon.svg">
          </ion-thumbnail>

          <ion-label>
            Media Sub folder
          </ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">

        <ion-card class="threesixty_video_card" >

          <ion-thumbnail>
            <img src="/assets/menu/resources_icon.svg">
          </ion-thumbnail>

          <ion-label>
            Media Sub folder
          </ion-label>

        </ion-card>

      </ion-col> -->

      </ion-row>

    </ion-grid>

    <ion-grid>

      <!-- <ion-row>

      <ion-col>

        <ion-card class="threesixty_video_card" >

          <iframe width="100%" height="315" src="https://www.youtube.com/embed/-xNN-bJQ4vI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <ion-label class="video_name">
            Video Name
          </ion-label>

        </ion-card>

      </ion-col>

    </ion-row> -->

      <ion-row class="media-items-block">

        <ion-col *ngFor="let i of vid" size-sm="12" size-md="6" size-lg="6" size="12">

          <ion-card class="threesixty_video_card">

            <div class="media-box">

              <img width="100%" height="150" [src]="i.img" frameborder="0" />
              <div class="video-overlay"></div>
              <ion-icon name="play" class="play_icon" (click)="play(i.url)"></ion-icon>

            </div>

            <!-- <iframe name="iframe" #iframe width="100%" height="315" [src]="i.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


            <ion-label class="video_name">
              {{i.title}}
            </ion-label>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>
  </div>


  <div *ngIf="folder.length==0 && files.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/No_data_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found.</ion-label>
    </ion-item>
  </div>

</ion-content>