@-webkit-keyframes move-up {
  0% {
    top: 1.5625rem;
    opacity: 1;
  }
  to {
    top: -3.125rem;
    opacity: 0;
  }
}

@keyframes move-up {
  0% {
    top: 1.5625rem;
    opacity: 1;
  }
  to {
    top: -3.125rem;
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body, html {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.25;
  color: #776e65;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

.container {
  max-width: 38.924rem;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 20px !important;
  margin-bottom: 60px !important;
}

.game {
  position: relative;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #bbada0;
  border-radius: .5rem;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  font-size: 1.125rem;
}

.header p {
  letter-spacing: -.01em;
  margin: 0;
}

.header__bottom, .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header__top {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__top h1 {
  margin-right: auto;
}

.header__bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.score {
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: .5rem 1rem;
  position: relative;
  background: #bbada0;
  border-radius: .25rem;
}

.score:before {
  font-size: .875rem;
  line-height: 1;
  color: #eee4da;
  text-transform: uppercase;
  display: block;
  padding-bottom: .5rem;
}

.score-addition {
  font-size: 1.75rem;
  line-height: 1;
  color: rgba(119, 110, 101, 0.9);
  font-weight: 700;
  z-index: 2;
  position: absolute;
  right: 30px;
  -webkit-animation: move-up .6s ease-in;
  animation: move-up .6s ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.score.current-score {
  border-right: 1px solid #fff;
  border-radius: .25rem 0 0 .25rem;
}

.score.current-score:before {
  content: "Score";
}

.score.best-score {
  border-radius: 0 .25rem .25rem 0;
}

.score.best-score:before {
  content: "Best";
}

.retry {
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1;
  color: #f9f6f2;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: .8rem 1.25rem .7rem;
  border: 0;
  background: #8f7a66;
  border-radius: .25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.grid {
  position: relative;
  z-index: 1;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -.5rem 1rem;
}

.grid__row:last-child {
  margin-bottom: 0;
}

.grid__cell {
  width: calc(25% - 1rem);
  height: 0;
  padding-bottom: calc(25% - 1rem);
  margin: 0 .5rem;
  background: rgba(119, 110, 101, 0.35);
  border-radius: .25rem;
}

.grid__cell:last-child {
  margin-right: 0;
}

.tile {
  font-size: 3.4375rem !important;
  line-height: 2.6 !important;
  text-align: center !important;
  font-weight: 700 !important;
  width: calc(25% - 1rem) !important;
  height: 0 !important;
  padding-bottom: calc(25% - 1rem) !important;
  z-index: 10 !important;
  background: #eee4da !important;
  border-radius: .25rem !important;
  -webkit-transition: .4s ease-in-out !important;
  transition: .4s ease-in-out !important;
  -webkit-transition-property: top,left !important;
  transition-property: top,left !important;
}

.tile.tiles {
  position: absolute !important;
}

.tiles {
  width: calc(100% - 1rem) !important;
  height: calc(100% - 1rem) !important;
  z-index: 2 !important;
  position: absolute !important;
}

.tile.tile-position-1-1, .tiles {
  top: .5rem !important;
  left: .5rem !important;
  position: absolute !important;
}

.tile.tile-position-1-2 {
  left: .5rem !important;
  top: calc(25% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-1-3 {
  left: .5rem !important;
  top: calc(50% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-1-4 {
  left: .5rem !important;
  top: calc(75% + .5rem) !important;
  position: absolute;
}

.tile.tile-position-2-1 {
  left: calc(25% + .5rem) !important;
  top: .5rem !important;
  position: absolute !important;
}

.tile.tile-position-2-2 {
  left: calc(25% + .5rem) !important;
  top: calc(25% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-2-3 {
  left: calc(25% + .5rem) !important;
  top: calc(50% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-2-4 {
  left: calc(25% + .5rem) !important;
  top: calc(75% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-3-1 {
  left: calc(50% + .5rem) !important;
  top: .5rem !important;
  position: absolute !important;
}

.tile.tile-position-3-2 {
  left: calc(50% + .5rem) !important;
  top: calc(25% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-3-3 {
  left: calc(50% + .5rem) !important;
  top: calc(50% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-3-4 {
  left: calc(50% + .5rem) !important;
  top: calc(75% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-4-1 {
  left: calc(75% + .5rem) !important;
  top: .5rem !important;
  position: absolute !important;
}

.tile.tile-position-4-2 {
  left: calc(75% + .5rem) !important;
  top: calc(25% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-4-3 {
  left: calc(75% + .5rem) !important;
  top: calc(50% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-position-4-4 {
  left: calc(75% + .5rem) !important;
  top: calc(75% + .5rem) !important;
  position: absolute !important;
}

.tile.tile-2 {
  background: #eee4da !important;
}

.tile.tile-2, .tile.tile-4 {
  -webkit-box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0) !important;
}

.tile.tile-4 {
  background: #eee1c9 !important;
}

.tile.tile-8 {
  color: #f9f6f2 !important;
  background: #f3b27a !important;
}

.tile.tile-16 {
  color: #f9f6f2 !important;
  background: #f69664 !important;
}

.tile.tile-32 {
  color: #f9f6f2 !important;
  background: #f77c5f !important;
}

.tile.tile-64 {
  color: #f9f6f2;
  background: #f75f3b;
}

.tile.tile-128 {
  color: #f9f6f2;
  background: #edd073;
  -webkit-box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.238095), inset 0 0 0 1px rgba(255, 255, 255, 0.142857);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.238095), inset 0 0 0 1px rgba(255, 255, 255, 0.142857);
  font-size: 45px;
}

@media screen and (max-width: 767px) {
  .tile.tile-128 {
    font-size: 25px !important;
    line-height: 3;
  }
}

.tile.tile-256 {
  color: #f9f6f2;
  background: #edcc62;
  -webkit-box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.190476);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.190476);
  font-size: 45px;
}

@media screen and (max-width: 767px) {
  .tile.tile-256 {
    font-size: 25px !important;
    line-height: 3;
  }
}

.tile.tile-512 {
  color: #f9f6f2;
  background: #edc950;
  -webkit-box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.396825), inset 0 0 0 1px rgba(255, 255, 255, 0.238095);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.396825), inset 0 0 0 1px rgba(255, 255, 255, 0.238095);
  font-size: 45px;
}

@media screen and (max-width: 767px) {
  .tile.tile-512 {
    font-size: 25px !important;
    line-height: 3;
  }
}

.tile.tile-1024 {
  color: #f9f6f2;
  background: #edc53f;
  -webkit-box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.285714);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.285714);
  font-size: 35px;
}

@media screen and (max-width: 767px) {
  .tile.tile-1024 {
    font-size: 20px !important;
    line-height: 3.75;
  }
}

.tile.tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
  -webkit-box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.555556), inset 0 0 0 1px rgba(255, 255, 255, 0.333333);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.555556), inset 0 0 0 1px rgba(255, 255, 255, 0.333333);
  font-size: 35px;
}

@media screen and (max-width: 767px) {
  .tile.tile-2048 {
    font-size: 20px !important;
    line-height: 3.75;
  }
}

.tile-new {
  -webkit-animation: appear .2s ease .4s !important;
  animation: appear .2s ease .4s !important;
  -webkit-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
}

.tile-merged {
  z-index: 20;
  -webkit-animation: pop .2s ease .4s;
  animation: pop .2s ease .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (max-width: 767px) {
  .tile {
    font-size: 30px;
  }
}

.message {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.75);
  z-index: 3;
  -webkit-animation: fade-in .8s ease .4s;
  animation: fade-in .8s ease .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.message p {
  margin: 2rem;
}

.message__actions {
  display: block;
  margin-top: 2rem;
}

.message.game-won {
  color: #f9f6f2;
  background: rgba(124, 115, 83, 0.75);
}

.message.game-over, .message.game-won {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials {
  padding: 1rem 0;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.socials li {
  padding: 0 .325rem;
}

.socials a, .socials svg {
  display: block;
}

.socials svg {
  fill: rgba(119, 110, 101, 0.85);
}

.svg-email {
  height: 3.38rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-email {
    height: 1.69rem;
    width: 1.5rem;
  }
}

.svg-github, .svg-gitlab {
  height: 3.26rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-github, .svg-gitlab {
    height: 1.63rem;
    width: 1.5rem;
  }
}

.svg-twitter {
  height: 2.76rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-twitter {
    height: 1.38rem;
    width: 1.5rem;
  }
}

.svg-npm {
  height: 3rem;
  width: 8rem;
}

@media screen and (max-width: 767px) {
  .svg-npm {
    height: 1.5rem;
    width: 4rem;
  }
}

.svg-linkedin {
  height: 3.26rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-linkedin {
    height: 1.63rem;
    width: 1.5rem;
  }
}

.svg-logo {
  height: 6.26rem;
  width: 6.26rem;
}

@media screen and (max-width: 767px) {
  .svg-logo {
    height: 3.13rem;
    width: 3.13rem;
  }
}

.svg-codepen, .svg-google-plus {
  height: 3rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-codepen, .svg-google-plus {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body, html {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.25;
  color: #776e65;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

.container {
  max-width: 38.924rem;
  padding: 1rem;
  margin: 0 auto;
}

.game {
  position: relative;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #bbada0;
  border-radius: .5rem;
}

.header {
  font-size: 1.125rem;
}

.header p {
  letter-spacing: -.01em;
  margin: 0;
}

.header__bottom, .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header__top {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__top h1 {
  margin-right: auto;
}

.header__bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.score {
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: .5rem 1rem;
  position: relative;
  background: #bbada0;
  border-radius: .25rem;
}

.score:before {
  font-size: .875rem;
  line-height: 1;
  color: #eee4da;
  text-transform: uppercase;
  display: block;
  padding-bottom: .5rem;
}

.score.current-score {
  border-right: 1px solid #fff;
  border-radius: .25rem 0 0 .25rem;
}

.score.current-score:before {
  content: "Score";
}

.score.best-score {
  border-radius: 0 .25rem .25rem 0;
}

.score.best-score:before {
  content: "Best";
}

.retry {
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1;
  color: #f9f6f2;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: .8rem 1.25rem .7rem;
  border: 0;
  background: #8f7a66;
  border-radius: .25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.grid {
  position: relative;
  z-index: 1;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -.5rem 1rem;
}

.grid__row:last-child {
  margin-bottom: 0;
}

.grid__cell {
  width: calc(25% - 1rem);
  height: 0;
  padding-bottom: calc(25% - 1rem);
  margin: 0 .5rem;
  background: rgba(119, 110, 101, 0.35);
  border-radius: .25rem;
}

.grid__cell:last-child {
  margin-right: 0;
}

.tiles {
  position: absolute;
}

.tiles {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  z-index: 2;
}

.tiles {
  top: .5rem;
  left: .5rem;
}

.message {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.75);
  z-index: 3;
  -webkit-animation: fade-in .8s ease .4s;
  animation: fade-in .8s ease .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.message p {
  margin: 2rem;
}

.message__actions {
  display: block;
  margin-top: 2rem;
}

.socials {
  padding: 1rem 0;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.socials li {
  padding: 0 .325rem;
}

.socials a, .socials svg {
  display: block;
}

.socials svg {
  fill: rgba(119, 110, 101, 0.85);
}

.svg-email {
  height: 3.38rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-email {
    height: 1.69rem;
    width: 1.5rem;
  }
}

.svg-github, .svg-gitlab {
  height: 3.26rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-github, .svg-gitlab {
    height: 1.63rem;
    width: 1.5rem;
  }
}

.svg-twitter {
  height: 2.76rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-twitter {
    height: 1.38rem;
    width: 1.5rem;
  }
}

.svg-npm {
  height: 3rem;
  width: 8rem;
}

@media screen and (max-width: 767px) {
  .svg-npm {
    height: 1.5rem;
    width: 4rem;
  }
}

.svg-linkedin {
  height: 3.26rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-linkedin {
    height: 1.63rem;
    width: 1.5rem;
  }
}

.svg-codepen {
  height: 3rem;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  .svg-codepen {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.grid {
  position: relative;
  z-index: 1;
}

.grid__row {
  display: flex;
  margin: 0 -0.5rem 1rem;
}

.grid__row:last-child {
  margin-bottom: 0;
}

.grid__cell {
  width: calc(25% - 1rem);
  height: 0;
  padding-bottom: calc(25% - 1rem);
  margin: 0 0.5rem;
  background: rgba(119, 110, 101, 0.35);
  border-radius: 0.25rem;
}

.grid__cell:last-child {
  margin-right: 0;
}

.tile {
  font-size: 30px;
  line-height: 68px !important;
  text-align: center;
  font-weight: 700;
  justify-content: center;
  width: calc(25% - 1rem);
  height: 0;
  padding-bottom: calc(25% - 1rem);
  position: absolute;
  z-index: 10;
  background: #eee4da;
  border-radius: 0.25rem;
  transition: 0.4s ease-in-out;
  transition-property: top, left;
}

.tiles {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
}

.tile.tile-position-1-1 {
  left: calc(25% * 0 + 0.5rem);
  top: calc(25% * 0 + 0.5rem);
}

.tile.tile-position-1-2 {
  left: calc(25% * 0 + 0.5rem);
  top: calc(25% * 1 + 0.5rem);
}

.tile.tile-position-1-3 {
  left: calc(25% * 0 + 0.5rem);
  top: calc(25% * 2 + 0.5rem);
}

.tile.tile-position-1-4 {
  left: calc(25% * 0 + 0.5rem);
  top: calc(25% * 3 + 0.5rem);
}

.tile.tile-position-2-1 {
  left: calc(25% * 1 + 0.5rem);
  top: calc(25% * 0 + 0.5rem);
}

.tile.tile-position-2-2 {
  left: calc(25% * 1 + 0.5rem);
  top: calc(25% * 1 + 0.5rem);
}

.tile.tile-position-2-3 {
  left: calc(25% * 1 + 0.5rem);
  top: calc(25% * 2 + 0.5rem);
}

.tile.tile-position-2-4 {
  left: calc(25% * 1 + 0.5rem);
  top: calc(25% * 3 + 0.5rem);
}

.tile.tile-position-3-1 {
  left: calc(25% * 2 + 0.5rem);
  top: calc(25% * 0 + 0.5rem);
}

.tile.tile-position-3-2 {
  left: calc(25% * 2 + 0.5rem);
  top: calc(25% * 1 + 0.5rem);
}

.tile.tile-position-3-3 {
  left: calc(25% * 2 + 0.5rem);
  top: calc(25% * 2 + 0.5rem);
}

.tile.tile-position-3-4 {
  left: calc(25% * 2 + 0.5rem);
  top: calc(25% * 3 + 0.5rem);
}

.tile.tile-position-4-1 {
  left: calc(25% * 3 + 0.5rem);
  top: calc(25% * 0 + 0.5rem);
}

.tile.tile-position-4-2 {
  left: calc(25% * 3 + 0.5rem);
  top: calc(25% * 1 + 0.5rem);
}

.tile.tile-position-4-3 {
  left: calc(25% * 3 + 0.5rem);
  top: calc(25% * 2 + 0.5rem);
}

.tile.tile-position-4-4 {
  left: calc(25% * 3 + 0.5rem);
  top: calc(25% * 3 + 0.5rem);
}

.tile.tile-2 {
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile.tile-4 {
  background: #eee1c9;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile.tile-8 {
  color: #f9f6f2;
  background: #f3b27a;
}

.tile.tile-16 {
  color: #f9f6f2;
  background: #f69664;
}

.tile.tile-32 {
  color: #f9f6f2;
  background: #f77c5f;
}

.tile.tile-64 {
  color: #f9f6f2;
  background: #f75f3b;
}

.tile.tile-128 {
  color: #f9f6f2;
  background: #edd073;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.238095), inset 0 0 0 1px rgba(255, 255, 255, 0.142857);
  font-size: 45px;
}

.tile.tile-256 {
  color: #f9f6f2;
  background: #edcc62;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.190476);
  font-size: 45px;
}

.tile.tile-512 {
  color: #f9f6f2;
  background: #edc950;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.396825), inset 0 0 0 1px rgba(255, 255, 255, 0.238095);
  font-size: 45px;
}

.tile.tile-1024 {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.285714);
  font-size: 35px;
}

.tile.tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.555556), inset 0 0 0 1px rgba(255, 255, 255, 0.333333);
  font-size: 35px;
}

.tile-new {
  animation: appear 0.2s ease 0.4s;
  animation-fill-mode: both;
}

.tile-merged {
  z-index: 20;
  animation: pop 0.2s ease 0.4s;
  animation-fill-mode: both;
}

html,
body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.25;
  color: #776e65;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
}

.container {
  max-width: 38.924rem;
  padding: 1rem;
  margin: 0 auto;
}

.game {
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  background: #bbada0;
  border-radius: 0.5rem;
  cursor: default;
  user-select: none;
}

@keyframes move-up {
  0% {
    top: 1.5625rem;
    opacity: 1;
  }
  100% {
    top: -3.125rem;
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.message {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.75);
  z-index: 3;
  animation: fade-in 0.8s ease 0.4s;
  animation-fill-mode: both;
}

.message p {
  margin: 2rem;
}

.message__actions {
  display: block;
  margin-top: 2rem;
}

.message.game-won {
  color: #f9f6f2;
  background: rgba(237, 194, 46, 0.75);
}

.message.game-won, .message.game-over {
  display: flex;
}

.retry {
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1;
  color: #f9f6f2;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0.8rem 1.25rem 0.7rem;
  border: 0;
  background: #8f7a66;
  border-radius: 0.25rem;
  box-shadow: none;
  appearance: none;
}
