.vmore-comments {
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

.vmore-comments ion-icon {
  font-size: 25px;
  margin-left: 10px;
}

.story-media-container {
  width: 100%;
  height: 100%;
}

.story-media-container img {
  width: 100%;
  height: 150px !important;
  overflow: hidden;
  object-fit: cover;
}

.story-media-container ion-col {
  padding: 0;
  font-size: 25px;
  width: 100%;
  height: 150px;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .story-media-container img {
    height: 450px !important;
  }
  .story-media-container ion-col {
    height: 450px;
  }
}
