ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: #eee;
}

.vmore-comments {
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;

  ion-icon {
    font-size: 25px;
    margin-left: 10px;
  }
}

.story-media-container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 150px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 0px;
  }

  ion-col {
    padding: 0;
    font-size: 25px;
    width: 100%;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .story-media-container {
    max-width: fit-content;
    margin: 0px 5px;

    img {
      height: 220px !important;
      width: 220px !important;
    }

    ion-col {
      // height: 450px;
      height: auto;
      margin: 0 7px;

      &:last-child {
        margin-right: 0px !important;
      }
    }
  }

  .maintenance-detail-sec {
    .mn-details-card {
      margin: 0px 5px !important;
      padding: 15px !important;
    }
  }

  .mc-attachment-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    ion-row {
      max-width: fit-content;

      ion-col {
        padding: 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .story-media-container {
    img {
      height: 228px !important;
      width: 228px !important;
    }
  }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
  .story-media-container {
    img {
      height: 250px !important;
      width: 250px !important;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .story-media-container {
    img {
      height: 234px !important;
      width: 234px !important;
    }
  }
}

.maintenance-detail-sec {
  .maintenane-id {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #626262;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .maintenance-title {
    text-align: center;
    color: #222;
    font-size: 18px;
    font-weight: 400;
    white-space: initial;
    word-break: break-word;
    display: block;
    margin-bottom: 20px;
  }

  .mn-details-card {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    .main-label {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }

    .status-label {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      margin-top: 5px;
    }

    span {
      // font-family: "Open Sans", sans-serif;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      margin-top: 8px;
      color: #222;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 0px;
      color: #222;
      line-height: 25px;
    }
  }
}

.mn-details-footer {
  padding: 10px;

  .comment-btn {
    --background: #0077b5;
    --box-shadow: none;
    --border-radius: 50px;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    color: #fff;
    height: 45px;
    width: 175px;
    margin: 0 auto;
    display: block;

    ion-icon {
      font-size: 30px !important;
      vertical-align: middle;
    }

    ion-label {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: normal;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

ion-tab-bar#myTabBar {
  display: none;
}

.comment-document-container {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  --min-height: auto;

  .doc-icon {
    font-size: 25px;
    color: #808080;
    // background: #f3f3f3;
    // padding: 10px;
    // border-radius: 50px;
  }

  ion-label {
    font-size: 15px !important;
    color: #989898 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .download-icon {
    font-size: 20px;
    color: #ababab;
  }
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;
}

.num_badge {
  position: absolute;
  top: 40%;
  font-size: 25px;
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
  color: #fff;
}

// .dflex-jc-c {
//   display: flex;
//   justify-content: center;
// }

#commentSection {
  position: relative;

  .comment-mo-icon {
    font-size: 18px;
    color: #b7b7b7;
    position: absolute;
    top: 0px;
    right: -25px;
  }
}

.mc-attachment-container {
  ion-row {
    ion-col {
      padding: 8px 0;

      .mc_image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border: 1px solid #e3e3e3;
      }
    }
  }
}
