<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/maintenance']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Maintenance Details</ion-title>



  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content class="ion_maintenance_details_content" #maintenance>

  <span class="maintenance-detail-sec" *ngFor="let item of details">

    <p class="maintenane-id">{{item.reference_id}}</p>

    <ion-label class="maintenance-title">{{item.request_title}}</ion-label>

    <ion-segment class="centrim-segment-btn" [(ngModel)]="segment">

      <ion-segment-button value="0">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button value="1">
        <ion-label>Comments</ion-label>
      </ion-segment-button>

    </ion-segment>

    <ion-grid *ngIf="segment==0">

      <ion-row>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10">

          <ion-card class="mn-details-card">
            <ion-label class="main-label">Status</ion-label>
            <ion-label class="status-label" *ngIf="item.status==0" style="color:#f7b100">Open</ion-label>
            <ion-label class="status-label" *ngIf="item.status==1" style="color:#00a2ff">In progress</ion-label>
            <ion-label class="status-label" *ngIf="item.status==2" style="color:#c72cca">With third party</ion-label>
            <ion-label class="status-label" *ngIf="item.status==3" style="color:#00aa0e">Closed</ion-label>
            <ion-label class="status-label" *ngIf="item.status==4" style="color:#926a6a">Reopened</ion-label>
            <ion-label class="status-label" *ngIf="item.status==5" style="color:#3C7D71">Waiting for feedback
            </ion-label>
          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10">

          <ion-card class="mn-details-card">
            <ion-label class="main-label">Due date</ion-label>
            <span>{{item.due_date | dateformat:'DD MMM yyyy'}}</span>
          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10">

          <ion-card class="mn-details-card">
            <ion-label class="main-label">Assigned to</ion-label>
            <span *ngIf="technician">{{technician}}</span>
            <span *ngIf="!technician">N/A</span>
          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10">

          <ion-card class="mn-details-card">

            <ion-label class="main-label">Priority</ion-label>

            <span class="urgent-priority" *ngIf="item.priority==2">
              Urgent
            </span>

            <span class="medium-priority" *ngIf="item.priority==1">
              Medium
            </span>

            <span class="low-priority" *ngIf="item.priority==0">
              Low
            </span>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-10" *ngIf="item.description">

          <ion-card class="mn-details-card">

            <ion-label class="main-label">Description</ion-label>

            <p>
              {{item.description}}
            </p>

          </ion-card>

        </ion-col>


        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10" *ngIf="item.preferred_datetime">

          <ion-card class="mn-details-card">
            <ion-label class="main-label">Preferred
              date & time</ion-label>
            <span>{{item.preferred_datetime | dateformat:'DD MMM yyyy, hh:mm A'}}</span>
          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10" *ngIf="item.permission_to_enter!==null">

          <ion-card class="mn-details-card">

            <ion-label class="main-label">Permission to enter</ion-label>

            <span  *ngIf="item.permission_to_enter==1">
              Yes
            </span>

            <span  *ngIf="item.permission_to_enter==0">
             No
            </span>

          

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="images.length>0">

          <div>

            <ion-row (click)="showImages($event)" class="dflex-jc-c">

              <ion-row class="story-media-container" *ngIf="images.length==1">
                <img [src]="images[0].image" style="width: 100%;" *ngIf="images && images.length ">
              </ion-row>

              <ion-row class="story-media-container" *ngIf="images.length>1">
                <img [src]="images[0].image" style="width: 100%;" *ngIf="images && images.length">
              </ion-row>

              <ion-row class="story-media-container mt-5" *ngIf="images.length>1">
                <ion-col *ngIf="images.length>=2" style="width:100%">
                  <img [src]="images[1].image" *ngIf="images && images.length" style="width:100%">
                </ion-col>
                <ion-col *ngIf="images.length>=3"
                  style="margin-left: 2px;width:100%;position: relative">
                  <img [src]="images[2].image" *ngIf="images && images.length" style="width:100%">
                </ion-col>
                <ion-col *ngIf="images.length>=4"
                  style="margin-left: 2px; position: relative;">
                  <img [src]="images[3].image" *ngIf="images && images.length" style="width:100%">
                  <div class="myOverlay" *ngIf="images.length>4"></div>
                  <div class="num_badge" *ngIf="images.length>4">+{{images.length-4}}</div>
                </ion-col>
              </ion-row>

            </ion-row>

          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

  </span>







  <ion-grid *ngIf="segment==1">

    <ion-row>

      <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngFor="let item of details">

        <ion-card class="maintenance_details_card">

          <ion-label class="maintenance-problem-head">{{item.request_title}}</ion-label>

          <ion-grid class="maintenance-prob-details">

            <ion-row>

              <ion-col>

                <ion-label>
                  ID
                  <span>
                    {{item.reference_id}}
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Location
                  <span>
                    {{item.location}}
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Created by
                  <span>
                    {{item.creator.name}}
                  </span>
                </ion-label>

              </ion-col>

              <ion-col>

                <ion-label>
                  Created Date
                  <span>
                    {{item.request_date | dateformat:'DD MMM yyyy'}}
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row class="mb_zero">

              <ion-col>

                <ion-label>
                  Due Date
                  <span>
                    {{item.due_date | dateformat:'DD MMM yyyy'}}
                  </span>
                </ion-label>

              </ion-col>
            </ion-row>

            <ion-row class="mb_zero">

              <ion-col>
                <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

                  <ion-label>
                    Priority
                  </ion-label>
                  <ion-label class="urgent-priority" *ngIf="item.priority==2">
                    Urgent
                  </ion-label>
                  <ion-label class="medium-priority" *ngIf="item.priority==1">
                    Medium
                  </ion-label>
                  <ion-label class="low-priority" *ngIf="item.priority==0">
                    Low
                  </ion-label>

                </ion-item>

              </ion-col>
            </ion-row>
            <ion-row class="mb_zero">
              <ion-col>

                <ion-item color="none" lines="none" class="form-bottom-border">

                  <ion-label>Assigned to</ion-label>
                  <ion-label *ngIf="item.technician!=null">{{item.technician.name}}</ion-label>
                  <ion-label *ngIf="item.technician==null">N/A</ion-label>

                </ion-item>

              </ion-col>

            </ion-row>
            <ion-row class="mb_zero">
              <ion-col>

                <ion-item color="none" lines="none" class="form-bottom-border">

                  <ion-label>Status</ion-label>
                  <ion-label *ngIf="item.status==0" style="color:#8C851A">Pending</ion-label>
                  <ion-label *ngIf="item.status==1" style="color:#397682">In progress</ion-label>
                  <ion-label *ngIf="item.status==2" style="color:#6E356F">With third party</ion-label>
                  <ion-label *ngIf="item.status==3" style="color:#1f6b1a">Closed</ion-label>
                  <ion-label *ngIf="item.status==4" style="color:#926a6a">Reopened</ion-label>
                  <ion-label *ngIf="item.status==5" style="color:#3C7D71">Waiting for feedback</ion-label>

                </ion-item>

              </ion-col>

            </ion-row>

          </ion-grid>

          <ion-item color="none" lines="none" *ngIf="item.description!=null">
            <p class="maintenance-prob-description">
              {{item.description}}
            </p>
          </ion-item>


          <ion-row class="mb_20" *ngIf="images.length>0" (click)="showImages($event)">

            <ion-row class="story-media-container" *ngIf="images.length==1">
              <img [src]="images[0].image" style="width: 100%;" *ngIf="images && images.length ">
            </ion-row>

            <ion-row class="story-media-container" *ngIf="images.length>1">
              <img [src]="images[0].image" style="width: 100%;" *ngIf="images && images.length">
            </ion-row>

            <ion-row class="story-media-container" *ngIf="images.length>1">
              <ion-col *ngIf="images.length>=2" style="width:100%">
                <img [src]="images[1].image" *ngIf="images && images.length" style="width:100%">
              </ion-col>
              <ion-col *ngIf="images.length>=3" style="margin-left: 2px;width:100%;position: relative">
                <img [src]="images[2].image" *ngIf="images && images.length" style="width:100%">
              </ion-col>
              <ion-col *ngIf="images.length>=4" style="margin-left: 2px; position: relative;">
                <img [src]="images[3].image" *ngIf="images && images.length" style="width:100%">
                <div class="myOverlay" *ngIf="images.length>4"></div>
                <div class="num_badge" *ngIf="images.length>4">+{{images.length-4}}</div>
              </ion-col>
            </ion-row>

          </ion-row>



        </ion-card>

      </ion-col> -->

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="comment_card">

          <ion-grid class="mb-10">

            <ion-row class="bottom_line">

              <ion-col style="display: flex; justify-content: flex-start; align-self: center;">

                <ion-label class="comments_head">Comments</ion-label>

              </ion-col>

              <!-- <ion-col style="display: flex; justify-content: flex-end;" (click)="addComment()">

                <p class="add_comment_btn">Add Comment</p>

              </ion-col> -->

            </ion-row>

          </ion-grid>
          <div *ngIf="comment.length==0">
            <ion-thumbnail
              style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 10px;margin-bottom: auto;height: 250px;width: 250px;">
              <img src="assets/no-comments.png">
            </ion-thumbnail>
            <ion-item lines="none" color="none" style="margin-top: 25px;">
              <ion-label
                style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
                No comments yet</ion-label>
            </ion-item>
          </div>

          <ul *ngIf="comment.length>0" id="commentSection">

            <li [class.mc_staff]="com.user.user_type_id==1|| com.user.user_type_id==2||com.user.user_type_id==3"
              [class.mc_technician]="com.user.user_type_id==4"
              [class.mc_consumer]="com.user.user_type_id==5 || com.user.user_type_id==6"
              *ngFor="let com of comment | slice:start:end">

              <ion-icon class="comment-mo-icon" name="ellipsis-vertical" (click)="report(com,$event)"></ion-icon>

              <ion-label class="mc_date_time">
                {{com.datetime | dateformat: 'hh:mm a | DD MMMM yyyy'}}
              </ion-label>

              <ion-label class="mc_author" *ngIf="com.user!=null">
                {{com.user.name}}
              </ion-label>

              <ion-label class="mc_comment">
                {{com.comment}}
              </ion-label>
              <div *ngIf="com.comment_image.length" class="mc-attachment-container">

                <!-- <img class="mc_image" [src]="img.image" *ngFor="let img of com.comment_image"> -->

                <ion-row *ngFor="let img of com.comment_image">

                  <ion-col size="12"
                    *ngIf="img.image.includes('.jpg')||img.image.includes('.png')||img.image.includes('jpeg')">
                    <img class="mc_image col_fit" [src]="img.image" (click)="viewImage($event,img.image)">
                  </ion-col>


                  <ion-col size="12" *ngIf="img.image.includes('.pdf')||img.image.includes('.doc')"
                    (click)="openDoc(img.image)">

                    <ion-item lines="none" color="none" class="comment-document-container">

                      <ion-icon class="doc-icon" name="document-outline"></ion-icon>

                      <ion-label>{{img.image.substr(img.image.lastIndexOf('/') + 1)}}</ion-label>

                      <ion-icon class="download-icon" name="arrow-down-circle-outline"></ion-icon>

                    </ion-item>

                  </ion-col>

                </ion-row>




              </div>
            </li>

            <ion-item lines="none" color="none" *ngIf="comment.length>5 && end<comment.length">
              <ion-label class="vmore-comments" (click)="viewMore()">
                View more comments <ion-icon name="chevron-down-outline"></ion-icon>
              </ion-label>
            </ion-item>
          </ul>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>






</ion-content>

<ion-footer class="mn-details-footer">

  <ion-button class="comment-btn" (click)="addComment()">

    <ion-icon name="chatbubble-ellipses"></ion-icon>

    <ion-label>Add comment</ion-label>

  </ion-button>

</ion-footer>