ion-header {
    .header-toolbar-2 {
        // padding: 0px 15px;
        padding: 5px 5px 0;

        .header-searchbar {
            background: #fff;
            border-radius: 10px;
            width: 100% !important;
        }
    }
}

.inner-header-1 {
    padding: 20px 10px 10px;
    
    ion-toolbar {
        .header-inner-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hib-inner-left-block {
                display: flex;
                align-items: center;

                ion-buttons {
                    margin-left: -8px;
                }

                .page-title {
                    color: #fff !important;
                    font-family: "Roboto", sans-serif;
                    font-size: 20px !important;
                    font-weight: 400 !important;
                    padding-inline: 0;
                    letter-spacing: normal;
                }
            }

            .hib-inner-righ-block {
                display: flex;
                align-items: center;
                padding-right: 5px;

                ion-button {
                    --background: #2b90c5 !important;
                    --box-shadow: none;
                    --border-radius: 50px;
                    --padding-start: 0;
                    --padding-end: 0;
                    --padding-top: 0;
                    --padding-bottom: 0;
                    font-size: 22px;
                    color: #fff;
                    width: 45px;
                    height: 45px;
                }
                .header-filter-button {
                    margin-left: 15px;
                }
            }
        }
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 70px;
    --padding-bottom: 15px;
    // --background: #e3e3e3;
    --background: #fff;
}

.fixed-top-sec {
    padding: 0 10px 0;
    min-width: 100%;
    background: #fff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    top: 0;
    right: 0;

    .fts-segment {
        display: flex;
        align-items: center;
        justify-content: center;

        ion-segment-button {
            ion-label {
                font-family: "Roboto", sans-serif !important;
            }
        }

        .seg-residents {
            min-width: 80px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #222;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            text-transform: none;
            display: flex;
            align-items: center;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                // color: #0077b5;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .residents-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #e1f4ff;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-staffs {
            min-width: 55px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #222;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 40px;
            text-transform: none;
            display: flex;
            align-items: center;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                // color: #3d3d3d;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .staffs-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #d4d4d4;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-maintenance {
            min-width: 90px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #222;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 40px;
            text-transform: none;
            display: flex;
            align-items: center;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                // color: #3d3d3d;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .staffs-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #d4d4d4;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }
    }
}

.residents-row {
    ion-col {
        margin-bottom: 10px;

        .rd-card {
            box-shadow: none !important;
            margin: 5px !important;
            padding: 0 !important;
            border: 1px solid #c9edff;

            ion-card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: "Roboto", sans-serif !important;
                // background: #e4f5ff;
                background: #ebf7ff;

                .rd-res-info {
                    display: flex;
                    align-items: center;

                    ion-avatar {
                        width: 45px;
                        height: 45px;
                        // display: none;
                        margin-right: 15px;
                    }

                    ion-label {
                        font-size: 17px;
                        font-weight: 500;
                        color: #000;
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 14px;
                            font-family: "Open Sans", sans-serif;
                            color: #707070;
                        }
                    }
                }

                ion-icon {
                    font-size: 22px;
                    color: #8f8f8f;
                }
            }

            ion-card-content {
                padding-top: 10px;
                padding-left: 0;
                padding-right: 0;

                .lw {
                    font-family: "Open Sans", sans-serif;
                    font-size: 16px;
                    color: #707070;
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-left: 15px;

                    span {
                        font-weight: 600;
                        color: #ff9800;
                        margin-left: 5px;
                    }
                }

                .rd-ft-box {
                    display: flex;
                    flex-direction: column;
                    // margin-top: 10px;
                    border-bottom: 1px solid #c9edff;
                    padding-bottom: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border: none;
                    }

                    ion-label {
                        font-family: "Open Sans", sans-serif;
                        font-size: 16px;
                        color: #707070;
                        display: flex;
                        align-items: center;

                        i,
                        ion-icon {
                            font-size: 20px;
                            color: #707070;
                            margin-right: 10px;
                        }
                    }

                    .phone {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        &.privacy {
                            filter: grayscale(1) contrast(1) brightness(1);
                        }

                        .call-btn {
                            --background: #00b930;
                            --box-shadow: none;
                            --border-radius: 50px;
                            --padding-start: 0;
                            --padding-end: 0;
                            --padding-top: 0;
                            --padding-bottom: 0;
                            width: 35px;
                            height: 35px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: auto;
                            margin-right: 0;

                            ion-icon {
                                font-size: 18px;
                                color: #fff;
                                margin-right: 0;
                            }
                        }
                    }

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: #545454;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

.staffs-row {
    ion-col {
        margin-bottom: 10px;

        .staff-category-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(177, 202, 221, 0.25);
            padding: 10px 15px;
            border-radius: 10px;

            .sch-inner-left-block {
                display: flex;
                align-items: center;
                font-family: "Roboto", sans-serif !important;

                .staff-category-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: #3b79bd;
                }

                .staff-count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    color: #3b79bd;
                    background: rgb(165 200 227 / 50%);
                    padding: 5px;
                    border-radius: 50px;
                    margin-left: 10px;
                    min-width: 30px;
                    height: 30px;
                }
            }

            .sch-inner-right-block {
                display: flex;

                .sch-chevron-down {
                    font-size: 22px;
                    color: #3b79bd;
                }
            }
        }
    }

    .expanded-col {
        padding: 5px 10px 0;

        ion-row {
            ion-col {
                .rd-card {
                    box-shadow: none !important;
                    margin: 5px !important;
                    padding: 0 !important;
                    border: 1px solid #c9edff;

                    ion-card-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: "Roboto", sans-serif !important;
                        // background: #e4f5ff;
                        background: #ebf7ff;

                        .rd-staff-info {
                            display: flex;
                            align-items: center;

                            ion-avatar {
                                width: 45px;
                                height: 45px;
                                // display: none;
                                margin-right: 15px;
                            }

                            ion-label {
                                font-size: 17px;
                                font-weight: 500;
                                color: #000;
                                display: flex;
                                flex-direction: column;

                                span {
                                    font-size: 14px;
                                    font-family: "Open Sans", sans-serif;
                                    color: #707070;
                                }
                            }
                        }

                        ion-icon {
                            font-size: 22px;
                            color: #8f8f8f;
                        }
                    }

                    ion-card-content {
                        padding-top: 10px;
                        padding-left: 0;
                        padding-right: 0;

                        .lw {
                            font-family: "Open Sans", sans-serif;
                            font-size: 16px;
                            color: #707070;
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            margin-left: 15px;

                            span {
                                font-weight: 600;
                                color: #ff9800;
                                margin-left: 5px;
                            }
                        }

                        .rd-ft-box {
                            display: flex;
                            flex-direction: column;
                            // margin-top: 10px;
                            border-bottom: 1px solid #c9edff;
                            padding-bottom: 10px;
                            padding-left: 15px;
                            padding-right: 15px;
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                                padding-bottom: 0;
                                border: none;
                            }

                            ion-label {
                                font-family: "Open Sans", sans-serif;
                                font-size: 16px;
                                color: #707070;
                                display: flex;
                                align-items: center;

                                i,
                                ion-icon {
                                    font-size: 20px;
                                    color: #707070;
                                    margin-right: 10px;
                                }
                            }

                            .phone {
                                display: flex;
                                align-items: center;
                                width: 100%;

                                &.privacy {
                                    filter: grayscale(1) contrast(1) brightness(1);
                                }

                                .call-btn {
                                    --background: #00b930;
                                    --box-shadow: none;
                                    --border-radius: 50px;
                                    --padding-start: 0;
                                    --padding-end: 0;
                                    --padding-top: 0;
                                    --padding-bottom: 0;
                                    width: 35px;
                                    height: 35px;
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    margin-left: auto;
                                    margin-right: 0;

                                    ion-icon {
                                        font-size: 18px;
                                        color: #fff;
                                        margin-right: 0;
                                    }
                                }
                            }

                            span {
                                font-size: 16px;
                                font-weight: 500;
                                color: #545454;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.maintenance-row {
    ion-col {
        margin-bottom: 10px;

        .maintenance-staff-category-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(177, 202, 221, 0.25);
            padding: 10px 15px;
            border-radius: 10px;

            .msch-inner-left-block {
                display: flex;
                align-items: center;
                font-family: "Roboto", sans-serif !important;

                .m-staff-category-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: #3b79bd;
                }

                .m-staff-count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    color: #3b79bd;
                    background: rgb(165 200 227 / 50%);
                    padding: 5px;
                    border-radius: 50px;
                    margin-left: 10px;
                    min-width: 30px;
                    height: 30px;
                }
            }

            .msch-inner-right-block {
                display: flex;

                .msch-chevron-down {
                    font-size: 22px;
                    color: #3b79bd;
                }
            }
        }
    }

    .expanded-col {
        padding: 5px 10px 0;

        ion-row {
            ion-col {
                .rd-card {
                    box-shadow: none !important;
                    margin: 5px !important;
                    padding: 0 !important;
                    border: 1px solid #c9edff;

                    ion-card-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: "Roboto", sans-serif !important;
                        // background: #e4f5ff;
                        background: #ebf7ff;

                        .rd-staff-info {
                            display: flex;
                            align-items: center;

                            ion-avatar {
                                width: 45px;
                                height: 45px;
                                // display: none;
                                margin-right: 15px;
                            }

                            ion-label {
                                font-size: 17px;
                                font-weight: 500;
                                color: #000;
                                display: flex;
                                flex-direction: column;

                                span {
                                    font-size: 14px;
                                    font-family: "Open Sans", sans-serif;
                                    color: #707070;
                                }
                            }
                        }

                        ion-icon {
                            font-size: 22px;
                            color: #8f8f8f;
                        }
                    }

                    ion-card-content {
                        padding-top: 10px;
                        padding-left: 0;
                        padding-right: 0;

                        .lw {
                            font-family: "Open Sans", sans-serif;
                            font-size: 16px;
                            color: #707070;
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            margin-left: 15px;

                            span {
                                font-weight: 600;
                                color: #ff9800;
                                margin-left: 5px;
                            }
                        }

                        .rd-ft-box {
                            display: flex;
                            flex-direction: column;
                            // margin-top: 10px;
                            border-bottom: 1px solid #c9edff;
                            padding-bottom: 10px;
                            padding-left: 15px;
                            padding-right: 15px;
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                                padding-bottom: 0;
                                border: none;
                            }

                            ion-label {
                                font-family: "Open Sans", sans-serif;
                                font-size: 16px;
                                color: #707070;
                                display: flex;
                                align-items: center;

                                i,
                                ion-icon {
                                    font-size: 20px;
                                    color: #707070;
                                    margin-right: 10px;
                                }
                            }

                            .phone {
                                display: flex;
                                align-items: center;
                                width: 100%;

                                &.privacy {
                                    filter: grayscale(1) contrast(1) brightness(1);
                                }

                                .call-btn {
                                    --background: #00b930;
                                    --box-shadow: none;
                                    --border-radius: 50px;
                                    --padding-start: 0;
                                    --padding-end: 0;
                                    --padding-top: 0;
                                    --padding-bottom: 0;
                                    width: 35px;
                                    height: 35px;
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    margin-left: auto;
                                    margin-right: 0;

                                    ion-icon {
                                        font-size: 18px;
                                        color: #fff;
                                        margin-right: 0;
                                    }
                                }
                            }

                            span {
                                font-size: 16px;
                                font-weight: 500;
                                color: #545454;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.d-none {
    display: none;
}
