<ion-header class="inner-header-1">

  <ion-toolbar color="none">

    <div class="header-inner-block">

      <div class="hib-inner-left-block">

        <ion-buttons slot="start" mode="md">
          <ion-back-button style="color: white;" text="" [routerLink]="['/resident-overview',{flag:flag}]">
          </ion-back-button>
        </ion-buttons>

        <ion-title class="page-title" mode="md">Resident directory</ion-title>

      </div>

      <div class="hib-inner-righ-block">

        <ion-button class="header-sort-button">
          <i class="las la-sort-amount-up-alt"></i>
        </ion-button>

        <ion-button class="header-filter-button">
          <i class="las la-filter"></i>
        </ion-button>

      </div>

    </div>

  </ion-toolbar>

  <ion-toolbar color="none" class="header-toolbar-2">

    <ion-searchbar no-padding color="none" placeholder="search residents" search-icon="none"
      class="header-searchbar"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment class="fts-segment" mode="md" [scrollable]="true">

      <ion-segment-button class="seg-residents" value="1" (click)="changeView(1)">

        <ion-label>Residents
          <!-- <span class="all-act-count">50</span> -->
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-staffs" value="2" (click)="changeView(2)">

        <ion-label>Staffs
          <!-- <span class="my-act-count">10</span> -->
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-maintenance" value="3" (click)="changeView(3)">

        <ion-label>Maintenance
          <!-- <span class="my-act-count">10</span> -->
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <!---  residents tab starts here  --->

  <ion-row class="residents-row">

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="rd-card">

        <ion-card-header>

          <div class="rd-res-info">

            <ion-avatar>
              <img src="https://app.centrim.life/public/media/profile_pic/1632757172.png">
            </ion-avatar>

            <ion-label>
              Aaron Adrian
              <span>Woodside1</span>
            </ion-label>

          </div>

          <ion-icon name="chevron-down-outline"></ion-icon>

        </ion-card-header>

        <ion-card-content>

          <!-- <div class="rd-ft-box">

            <ion-label> <i class="las la-building"></i> Woodside1 </ion-label>

          </div> -->

          <ion-text class="lw">Living with <span>Amanda Mills</span></ion-text>

          <div class="rd-ft-box">

            <ion-label class="phone">
              <i class="las la-phone"></i> 4567389120

              <ion-button class="call-btn">
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label class="phone">
              <ion-icon name="phone-portrait-outline"></ion-icon> 0666454966

              <ion-button class="call-btn">
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label> <i class="las la-envelope"></i> aaron11@ecaret.com </ion-label>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="rd-card">

        <ion-card-header>

          <div class="rd-res-info">

            <ion-avatar>
              <img src="https://app.centrim.life/public/media/profile_pic/1632757389.png">
            </ion-avatar>

            <ion-label>
              Aiden Sebastian
              <span>Woodside2</span>
            </ion-label>

          </div>

          <ion-icon name="chevron-down-outline"></ion-icon>

        </ion-card-header>

        <ion-card-content class="d-none">

          <!-- <div class="rd-ft-box">

            <ion-label> <i class="las la-building"></i> Woodside2 </ion-label>

          </div> -->

          <div class="rd-ft-box">

            <ion-label> <i class="las la-envelope"></i> aiden01@ecaret.com </ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label> <i class="las la-phone"></i> 61433713394 </ion-label>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="rd-card">

        <ion-card-header>

          <div class="rd-res-info">

            <ion-avatar>
              <img src="https://app.centrim.life/public/media/profile_pic/1632757764.png">
            </ion-avatar>

            <ion-label>
              Amelia Anderson
              <span>Woodside3</span>
            </ion-label>

          </div>

          <ion-icon name="chevron-down-outline"></ion-icon>

        </ion-card-header>

        <ion-card-content class="d-none">

          <!-- <div class="rd-ft-box">

            <ion-label> <i class="las la-building"></i> Woodside2 </ion-label>

          </div> -->

          <div class="rd-ft-box">

            <ion-label> <i class="las la-envelope"></i> ameliaanderson@ecaret.com </ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label> <i class="las la-phone"></i> 61433713394 </ion-label>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="rd-card">

        <ion-card-header>

          <div class="rd-res-info">

            <ion-avatar>
              <img src="https://app.centrim.life/public/media/profile_pic/1632758592.png">
            </ion-avatar>

            <ion-label>
              Harvey Levi
              <span>Woodside4</span>
            </ion-label>

          </div>

          <ion-icon name="chevron-down-outline"></ion-icon>

        </ion-card-header>

        <ion-card-content class="d-none">

          <!-- <div class="rd-ft-box">

            <ion-label> <i class="las la-building"></i> Woodside2 </ion-label>

          </div> -->

          <div class="rd-ft-box">

            <ion-label> <i class="las la-envelope"></i> harvey02@ecaret.com</ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label> <i class="las la-phone"></i> 61567890210 </ion-label>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="rd-card">

        <ion-card-header>

          <div class="rd-res-info">

            <ion-avatar>
              <img src="https://app.centrim.life/public/media/profile_pic/1632759781.png">
            </ion-avatar>

            <ion-label>
              Luna Chloe
              <span>Woodside5</span>
            </ion-label>

          </div>

          <ion-icon name="chevron-down-outline"></ion-icon>

        </ion-card-header>

        <ion-card-content class="d-none">

          <!-- <div class="rd-ft-box">

            <ion-label> <i class="las la-building"></i> Woodside6 </ion-label>

          </div> -->

          <div class="rd-ft-box">

            <ion-label> <i class="las la-envelope"></i> luna01@ecaret.com</ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label> <i class="las la-phone"></i> 61343567670 </ion-label>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="rd-card">

        <ion-card-header>

          <div class="rd-res-info">

            <ion-avatar>
              <img src="https://app.centrim.life/public/media/profile_pic/1632759781.png">
            </ion-avatar>

            <ion-label>
              Louis Amstrong
              <span>Woodside6</span>
            </ion-label>

          </div>

          <ion-icon name="chevron-down-outline"></ion-icon>

        </ion-card-header>

        <ion-card-content class="d-none">

          <!-- <div class="rd-ft-box">

            <ion-label> <i class="las la-building"></i> Woodside7 </ion-label>

          </div> -->

          <div class="rd-ft-box">

            <ion-label> <i class="las la-envelope"></i> louis01@ecaret.com</ion-label>

          </div>

          <div class="rd-ft-box">

            <ion-label> <i class="las la-phone"></i> 61123456789 </ion-label>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

  </ion-row>

  <!------ residents tab ends here ------>

  <!------ staffs tab starts here ------>

  <ion-row class="staffs-row">

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <div class="staff-category-holder">

        <div class="sch-inner-left-block">

          <ion-text class="staff-category-name">Reception</ion-text>
          <span class="staff-count">2</span>

        </div>

        <div class="sch-inner-right-block">
          <ion-icon class="sch-chevron-down" name="chevron-down-outline"></ion-icon>
        </div>

      </div>

    </ion-col>

    <ion-col class="expanded-col" size="12">

      <ion-row>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/3290060/pexels-photo-3290060.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Melissa
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content>

              <div class="rd-ft-box">

                <ion-label class="phone">
                  <i class="las la-phone"></i> 5894679559

                  <ion-button class="call-btn">
                    <ion-icon name="call"></ion-icon>
                  </ion-button>
                </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label class="phone">
                  <ion-icon name="phone-portrait-outline"></ion-icon> 2565985558

                  <ion-button class="call-btn">
                    <ion-icon name="call"></ion-icon>
                  </ion-button>
                </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> shonadudley@gmail.com </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </ion-avatar>

                <ion-label>
                  Charlotte
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> aiden01@ecaret.com </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61433713394 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-col>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <div class="staff-category-holder">

        <div class="sch-inner-left-block">

          <ion-text class="staff-category-name">staff</ion-text>
          <span class="staff-count">4</span>

        </div>

        <div class="sch-inner-right-block">
          <ion-icon class="sch-chevron-down" name="chevron-down-outline"></ion-icon>
        </div>

      </div>

    </ion-col>

    <ion-col size="12" class="expanded-col">

      <ion-row>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/2790437/pexels-photo-2790437.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Evelyn Fernandez
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> ameliaanderson@ecaret.com </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61433713394 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/2987546/pexels-photo-2987546.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Grace
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> harvey02@ecaret.com</ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61567890210 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/3216324/pexels-photo-3216324.png?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Lily dane
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> luna01@ecaret.com</ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61343567670 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/1852381/pexels-photo-1852381.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Scarlett
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> louis01@ecaret.com</ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61123456789 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-col>

  </ion-row>

  <!------ staffs tab ends here ------>

  <!------ Maintenance tab starts here ------>

  <ion-row class="maintenance-row ">

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <div class="maintenance-staff-category-holder">

        <div class="msch-inner-left-block">

          <ion-text class="m-staff-category-name">IT Support</ion-text>
          <span class="m-staff-count">2</span>

        </div>

        <div class="msch-inner-right-block">
          <ion-icon class="msch-chevron-down" name="chevron-down-outline"></ion-icon>
        </div>

      </div>

    </ion-col>

    <ion-col class="expanded-col" size="12">

      <ion-row>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/3290060/pexels-photo-3290060.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Melissa
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content>

              <div class="rd-ft-box">

                <ion-label class="phone">
                  <i class="las la-phone"></i> 5894679559

                  <ion-button class="call-btn">
                    <ion-icon name="call"></ion-icon>
                  </ion-button>
                </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label class="phone">
                  <ion-icon name="phone-portrait-outline"></ion-icon> 2565985558

                  <ion-button class="call-btn">
                    <ion-icon name="call"></ion-icon>
                  </ion-button>
                </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> shonadudley@gmail.com </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </ion-avatar>

                <ion-label>
                  Charlotte
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> aiden01@ecaret.com </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61433713394 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-col>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <div class="maintenance-staff-category-holder">

        <div class="msch-inner-left-block">
          <ion-text class="m-staff-category-name">staff</ion-text>
          <span class="m-staff-count">4</span>
        </div>

        <div class="msch-inner-right-block">
          <ion-icon class="msch-chevron-down" name="chevron-down-outline"></ion-icon>
        </div>

      </div>

    </ion-col>

    <ion-col size="12" class="expanded-col">

      <ion-row>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/2790437/pexels-photo-2790437.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Evelyn Fernandez
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> ameliaanderson@ecaret.com </ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61433713394 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/2987546/pexels-photo-2987546.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Grace
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> harvey02@ecaret.com</ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61567890210 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/3216324/pexels-photo-3216324.png?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Lily dane
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> luna01@ecaret.com</ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61343567670 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-card class="rd-card">

            <ion-card-header>

              <div class="rd-staff-info">

                <ion-avatar>
                  <img
                    src="https://images.pexels.com/photos/1852381/pexels-photo-1852381.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
                </ion-avatar>

                <ion-label>
                  Scarlett
                  <span>Village Manager</span>
                </ion-label>

              </div>

              <ion-icon name="chevron-down-outline"></ion-icon>

            </ion-card-header>

            <ion-card-content class="d-none">

              <!-- <div class="rd-ft-box">
    
                <ion-label> <i class="las la-user-tie"></i> Village Manager </ion-label>
    
              </div> -->

              <div class="rd-ft-box">

                <ion-label> <i class="las la-envelope"></i> louis01@ecaret.com</ion-label>

              </div>

              <div class="rd-ft-box">

                <ion-label> <i class="las la-phone"></i> 61123456789 </ion-label>

              </div>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-col>

  </ion-row>

  <!------ Maintenance tab ends here ------>

</ion-content>