

<ion-content class="vmanage">

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <p class="welcome-text">
            If you are going out with a family member/friend, please enter their name
          </p>

        </ion-col>

        <ion-col size="12" class="vm-form">

          <ion-label>Name</ion-label>

          <ion-input class="custom-input" ></ion-input>

        </ion-col>

        


      </ion-row>

    </ion-grid>

  </div>


</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

<ion-grid>

  <ion-col size="6">

    <ion-button class="back-btn" [routerLink]="['/menu']">
      
      <ion-icon name="arrow-back-outline"></ion-icon> 
      Back

    </ion-button>

  </ion-col>

  <ion-col size="6">

    <ion-button class="next-btn" (click)="next()">
      
      Next 
      <ion-icon name="arrow-forward-outline"></ion-icon>
    
    </ion-button>

  </ion-col>

</ion-grid>

</ion-footer>