// ion-card{
//     height: 50px;
//     margin-top: 30px;

// }
// ion-label{
//     margin-left: 15px;

// }

.inner-header-1 {
  ion-buttons {
      // align-self: flex-start;
      margin-left: -5px;
  }

  ion-button {
      margin-right: -5px;
  }
}

ion-content {
  --background: #efefef;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}

.resource_list_card {
  padding: 15px 20px;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 5px;
  margin-bottom: 15px !important;
  border: 1px solid #dfdfdf;
  box-shadow: none;
}

.resource_search_1 {
  width: 95% !important;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  --inner-padding-end: 0;
  background: #fff;
  color: #222 !important;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.resources-items-block {
  ion-col {
    margin-bottom: 20px !important;

    .threesixty_video_card {
      padding: 20px !important;
      border: 1px solid #dfdfdf;
      box-shadow: none;
      height: 100%;

      .video_name {
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .resource_search_1 {
    height: 45px;
  }
}

@media only screen and (min-width: 768px) {
  .resource_search_1 {
    height: 45px;
  }
}

.resources-parent-name-holder {
  display: flex;
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 1px solid #cbcbcb;

  .rpnh-label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
}