ion-header {
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif !important;

    .page_title {
        ion-icon {
            vertical-align: middle;
        }

        ion-label {
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-family: "Poppins", sans-serif !important;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .oops-icon {
        max-width: 100px;
        margin: 20px auto;
        display: block;
    }

    .oops-title {
        display: block;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
        color:#222;
    }

    .oops-para {
        text-align: center;
        display: block;
        font-size: 18px;
        color:#222;
    }
}



ion-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .continue-btn1 {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0;
        display: block;
        max-width: fit-content;
        min-width: 92px;
    }
}