<ion-header class="inner-header-1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-icon name="arrow-back-outline" (click)="continue()"></ion-icon>

        <ion-label>Warning</ion-label>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-header>

<ion-content>

  <div class="main-content-wrapper">

    <img class="oops-icon" src="/assets/oops-icon.svg">

    <ion-label class="oops-title">Oops!</ion-label>
    <ion-label class="oops-para" *ngIf="data==1">
      Sorry, you can only book site visits 1 day in advance.
    </ion-label>
    <ion-label class="oops-para" *ngIf="data==2">
      Sorry, you can only book site visits 2 weeks in advance.Please choose an alternate date and time.
    </ion-label>

  </div>

</ion-content>

<ion-footer>

  <ion-button class="continue-btn1" (click)="continue()">Continue</ion-button>

</ion-footer>