// ion-content {
//     padding-inline-start: 20px;
//     padding-inline-end: 20px;
//     --padding-start: 20px;
//     --padding-end: 20px;
//     --padding-top: 20px;
//     --padding-bottom: 20px;
// }

.alternate-header {
    position: absolute;
    top: 10px;

    ion-back-button {
        color: #fff;
        --padding-start: 0;
    }

    ion-label {
        color: #fff !important;
        font-size: 20px !important;
        font-weight: 400 !important;
    }
}

.give-us-feedback {
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    color: #1c1c1c;
    margin-bottom: 15px;
}

.feedback-bg-blue {
    display: flex !important;
    padding: 10px !important;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    justify-content: center
}

.fdbk-previous-btn {
    --background: transparent;
    --border-radius: 50px;
    --box-shadow: none;
    --color: #8e8e8e;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    max-width: 130px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    text-transform: none;

    ion-icon {
        margin-right: 5px;
        display: inline-table;
    }
}

.fdbk-continue-btn {
    display: inline-flex !important;
    float: right;
}

ion-footer {
    ion-toolbar {
        // max-width: fit-content;
        // margin-left: auto;
        // margin-right: auto;

        ion-button {
            margin: 0px 5px !important;
            letter-spacing: normal !important;
        }
    }
}




@media only screen and (max-width:767px) {

    .sm-top-25 {
        position: relative;
        top: 25px;
    }

    .feedback-bg-blue {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        padding: 10px !important;
    }

    .alternate-header {
        position: absolute;
        top: 10px;
    }

    .give-us-feedback {
        margin-bottom: 5px !important;
        font-size: 18px;
    }

    .feedback-white-box {
        padding: 10px !important;
        margin: 10px auto !important;
    }

    .fdbk-box {
        border-radius: 10px !important;
        background-color: #FFF !important;
        box-shadow: none !important;
        padding: 10px 15px;
        margin: 5px;
        border: 1px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        min-width: 160px;


        img {
            width: 75px;
            display: flex;
            vertical-align: middle;
        }

        ion-label {
            font-size: 16px;
            color: #1c1c1c;
            text-align: center;
            display: flex;
            margin-top: 20px;
            margin-left: 0;
            vertical-align: middle;
            align-self: center;
        }
    }

    .fdbk-textarea {
        border: 1px solid #c8c8c8;
        border-radius: 8px;
        max-height: 170px !important;
        overflow-y: scroll;
        height: auto;
    }

    .fdbk-add-image {

        ion-col:nth-child(2) {
            padding-left: 10px;
        }

        ion-label {
            font-size: 16px;
            color: #828282;
            margin-left: 0;
        }
    }

    .feedback-card {
        background: rgb(236 236 236 / 50%);
        border-color: rgb(236 236 236 / 50%);
        display: flex;
        flex-direction: column;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        padding: 35px;
        height: 145px;
        width: 145px;
        margin: 10px;

        img {
            height: 50px;
            display: flex;
            margin-bottom: 10px;
        }
    }

    .fdbk-continue-btn {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        max-width: 130px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-transform: none;
    }

    .feedback-footer {
        padding: 5px 20px;
    }

    .feedback-choose-resident {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

@media only screen and (min-width:768px) {

    .feedback-bg-blue {
        .feedback-white-box {
            .fdbk-box {
                padding: 25px 50px;
            }
        }
    }

    .alternate-header {
        position: absolute;
        top: 30px;
    }

    .feedback-bg-blue {
        display: flex !important;
        flex-direction: column;
        height: 100vh;
        justify-content: center;


        .feedback-white-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: block;
            margin: 10px auto;
            width: fit-content;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            align-self: center;
        }
    }

    .feedback-bg-blue {
        .feedback-white-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: block;
            // margin: 10px auto;
            margin-top: 20px !important;
            width: fit-content;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            align-self: center;

            .fdbk-box {
                padding: 25px 50px;
            }
        }
    }

    .feedback-card {
        background: rgb(236 236 236 / 50%);
        border-color: rgb(236 236 236 / 50%);
        display: flex;
        flex-direction: column;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        padding: 35px;
        height: 145px;
        width: 145px;
        margin: 15px;

        img {
            height: 50px;
            display: flex;
            margin-bottom: 10px;
        }
    }

    .feedback-bg-blue {
        padding: 10px 40px !important;
        display: flex !important;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    .alternate-header {
        position: absolute;
        top: 30px;
    }

    .fdbk-textarea {
        border: 1px solid #c8c8c8;
        border-radius: 8px;
        max-height: 200px !important;
        overflow-y: scroll;
    }

    .feedback-footer {
        padding: 10px 20px;
    }

}


ion-footer {
    ion-toolbar {
        --background: transparent !important;
    }
}

.fdbk_selected {
    border: 2px solid #0077b5 !important;

}

.feedback-choose-resident {
    border: 1px solid #cecece;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;

    ion-label {
        padding-left: 10px;
    }
}

.remove-img {
    top: 0px !important;
    position: absolute;
    right: -7px;
    font-size: 22px;
    color: #fff;
    background-color: #040404;
    border-radius: 50px;
}

.uploaded-images-container {

    ion-col {
        padding: 0px 10px;

        .uploaded-image {
            position: relative;
            top: 10px;

            img {
                border-radius: 6px;
            }
        }

    }

}

.no-access{
    ion-avatar{

       img {
         -webkit-filter: grayscale(100%);
         /* Safari 6.0 - 9.0 */
         filter: grayscale(100%);
       }
   }
     ion-label{
         
         color: #c6c6c6 !important;
     }
    
  }