<!-- <ion-header no-padding color="none">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Choose</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="feedback-bg-blue">

    <span class="alternate-header">
      <ion-buttons slot="start">
        <ion-back-button text="" [routerLink]="['/menu']"></ion-back-button>
        <ion-label>Feedback</ion-label>
      </ion-buttons>
    </span>
    <span class="feedback-white-box mt-zero" *ngIf="show==4&&utype==6">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Feedback for</ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let item of contacts"
            [class.fdbk_selected]="con_id==item.user_id" (click)="selectConsumer(item.user_id,item)">
            <ion-item lines="none" color="none" class="feedback-choose-resident">

              <ion-avatar>
                <img [src]="item.user.profile_pic">
              </ion-avatar>

              <ion-label>
                {{item.user.name}}
              </ion-label>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </span>
    <span class="feedback-white-box mt-zero" *ngIf="show==0">
      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Please choose from below</ion-label>
      </ion-item>

      <ion-grid>

        <ion-row>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(1)" class="align_center">

            <div class="fdbk-box" [class.fdbk_selected]="type==1">

              <img src="assets/clap.png">

              <ion-label>Compliment</ion-label>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(2)" class="align_center">

            <div class="fdbk-box" [class.fdbk_selected]="type==2">

              <img src="assets/unlike.png">

              <ion-label>Complaint</ion-label>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(3)" class="align_center">

            <div class="fdbk-box" [class.fdbk_selected]="type==3">

              <img src="assets/bulb.png">

              <ion-label>Suggestion</ion-label>

            </div>

          </ion-col>

        </ion-row>

      </ion-grid>

    </span>

    <span class="feedback-white-box mt-zero sm-top-25" *ngIf="show==1">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Pick a category</ion-label>
      </ion-item>

      <ion-grid id="cat">

        <ion-row>




          <ion-col size="6" size-sm="6" size-md="3" size-lg="2" *ngFor="let cat of category">

            <span class="feedback-card" (click)="gotoFeedback(cat)" [class.fdbk_selected]="cat_id==cat.id">

              <img src="/assets/feedback/categories/care.svg" *ngIf="cat.id==1">
              <img src="/assets/feedback/categories/lifestyle.svg" *ngIf="cat.id==2">
              <img src="/assets/feedback/categories/food.svg" *ngIf="cat.id==3">
              <img src="/assets/feedback/categories/environment.svg" *ngIf="cat.id==4">
              <img src="/assets/feedback/categories/staff.svg" *ngIf="cat.id==5">
              <img src="/assets/feedback/categories/others.svg" *ngIf="cat.id==6">

              <ion-label>{{cat.name}}</ion-label>

            </span>

          </ion-col>
        </ion-row>

      </ion-grid>

    </span>

    <span class="feedback-white-box mt-zero" style="padding:5px 15px !important; width: 100%;" *ngIf="show==2">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Enter your feedback</ion-label>
      </ion-item>

      <form (ngSubmit)="submit()">
        <span class="padding-20" id="feed">

          <ion-textarea rows="20" name="feedback" class="fdbk-textarea" [(ngModel)]="feedback">

          </ion-textarea>

          <div class="fdbk-add-image" (click)="selectImage()" *ngIf="imageResponse.length<5">
            <ion-row>
              <ion-col size="2" class="col_fit">
                <ion-icon name="attach"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-label>Would you like to add any attachments?</ion-label>
              </ion-col>
            </ion-row>





          </div>
          <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

            <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">

              <ion-thumbnail class="uploaded-image">
                <img src="{{item}}">
                <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
              </ion-thumbnail>

            </ion-col>

          </ion-row>

        </span>
        <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>
      </form>

    </span>


    <!-- <ion-button fill="clear"  style="color:#fff;text-transform: none; font-weight: normal;" *ngIf="show!=0" (click)="previous()">Previous</ion-button> -->
  </div>


  <!-- </div> -->

</ion-content>

<ion-footer class="ion-no-border feedback-footer" no-border style="box-shadow: none;"
  *ngIf="(contacts.length>1&&show!=4)||(contacts.length<=1&&show!=0)">
  <ion-toolbar>

    <ion-button class="fdbk-previous-btn" *ngIf="(contacts.length>1&&show!=4)||(contacts.length<=1&&show!=0)"
      (click)="previous()">

      <ion-icon name="arrow-back-outline"></ion-icon> Previous

    </ion-button>

    <ion-button class="fdbk-continue-btn" (click)="submit()" *ngIf="show==2">Continue</ion-button>

    <!-- <span class="dflex-jc">
      <ion-button class="fdbk-continue-btn" (click)="submit()" *ngIf="show==2">Continue</ion-button>
    </span> -->

    <!-- <ion-button class="fdbk-continue-btn lfa-btn" (click)="submit()">Leave Feedback Anonymously</ion-button> -->
  </ion-toolbar>
</ion-footer>