.alternate-header ion-back-button {
  color: #fff;
  --padding-start: 0;
}

.alternate-header ion-label {
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}

.give-us-feedback {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  width: 100%;
  color: #1c1c1c;
  margin-bottom: 15px;
}

.feedback-bg-blue {
  display: block !important;
  padding: 10px !important;
}

@media only screen and (max-width: 767px) {
  .give-us-feedback {
    margin-bottom: 5px !important;
    font-size: 18px;
  }
  .feedback-white-box {
    padding: 10px !important;
    margin: 10px auto !important;
  }
  .fdbk-box {
    border-radius: 10px !important;
    background-color: #FFF !important;
    box-shadow: none !important;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-width: 160px;
  }
  .fdbk-box img {
    width: 75px;
    display: flex;
    vertical-align: middle;
  }
  .fdbk-box ion-label {
    font-size: 16px;
    color: #1c1c1c;
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin-left: 0;
    vertical-align: middle;
    align-self: center;
  }
  .fdbk-textarea {
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    max-height: 170px !important;
    overflow-y: scroll;
    height: auto;
  }
  .fdbk-add-image ion-col:nth-child(2) {
    padding-left: 10px;
  }
  .fdbk-add-image ion-label {
    font-size: 16px;
    color: #828282;
    margin-left: 0;
  }
  .feedback-card {
    background: #e9fbff;
    border-color: #e9fbff;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    padding: 35px;
    height: 145px;
    width: 145px;
    margin: 10px;
  }
  .feedback-card img {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
  }
  .fdbk-continue-btn {
    --background: #0077b5;
    --border-radius: 50px;
    --box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    max-width: 130px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-transform: none;
  }
  .feedback-footer {
    padding: 5px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .feedback-bg-blue .feedback-white-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    width: -webkit-fill-available;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
  }
  .feedback-card {
    background: #e9fbff;
    border-color: #e9fbff;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    padding: 35px;
    height: 145px;
    width: 145px;
    margin: 15px;
  }
  .feedback-card img {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
  }
  .feedback-bg-blue {
    padding: 10px 40px !important;
  }
  .fdbk-textarea {
    border: 1px solid #c8c8c8;
    border-radius: 8px;
    max-height: 200px !important;
    overflow-y: scroll;
  }
}

ion-footer ion-toolbar {
  --background: transparent !important;
}

.fdbk_selected {
  border: 2px solid #0077b5 !important;
}
