<ion-item lines="none" color="none" class="popover-header">
  <ion-label class="comments-heading">Comments</ion-label>
</ion-item>
<ion-item lines="none" color="none" class="comments">
  <ion-label>{{data}}</ion-label>
</ion-item>
