<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons mode="md" slot="start">
      <ion-back-button style="color: white;"  text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-label class="page_title" >Resources</ion-label>
    <ion-button slot="end" fill="clear" (click)="search()" *ngIf="!hide">
      <img src="assets/lens_icon.svg">
    </ion-button>
  </ion-toolbar>
  <ion-searchbar *ngIf="hide" no-padding color="none" placeholder="Search" search-icon="none" class="resource_search_1"
      [(ngModel)]="terms" (ionCancel)="cancel()" (ionChange)="search1(terms)"></ion-searchbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>
  <!-- <ion-item lines="none">
    <ion-icon class="list_icon" slot="end"></ion-icon>
  </ion-item> -->

  <ion-card class="resource_list_card" *ngFor="let item of resource"
    (click)="openFolder(item)" [class.doNotShow]="item.visibility==2">
    <!-- <ion-item lines="none">
      <ion-icon class="folder_icon"></ion-icon>
      <ion-label>{{item.title}}</ion-label>
    </ion-item> -->
    <ion-row style="flex-wrap:nowrap" class="resources-list-row">

      <ion-col size="12" style="align-self: center;">
        <img class="resource-icon" src="/assets/menu/new-icons/resources.svg">
        <ion-label>{{item.title}}</ion-label>

        <ion-icon class="go-to-resources-inner-icon" name="chevron-forward-outline"></ion-icon>

      </ion-col>

      <!-- <ion-col size="1" class="align_flex-end" style="align-self: center;">
        <ion-icon class="c_black" name="chevron-forward-outline"></ion-icon>
      </ion-col> -->

    </ion-row>
  </ion-card>
 
  <ion-card class="resource_list_card"  *ngFor="let item of doc" (click)="openDoc(item)" [class.doNotShow]="item.visibility==2">
    <ion-item lines="none" color="none">
      <ion-icon class="pdf_icon" *ngIf="item.file_ext=='pdf'"></ion-icon>
      <ion-icon class="ms_word_doc_icon" *ngIf="item.file_ext=='doc'||item.file_ext=='docx'"></ion-icon>
      <ion-icon class="excel_icon" *ngIf="item.file_ext=='xlsx'||item.file_ext=='xls'"></ion-icon>
      <ion-icon class="weblink_icon" *ngIf="item.file_ext=='null'"></ion-icon>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
    </ion-card>
  
  <!-- <ion-card class="resource_list_card" [routerLink]="['/resources-details']">
    <ion-item lines="none">
      <ion-icon class="folder_icon"></ion-icon>
      <ion-label>Office document 2020</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="resource_list_card" [routerLink]="['/resources-details']">
    <ion-item lines="none">
      <ion-icon class="folder_icon"></ion-icon>
      <ion-label>Office document 2020</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="resource_list_card" [routerLink]="['/resources-details']">
    <ion-item lines="none">
      <ion-icon class="folder_icon"></ion-icon>
      <ion-label>Office document 2020</ion-label>
    </ion-item>
  </ion-card> -->

  <div *ngIf="resource.length==0 ">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-resources.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Documents Found.</ion-label>
    </ion-item>
  </div>

</ion-content>