.inner-header-1 {
    ion-toolbar {
        ion-buttons {
            margin-left: -5px;
        }
    }
}

ion-content {
    --padding-top: 10px;
    --background: #efefef;
}

@media (min-width: 1024px) {
    ion-card {
        padding: 15px 20px !important;
    }
}

// }
// ion-label{
//     margin-left: 15px;

// }

@media screen and (min-width: 768px) {
    .folder_icon {
        background-image: url(/assets/tab-icons/resources_icon.svg);
        background-repeat: no-repeat;
        width: 34px;
        height: 34px;
    }
}

.resource_search_1 {
    width: 95% !important;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    --inner-padding-end: 0;
    background: #fff;
    color: #222 !important;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.page_title {
    // margin-left: 10px;
    display: flex;
}

.resource_list_card {
}

.resource_list_card {
    padding: 15px 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 15px !important;
    margin-right: 15px !important;

    .resource-icon {
        width: 32px;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 768px) {
    .resource_list_card {
        padding: 15px 20px;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 15px !important;
        margin-right: 15px !important;

        .resource-icon {
            width: 40px !important;
            vertical-align: middle;
        }
    }
}

.resource_list_card {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    .resources-list-row {
        ion-col {
            display: flex;
            align-items: center;

            .resource-icon-icon {
                width: 32px;
                vertical-align: middle;
            }

            ion-label {
                padding-right: 15px;
            }

            .go-to-resources-inner-icon {
                font-size: 25px;
                color: #8a8a8a;
                vertical-align: middle;
                margin-left: auto;
                min-width: 25px;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .resource_search_1 {
        height: 45px;
    }
}

@media only screen and (min-width: 768px) {
    .resource_search_1 {
        height: 45px;
    }
}
