.filter {
    text-align: left !important;
    color: #1c1c1c !important;
    font-size: 15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-inline-end: 0px !important;
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
    --min-height: auto !important;
  }
  .sub_filter{
      margin-left:40px;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    margin-inline-end: 0px !important;
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
    --min-height: auto !important;
  }

  .seperator{
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    color: #C8C8C8 !important;
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }