

<div *ngFor="let item of filters;let i =index">
  <ion-item style="margin-top: 15px;" lines="none" color="none" *ngIf="item.sub==null" (click)="selected(item,0)">
    <ion-label class="filter">{{item.filter}}</ion-label>
  </ion-item>
<ion-item style="margin-top: 15px;" lines="none" color="none" (click)="expand(item,i)" *ngIf="item.sub!=null">
  <ion-label class="filter">{{item.filter}}</ion-label>
  <ion-icon name="chevron-down-outline" size="small" ></ion-icon>
</ion-item>

<ion-list lines="none" *ngIf="sel_index==i">
  
    <ion-item lines="none" color="none" style="margin-top: 15px;width: 100%;" class="sub_filter" *ngFor="let sub of item.sub" (click)="selected(item,sub.id)">
      {{sub.status}}
    </ion-item>

  
</ion-list>
<hr class="seperator" *ngIf="i!=(filters.length-1)">
</div>
<!-- <ion-item lines="none" style="margin-top: -5px;" (click)="exStatus()">
  <ion-label class="act_filter">Status</ion-label>
  <ion-icon name="chevron-arrow-forward"></ion-icon>
</ion-item>

<ion-item lines="none">
  <app-expandable expandHeight="700px" [expanded]="item.expanded">
    <div style="width: 100%;text-align: right;">
       <ion-label class="act_filter">Pending</ion-label>
    </div>
    <div style="width: 100%;text-align: right;">
      <ion-label class="act_filter">Inprogress</ion-label>
    </div>
   <div style="width: 100%;text-align: right;">
    <ion-label class="act_filter">Waiting for feedback</ion-label>
   </div>
   <div style="width: 100%;text-align: right;">
    <ion-label class="act_filter">With third party</ion-label>
   </div>
   
  </app-expandable>
</ion-item>

<hr class="filter_sep">


<ion-item lines="none" style="margin-top: -5px;"  (click)="byDate()">
  <ion-label class="act_filter">Date</ion-label>
  <ion-icon name="chevron-arrow-forward"></ion-icon>
</ion-item>

<hr class="filter_sep">

<ion-item  style="margin-bottom: 15px;" lines="none" (click)="byRisk()">
  <ion-label class="act_filter">Risk rating</ion-label>
  <ion-icon name="chevron-arrow-forward"></ion-icon>
</ion-item> -->
