<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: black;" text="" (click)="back()"></ion-back-button>
    </ion-buttons> -->
<!-- <ion-title>feedbackFivesmiley</ion-title> -->
<!-- </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="feedback-bg-blue">
    <span class="alternate-header">
      <ion-buttons mode="md" class="back-btn">
        <ion-back-button style="color:#fff;" text="" (click)="back()"></ion-back-button>
      </ion-buttons>
    </span>
    <span class="feedback-white-box" style="margin-top: 0px !important;">

      <div *ngIf="suggestion">
        <div *ngFor="let item of questions | slice:noOfItem-1:noOfItem">
          <ion-item lines="none" color="none">
            <ion-label class="feedback_que">{{item.question}}</ion-label>
          </ion-item>

          <!---------------------------- five-smiley template --------------------------------->


          <ion-grid *ngIf="item.type=='2'">
            <ion-row class="fdbk-smiley-row">

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[0],item)">
                <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/very-bad.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[0].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[1],item)">
                <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/bad.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[1].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[2],item)">
                <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[2].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/good.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[2].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[3],item)">
                <!-- <ion-icon class="very_good_icon smiley" ></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[3].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/very-good.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[3].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[4],item)">
                <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[4].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/excellent.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[4].option}}</ion-label>
              </ion-col>

            </ion-row>
          </ion-grid>
          <!--------------------------four smiley template------------------------------------>

          <ion-grid *ngIf="item.type=='1'">
            <ion-row style="flex-wrap:wrap;">

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[0],item)">
                <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/very-bad.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[0].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[1],item)">
                <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/bad.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[1].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[2],item)">
                <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[2].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/good.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[2].option}}</ion-label>
              </ion-col>

              <!-- <ion-col>
      
      
      <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/very-good.gif" />
      </ion-avatar>
      <ion-label class="label">Very Good</ion-label>
    </ion-col> -->

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[3],item)">
                <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

                <ion-avatar class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[3].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/smileys/excellent.png" />
                </ion-avatar>
                <ion-label class="label">{{item.options[3].option}}</ion-label>
              </ion-col>

            </ion-row>
          </ion-grid>


          <!-----------------------five star template------------------------------>

          <ion-grid *ngIf="item.type=='3'">
            <ion-row style="flex-wrap: wrap;" class="fdbk-star-row">

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[0],item)">
                <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

                <ion-thumbnail class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/star/star.svg" />
                </ion-thumbnail>
                <ion-label class="label">{{item.options[0].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[1],item)">
                <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

                <ion-thumbnail class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/star/star.svg" />
                </ion-thumbnail>
                <ion-label class="label">{{item.options[1].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[2],item)">
                <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

                <ion-thumbnail class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[2].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/star/star.svg" />
                </ion-thumbnail>
                <ion-label class="label">{{item.options[2].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[3],item)">
                <!-- <ion-icon class="very_good_icon smiley" ></ion-icon> -->

                <ion-thumbnail class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[3].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/star/star.svg" />
                </ion-thumbnail>
                <ion-label class="label">{{item.options[3].option}}</ion-label>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="2" size-lg="2" (click)="getOption(item.options[4],item)">
                <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

                <ion-thumbnail class="smiley"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[4].id ==   surveyData[noOfItem].OptionId ">
                  <img src="/assets/feedback/star/star.svg" />
                </ion-thumbnail>
                <ion-label class="label">{{item.options[4].option}}</ion-label>
              </ion-col>

            </ion-row>
          </ion-grid>


          <!---------------------- yes or no ---------------------------->

          <ion-grid *ngIf="item.type=='4'">
            <ion-row class="yes-no-block">



              <ion-col size="12" size-sm="12" size-md="6" size-lg="6"
                [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId "
                (click)="getOption(item.options[0],item)">

                <img style="width: 100%;" src="/assets/feedback/Yes or no/yes.svg" />

              </ion-col>

              <ion-col size="12" size-sm="12" size-md="6" size-lg="6"
                [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId "
                (click)="getOption(item.options[1],item)">



                <img style="width: 100%;" src="/assets/feedback/Yes or no/no.svg" />

              </ion-col>

            </ion-row>
          </ion-grid>

          <!----------------------------1 to 10 number survey --------------------------------------->


          <ion-row class="nps-container" *ngIf="item.type=='5'">
            <ion-col *ngFor="let num of item.options" (click)="getOption(num,item)">
              <ion-label class="nps"
                [class.selected_nps]="surveyData[noOfItem] != undefined &&  num.id ==   surveyData[noOfItem].OptionId ">{{num.option}}</ion-label>
            </ion-col>
          </ion-row>

          <!----------------------------selection-------------------------------------------------------->
          <div *ngIf="item.type=='6'">
            <ion-card [class.survey_white_card]="select.id != selected"
              [class.survey_blue_card]="surveyData[noOfItem] != undefined &&  select.id ==   surveyData[noOfItem].OptionId"
              *ngFor="let select of item.options" (click)="getOption(select,item)">
              <!-- <ion-row style="flex-wrap:nowrap"> -->
              <!-- <ion-icon [class.survey_bullet_blue]="select.id != selected"
                [class.survey_bullet_white]="select.id === selected"></ion-icon> -->
              <ion-icon name="ellipse-sharp" [class.survey_bullet_blue]="select.id != selected"
                [class.survey_bullet_white]="surveyData[noOfItem] != undefined &&  select.id ==   surveyData[noOfItem].OptionId"></ion-icon>
              <ion-label>{{select.option}}</ion-label>

              <!-- </ion-row> -->
            </ion-card>
          </div>
          <!---------------------------------------------text type--------------------------------------------------->


          <div *ngIf="item.type==7">
            <ion-textarea class="feed" rows="3" clearOnEdit="true" auto-grow="true" (ionChange)="inputChange()"
              placeholder="Please type here..." [(ngModel)]="feedtext"></ion-textarea>
            <ion-button fill="clear" class="text_next_btn" (click)="getOption(feedtext,item)"
              [disabled]="feedtext==undefined || feedtext==''">Next</ion-button>
            <!-- <span class="text_next_btn" *ngIf="!feednexthide" (click)="getOption(feedtext,item)">Next</span> -->
          </div>
        </div>
      </div>

      <div *ngIf="!suggestion">
        <ion-item lines="none" color="none" *ngIf="!suggestion">

          <ion-grid>

            <ion-row class="feedback_container">

              <ion-col>
                <textarea rows="5" placeholder="Please enter your feedback.." [(ngModel)]="feedback"></textarea>
                <span class="sug-box">
                  <p class="sg-title">Suggestions...</p>
                  <ul class="list-unstyled">
                    <li *ngFor="let item of feed_suggestion; let i = index " (click)="setSuggestion(item,i)">
                      <div class="sug-cont">
                        <span>{{item}}</span>
                      </div>
                    </li>
                    <!-- <li>
                    <div class="sug-cont">
                      <span>Very good Food</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Excellent care</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Very good staff</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Lifestyle activities</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Poor food</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Poor service</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Bad service</span>
                    </div>
                  </li> -->
                  </ul>
                </span>
              </ion-col>

            </ion-row>






          </ion-grid>

        </ion-item>


        <ion-item color="none" lines="none" class="mb-10" style="--min-height:auto;" (click)="selectImage()"
          *ngIf="imageResponse.length<5">

          <ion-icon name="attach-outline" style="color: #0077b5; transform: rotate(35deg);"></ion-icon> <span
            class="attach-images">Attach Images</span>

        </ion-item>
        <ion-row class="uploaded-images-container col_fit" *ngIf="imageResponse.length>0">

          <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">

            <ion-thumbnail class="uploaded-image" (click)="viewImg()">
              <img src="{{item}}">
              <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
            </ion-thumbnail>



          </ion-col>
        </ion-row>


        <div class="submit-skip-box">

          <ion-button fill="clear" class="survey_submit_btn" [disabled]="disabled" (click)="submit()">Submit
          </ion-button>

          <ion-button class="feedback-skip" (click)="skip()" [disabled]="disableSkip">Skip</ion-button>

        </div>
        <!-- <ion-button fill="clear" class="survey_submit_btn" [disabled]="disabled" (click)="submit()">Submit</ion-button>
        <ion-label class="feedback-skip" (click)="skip()">Skip</ion-label> -->
      </div>

    </span>
  </div>


</ion-content>

<!-- <ion-footer color="none" no-border style="box-shadow: none;">

  <ion-grid>

    <ion-row style="display:flex; justify-content: center; flex-wrap: nowrap; margin-top: 95px; --inner-padding-end: 0 !important; --padding-start: 0 !important;">

      <ion-col class="col_fit">
        <ion-fab vertical="bottom" horizontal="start" *ngIf="preQue">
          <ion-fab-button class="arrow_button" (click)="previous()">
            <ion-icon name="arrow-back-outline" style="color: #fff;"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>



      <ion-col class="col_fit" offset="10">
        <ion-fab vertical="bottom" horizontal="end" *ngIf="nextQue">
          <ion-fab-button class="arrow_button" (click)="next()">
            <ion-icon name="arrow-forward-outline" style="color: #fff;"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer> -->

<ion-footer color="none" no-border class="feedback-footer">

  <span style="float: left; display: flex; align-items: center; color: #0077b5;" (click)="previous()">
    <ion-icon name="arrow-back-outline"></ion-icon> &nbsp; Previous
  </span>

  <span style="float: right; display: flex; align-items: center; color: #0077b5;" *ngIf="nextQue " (click)="next()">
    Next &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon>
  </span>

</ion-footer>