ion-header {
    font-family: "Poppins", sans-serif !important;
}

ion-content {
    font-family: "Poppins", sans-serif !important;
}

ion-footer {
    font-family: "Poppins", sans-serif !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feedback_que {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    width: 100%;
    color: #1c1c1c;
    // margin-bottom: 25px;
    padding-top: 10px;
    white-space: pre-line !important;
}

.alternate-header {
    margin-top: 40px;
    margin-bottom: 30px;
    display: block;

    .back-btn {
        font-size: 25px;
        color: #fff;
        // position: absolute;
        // left: 20px;
    }
}

.arrow_button {
    border-radius: 50%;
    background-color: #0077b5;
    // height: 13px;
    // width: 13px;
    --box-shadow: none !important;
}

.very_bad_icon {
    background-image: url(../../assets/feedback/smileys/Very-poor.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.bad_icon {
    background-image: url(../../assets/feedback/smileys/poor.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.good_icon {
    background-image: url(../../assets/feedback/smileys/good.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.very_good_icon {
    background-image: url(../../assets/feedback/smileys/very-good.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.excellent_icon {
    background-image: url(../../assets/feedback/smileys/Excellent.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

// ion-col{

// }
.smiley {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    color: #1c1c1c;
    display: block;
    text-align: center;
    margin-bottom: 24px;
}

.nps {
    // border-color: #0077b5;
    // border-style: solid;
    // height: 40px;
    // width: 40px;
    // border-width: 0.6px;
    // padding:8px 8px 8px 8px;
    width: 52px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    border: 1px solid #0077b5;
    border-radius: 10px;
    margin-left: 10px;
    align-self: center;
    display: flex;
    justify-content: center;

    ion-label {
        font-size: 25px;
        font-weight: bold;
        color: #0077b5;
    }
}

.nps:first-child {
    margin-left: 0px !important;
}

.nps-container {
    width: 100%;
    flex-wrap: nowrap;
}

.feedback_input {
    font-size: 18px;
    line-height: 33px;
    width: 100%;
    color: #1c1c1c;
    margin-bottom: 50px;
    margin-left: 8px;
    margin-top: 10px;
}

.sug_label {
    background-color: rgba(117, 212, 255, 0.5);
    color: #09648d;
    padding: 2px 6px;
    border-radius: 50px;
    margin-left: 5px;
}

ion-input {
    border-bottom: 1px solid #1c1c1c;
}

.feedback_container {
    border: 1px solid #0077b5;
    border-radius: 10px;
    min-height: 300px;
    margin-bottom: 10px;

    ion-col {
        background-color: #fff !important;
        border-radius: 10px;
    }

    textarea {
        width: 100%;
        height: 190px;
        padding: 15px;
        border: none;
        border-radius: 10px;
        resize: none;
        color: #222;
    }

    textarea:focus {
        outline: none !important;
    }
}

.sug-box {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    max-height: 125px;
    overflow: hidden;
    // overflow: auto;
    border-radius: 10px;
    background-color: #fff !important;
    min-width: -webkit-fill-available;
}

.sug-box .sg-title {
    text-align: left;
    position: relative;
    margin-bottom: 5px;
    font-size: 14px;
    color: #8c8c8c;
}

.sug-box .sg-title::after {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 0;
    width: 80%;
    height: 1px;
    background: #0077b5;
}

.sug-box ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.sug-box ul li {
    margin: 3px;
    list-style: none;
}

.sug-box ul li .sug-cont {
    background: #e1f3fd;
    display: inline-block;
    padding: 3px 12px;
    border-radius: 25px;
    font-size: 13px;
}

.sug-box ul li .sug-cont span {
    margin-bottom: 0;
    color: #0077b5;
    letter-spacing: 0.5px;
}

.survey_submit_btn {
    color: #ffffff;
    background-color: #0077b5;
    text-align: center;
    padding: 10px 25px;
    border-radius: 30px;
    display: block;
    font-size: 18px;
    max-width: fit-content;
    margin: 0 auto;
}

.text_next_btn {
    color: #ffffff;
    background-color: #0077b5;
    text-align: center;
    padding: 10px 15px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
    max-width: fit-content;
}

.feedback_container1 {
    display: block;
    height: 280px;
    overflow-y: scroll;
}

.feedback-bg {
    background-color: #330055;
    background-image: url("/assets/feedback/feedback-bg.svg");
    background-attachment: fixed;
    background-size: contain;
    border-radius: 10px;
    margin: 10px 15px;
    padding-bottom: 10px;
}

ion-footer::before {
    background-image: none !important;
}

.attach-images {
    font-size: 16px;
    color: #0077b5;
}

.feed {
    border: 0.8px solid;
    padding-inline-start: 10px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        // margin-right: 15px;
        // margin-bottom: 20px;

        margin-right: 0;
        margin-bottom: 20px;
        width: fit-content !important;
        padding: 10px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;
    position: relative;

    img {
        border-radius: 6px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

.form-submit-btn {
    padding: 10px 30px !important;
}

@media only screen and (min-width: 800px) and (max-width: 820px) {
    .yes-no-block {
        max-width: 50% !important;

        ion-col {
            padding: 0 25px;

            &:first-child {
                padding-left: 0;

                img {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &:last-child {
                padding-right: 0;

                img {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
    .smiley[_ngcontent-pqq-c6] {
        width: 60px;
        height: auto;
    }

    .label {
        font-size: 16px !important;
    }
}

@media screen and (min-width: 730px) and (orientation: landscape) {
    .nps-container {
        margin-left: 5%;
    }
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
    color: #ff0000;
    border-radius: 50px;
    background-color: #fff;
}

.myOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.6);

    // color: #fff;
}

ion-textarea {
    border: 1px solid #dadada !important;
    border-radius: 6px;
    color: #222;
}

@media only screen and (max-width: 767px) {
    .feedback_que {
        font-size: 19px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 20px;
    }
}

// @media only screen and (min-width:320px) and (max-width:767px) and (orientation:portrait) {

//     .yes-no-block {
//         max-width: 55%;
//         margin: 20px auto 0;

//         img {
//             margin: 20px 0px;
//         }
//     }

//     .survey_white_card {
//         padding: 20px;

//         ion-label {
//             font-size: 16px;
//             margin-left: 10px;
//         }

//         .survey_bullet_blue {
//             font-size: 18px;
//             color: #0077b5;
//             vertical-align: middle;
//         }
//     }

//     .survey_blue_card {
//         background-color: #0077b5 !important;
//         color: #fff;
//         padding: 20px;

//         ion-label {
//             font-size: 16px;
//             margin-left: 10px;
//         }

//         .survey_bullet_white {
//             font-size: 18px;
//             color: #fff;
//             vertical-align: middle;
//         }
//     }
// }

.nps {
    width: 52px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    text-align: center;
    color: #000;
    border: 1px solid #0077b5;
    border-radius: 10px;
    margin-left: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (orientation: portrait) {
    .nps {
        width: 48px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .feedback-bg-blue {
        padding: 10px 15px;

        .alternate-header {
            .back-btn {
                font-size: 25px;
                color: #fff;
                // position: absolute;
                // left: 0;
                // top: 30px;
            }
        }

        .yes-no-block {
            max-width: 55%;
            margin: 20px auto 0;

            img {
                margin: 20px 0px;
            }
        }

        .smiley {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 50px;
            height: 50px;
        }

        .label {
            font-size: 16px;
            line-height: 23px;
            font-weight: normal;
            color: #626262;
            display: block;
            text-align: center;
            // margin-bottom: 10px;
            margin-bottom: 40px;
        }

        .survey_white_card {
            padding: 20px !important;
            display: flex;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
                vertical-align: middle;
            }

            .survey_bullet_blue {
                // font-size: 18px;
                color: #0077b5;
                vertical-align: middle;
                background: none;
                width: 18px !important;
                height: 18px !important;
            }
        }

        .survey_blue_card {
            background-color: #0077b5 !important;
            color: #fff;
            padding: 20px !important;
            display: flex;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
                vertical-align: middle;
            }

            .survey_bullet_white {
                // font-size: 18px;
                color: #fff;
                vertical-align: middle;
                background: none;
                width: 18px !important;
                height: 18px !important;
            }
        }

        .feed {
            width: 100%;
            min-height: 180px;
        }

        .nps-container {
            flex-wrap: wrap;
            margin: 0 auto;
            display: inline-flex;
            justify-content: center;

            ion-col {
                max-width: fit-content;
                padding: 5px;
            }
        }

        .sug-box {
            max-height: 130px;
            overflow: scroll;

            .sg-title::after {
                width: 55%;
            }
        }

        .feedback_container {
            border: 1px solid #bdbdbd;
            border-radius: 10px;
            min-height: 350px;
            margin-bottom: 10px;
            height: 100%;

            textarea {
                height: 300px;
                overflow-y: scroll;
                color: #222;
            }
        }
    }
}

.feedback-white-box {
    ion-row {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .alternate-header {
        margin-bottom: 50px !important;
    }

    .feedback-bg-blue {
        justify-content: center;
    }

    .feedback-white-box {
        .yes-no-block {
            max-width: 40%;
            margin: 10px auto 0px;

            img {
                margin: 0px 20px;
                width: 150px !important;
            }
        }

        .nps-container {
            flex-wrap: wrap;
            margin: 0 auto;
            display: inline-flex;
            justify-content: center;

            ion-col {
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                margin: 0 10px;

                .nps {
                    padding: 15px 10px !important;
                }
            }
        }

        .feed {
            border: 0.8px solid;
            -webkit-padding-start: 10px;
            padding-inline-start: 10px;
            margin-bottom: 30px;
            width: 95%;
            min-height: 150px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .feedback-bg-blue {
        .survey_white_card {
            padding: 20px !important;
            display: flex;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
                vertical-align: middle;
            }

            .survey_bullet_blue {
                // font-size: 18px;
                color: #0077b5;
                vertical-align: middle;
                background: none;
                width: 18px !important;
                height: 18px !important;
            }
        }

        .survey_blue_card {
            background-color: #0077b5 !important;
            color: #fff;
            padding: 20px !important;
            display: flex;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
                vertical-align: middle;
            }

            .survey_bullet_white {
                // font-size: 18px;
                color: #fff;
                vertical-align: middle;
                background: none;
                width: 18px !important;
                height: 18px !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .feedback-card {
        background: rgba(236, 236, 236, 0.5);
        border-color: rgba(236, 236, 236, 0.5);
        display: flex;
        flex-direction: column;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        padding: 35px;
        height: 145px;
        width: 145px;
        margin: 15px auto;
        align-self: center;
    }

    .feedback-white-box {
        .yes-no-block {
            max-width: 60%;
            margin: 10px auto 0px;
        }

        .nps-container {
            ion-col {
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                margin: 0 5px;
            }
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .feedback-card {
        background: rgba(236, 236, 236, 0.5);
        border-color: rgba(236, 236, 236, 0.5);
        display: flex;
        flex-direction: column;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        padding: 35px;
        height: 145px;
        width: 145px;
        margin: 15px auto;
        align-self: center;
    }

    .feedback-white-box {
        .yes-no-block {
            max-width: 60%;
            margin: 10px auto 0px;
        }

        .nps-container {
            ion-col {
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                margin: 0 7px;
            }
        }
    }
}

.selected {
    img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}

.selected_nps {
    color: #fff;
    background: #0077b5;
    border-radius: 10px;

    ion-label {
        color: #fff !important;
    }
}

.submit-skip-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;

    .survey_submit_btn {
        margin: 0 auto 0;
        height: 45px;
    }

    .feedback-skip {
        // position: absolute;
        // right: 20px;
        // color: #707070;
        position: unset;
        right: 0;
        color: #707070;
        --background: transparent;
        --padding-start: 10px;
        --padding-end: 10px;
        font-size: 16px;
        font-weight: normal;
        margin-left: -50px;
        margin-right: 10px;
    }
}

.feedback-bg-blue {
    flex-direction: column;
}

@media only screen and (min-width: 750px) and (max-width: 767px) {
    .feedback-bg-blue {
        justify-content: center;

        .fdbk-smiley-row {
            ion-col {
                max-width: fit-content !important;
                padding: 25px;
            }
        }

        .fdbk-star-row {
            ion-col {
                max-width: fit-content !important;
                padding: 25px;
            }
        }

        .yes-no-block {
            max-width: 100% !important;

            ion-col {
                max-width: fit-content !important;
                padding: 25px;

                img {
                    height: 50px;
                }
            }
        }
    }
}

.fbk-suugestion-item {
    --padding-start:0;
    --inner-padding-end:0;

    ion-grid {
        padding: 0;
    }
}

.attach-img-item {
    --padding-start:0;
    --inner-padding-end:0;
    --min-height:auto;
    margin-top: 10px;
}