.selected {
  // border:solid 1px #0077b5;
  background: #0077b5;
  border-radius: 6px;
  padding: 5px 10px;

  ion-label {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    border: none;

    p {
      color: #fff;
      margin-bottom: 0px;
      margin-top: 0px;
      border: none;
    }
  }


  ion-icon {
    color: #fff;
  }
}

ion-card.location-card.selected {
  padding: 10px;
}