ion-header {
  padding: 20px 10px 10px;

  ion-label {
    font-family: "Poppins", sans-serif !important;
    font-weight: normal !important;
  }

  ion-icon {
    font-size: 25px;
  }
}

.selected {
  // border:solid 1px #0077b5;
  background: #0077b5;
  border-radius: 6px;
  padding: 5px 10px !important;

  ion-label {
    color: #fff !important;
    margin-bottom: 0px;
    margin-top: 0px;
    border: none;

    p {
      color: #fff !important;
      margin-bottom: 0px;
      margin-top: 0px;
      border: none;
    }
  }

  ion-icon {
    color: #fff !important;
  }
}

ion-card.location-card.selected {
  padding: 10px;
}

.inner-header-1 {
  ion-toolbar {

    ion-buttons {
      margin-left: -10px;
    }

    ion-searchbar {
      --background: #fff;
      --color: #222;
      --border-radius: 10px;
      background: #fff;
      color: #222;
      border-radius: 10px;
      height: 45px;
      font-family: "Roboto", sans-serif;
    }
  }
}

ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 15px;
  --padding-end: 15px;
  --background: #eee;
}

.location-card {
  background: #fff;
  box-shadow: none;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 0px 15px 0px;

  ion-card-header {
    display: flex;
    justify-content: space-between !important;
    padding: 0;
    padding-inline: 0;

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
      --min-height: auto;
      width: 100%;
      display: flex;

      ion-checkbox {
        margin: 0px;
        --border-radius: 50px;
        width: 20px;
        height: 20px;
        --border-color: #c1c1c1;
        position: absolute;
        right: 0;
      }

      ion-label {
        margin: 0px 0px 0px 10px;
      }

      .location-label {
        margin: 0px 0px 0px 10px;
        color: #383030;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        white-space: pre-wrap;
        word-break: break-word;

        .sublocation-count {
          color: #7b7b7b;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }

    ion-icon {
      align-self: center;
      font-size: 22px;
    }

    .more-options-icon {
      font-size: 20px;
      color: #989898;
    }
  }

  ion-card-content {
    padding-bottom: 0px;
    margin-top: 5px;

    .sub-location {
      // color: #848484;
      // color: #383030;
      line-height: 18px;
      // border-top: 1px dashed #dcdcdc;
      width: 100%;
      max-width: 100%;
      display: flex;
      // margin-bottom: 5px;
      color: #4b4b4b;
      font-size: 15px;
      font-weight: 400;
      // margin-bottom: 10px;
      margin-left: 0px;
      white-space: pre-wrap;
      word-break: break-word;

      // &:first-of-type {
      //   border-top: none;
      // }

      .sub-location-icon {
        align-self: center;
        color: #9e9e9e;
        margin-right: 5px;
        font-size: 22px;
      }
    }

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
      --min-height: auto;
      // width: 100%;
      width: 89%;
      display: flex;
      border-bottom: 1px dashed #dcdcdc;
      margin-left: 30px;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &:last-child {
        border: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      ion-checkbox {
        margin: 0px;
        --border-radius: 50px;
        width: 20px;
        height: 20px;
        --border-color: #c1c1c1;
      }

      ion-label {
        margin: 0px 0px 0px 5px;
      }
    }
  }
}

ion-header {
  .page_title {
    ion-icon {
      vertical-align: middle;
      align-self: center;
      margin-right: 5px;
    }
  }

  ion-searchbar {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0px;
    padding-inline-end: 0;
    --background: #fff;
    --color: #222;
    color: #222;
    --border-radius: 10px;
  }
}

.sub-location-icon {
  align-self: center;
  color: #9e9e9e;
  margin-right: 0px;
  font-size: 22px;
}
