<ion-content [scrollEvents]="true">

  <div class="din-cdmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <ion-label class="din-cdmodal-head" *ngIf="menu">{{menu.start_date | dateformat:'DD MMM YYYY'}} -
      {{menu.enddate | dateformat:'DD MMM YYYY'}}
    </ion-label>

    <div class="din-cdm-datebox">
      <div class="din-cdm-date" *ngFor="let item of dates" [id]="item+1" (click)="choose(item)" [class.din-current-date]="item==currentDate">
        <!-- <ion-label>{{item|dateformat:'DD'}}</ion-label> -->
        <ion-label class="dt-label" >

          <span>
            {{item|dateformat:'ddd'}}
          </span>

          {{item|dateformat:'DD'}}

          <span>
            {{item|dateformat:'MMM'}}
          </span>

        </ion-label>
      </div>
    </div>

  </div>

</ion-content>