ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-cdmodal-container {
    .din-cdmodal-head {
        font-size: 17px;
        font-weight: 600;
        color: #707070;
        text-align: center;
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .din-cdm-datebox {
        display: flex;
        flex-wrap: wrap;
        // justify-content: stretch;
        justify-content: center;

        .din-cdm-date {
            background: #F4F4F4;
            color: #707070;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            width: 70px;
            height: auto;
            text-align: center;

            // &:nth-child(odd) {
            //     margin: 5px 0px;
            // }

            // &:nth-child(even) {
            //     margin: 5px 10px;
            // }

            ion-label {
                font-size: 16px;
                font-weight: 600;
                display: flex;
                flex-direction: column;

                span {
                    font-weight: normal;
                }
            }

        }

        .din-current-date {
            background: #0077B5;
            color: #fff;
        }

    }
}