ion-item {
    width: 100%;
    --min-height: 35px;
    --padding-start: 10px;
    --inner-padding-end: 10px;

    ion-label {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        align-self: center;
        font-size: 16px;
        background-color: #fff !important;
        padding: 15px 8px !important;
        border-radius: 6px !important;
        color: #707070 !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
    }

    &:nth-child(2) {
        ion-label {
            padding-top: 0 !important;
        }
    }
}
