<ion-item lines="none" color="none">
  <ion-label (click)="cancel()">Cancel</ion-label>
</ion-item>

<ion-item lines="none" color="none">
  <ion-label (click)="reschedule()">Reschedule</ion-label>
</ion-item>