ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background:#eee;
}

.bg-green.bg-lighten-4 {
    background-color: #E2FFEE !important;
    color: #0B6A00 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts-dp {
    background-color: #e0f4ff !important;
    color: #0077b5 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    ion-label {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 25px;
        font-weight: bold;
    }
}



.inactive-contact {

    ion-icon {
        vertical-align: middle;
        color: #ff9800;
        display: inline-flex;
        font-size: 13px;
    }

    ion-label {
        margin-left: 5px;
        display: inline-flex;
        vertical-align: middle;
        font-size: 13px;
    }

}

.ion-header-inner {
    background: transparent;
    min-height: 90px;
    padding: 15px 15px 0;
    color: #222;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    box-shadow: none;
}

.profile-details-box {
    background: #0077B5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    ion-avatar {
        width: 100px;
        height: 100px;
        border: 5px solid #fff;
        position: absolute;
        top: 0;
    }

    .consumer-name {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        display: block;
        margin-top: 45px;
    }

    .agedcare-name {
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 2px;
    }

    .room-wingname {
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 2px;
    }

    .rw-sec {
        display: flex;
        font-size: 14px;
        color: #fff;
        margin-top: 6px;

        i {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .loc {
        width: 100%;
        display: block;
        font-size: 14px;
        color: #fff;
        margin-top: 6px;
        margin-left: auto;
        margin-right: auto;

        i {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }

    }
}

.consumer-contact-container {
    border: 1px solid #dfdfdf;
    box-shadow: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 0px;
    background-color: #FFF !important;
    --min-height: auto;

    ion-avatar {
        width: 60px;
        height: 60px;
        // border: 3px solid #fff;
    }

    .contact-name {
        color: #222;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        line-height: 22px;

        .relation {
            color: #707070;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: normal;
            margin-top: 0;
        }
    }
}

.cc-invite-container {
    background-color: #0077b5;
    background-image: linear-gradient(90deg, #0077b5 0%, #42c3fc 100%);
    border-radius: 10px;
    padding: 15px 25px;
    min-height: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px;
        display: block;
    }

    ion-label {
        color: #fff !important;
        font-size: 16px;
        margin-top: 0px;
        margin-left: 20px;
        text-align: left;
    }

    ion-icon {
        font-size: 25px;
        color: #fff;
        margin-left: 15px;
    }
}

@media only screen and (min-width:768px) {
    .cc-invite-container {
        max-width: fit-content;
    }

    .contacts-sec {
        ion-col {
            padding: 4px;
        }
    }
}

.contacts-sec {
    ion-col {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.pending_invitation {
    color: #ff9800 !important;
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: 0;
}