<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/resident-overview',{flag:flag}]"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Contacts</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-row class="contacts-sec">

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12"  *ngFor="let item of contacts">

      <ion-item color="none" lines="none" class="consumer-contact-container">

        <ion-avatar slot="start">
          <img src="{{item.user.profile_pic}}">
        </ion-avatar>

        <ion-label class="contact-name">

          {{item.user.name}}

          <span class="relation">
            {{item.relation}}
          </span>
          <span class="inactive-contact" *ngIf="item.user.status!=1">
            <!-- <ion-icon name="ellipse"></ion-icon> -->
            <ion-label>Inactive</ion-label>
          </span>
        </ion-label>

        <ion-icon src="assets/crown-icon.svg" *ngIf="item.is_primary==1"></ion-icon>
      </ion-item>

    </ion-col>

    <ng-container *ngIf="pending.length!=0">
    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of pending">

      <ion-item color="none" lines="none" class="consumer-contact-container">

        <ion-avatar slot="start" class="contacts-dp">
          <ion-label>
            {{item.name.substring(0,1)}}</ion-label>
        </ion-avatar>

        <ion-label class="contact-name">

          {{item.name}}

          <span class="relation">
            {{item.relation}}
          </span>
          <span class="pending_invitation">Invitation Pending</span>
        </ion-label>

        <ion-icon src="assets/crown-icon.svg"></ion-icon>

      </ion-item>

    </ion-col>
  </ng-container>
  </ion-row>


  <div *ngIf="contacts.length==0 && pending.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/No_data_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found.</ion-label>
    </ion-item>
  </div>

 <div class="cc-invite-container" (click)="invite()" *ngIf="hideInvite&&rv==0">

    <img src="/assets/resident-overview/invitecontact-icon.svg">

    <ion-label>Invite Family / Friends</ion-label>

    <ion-icon name="arrow-forward-outline"></ion-icon>

  </div>

</ion-content>