<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons mode="md" slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Dining</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->

</ion-header>

<ion-content>

  <ion-item lines="none" color="none" *ngIf="current.length!=0">
    <ion-label class="menu_head mt-20">Current Menu</ion-label>
  </ion-item>

  <ion-card class="autumn_card" *ngFor="let item of current" (click)="openDoc(item)">



    <ion-grid>
      <ion-row>
        <ion-col class="tcenter">
          <ion-label class="current_menu_head">{{item.menu}}</ion-label>
          <img src="assets/underline_white.svg" class="line_img">
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="tcenter">
          <ion-icon src="assets/calendar_white.svg"></ion-icon>
          <ion-label class="menu_duration">{{item.from_date | dateformat:'DD MMMM yyyy'}} {{"-"}}
            {{item.to_date | dateformat:'DD MMMM yyyy'}}</ion-label>
        </ion-col>

        <!-- <ion-col size="12">
          
          <ion-button class="viewmenu-btn">
            <ion-label>View Menu</ion-label>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>

        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-card>

  <ion-item lines="none" color="none" *ngIf="menu.length!=0">
    <ion-label class="menu_head mtb_zero">Upcoming Menu</ion-label>
  </ion-item>


  <ion-card no-padding class="white_card" *ngFor="let item of menu" (click)="openDoc(item)">

    <ion-grid>
      <ion-row>
        <ion-col class="tcenter">
          <ion-label class="all_menu_head">{{item.menu}}</ion-label>
          <img src="assets/underline_black.svg" class="line_img">
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="tcenter">
          <ion-icon src="assets/calendar_black.svg"></ion-icon>
          <ion-label class="all_menu_duration">{{item.from_date | dateformat:'DD MMMM yyyy'}} {{"-"}}
            {{item.to_date | dateformat:'DD MMMM yyyy'}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>

  <!-- <ion-card class="white_card">

    <ion-grid>
      <ion-row>
        <ion-col class="tcenter">
          <ion-label class="all_menu_head">Spring Menu</ion-label>
          <img src="assets/underline_black.svg" class="line_img">
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="tcenter">
          <ion-icon src="assets/calendar_black.svg"></ion-icon>
          <ion-label class="all_menu_duration">1 September 2020 - 1 November 2020</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>

  <ion-card class="white_card">

    <ion-grid>
      <ion-row>
        <ion-col class="tcenter">
          <ion-label class="all_menu_head">Summer Menu</ion-label>
          <img src="assets/underline_black.svg" class="line_img">
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="tcenter">
          <ion-icon src="assets/calendar_black.svg"></ion-icon>
          <ion-label class="all_menu_duration">1 December 2020 - 1 January 2020</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card> -->
  <div *ngIf="current.length==0 && menu.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-dining-menu.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Dining Menus Found.</ion-label>
    </ion-item>
  </div>
</ion-content>