.menu_head {
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-self: center;
    font-size: 18px;
    color:#222;
}

.mh_30 {
    margin-top: 30px;
}

.mh_46 {
    margin-top: 46px;
}

.autumn_menu {
    color: white;
}

.line_img {
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    display: block;
    margin-top: 11px;
    margin-bottom: 11px;
}

.season_duration {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 46px !important;
    margin-top: -15px;

}

.duration-color {
    color: #646464;
}

ion-icon {
    height: 24px;
    width: 24px;
}

// .menu_card_head{
//     font-weight: bold;
//     margin-right: auto;
//     margin-left: auto;
//     text-align: center;
//     align-self: center;
// }
ion-card {

    ion-grid {
        align-self: center;
        display: inline;
    }

}


.autumn_card {
    background: url(/assets/autumn_menu_card.svg) no-repeat center center;
    background-size: cover;
    width: 92%;
    height: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    box-shadow: none !important;
    padding: 22px 0px !important;

    .viewmenu-btn {
        --background: #fff;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 22px;
        --padding-end: 22px;
        margin: 25px auto 0px;
        max-width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;

        ion-label {
            color: #0077b5;
            font-size: 15px;
        }

        ion-icon {
            color: #0077b5;
            font-size: 15px;
        }
    }
}