.imgStyle {
    --background: no-repeat center center/cover !important;
    --min-height: 62px;
    --width: 100%;
}

.signIn {
    --color: #9B9B9B;
    --padding-bottom: 30px;
    --padding-top: 5%;
    --padding-start: 34px;
    --padding-end: 34px;
    --text-transform: 'none';

}

.inputStyle {
    --size: 16px;
    --color: #c8c8c8;

}

.item1 {
    --width: 80%;
    --padding-top: 20px;
}

.buttonStyle {
    --padding-bottom: 30px;
    --padding-top: 52px;
    --padding-start: 34px;
    --padding-end: 34px;
}

ion-toolbar {
    --padding-start: 0 !important;
    --padding-bottom: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
}


.signin_bg {
    background: url('../../assets/login_bg.svg') no-repeat center center fixed !important;
    background-size: cover !important;
}

.brand {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 100%;
}

.white_border {
    border-bottom: 1px solid #fff;
}

.terms-sec {
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    ion-checkbox {
        width: 22px;
        height: 22px;
        margin-top: 0;
        margin-bottom: 0;
        --border-radius: 50px;
        --border-color: #fff;
        --background: transparent;
        --checkmark-width: 2;
        --background-checked: #fff;
        --border-color-checked: #fff;
        --checkmark-color: #0077b5;
        vertical-align: middle;
    }

    ion-label {
        margin-left: 10px;
        vertical-align: middle;
        color: rgb(255 255 255 / 50%);
        font-size: 13px;
        font-weight: normal;
        white-space: normal;
        word-break: break-word;
    }

}

.input_field {
    margin-bottom: 20px;
}

a {
    color: rgb(255 255 255 / 50%);
}


.input_field {
    position: relative;

    .view-password-icon {
        font-size: 25px;
        color: #fff;
        position: absolute;
        z-index: 9999;
        top: 15px;
        right: 0;
    }

    .hide-password-icon {
        font-size: 25px;
        color: #fff;
        position: absolute;
        z-index: 9999;
        top: 15px;
        right: 0;
    }
}

.input_text {
    color: #fff !important;
    font-size: 15px !important;
    caret-color: #fff !important;
}