.give-us-feedback {
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  width: 100%;
  color: #1c1c1c;
  margin-bottom: 25px;
}

.feedback-card {
  padding: 20px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  min-height: 65px;
  width: 60px;
}

.feedback-card ion-label {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #1c1c1c;
}
