

<!-- <ion-content>

  <div class="feedback-bg-blue">
    <span style="margin-left:-25px !important;">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" text="" (click)="back()"></ion-back-button>
      </ion-buttons>
    </span>

    <span class="feedback-white-box" style="margin-top: 40px !important;">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Your feedback is related to</ion-label>
      </ion-item>

      <ion-grid>

        <ion-row>

          <ion-col size="4" *ngFor="let cat of category">

            <ion-card class="feedback-card" (click)="gotoFeedback(cat)">

              <img src="/assets/feedback/categories/care.svg" *ngIf="cat.id==1">
              <img src="/assets/feedback/categories/lifestyle.svg" *ngIf="cat.id==2">
              <img src="/assets/feedback/categories/food.svg" *ngIf="cat.id==3">
              <img src="/assets/feedback/categories/environment.svg" *ngIf="cat.id==4">
              <img src="/assets/feedback/categories/staff.svg" *ngIf="cat.id==5">
              <img src="/assets/feedback/categories/others.svg" *ngIf="cat.id==6">

              <ion-label>{{cat.name}}</ion-label>

            </ion-card>

          </ion-col>

         

        </ion-row>

      </ion-grid>

    </span>

  </div>

</ion-content>
 -->




 <!-- <ion-header no-padding color="none"
  style="background: url('assets/common_header.svg') no-repeat center center !important;background-attachment: fixed; background-size: cover !important;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" [routerLink]="['/select-feedback-type']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Choose Category</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="feedback-bg-blue">
    <span style="margin-left:-25px !important;">
      <ion-buttons slot="start">
        <!-- <ion-back-button style="color:#fff;" text="" [routerLink]="['/select-feedback-type']"></ion-back-button> -->
        <ion-back-button style="color:#fff;" text="" (click)="back()"></ion-back-button>
      </ion-buttons>
    </span>

    <span class="feedback-white-box" style="margin-top: 40px !important;">
  <ion-item lines="none" color="none">
    <ion-label class="give-us-feedback">Your feedback is related to</ion-label>
  </ion-item>

  <ion-grid>

    <ion-row>

     


          <ion-col size="4" *ngFor="let cat of category">

            <ion-card class="feedback-card" (click)="gotoFeedback(cat)">

              <img src="/assets/feedback/categories/care.svg" *ngIf="cat.id==1">
              <img src="/assets/feedback/categories/lifestyle.svg" *ngIf="cat.id==2">
              <img src="/assets/feedback/categories/food.svg" *ngIf="cat.id==3">
              <img src="/assets/feedback/categories/environment.svg" *ngIf="cat.id==4">
              <img src="/assets/feedback/categories/staff.svg" *ngIf="cat.id==5">
              <img src="/assets/feedback/categories/others.svg" *ngIf="cat.id==6">

              <ion-label>{{cat.name}}</ion-label>

            </ion-card>

          </ion-col>

          <!-- <ion-col size="4">

            <ion-card class="feedback-card">

              <img src="/assets/feedback/categories/food.svg">

              <ion-label>Food</ion-label>

            </ion-card>

          </ion-col>



          <ion-col size="4">

            <ion-card class="feedback-card">

              <img src="/assets/feedback/categories/environment.svg">

              <ion-label>Environment</ion-label>

            </ion-card>

          </ion-col>

          <ion-col size="4">

            <ion-card class="feedback-card">

              <img src="/assets/feedback/categories/staff.svg">

              <ion-label>Staff</ion-label>

            </ion-card>

          </ion-col>

          <ion-col size="4">

            <ion-card class="feedback-card">

              <img src="/assets/feedback/categories/others.svg">

              <ion-label>Others</ion-label>

            </ion-card>

          </ion-col> -->

    </ion-row>

  </ion-grid>
</span>

</div>
