ion-header {
    text-align: center;
}

ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}

img {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
}

.confirm-text-container {
    p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }
}

.confirm-btn {
    --background: #0077b5;
    --border-radius: 50px;
    --box-shadow: none;
    color: #fff;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    height: 40px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: 25px;
    min-width: 115px;
    letter-spacing: normal;
}

.confirm-checkin-sec {
    background: #EFEFEF;
    border-radius: 10px;
    padding: 45px;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .confirm-text-container {

        .title-text {
            font-size: 18px;
            font-weight: 500;
            color: #000;

            .visitor-name {
                color: #000;
            }
        }

        p {
            color: #000;
        }

        .ref-id {
            font-weight: 500;
        }

        img {
            width: 78px;
            height: 108px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}

.govt-qr-sec {
    border-radius: 10px;
    padding: 25px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;

    p {
        color: #000;
        text-align: center;
    }

    .redirect-btn {
        font-size: 18px;
        font-weight: normal;
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none !important;
        height: 50px;
        text-transform: capitalize;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-top: 30px;
        margin-bottom: 30px;
        letter-spacing: normal;
    }

    .or-label {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }

    .qr-img {
        width: 110px;
        height: 110px;
        border: 1px solid rgb(0 0 0 / 19%);
        padding: 10px;
        border-radius: 10px;
    }

    .location-code-box {
        font-size: 18px !important;
        background: #ECF5FF;
        color: #0077b5 !important;
        padding: 10px 15px;
        border-radius: 50px;
        margin: 0 auto !important;
        max-width: fit-content;

        span {
            font-weight: 600;
            margin-left: 5px;
        }
    }
}

.vmanage {
    .main-content-wrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width:767px) {
    .govt-qr-sec {
        max-width: 100% !important;
        padding: 25px 0px;

        .redirect-btn {
            font-size: 14px;
            font-weight: normal;
            --background: #0077b5;
            --border-radius: 50px;
            --box-shadow: none !important;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --padding-start: 10px;
            --padding-end: 10px;
            height: auto;
            text-transform: none;
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: -moz-fit-content;
            margin-top: 20px;
            margin-bottom: 20px;
            letter-spacing: normal;
            white-space: break-spaces;
            word-break: break-word;

        }
    }
}

@media only screen and (min-width:768px) {
    .confirm-checkin-sec {
        margin-top: 5vh;
    }
}

.main-content-wrapper-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.additional-visitor-count {
    font-size: 15px;
    background: #e91e63;
    color: #ffffff;
    min-width: 25px;
    min-height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}