<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Confirm checkin</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="vmanage">

  <div class="main-content-wrapper-1">

    <div class="confirm-checkin-sec">

      <ion-row>

        <ion-col size="12">

          <span class="confirm-text-container">

            <p class="title-text m-zero">
              All done <span class="visitor-name"> {{name}} </span>
            </p>

            <img class="confirmation-image" src="/assets/checkout/confirm-check-in.svg">

            <p class="m-zero">You have now successfully checked in <br>
              <span *ngIf="additional&&(additional!==null)">with <span
                  class="additional-visitor-count">{{additional}}</span> visitors</span>
            </p>
            <p class="m-zero">Your check-in time is
              <span class="visitor-name">
                {{time}}
              </span>
            </p>

            <!-- <p class="mt-5">Your reference ID is <span class="ref-id">{{ref_id}}</span></p> -->

          </span>

          <!-- <ion-button class="confirm-btn" [routerLink]="['/checkout-thanks']">Continue</ion-button> -->

        </ion-col>

        <!-- <ion-col size="12">

          <ion-button class="next-btn" (click)="next()">Next</ion-button>

        </ion-col> -->


      </ion-row>

    </div>

    <div class="govt-qr-sec" *ngIf="gov.required=='1'">

      <ion-row>

        <ion-col size="12">

          <p>{{gov.content}}</p>

          <ion-button class="redirect-btn" (click)="openLink()">{{gov.button_text}}</ion-button>
          <p>you will automatically be redirected in 10 seconds</p>
          <ion-label class="or-label" *ngIf="gov.qr_code">Or</ion-label>

          <img class="qr-img" *ngIf="gov.qr_code" src="{{gov.qr_code}}">

          <p class="location-code-box" *ngIf="gov.location_code">Our location code is <span>{{gov.location_code}}</span>
          </p>

        </ion-col>

      </ion-row>

    </div>

  </div>


</ion-content>