ion-header {
  text-align: center;
}

ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

img {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;
}

.confirm-text-container p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

.confirm-btn {
  --background: #0077b5;
  --border-radius: 50px;
  --box-shadow: none;
  color: #fff;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  height: 40px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 25px;
  min-width: 115px;
  letter-spacing: normal;
}
