ion-col.ios.hydrated {
  max-width: fit-content !important;
}


.myOverlay {
  width: fit-content;
  height: 100%;
  position: absolute;
  // z-index: 200;
  // bottom: 0px;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;

}

// @media screen and (min-width:375px) {
//   .left {
//     position: absolute;
//     top: 8%;
//     left: 55px;
//     font-size: 30px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 8%;
//     font-size: 30px;
//     // width: 100%;
//     margin-left: 70%;
//     right: 55px;
//     color: #fff;
//     z-index: 9999;
//   }
// }

// @media screen and (min-width:768px) {
//   .left {
//     position: absolute;
//     top: 20%;
//     font-size: 50px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 20%;
//     font-size: 50px;
//     // width: 100%;
//     margin-left: 85%;

//     color: #fff;
//     z-index: 9999;
//   }
// }

// @media screen and (min-width:1024px) {
//   .left {
//     position: absolute;
//     top: 25% !important;
//     font-size: 50px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 25% !important;
//     font-size: 50px;
//     // width: 100%;
//     margin-left: 85%;

//     color: #fff;
//     z-index: 9999;
//   }
// }

// @media screen and (min-width:280px) {
//   .left {
//     position: absolute;
//     top: 5%;
//     font-size: 30px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 5%;
//     font-size: 30px;
//     // width: 100%;
//     margin-left: 65%;

//     color: #fff;
//     z-index: 9999;
//   }
// }

// @media screen and (min-width:375px) {
//   .left {
//     position: absolute;
//     top: 12%;
//     font-size: 30px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 12%;
//     font-size: 30px;
//     // width: 100%;
//     margin-left: 80%;

//     color: #fff;
//     z-index: 9999;
//   }
// }

// @media screen and (min-width:360px) {
//   .left {
//     position: absolute;
//     top: 10%;
//     font-size: 30px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 10%;
//     font-size: 30px;
//     // width: 100%;
//     margin-left: 70%;

//     color: #fff;
//     z-index: 9999;
//   }
// }

// @media only screen and (min-width:768px) and (max-width:768px) {

//   .left {
//     position: absolute;
//     top: 25%;
//     font-size: 30px;
//     margin-left: 0px;
//     color: #fff;
//     z-index: 9999;
//   }

//   .right {
//     position: absolute;
//     top: 25%;
//     font-size: 30px;
//     // width: 100%;
//     margin-left: 70%;

//     color: #fff;
//     z-index: 9999;
//   }

// }


.bminfo-container {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 20px;

  .bm-second {
    padding-left: 15px;

    .bmanager-name {
      font-size: 17px;
      font-weight: 500;
      color: #222;

      span {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: normal;
        color: #8c8c8c;
      }
    }

    ion-icon {
      vertical-align: middle;
    }

    .bmanager-phone {
      font-size: 17px;
      margin-left: 20px;
      color: #757575;
    }

  }

  .col-first {

    ion-icon {
      vertical-align: middle;
    }

  }

  .col-second {
    padding-left: 10px;
    font-size: 17px;


  }

}

.map-btn {
  --background: #0077b5;
  --box-shadow: none;
  --border-radius: 50px;
  color: #fff !important;
  text-transform: capitalize;
  height: 40px;
  font-weight: normal;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  ion-icon {
    color: #fff;
    font-size: 22px;
    margin-right: 10px;
  }
}


.lr-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.left {
  font-size: 30px;
  color: #fff;
}

.right {
  font-size: 30px;
  color: #fff;
}

ion-slide {
  display: flex;
  width: 100% !important;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;

  img {
    border-radius: 10px;
  }
}

ion-slides {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  position: relative;
}

.bmanager-phone {
  color: #626262;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width:320px) and (max-width:767px) {

  .facility_details_card {
    padding: 15px !important;

    .bminfo-container {
      padding: 15px !important;

      .bmanager-phone {
        font-size: 15px;
      }
    }
  }

}

.bminfo-container {
  ion-avatar {
    width: 50px;
    height: 50px;
  }
}