ion-col.ios.hydrated {
  max-width: fit-content !important;
}

.myOverlay {
  width: fit-content;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.6);
}

.bminfo-container {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 20px;
}

.bminfo-container .bm-second {
  padding-left: 20px;
}

.bminfo-container .bm-second .bmanager-name {
  font-size: 17px;
  font-weight: 500;
}

.bminfo-container .bm-second .bmanager-name span {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: #8c8c8c;
}

.bminfo-container .bm-second ion-icon {
  vertical-align: middle;
}

.bminfo-container .bm-second .bmanager-phone {
  font-size: 17px;
  margin-left: 20px;
}

.bminfo-container .col-first ion-icon {
  vertical-align: middle;
}

.bminfo-container .col-second {
  padding-left: 10px;
  font-size: 17px;
}

.map-btn {
  --background: #0077b5;
  --box-shadow: none;
  --border-radius: 50px;
  color: #fff !important;
  text-transform: capitalize;
  height: 40px;
  font-weight: normal;
  font-size: 16px;
}

.map-btn ion-icon {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}

.lr-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.left {
  font-size: 30px;
  color: #fff;
}

.right {
  font-size: 30px;
  color: #fff;
}

ion-slide {
  display: flex;
  width: 100% !important;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

ion-slides {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  position: relative;
}
