<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 30px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/about']"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Facility Details</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 10px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-card class="facility_details_card">

    <ion-grid>


      <ion-row class="pop">
        <!-- <ion-col class="col_fit" size="1">
        <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
       </ion-col> -->


        <ion-slides [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)"
          *ngIf="viewEntered">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="{{s.branch_image}}">
            <span class="lr-control" *ngIf="sliderOne.slidesItems.length>1">
              <div class="left">
                <ion-icon name="chevron-back-outline" slot="start" ion-no-padding
                  (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
              </div>
              <div class="right">
                <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding
                  (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
              </div>
            </span>
          </ion-slide>
        </ion-slides>
        <!-- <div class="myOverlay"></div> -->







        <!-- <span class="lr-control">

          <div class="left" *ngIf="sliderOne.slidesItems.length>1">
            <ion-icon name="chevron-back-outline" slot="start" ion-no-padding
              (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
          </div>
          <div class="right" *ngIf="sliderOne.slidesItems.length>1">
            <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding
              (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
          </div>

        </span> -->


        <!-- <ion-col class="col_fit" size="1">
        <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
       </ion-col> -->
      </ion-row>

      <!-- <div class="myOverlay" ></div> -->
      <!-- <div class="left" >
            <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
        </div>
        <div class="right" >
            <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
        </div> -->

      <ion-row>
        <ion-col>
          <ion-label text-wrap class="branch_name" *ngIf="content.name">
            {{content.name}}
          </ion-label>
          <ion-label text-wrap class="branch_name" *ngIf="!content.name">
            {{c_name}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="facility_details_sep">
        <ion-col class="col_fit" size="2">
          <ion-icon class="facility_location_icon"></ion-icon>
        </ion-col>
        <ion-col class="col_fit leftside-details" size="8">
          <ion-label text-wrap class="facility_address">
            {{content.street_name}}{{","}}{{content.state}}{{","}}{{content.country}}
          </ion-label>
        </ion-col>
      </ion-row>


      <ion-row class="facility_details_sep">
        <ion-col class="col_fit" size="2">
          <ion-icon class="post_icon"></ion-icon>
        </ion-col>
        <ion-col class="col_fit leftside-details" size="10">
          <ion-label text-wrap class="phone_no">
            {{content.postcode}}
          </ion-label>
        </ion-col>
      </ion-row>


      <ion-row class="facility_details_sep">
        <ion-col class="col_fit" size="2">
          <ion-icon class="phone_icon"></ion-icon>
        </ion-col>
        <ion-col class="col_fit leftside-details" size="10">
          <ion-label text-wrap class="phone_no">
            {{content.phone}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="facility_details_sep">
        <ion-col class="col_fit" size="2">
          <ion-icon class="email_icon"></ion-icon>
        </ion-col>
        <ion-col class="col_fit leftside-details" size="10">
          <ion-label text-wrap class="phone_no">
            {{content.email}}
          </ion-label>
        </ion-col>
      </ion-row>



      <ion-row>

        <p>
          {{content.description}}
        </p>

        <!-- <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> -->

      </ion-row>

      <ion-row>

        <!-- <ion-thumbnail>
        <img class="rounded_corner_thumb" src="assets/branch-image-1.png">
      </ion-thumbnail> -->

      </ion-row>

      <!-- <ion-row class="mtb-20">
        <ion-col class="col_fit" size="2">
          <ion-icon class="map_icon"></ion-icon>
        </ion-col>
        <ion-col class="col_fit leftside-details" size="10" (click)="openMap()">
          <ion-label text-wrap class="phone_no" style="color:#0077b5 !important">
            Google map link
          </ion-label>
        </ion-col>
      </ion-row> -->

      <ion-row class="mtb-20">


        <ion-col size="12">

          <ion-button class="map-btn" (click)="openMap()">
            <ion-icon name="map-outline"></ion-icon>
            View Location
          </ion-button>

        </ion-col>

      </ion-row>

      <!-- <div style="border: 0.2px solid #c8c8c8;padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;" *ngIf="content.bmname!=''">
        <ion-row class="mtb-20">
          <ion-col class="col_fit" size="4">
            <ion-avatar>
              <img [src]="content.bmporfilepic">
            </ion-avatar>
          </ion-col>
    
          <ion-col class="ion-col_second" size="8">
    
            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding" >
    
              <ion-label class="sender_name">
                {{content.bmname}}
              </ion-label>
            </ion-item>
  
  
            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding ">
  
              <ion-label class="chat_message" >
                {{content.bmtitle}}
              </ion-label>
            
            </ion-item>
  
            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding " style="margin-top: 8px;">
            
              <ion-row >
                <ion-col class="col_fit" size="2">
                  <ion-icon class="phone_icon"></ion-icon>
                </ion-col>
                <ion-col class="col_fit leftside-details" size="10">
                  <ion-label text-wrap class="phone_no">
                    {{content.bmphone}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-item>
  
  
  
            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding " style="margin-top: 8px;">
            
              <ion-row style="width:90%">
                <ion-col class="col_fit" size="2">
                  <ion-icon class="email_icon"></ion-icon>
                </ion-col>
                <ion-col class="col_fit leftside-details" size="9">
                  <ion-label text-wrap class="phone_no">
                    {{content.bmemail}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-col>
  
        </ion-row>
  </div> -->

    </ion-grid>
    <ion-grid class="bminfo-container" *ngIf="content.bmname&&content.bmname!=''">

      <ion-row class="mb_20">

        <ion-col class="col_fit" size="4">
          <ion-avatar>
            <img [src]="content.bmporfilepic">
          </ion-avatar>
        </ion-col>

        <ion-col class="col_fit bm-second" size="8">

          <ion-label class="bmanager-name">

            {{content.bmname}}

            <span>
              {{content.bmtitle}}
            </span>

          </ion-label>

        </ion-col>

      </ion-row>

      <ion-row class="mb_20">

        <ion-col class="col_fit col-first" size="12">

          <ion-icon class="phone_icon"></ion-icon>

          <!-- <ion-label class="bmanager-phone">

            {{content.bmphone}}

          </ion-label> -->

        </ion-col>

        <ion-col class="col_fit col-second" size="12">

          <!-- <ion-icon class="phone_icon"></ion-icon> -->

          <ion-label class="bmanager-phone">

            {{content.bmphone}}

          </ion-label>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col class="col_fit col-first" size="2">

          <ion-icon class="email_icon"></ion-icon>

        </ion-col>

        <ion-col class="col_fit col-second" size="10">

          <!-- <ion-icon class="email_icon"></ion-icon> -->

          <ion-label style="    margin-top: -5px; display: block;" class="bmanager-phone">

            {{content.bmemail}}

          </ion-label>


        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>

</ion-content>