.feedback_que {
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  width: 100%;
  color: #1c1c1c;
  margin-bottom: 50px;
  white-space: pre-line !important;
}

.arrow_button {
  border-radius: 50%;
  background-color: #0077b5;
  --box-shadow: none !important;
}

.very_bad_icon {
  background-image: url(../../assets/feedback/smileys/Very-poor.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  max-width: 100%;
}

.bad_icon {
  background-image: url(../../assets/feedback/smileys/poor.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  max-width: 100%;
}

.good_icon {
  background-image: url(../../assets/feedback/smileys/good.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  max-width: 100%;
}

.very_good_icon {
  background-image: url(../../assets/feedback/smileys/very-good.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  max-width: 100%;
}

.excellent_icon {
  background-image: url(../../assets/feedback/smileys/Excellent.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  max-width: 100%;
}

.smiley {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}

.label {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #000;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

.nps {
  width: 52px;
  height: 52px;
  padding: 10px;
  text-align: center;
  border: 1px solid #0077b5;
  border-radius: 10px;
  margin-left: 10px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.nps ion-label {
  font-size: 25px;
  font-weight: bold;
  color: #0077b5;
}

.nps:first-child {
  margin-left: 0px !important;
}

.feedback_input {
  font-size: 18px;
  line-height: 33px;
  width: 100%;
  color: #1c1c1c;
  margin-bottom: 50px;
  margin-left: 8px;
  margin-top: 10px;
}

.sug_label {
  background-color: rgba(117, 212, 255, 0.5);
  color: #09648d;
  padding: 2px 6px;
  border-radius: 50px;
  margin-left: 5px;
}

ion-input {
  border-bottom: 1px solid #1c1c1c;
}

.feedback_container {
  border: 1px solid #0077b5;
  border-radius: 10px;
  min-height: 300px;
  margin-bottom: 10px;
}

.feedback_container ion-col {
  background-color: #fff !important;
  border-radius: 10px;
}

.feedback_container textarea {
  width: 100%;
  height: 190px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  resize: none;
}

.feedback_container textarea:focus {
  outline: none !important;
}

.sug-box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  max-height: 125px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff !important;
}

.sug-box .sg-title {
  text-align: left;
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
  color: #A6A6A6;
}

.sug-box .sg-title::after {
  content: "";
  position: absolute;
  bottom: 7px;
  right: 0;
  width: 82%;
  height: 1px;
  background: #0077b5;
}

.sug-box ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}

.sug-box ul li {
  margin: 3px;
  list-style: none;
}

.sug-box ul li .sug-cont {
  background: #e7f2ff;
  display: inline-block;
  padding: 3px 12px;
  border-radius: 25px;
  font-size: 13px;
}

.sug-box ul li .sug-cont span {
  margin-bottom: 0;
  color: #000;
  letter-spacing: .5px;
}

.survey_submit_btn {
  color: #ffffff;
  background-color: #0077b5;
  text-align: center;
  padding: 10px 15px;
  border-radius: 30px;
  display: block;
  font-size: 18px;
}
