<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: black;" text="" [routerLink]="['/survey']"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>surveyFivesmiley</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of questions | slice:noOfItem-1:noOfItem">
    <ion-item lines="none" color="none" style="margin-top: 20px;">
      <ion-label class="feedback_que" >{{item.question}}</ion-label>
    </ion-item>

<!---------------------------- five-smiley template --------------------------------->

    <ion-grid *ngIf="item.type=='2'">
      <ion-row style="flex-wrap: nowrap;">

        <ion-col (click)="getOption(item.options[0],item.id)">
          <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->
          
          <ion-avatar class="smiley">
            <img src="/assets/feedback/smileys/Very-poor.gif" />
          </ion-avatar>
          <ion-label class="label">{{item.options[0].option}}</ion-label>
        </ion-col>

        <ion-col (click)="getOption(item.options[1],item.id)">
          <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->
          
          <ion-avatar class="smiley">
            <img src="/assets/feedback/smileys/poor.gif" />
          </ion-avatar>
          <ion-label class="label">{{item.options[1].option}}</ion-label>
        </ion-col>

        <ion-col (click)="getOption(item.options[2],item.id)">
          <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->
          
          <ion-avatar class="smiley">
            <img src="/assets/feedback/smileys/good.gif" />
          </ion-avatar>
          <ion-label class="label" >{{item.options[2].option}}</ion-label>
        </ion-col>

        <ion-col (click)="getOption(item.options[3],item.id)">
          <!-- <ion-icon class="very_good_icon smiley" ></ion-icon> -->
          
          <ion-avatar class="smiley">
            <img src="/assets/feedback/smileys/very-good.gif" />
          </ion-avatar>
          <ion-label class="label">{{item.options[3].option}}</ion-label>
        </ion-col>

        <ion-col (click)="getOption(item.options[4],item.id)">
          <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->
          
           <ion-avatar class="smiley">
            <img src="/assets/feedback/smileys/Excellent.gif" />
          </ion-avatar>
          <ion-label class="label">{{item.options[4].option}}</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>
<!--------------------------four smiley template------------------------------------>

<ion-grid *ngIf="item.type=='1'">
  <ion-row style="flex-wrap: nowrap;">

    <ion-col (click)="getOption(item.options[0],item.id)">
      <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->
      
      <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/Very-poor.gif" />
      </ion-avatar>
      <ion-label class="label">{{item.options[0].option}}</ion-label>
    </ion-col>

    <ion-col (click)="getOption(item.options[1],item.id)">
      <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->
      
      <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/poor.gif" />
      </ion-avatar>
      <ion-label class="label">{{item.options[1].option}}</ion-label>
    </ion-col>

    <ion-col (click)="getOption(item.options[2],item.id)">
      <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->
      
      <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/good.gif" />
      </ion-avatar>
      <ion-label class="label">{{item.options[2].option}}</ion-label>
    </ion-col>

    <!-- <ion-col>
      
      
      <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/very-good.gif" />
      </ion-avatar>
      <ion-label class="label">Very Good</ion-label>
    </ion-col> -->

    <ion-col (click)="getOption(item.options[3],item.id)">
      <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->
      
       <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/Excellent.gif" />
      </ion-avatar>
      <ion-label class="label">{{item.options[3].option}}</ion-label>
    </ion-col>

  </ion-row>
</ion-grid>


<!-----------------------five star template------------------------------>

<ion-grid *ngIf="item.type=='3'">
  <ion-row style="flex-wrap: nowrap;">

    <ion-col (click)="getOption(item.options[0],item.id)">
      <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

      <span class="smiley">
        <img src="/assets/feedback/star/star.svg" />
      </span>
      <ion-label class="label">{{item.options[0].option}}</ion-label>
    </ion-col>

    <ion-col (click)="getOption(item.options[1],item.id)">
      <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

      <span class="smiley">
        <img src="/assets/feedback/star/star.svg" />
      </span>
      <ion-label class="label">{{item.options[1].option}}</ion-label>
    </ion-col>

    <ion-col (click)="getOption(item.options[2],item.id)">
      <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

      <span class="smiley">
        <img src="/assets/feedback/star/star.svg" />
      </span>
      <ion-label class="label">{{item.options[2].option}}</ion-label>
    </ion-col>

    <ion-col (click)="getOption(item.options[3],item.id)">
      <!-- <ion-icon class="very_good_icon smiley" ></ion-icon> -->

      <span class="smiley">
        <img src="/assets/feedback/star/star.svg" />
      </span>
      <ion-label class="label">{{item.options[3].option}}</ion-label>
    </ion-col>

    <ion-col (click)="getOption(item.options[4],item.id)">
      <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

      <span class="smiley">
        <img src="/assets/feedback/star/star.svg" />
      </span>
      <ion-label class="label">{{item.options[4].option}}</ion-label>
    </ion-col>

  </ion-row>
</ion-grid>


<!---------------------- yes or no ---------------------------->

<ion-grid *ngIf="item.type=='4'">
  <ion-row style="flex-wrap: nowrap;width: 80%;margin-left: 10%;">

    

    <ion-col (click)="getOption(item.options[0],item.id)">
      
        <img src="/assets/feedback/Yes or no/yes.svg" style="width: 50%;margin-left: 25%;" />
      
    </ion-col>

    <ion-col  (click)="getOption(item.options[1],item.id)">
     
      
      
        <img src="/assets/feedback/Yes or no/no.svg" style="width: 50%;margin-left: 25%;" />
      
    </ion-col>

  </ion-row>
</ion-grid>

<!----------------------------1 to 10 number survey --------------------------------------->


<ion-row style="width: 90%;flex-wrap: nowrap;margin-left: 5%;" *ngIf="item.type=='5'">
  <ion-col  *ngFor="let num of item.options" (click)="getOption(num,item.id)">
    <ion-label class="nps">{{num.option}}</ion-label>
  </ion-col>
</ion-row>

<!----------------------------selection-------------------------------------------------------->
<div *ngIf="item.type=='6'">
<ion-card  [class.survey_white_card]="select.id != selected" [class.survey_blue_card]="select.id ===selected " 
      *ngFor="let select of item.options" (click)="getOption(select,item.id)">
  <!-- <ion-row style="flex-wrap:nowrap"> -->
  <ion-icon [class.survey_bullet_blue]="select.id != selected" [class.survey_bullet_white]="select.id === selected"></ion-icon>
  <ion-label>{{select.option}}</ion-label>
  
  <!-- </ion-row> -->
</ion-card>
</div>

</div>


<!-- <div *ngIf="!suggestion">
  <ion-item lines="none" color="none" style="margin-top: 20px;">
    <ion-label class="feedback_que" >Please Leave Your Feedback</ion-label>
  </ion-item>
  <ion-card color="none" style="border-style: solid;border-color: #1c1c1c;border-width: 0.5px;">
    <ion-label class="feedback_input" >Please enter your feedbacks</ion-label>
    <p>
      <ion-label class="feedback_input" >Suggestions</ion-label>
      
        <ion-input [(ngModel)]="feedback"></ion-input>
      
    </p>
    <p>
      <ion-row class="mtb-20">
        <ion-col class="col_fit " size-lg="2" size-sm="4" *ngFor="let item of feed_suggestion" (click)="setSuggestion(item)">
          <ion-label class="sug_label">{{item}}</ion-label>
        </ion-col>
      </ion-row>
    </p>
  </ion-card>

    <ion-button style="width:50%;margin-left: 25%;margin-right: 25%;color:#0077b5;" (click)="submit()">Submit</ion-button>
  </div> -->



  <ion-item lines="none" color="none" *ngIf="!suggestion">

    <ion-grid>

      <ion-row class="feedback_container">

        <ion-col>
          <textarea rows="5" placeholder="Please enter your feedbacks.."></textarea>
          <span class="sug-box">
            <p class="sg-title">Suggestions...</p>
            <ul class="list-unstyled">
              <li>
                <div class="sug-cont">
                  <span>Very good care</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Very good Food</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Excellent care</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Very good staff</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Lifestyle activities</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Poor food</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Poor service</span>
                </div>
              </li>
              <li>
                <div class="sug-cont">
                  <span>Bad service</span>
                </div>
              </li>
            </ul>
          </span>
        </ion-col>

      </ion-row>

      <span class="survey_submit_btn" (click)="submit()">Submit</span>

    </ion-grid>

  </ion-item>




  <ion-grid>

    <ion-row
      style="width: 90%;flex-wrap: nowrap;margin-left: 5%;margin-right: 5%; --inner-padding-end: 0 !important; --padding-start: 0 !important;">

      <ion-col class="col_fit">
        <ion-fab-button class="arrow_button" (click)="previous()">
          <ion-icon name="arrow-back-outline" style="color: #fff;"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <!-- <ion-col  size="8" style="justify-content: center;align-content: center;">
          <ion-button class="arrow_button" style="margin-left: 25%;margin-right: 25%;width: 50%;height: 50px;">
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label style="font-size: 15px;line-height: 23px;margin-left: 3px;">Survey listing</ion-label>
          </ion-button>
        </ion-col> -->

      <ion-col class="col_fit" offset="10">
        <ion-fab-button class="arrow_button" (click)="next()">
          <ion-icon name="arrow-forward-outline" style="color: #fff;"></ion-icon>
        </ion-fab-button>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
