<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Services</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 20px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <!-- <ion-grid class="menu_grid">
    <ion-row>
      <ion-col size-sm="4" size-md="3" size-lg="3" size="4" *ngIf="modules.includes('Call booking')">
        <ion-card class="menu_card_new" [routerLink]="['/bookedcall-list']">
          <ion-icon class="callbooking_icon"></ion-icon>
          <ion-label>Book a call</ion-label>
        </ion-card>
      </ion-col>


      <ion-col size-sm="4" size-md="3" size-lg="3" size="4" *ngIf="modules.includes('Visit booking')">

        <ion-card class="menu_card_new" [routerLink]="['/visit-booking']">
          <ion-icon class="visitbooking_icon"></ion-icon>
          <ion-label>Book visit</ion-label>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-row class="mb-115">

    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Call booking')" [routerLink]="['/bookedcall-list']">

      <ion-card class="cl-menu-card">
        <img src="/assets/menu/new-icons/video-call.svg">
        <ion-label>Book a call</ion-label>
      </ion-card>

    </ion-col>

    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Visit booking')" [routerLink]="['/visit-booking']">

      <ion-card class="cl-menu-card">
        <img src="/assets/menu/new-icons/visit-booking.svg">
        <ion-label>Book visit</ion-label>
      </ion-card>

    </ion-col>

  </ion-row>
  
</ion-content>