.callbooking_icon {
    background-image: url(../../assets/menu/call_booking_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.visitbooking_icon {
    background-image: url(../../assets/menu/visitor-booking.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.menu_grid {
    width: 98%;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    ion-col {
        // margin: 4px 4px;
        margin: 0px;
    }
}

.menu_card_new {
    //width: 100%;
    //height: auto;
    //margin-inline-start: 0;
    //margin-inline-end: 0;
    //margin-top: 0;
    //margin-bottom: 0;
    //margin-left: 0 !important;
    //margin-right: 0 !important;
	
	width: 94%;
    height: auto;
    margin: 4px;


    ion-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    ion-label {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #5a5a5a;
        display: block;
        text-align: center;
        margin-bottom: 24px;
    }
}

ion-content {
    --background: #efefef;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

.cl-menu-card {
    padding: 20px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    border-radius: 15px !important;
    box-shadow: none;

    img {
        width: 65px;
        height: 65px;
    }

    ion-label {
        font-size: 19px;
        font-weight: 500;
        color: #4e4e4e;
        text-align: center;
        margin-top: 15px;
    }
}