<ion-header no-padding color="none"
  style="background: url('/assets/common_header.svg') no-repeat center center !important;background-attachment: fixed; background-size: cover !important;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title mode="md" class="page_title">Maintenance</ion-title> -->

    <ion-buttons slot="end" style="padding-inline-end: 15px;">
      <!-- <ion-grid class="display_flex_end">

        <ion-row>
  
          <ion-col style="display: flex; justify-content: center;" (click)="pickJob()" *ngIf="pick">
            <ion-label class="pick-job">Pick Job</ion-label>
          </ion-col> -->
  
          <ion-col class="col_fit">
  
            <ion-select placeholder="All" class="status_change_select" [(ngModel)]="bname" (ionChange)="changeStatus(bname)">
              <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.status}}</ion-select-option>
              
            </ion-select>
  
          </ion-col>
  
        <!-- </ion-row>
  
      </ion-grid> -->
      <ion-col>
        <ion-button class="header_btn_bg" color="primary" (click)="filterRequest($event)">
          <ion-icon name="funnel-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header>

<ion-content class="ion-maintenance-content">

  <!-- <ion-item color="none" lines="none" class="mb-10">
    
    <ion-label class="maintenance_list_date">
      Today
    </ion-label>

  </ion-item> -->

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of request">

        <ion-card (click)="gotoDetails(item.id)">

          <ion-card-header [class.pending]="item.status==0" [class.in-progress]="item.status==1" [class.with-third-party]="item.status==2" [class.closed]="item.status==3" [class.reopened]="item.status==4" [class.waiting_for_feedback]="item.status==5">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#{{item.reference_id}}</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label *ngIf="item.status==0">Pending</ion-label>
                  <ion-label *ngIf="item.status==1">In progress</ion-label>
                  <ion-label *ngIf="item.status==2">With third party</ion-label>
                  <ion-label *ngIf="item.status==3">Closed</ion-label>
                  <ion-label *ngIf="item.status==4">Reopened</ion-label>
                  <ion-label *ngIf="item.status==5">Waiting for feedback</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">{{item.request_title}}</ion-label>

            </ion-item>


              <span class="urgent-tag" *ngIf="item.priority==2">

                <ion-icon name="alert-circle-outline"></ion-icon>
                <p>Urgent</p>

              </span>


            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span *ngIf="item.priority==0">Low</span>
                    <span *ngIf="item.priority==1">Medium</span>
                    <span *ngIf="item.priority==2">Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph" [class.low-priority-graph]="item.priority==0" [class.medium-priority-graph]="item.priority==1"
                  [class.urgent-priority-graph]="item.priority==2" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <!-- <span></span> -->
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>{{item.due_date | dateformat : 'DD MMM yyyy'}}</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">{{item.location}}</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">{{item.branch.name}}</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

<!-- 
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/maintenance-details']">

          <ion-card-header class="with-third-party">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1236</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>With third party</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span>Medium</span>
                  </ion-label>

                  <ion-item class="priority-graph medium-priority-graph" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/maintenance-details']">

          <ion-card-header class="in-progress">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1235</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>In progress</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span>High</span>
                  </ion-label>

                  <ion-item class="priority-graph high-priority-graph" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/maintenance-details']">

          <ion-card-header class="waiting_for_feedback">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1234</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Waiting for feedback</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span>Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph urgent-priority-graph" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card>

          <ion-card-header class="overdue">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1233</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Overdue</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span>Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph urgent-priority-graph" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col >
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B(Branch name)</ion-label>
                </ion-col>

             
              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card>

          <ion-card-header class="closed">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1232</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Closed</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span>High</span>
                  </ion-label>

                  <ion-item class="priority-graph high-priority-graph" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card>

          <ion-card-header class="reopened">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1231</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Reopened</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span>Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph urgent-priority-graph" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col> -->

    </ion-row>

  </ion-grid>




  <div *ngIf="request.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/maintenance/no-maintenance-request-found.svg">
    </ion-thumbnail>
  
    <ion-item lines="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Maintenance Request Found.</ion-label>
    </ion-item>
  </div>


</ion-content>