ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-dietary-info-block {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 25px;

    .ddib-close-btn {
        position: absolute;
        z-index: 999;
        top: -10px;
        right: -10px;
        height: auto;
        --background: transparent;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;

        ion-icon {
            font-size: 30px;
            color: #808080;
        }
    }

    .ddib-header-block {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #d9d9d9;

        ion-icon {
            font-size: 35px;
            color: #0177B4;
            margin-right: 5px;
        }

        ion-label {
            font-size: 14px;
            color: #0177B4;
            margin-top: 15px;
            margin-left: 10px;
        }
    }

    .ddib-inner-row {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dashed #d9d9d9;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }

        ion-label {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            color: #707070;
            line-height: 25px;
            margin-bottom: 0px;
            width: 100%;
        }

        span {
            font-size: 16px;
            font-weight: 500;
            color: #505050;
        }

        .din-sa-label {
            // font-size: 14px;
            // color: #707070;
            // line-height: 25px;
            // margin-bottom: 10px;
            // width: 100%;

            font-size: 14px;
            color: #707070;
            line-height: 25px;
            margin-bottom: 10px;
            width: 100%;
            padding-left: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dashed #d9d9d9;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border: none;
            }

            i,
            ion-icon {
                font-size: 19px;
                vertical-align: middle;
                margin-right: 5px;
            }

            span {
                font-size: 17px;
                font-weight: 600;
                color: #505050;
                display: block;
                margin-left: 27px;
            }
        }
    }
}