<ion-content *ngIf="details">

  <div class="din-dietary-info-block">

    <ion-button class="ddib-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <div class="ddib-header-block">

      <ion-icon name="alert-circle-sharp"></ion-icon>
      <ion-label> Dietery preferences changed on {{last_updated_at}} </ion-label>

    </div>

    <div class="ddib-inner-row"*ngIf="details.package_detail">
      <ion-label>Package</ion-label>
      <span>{{details.package_detail.planname}}</span>
    </div>

    <div class="ddib-inner-row" *ngIf="details.likes">

      <ion-label>Likes</ion-label>
      <span>  {{details.likes}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.dislikes">

      <ion-label>Dislikes</ion-label>
      <span>  {{details.dislikes}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.preference">

      <ion-label>Preference </ion-label>
      <span>{{details.preference}}</span>

    </div>
    <div class="ddib-inner-row" *ngIf="details.diet_restriction">

      <ion-label> Diet restrictions </ion-label>
      <span> {{details.diet_restriction.name}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.diabetes">

      <ion-label>Diabetes</ion-label>
      <span> {{details.diabetes.name}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.readiness_assistance">

      <ion-label> Assistance for readiness to eat/drink </ion-label>
      <span> {{details.readiness_assistance}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.eating_assistance">

      <ion-label> Assistance with food </ion-label>
      <span>  {{details.eating_assistance}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.fluid_assistance">

      <ion-label> Assistance with fluid </ion-label>
      <span>  {{details.fluid_assistance}}  </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.eating_aids">

      <ion-label> Eating aids required </ion-label>
      <span>  {{details.eating_aids}} </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.water_jug">

      <ion-label> Water jug </ion-label>
      <span>  {{details.water_jug}}  </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.alcohol_allowed">

      <ion-label> Alcohol allowed </ion-label>
      <span>  {{details.alcohol_allowed}}  </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.nutrition_watch">

      <ion-label> Nutrition watch </ion-label>
      <span>  {{details.nutrition_watch}}  </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.swallowing_diff">

      <ion-label> Swallowing difficulties </ion-label>
      <span>  {{details.swallowing_diff}}  </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.suppliments&&details.suppliments.length">
      <ion-label>Food suppliments </ion-label>
      <span *ngFor="let item of details.suppliments">
        {{item.serving_time.servingtime}} : {{item.suppliment.item_name}}  </span>

    </div>

    <div class="ddib-inner-row" *ngIf="details.consumer_serve_areas">

      <ion-label class="mb-10"> Serving area </ion-label>
      
      <ion-label class="din-sa-label" *ngFor="let item of details.consumer_serve_areas">
        <i class="las la-dot-circle"></i> {{item.serving_time.servingtime}} 
        <span *ngIf="item.serve_area==0">In room</span> 
        <span *ngIf="item.serve_area!=0">{{item.serving_area.serving_area}}</span> 
      </ion-label>

      

    </div>

  </div>

</ion-content>