ion-header {
    padding-inline-start: 0px !important;

    .checked-in {
        display: block;
        background-color: #35b135;
        color: #ffffff;
        font-size: 14px;
        font-family: "Product Sans" !important;
        text-align: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 5px;
    }

    ion-row {
        padding: 0px 12px;
        align-items: center;

        .menu_username {
            padding-left: 20px;
            margin-top: 10px;
        }

        .menu-res-change-btn {
            --background: #fff;
            --border-radius: 50px;
            --padding-start: 5px;
            --padding-end: 5px;
            font-size: 30px;
            color: #0077b5;
            margin: 0 auto;
            display: flex;
            height: 40px;
            width: 40px;
        }

        .dflex-ai-jc-center {
            align-items: center;
            display: flex;
        }

        .menu-notification-btn {
            position: relative;
            right: -15px;
            height: 35px;

            .menu-notification-icon {
                font-size: 35px;
                color: #fff;
                margin-top: 2px;
            }

            .menu-notification-icon-1 {
                filter: invert(1);
                width: 28px;
                height: 28px;
                
            }

            .not-badge {
                --padding-top: 2px;
                --padding-end: 4px;
                --padding-bottom: 2px;
                --padding-start: 4px;
                position: absolute;
                top: 13px;
                right: -5px;
                min-width: 20px;
                min-height: 20px;
                background-color: #e70d68 !important;
                border-radius: 50px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
                padding-top: 2px !important;
                padding-bottom: 2px !important;
                font-family: "Roboto", sans-serif;
                font-size: 11px !important;
                font-weight: normal !important;
                color: #fff !important;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.ion-content {
    position: relative;
    z-index: 999;
    top: -35px;
    border-radius: 40px;
    // background: #fff;
    background: #efefef;
    padding: 6px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100%;
    padding: 15px;

    .checked-in-1 {
        display: flex;
        background-color: #4abf4f;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        padding: 5px;
        height: 35px;
        border-radius: 10px;
        margin: -15px 0 -5px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        /* font-family: "Poppins", sans-serif !important; */
        font-family: "Roboto", sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 105vw;
        position: relative;
        left: -20px;
    }
}

.menu_grid {
    width: 98%;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    ion-col {
        // margin: 4px 4px;
        margin: 0px;
    }
}

.menu_card_new {
    //width: 100%;
    //height: auto;
    //margin-inline-start: 0;
    //margin-inline-end: 0;
    //margin-top: 0;
    //margin-bottom: 0;
    //margin-left: 0 !important;
    //margin-right: 0 !important;

    width: 94%;
    height: auto;
    margin: 4px;

    ion-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    ion-label {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #5a5a5a;
        display: block;
        text-align: center;
        margin-bottom: 24px;
    }
}

.myprofileicon {
    background-image: url(../../assets/menu/myprofile_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.diningicon {
    background-image: url(../../assets/menu/dining_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.maintenanceicon {
    background-image: url(../../assets/menu/maintenance_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.pettycashicon {
    background-image: url(../../assets/menu/pettycash_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.newslettericon {
    background-image: url(../../assets/menu/newsletter_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.resourcesicon {
    background-image: url(../../assets/menu/resources_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.abouticon {
    background-image: url(../../assets/menu/about_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.surveyicon {
    background-image: url(../../assets/menu/survey_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.feedbackicon {
    background-image: url(../../assets/menu/feedback_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.pollicon {
    background-image: url(../../assets/menu/poll-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.entertainmenticon {
    background-image: url(../../assets/menu/entertainment_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.feedicon {
    background-image: url(../../assets/menu/feeds-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.activityicon {
    background-image: url(../../assets/menu/activity.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.messageicon {
    background-image: url(../../assets/menu/message_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
    position: relative;
}

.residenticon {
    background-image: url(../../assets/menu/resident-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
    position: relative;
}

.not-badge {
    min-width: 18px;
    min-height: 18px;
    background-color: #e70d68 !important;
    border-radius: 50px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #fff !important;
    text-align: center;
    margin-left: -9px;
    margin-top: -13px;
    --padding-top: 2px;
    --padding-end: 4px;
    --padding-bottom: 2px;
    --padding-start: 4px;
}

.callbooking_icon {
    background-image: url(../../assets/menu/call_booking_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.booking_icon {
    background-image: url(../../assets/menu/booking-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.visitbooking_icon {
    background-image: url(../../assets/menu/visitor-booking.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.checkin_icon {
    background-image: url(../../assets/menu/check-in.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.checkout_icon {
    background-image: url(../../assets/menu/check-out.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    max-width: 100%;
}

.myOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.6);

    // color: #fff;
}

.gm_user {
    display: block;
    font-size: 16px;
}

.menu-header {
    background-size: cover;
    // border-bottom-left-radius: 25px;
    // border-bottom-right-radius: 25px;
    background-position: center;
    background: #0077b5;

    .resident-family-info-block {
        max-width: fit-content !important;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .header_padding {
        /* padding: 0 10%; */
        padding: 0 4% !important;
    }

    .menu-header {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .menu_username {
            font-size: 22px !important;

            .gm_user {
                display: block;
                font-size: 18px !important;
                font-weight: normal;
                margin-bottom: 2px;
            }
        }

        .resident-family-info-block {
            max-width: unset !important;
        }

        .announcements-sec-sm {
            display: none;
        }

        .announcements-sec-col-tab {
            margin-left: auto;

            .announcements-sec {
                margin-right: unset !important;
                display: flex;
                align-items: center;
                color: #fff;
                padding: 0px 25px 0px 0px !important;
                background: transparent;
                border-radius: 0;
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                margin-left: auto;
                margin-top: 0px !important;
                height: unset !important;
                min-height: 20px !important;
                border-right: 1px solid #89bcd7;

                i {
                    background: #bfe9ff;
                    color: #0077b5;
                    font-size: 22px;
                    border-radius: 50px;
                    padding: 8px;
                }

                ion-label {
                    font-family: "Open Sans", sans-serif;
                    font-size: 17px;
                    color: #bfe9ff;
                    margin-left: 18px;
                    margin-right: 10px;
                }

                ion-icon {
                    font-size: 20px;
                    color: #bfe9ff;
                    vertical-align: middle;
                    align-self: center;
                    margin-left: auto;
                }
            }
        }
    }

    .ro-btn-sec {
        .ro-btn {
            display: none;
        }
    }

    .ro-btn-sec {
        .ro-btn {
            position: relative;

            .ro-details-block {
                padding-right: 30px;

                .ro-first-block {
                    ion-icon {
                        // display: none;
                        margin-left: 8px !important;
                    }
                }

                .go-to-daily-overview-icon {
                    right: 20px;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .box-bg {
                width: 420px !important;
                opacity: 0.08;
                left: -90px !important;
                top: -65px !important;
            }

            .ro-change-user-box {
                position: absolute;
                bottom: 7px;
                left: 35px;
            }

            .company-info-col {
                max-width: fit-content !important;
                min-width: 17%;
                margin-left: auto;

                .company-info-sec {
                    display: flex;
                    align-items: center;
                    border-top: unset !important;
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    margin-top: 0 !important;
                    padding-top: 0 !important;
                    padding-left: 30px;
                    min-height: 60px;

                    .company-name-label {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    .footer-sec {
        .bottom-navbar-sec {
            justify-content: center !important;

            .bns-item {
                padding: 0 50px;

                &:first-child {
                    padding: 0 72px;
                }

                &:last-child {
                    padding: 0 72px;
                }
            }

            .bns-menu-item {
                padding: 0 72px;
            }
        }
    }
}

.announcements-sec-sm {
    // display: flex;
    // align-items: center;
    // color: #ffeb3b;
    // padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    padding: 8px 10px;
    background: transparent;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    min-height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 91%;

    i {
        font-size: 22px;
        vertical-align: middle;
        align-self: center;
        padding: 8px;
        border-radius: 50px;
        background: rgb(237 249 255 / 60%);
        color: #01669b;
    }

    ion-label {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #9fdeff;
        vertical-align: middle;
        margin-left: 15px;
        align-self: center;
    }

    ion-icon {
        font-size: 20px;
        color: #9fdeff;
        vertical-align: middle;
        align-self: center;
        margin-left: auto;
    }
}

.menu-notification-btn {
    height: auto;

    .menu-notification-icon {
        font-size: 30px;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .menu-notification-btn {
        height: auto;
        position: relative;

        .menu-notification-icon {
            font-size: 40px;
            color: #fff;
        }
    }

    .not-badge {
        min-width: 25px;
        min-height: 25px;
        background-color: #e70d68 !important;
        border-radius: 50px !important;
        font-size: 12px !important;
        font-weight: normal !important;
        color: #fff !important;
        text-align: center;
        --padding-top: 2px;
        --padding-end: 4px;
        --padding-bottom: 2px;
        --padding-start: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -7px;
        top: 14px;
        z-index: 999999;
    }
}

.cl-menu-card {
    padding: 20px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    border-radius: 15px !important;
    box-shadow: none;
    // position: relative;

    .cl-mc-ib {
        position: relative;
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mes-badge {
            color: white;
            background-color: #e70d68;
            margin-left: 0;
            border-radius: 50px;
            min-height: 25px;
            min-width: 25px;
            padding: 5px;
            font-weight: normal;
            z-index: 999 !important;
            position: absolute !important;
            top: 0px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 !important;
        }

        img {
            width: 65px;
            height: 65px;
        }

        ion-label {
            font-family: "Roboto", sans-serif;
            font-size: 19px;
            font-weight: 500;
            color: #4e4e4e;
            text-align: center;
            margin-top: 15px;
        }
    }
}

.ro-btn-sec {
    .ro-btn {
        background-color: #0077b5 !important;
        border-radius: 20px !important;
        box-shadow: none;
        margin: 10px 10px 10px !important;
        display: block;
        max-width: -moz-fit-content;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        min-height: 115px;
        text-align: left;
        align-items: center;
        display: flex;
        padding: 20px 30px 20px 30px !important;
        filter: hue-rotate(4deg);

        .box-bg {
            width: 270px;
            position: absolute;
            filter: invert(1);
            opacity: 0.095;
            left: -40px;
            top: -25px;
        }

        .ro-details-block {
            padding-left: 20px;

            .ro-first-block {
                display: flex;
                align-items: center;
                width: 100%;

                ion-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                }

                ion-icon {
                    // margin-left: 5px;
                    margin-left: auto;
                    font-size: 20px;
                }
            }

            .ro-second-block {
                ion-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    color: #ffffff;
                    margin-top: 0px;
                    display: block;
                }
            }
        }

        .ro-change-user {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            color: #c2e7fa;
            margin-left: 5px;
        }

        .company-info-sec {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            margin-top: 10px;
            padding-top: 10px;

            .company-icon {
                width: 22px;
                filter: brightness(10) contrast(60) opacity(0.8);
            }

            .company-name-label {
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #c2e7fa;
                margin-left: 10px;
            }
        }

        .mrc-btn-block {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-right: 0px;
            max-width: fit-content !important;

            // .menu-res-change-btn-1 {
            //     --background: #d5a7b1;
            //     --border-radius: 50px;
            //     --padding-start: 5px;
            //     --padding-end: 5px;
            //     font-size: 30px;
            //     color: #0077b5;
            //     margin: 0 auto;
            //     display: flex;
            //     height: 40px;
            //     width: 40px;
            // }

            .profile-switch-box {
                // position: absolute;
                // right: -5px;
                // top: -21px;
                text-align: center;

                .profile-switch-btn {
                    width: 60px;
                    height: 60px;
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    color: #0077b5;
                    font-size: 25px;
                    --background: #d5a7b1;
                    --border-radius: 50px;
                    --padding-start: 0;
                    --padding-end: 0;
                    --border-width: 5px;
                    --border-style: solid;
                    --border-color: #fff;
                    display: block;

                    img {
                        width: 100%;
                        height: 60px;
                        object-fit: cover;
                    }
                }

                ion-label {
                    font-size: 10px;
                    color: #fff;
                    opacity: 0.8;
                }
            }
        }

        ion-row {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
}

.mb-175 {
    margin-bottom: 175px;
    min-height: 100%;
    overflow-y: scroll;
    padding-bottom: 40px;
}

.ml-auto {
    margin-left: auto;
}

// .mc-box {
//     position: relative;
//     height: auto;
//     background: #fff;
// }

// .ribbon {
//     width: 150px;
//     height: 150px;
//     overflow: hidden;
//     position: absolute;
// }

// .ribbon::before,
// .ribbon::after {
//     position: absolute;
//     z-index: -1;
//     content: '';
//     display: block;
//     border: 5px solid #2980b9;
// }

// .ribbon span {
//     position: absolute;
//     display: block;
//     width: 225px;
//     padding: 5px 0;
//     background-color: #ff9800;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
//     color: #fff;
//     font-size: 14px;
//     font-weight: normal;
//     text-transform: none;
//     text-align: center;
// }

// .ribbon-top-left {
//     top: -5px;
//     left: -10px;
// }

// .ribbon-top-left::before,
// .ribbon-top-left::after {
//     border-top-color: transparent;
//     border-left-color: transparent;
// }

// .ribbon-top-left::before {
//     top: 0;
//     right: 0;
// }

// .ribbon-top-left::after {
//     bottom: 0;
//     left: 0;
// }

// .ribbon-top-left span {
//     right: -15px;
//     top: 30px;
//     transform: rotate(-45deg);
// }

.mc-box {
    position: relative;
}

.new-ribbon {
    background-color: #ff9800;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px 10px;
    border-radius: 0 14px;
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 5px;
    // font-family: "Open Sans", sans-serif;

    ion-icon {
        font-size: 24px;
        color: #787878;
    }

    .company-icon {
        width: 28px;
    }

    ion-label {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #0077b5;
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        align-self: end;

        span {
            color: #686868;
            font-size: 13px;
            font-weight: normal;
        }
    }
}

.menu_avatar {
    width: 50px;
    height: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .menu-header {
        .announcements-sec-col-tab {
            display: none;
        }
    }

    .ro-btn-sec {
        .ro-details-block {
            .go-to-daily-overview-icon {
                display: none;
            }
        }
    }
}

.mt-auto-mb-30 {
    margin-bottom: 30px;
    margin-top: auto;
}

.footer-sec {
    position: fixed;
    width: 100%;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #efefef;
    border-top: 1px solid #d7d7d7;

    .bottom-navbar-sec {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        padding: 8px 25px 2px;

        .bns-item {
            .feeds-icon {
                width: 22px;
            }

            ion-icon {
                font-size: 25px;
                color: #6c6c6c;
            }

            i {
                font-size: 28px;
                color: #6c6c6c;
                display: block !important;
                margin-top: -5px;
            }
        }

        .bns-item-selected {
            ion-icon {
                color: #0077b5;
            }

            i {
                color: #0077b5;
            }
        }

        .bns-menu-item {
            img {
                width: 55px;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .menu_username {
        line-height: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .footer-sec {
        .bottom-navbar-sec {
            padding: 8px 10px 2px !important;

            .bns-item:first-child {
                padding: 0 45px !important;
            }

            .bns-item:last-child {
                padding: 0 45px !important;
            }
        }
    }
}

ion-col.ios.hydrated {
    .footer-sec {
        padding-bottom: 15px;
    }
}

@media only screen and (min-height: 660px) and (max-height: 669px) {
    .mb-175 {
        margin-bottom: 215px !important;
    }
}

@media only screen and (min-width: 750px) {
    .menu-item-row {
        padding-bottom: 100px;

        ion-col {
            display: inline-grid;
        }
    }
}

@media only screen and (min-width: 834px) and (max-width:834px) {
    .footer-sec {
        .bottom-navbar-sec {
            padding: 8px 22px 2px !important;
        }
    } 
}

.footer-sec[_ngcontent-uch-c175] .bottom-navbar-sec[_ngcontent-uch-c175] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 8px 23px 2px;
}
