<ion-header no-padding no-border color="none" class="menu-header">
    <ion-row style="height: 30px;"></ion-row>
    <ion-toolbar class="header_padding" no-padding color="none" no-border>


        <ion-row>

            <!-- <ion-col size="2" class="col_fit">

                <ion-avatar class="menu_avatar" *ngIf="img" [routerLink]="['/relative-profile']">
                    <img [src]="img">
                </ion-avatar>

                <ion-avatar class="menu_avatar bg-green bg-lighten-4" *ngIf="!img" [routerLink]="['/relative-profile']">
                    <ion-label style="margin-left: 25px;margin-top: 20px;font-size: 20px; font-weight: bold;">{{p_name}}
                    </ion-label>
                </ion-avatar>

            </ion-col>

            <ion-col size="7">

                <h3 class="menu_username" [routerLink]="['/relative-profile']">
                    {{name}}
                </h3>

            </ion-col> -->

            <ion-col size-sm="9" size-md="6" siz-lg="6" size="9" class="resident-family-info-block">

                <ion-avatar class="menu_avatar" *ngIf="img" [routerLink]="['/relative-profile']">
                    <img [src]="img">
                </ion-avatar>

                <ion-avatar class="menu_avatar bg-green bg-lighten-4" *ngIf="!img" [routerLink]="['/relative-profile']">
                    <ion-label style="margin-left: 25px;margin-top: 20px;font-size: 20px; font-weight: bold;">{{p_name}}
                    </ion-label>
                </ion-avatar>

                <h3 class="menu_username" [routerLink]="['/relative-profile']">
                    {{name}}
                </h3>

            </ion-col>

            <ion-col class="announcements-sec-col-tab" *ngIf="an_count&&an_count!==0">
                <span class="announcements-sec">
                    <i class="las la-bullhorn"></i>
                    <ion-label><span>{{an_count}}</span> unread announcements</ion-label>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </span>
            </ion-col>

            <ion-col size="3" class="dflex-ai-jc-center col_fit ml-auto">

                <ion-button fill="clear" (click)="notification()" class="menu-notification-btn">
                    <!-- <ion-icon slot="icon-only" name="notifications" class="menu-notification-icon"></ion-icon> -->
                    <img class="menu-notification-icon-1" src="/assets/menu-notification-icon.svg">
                    <ion-badge class="not-badge" *ngIf="notify!=0 && notify<100">{{notify}}</ion-badge>
                    <ion-badge class="not-badge" *ngIf="notify!=0 && notify>=100">99+</ion-badge>
                </ion-button>

            </ion-col>

        </ion-row>

        <!-- <span class="announcements-sec" *ngIf="an_count&&an_count!==0">
            <i class="las la-bullhorn"></i>
            <ion-label>{{an_count}} unread announcements</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </span> -->

        <span class="announcements-sec-sm" *ngIf="an_count&&an_count!==0">
            <i class="las la-bullhorn"></i>
            <ion-label><span>{{an_count}}</span> unread announcements</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </span>

    </ion-toolbar>
    <ion-toolbar color="none" no-border style="height: 60px;"></ion-toolbar>



</ion-header>

<div class="ion-content">

    <span class="checked-in-1" *ngIf="checkin==1" (click)="checkoutAlert()">You are checked in - Tap here to
        checkout</span>


    <!-- <div class="company-info-box">

        <img class="company-icon" src="/assets/menu/company-icon-1.svg">

        <ion-label>
            Sancarlo Homes for the aged
            
        </ion-label>

    </div> -->

    <div class="ro-btn-sec">

        <ion-card class="ro-btn" (click)="residentProfile()">

            <svg class="box-bg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
                <path
                    d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z" />
            </svg>

            <ion-row>

                <ion-col size="2" size-md="1" size-lg="1" size="2" class="mrc-btn-block">


                    <div class="profile-switch-box">

                        <ion-button class="profile-switch-btn">

                            <img [src]="res_img">
                        </ion-button>

                        <!-- <ion-label *ngIf="user_type==6&&parent.length>1">change</ion-label> -->

                        <ion-label *ngIf="user_type==6&&parent.length>1"
                            (click)="setResident($event);$event.stopPropagation()">change</ion-label>

                    </div>

                </ion-col>

                <ion-col class="ro-details-block" [class.mt-auto-mb-30]="user_type==6&&parent.length>1">
                    <span class="ro-first-block">
                        <ion-label>
                            <ng-container *ngIf="user_type==5">Your </ng-container>Daily Overview
                        </ion-label>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span>

                    <span class="ro-second-block">
                        <ion-label>
                            {{r_name}}
                        </ion-label>
                    </span>

                    <!-- <ion-icon class="go-to-daily-overview-icon" name="arrow-forward-outline"></ion-icon> -->

                </ion-col>

                <!-- <ion-col size="12" size-md="12" size-lg="12" size="12" class="ro-change-user-box">
                    <ion-label class="ro-change-user">change</ion-label>
                </ion-col> -->

                <ion-col size="12" size-md="4" size-lg="4" size="12" class="company-info-col">
                    <span class="company-info-sec">
                        <img class="company-icon" src="/assets/menu/company-icon-1.svg">

                        <ion-label class="company-name-label">
                            {{c_name}}
                        </ion-label>
                    </span>
                </ion-col>

            </ion-row>

        </ion-card>

    </div>

    <ion-row class="menu-item-row mb-175">

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Story')"
            [routerLink]="['/stories']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/feed.svg">
                    <ion-label>Feeds</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Activity')"
            [routerLink]="['/activities']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/activity.svg">
                    <ion-label>Activities</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Messages')"
            [routerLink]="['/message']">

            <ion-card class="cl-menu-card mc-box">
                <!-- <div class="new-ribbon">
                    <span>Upcoming</span>
                </div> -->
                <div class="cl-mc-ib">
                    <ion-badge class="mes-badge" *ngIf="msgcount!=0 && msgcount<100">{{msgcount}}</ion-badge>
                    <ion-badge class="mes-badge" *ngIf="msgcount!=0 && msgcount>=100">99+</ion-badge>
                    <img src="/assets/menu/new-icons/messages.svg">
                    <ion-label>Messages</ion-label>
                </div>
            </ion-card>

        </ion-col>


        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Dining')"
            [routerLink]="['/dining']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/dining.svg">
                    <ion-label>Dining</ion-label>
                </div>
            </ion-card>

        </ion-col>
        <!-- <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Dining')"
            [routerLink]="['/dining']"> -->
        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Dining Beta')"
            [routerLink]="['/dining-menu']">
            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/dining.svg">
                    <ion-label>Dining</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" (click)="feedback()" *ngIf="modules.includes('PCF')">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/feedback.svg">
                    <ion-label>Feedback</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Feedback & Polls')"
            [routerLink]="['/poll']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <ion-badge class="mes-badge" *ngIf="poll.length!=0">{{poll.length}}</ion-badge>
                    <img src="/assets/menu/new-icons/poll.svg">
                    <ion-label>Poll</ion-label>
                </div>
            </ion-card>

        </ion-col>



        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="user_type==5&&modules.includes('Entertainment')"
            [routerLink]="['/entertainment']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/entertainment.svg">
                    <ion-label>Entertainment</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Newsletter')"
            [routerLink]="['/newsletter']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/newsletter.svg">
                    <ion-label>Newsletter</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Resource')"
            [routerLink]="['/resources']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/resources.svg">
                    <ion-label>Resources</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" [routerLink]="['/menu-booking']"
            *ngIf="user_type==6&&(modules.includes('Call booking')||modules.includes('Visit booking'))">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/services.svg">
                    <ion-label>Services</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="user_type==5&&modules.includes('Call booking')"
            [routerLink]="['/bookedcall-list']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/video-call.svg">
                    <ion-label>Book a call</ion-label>
                </div>
            </ion-card>

        </ion-col>


        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngIf="modules.includes('Maintenance')"
            [routerLink]="['/maintenance']">

            <ion-card class="cl-menu-card">
                <!-- <div class="new-ribbon">
                <span>Upcoming</span>
            </div> -->
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/maintenance.svg">
                    <ion-label>Maintenance</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3"
            *ngIf="user_type==6&&checkin!=1&&modules.includes('Visitor management')" (click)="checkIn()">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/checkin.svg">
                    <ion-label>Check-in</ion-label>
                </div>
            </ion-card>

        </ion-col>
        <ion-col size="6" size-sm="6" size-md="4" size-lg="3"
            *ngIf="user_type==6&&checkin==1&&modules.includes('Visitor management')" (click)="checkoutAlert()">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/checkout.svg">
                    <ion-label>Check out</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" [routerLink]="['/resident-overview']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/resident.svg">
                    <ion-label *ngIf="user_type==6">Resident</ion-label>
                    <ion-label *ngIf="user_type==5">My hub</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="4" size-lg="3" [routerLink]="['/about']">

            <ion-card class="cl-menu-card">
                <div class="cl-mc-ib">
                    <img src="/assets/menu/new-icons/about.svg">
                    <ion-label>About</ion-label>
                </div>
            </ion-card>

        </ion-col>

        <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

            <div class="footer-sec">

                <div class="bottom-navbar-sec">


                    <div class="bns-item" (click)="gotoFeeds()" *ngIf="modules.includes('Story')">
                        <img class="feeds-icon" src="/assets/feed-icon.svg">
                    </div>



                    <div class="bns-item" (click)="gotoActivity()" *ngIf="modules.includes('Activity')">
                        <ion-icon name="pulse-outline"></ion-icon>
                    </div>



                    <div class="bns-menu-item" [routerLink]="['/menu']">
                        <img src="/assets/bottom_menu_icon.svg">
                    </div>




                    <div class="bns-item" (click)="gotoMessage()" *ngIf="modules.includes('Messages')">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>


                    <div class="bns-item" [routerLink]="['/relative-profile']">
                        <!-- <ion-icon name="person-outline"></ion-icon> -->
                        <i class="las la-user"></i>
                    </div>


                </div>

            </div>

        </ion-col>

    </ion-row>



</div>