<!-- <ion-item style="margin-top: 15px;" lines="none" >
  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="wing" placeholder="All facilities" (ionChange)="selectWing(wing)">
    <ion-select-option value="{{item.id}}" *ngFor="let item of wingArray">{{item.wing}}</ion-select-option>
  </ion-select>
</ion-item> -->




<ion-item style="margin-top: 15px;" lines="none" color="none" (click)="selectAll()">
  <ion-label class="act_filter">All</ion-label>
</ion-item>

<hr class="filter_sep">
<ion-item style="margin-bottom: 15px;" lines="none" color="none" (click)="assigned()">
  <ion-label class="act_filter">Assigned</ion-label>
</ion-item>

<!-- <ion-item lines="none" style="margin-top: -5px;" (click)="activity()">
  <ion-label class="act_filter">Activity</ion-label>
</ion-item>

<hr class="filter_sep">

<ion-item lines="none" style="margin-top: -5px;" (click)="event()">
  <ion-label class="act_filter">Event</ion-label>
</ion-item>

<hr class="filter_sep">

<ion-item style="margin-bottom: 15px;" lines="none" (click)="meeting()">
  <ion-label class="act_filter">Meeting</ion-label>
</ion-item> -->
