.popover-content.sc-ion-popover-ios {
  padding: 15px !important;
}

ion-content {
  padding: 20px;
}

.popover-content {
  padding: 15px 0px !important;
}

ion-item.item.ios.item-lines-none.ion-focusable.item-label.hydrated {
  --min-height: auto;
}
