<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/bookedcall-list']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Booking Success</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-item color="none" lines="none">

    <ion-thumbnail class="callbooking_success_icon">
      <img src="/assets/call_booking/booking_success.svg">
    </ion-thumbnail>

  </ion-item>

  <ion-item color="none" lines="none" class="col_fit mlr_auto">
    
    <p class="confirm_callbooking_text" text-center>
      Congratulations, your call has been booked successfully
    </p>

  </ion-item>

  <ion-item color="none" lines="none" class="call_participants no_mb">

    <ion-label class="call_participants_heading">
      Booking Time
    </ion-label>

  </ion-item>

  <ion-item color="none" lines="none">

    <ion-label class="callbooking_date">
      {{date | dateformat:'DD MMM yyyy'}}
      <span>{{slot}}</span>
      <span>{{duration}} Minutes</span>
    </ion-label>

  </ion-item>

  <ion-item color="none" lines="none" class="col_fit mlr_auto">

    <p class="continue_btn" [routerLink]="['/bookedcall-list']">Continue</p>

  </ion-item>

</ion-content>