ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}

ion-item {
    margin-bottom: 20px;
}

@media only screen and (min-width:768px) {
    .continue_btn {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}