ion-input {
  border-radius: 30px;
  border: solid 1px #B3BAC3;
  margin-left: 20px;
  margin-right: 0px;
  font-size: 15px !important;
  padding-left: 10px !important;
  min-height: 30px !important;
  margin-top: 0px;
  border-radius: 25px;
  border: 1px solid #e2e2e2;
  --padding-top: 10px;
  --padding-end: 12px;
  --padding-bottom: 10px;
  --padding-start: 12px;
}

ion-card {
  padding: 15px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px;
  width: 95%;
}

ion-badge {
  color: white;
  background-color: #e70d68;
  margin-left: -9px;
  margin-top: -13px;
  border-radius: 12px;
  height: 18px;
  width: 18px;
  padding: 2px;
  font-weight: normal;
}

ion-content {
  top: 0px !important;
  --offset-top: 0px;
  --offset-bottom: 0px;
  --background: transparent;
  margin-left: auto !important;
  margin-right: auto !important;
}

ion-footer {
  position: relative;
  z-index: 9999;
}

ion-item {
  --padding-start: 0 !important;
  --inner-padding-end: 0 !important;
}

ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
}

.video-overlay {
  width: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.num_badge {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 25px;
  width: 100%;
  color: #fff;
  align-self: center;
  display: flex;
  justify-content: center;
}

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
  animation: inherit;
  animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
}

[id='toggle-heart']:checked + label:before {
  will-change: transform, border-width, border-color;
  animation-name: bubble;
}

[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 24px;
  cursor: pointer;
  top: -7px;
  vertical-align: middle;
}

[for='toggle-heart']:before, [for='toggle-heart']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}

[for='toggle-heart']:before {
  box-sizing: border-box;
  margin: -0.9375rem;
  border: solid 0.9375rem #e20e0e;
  width: 1.875rem;
  height: 1.875rem;
  transform: scale(0);
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #e2264d;
    border-width: 0.9375rem;
  }
  30%,
  100% {
    transform: scale(1);
    border-color: #e2264d;
    border-width: 0;
  }
}

.time {
  font-size: 12px !important;
  font-weight: normal !important;
  color: #A6A6A6 !important;
}

.col_bg {
  background-color: #cccbcb;
  border-radius: 10px;
  height: 28px;
}

.category_label {
  background-color: #e9e8e8;
  border-radius: 30px;
  margin-right: 8px;
  /* height: 26px; */
  font-size: 12px;
  padding: 5px 8px;
}

.story_head_container ion-avatar {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.story_head_container ion-avatar + ion-avatar {
  margin-left: -10px;
}

.c_tag {
  margin-right: 10px;
}

.card-content-ios {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.staff_comment {
  background-color: rgba(117, 212, 255, 0.5);
  color: #09648d;
  padding: 2px 6px;
  border-radius: 50px;
  margin-left: 5px;
}

.doc_attach_container {
  background-color: #e3f6ff;
  border-radius: 30px;
  padding: 0px 10px;
  margin-bottom: 5px;
  color: #fff !important;
  --min-height: auto;
  /* box-shadow: 0 2px 3px 1px rgba(49,53,72,0.1); */
}

.fixed_comment_box {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fixed_comment_box ion-avatar {
  width: 53px;
  height: 53px;
}

.download_btn {
  background-image: url("/assets/download_attachment.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
}

div.popover-content.sc-ion-popover-md {
  top: 25%;
  left: 0px;
  transform-origin: center bottom;
}

.card-content-md {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.msg_send_button {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  vertical-align: middle;
}

.view-count-icon {
  color: #a9a9a9;
  font-size: 24px !important;
}

.display_flexend {
  display: flex;
  justify-content: flex-end;
}

.view-count {
  font-size: 13px;
  color: #a9a9a9;
  margin-left: 10px;
  align-self: center;
  margin-top: -3px;
}

.story-media-container {
  width: 100%;
  height: 100%;
}

.story-media-container img {
  width: 100%;
  height: 150px !important;
  overflow: hidden;
  object-fit: cover;
}

.story-media-container ion-col {
  padding: 0;
  font-size: 25px;
  width: 100%;
  height: 150px;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .story-media-container img {
    height: 450px !important;
  }
  .story-media-container ion-col {
    height: 450px;
  }
}

ion-textarea .textarea-wrapper {
  height: auto !important;
}

.input_message {
  margin-top: 0px;
  border-radius: 25px;
  border: 1px solid #e2e2e2;
  --padding-top: 10px;
  --padding-end: 12px;
  --padding-bottom: 10px;
  --padding-start: 12px;
}

.submit-comment {
  --background: #0077b5;
  --background-activated: #0455b3;
  --background-activated-opacity: 1;
  --border-radius: 50px;
  --box-shadow: none;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  text-align: center;
  margin-left: 8px;
  height: auto;
}

.submit-comment ion-icon {
  font-size: 25px;
}

.comments_sep_story_details {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.comments_sep_story_details .likes,
.comments_sep_story_details .comments {
  vertical-align: middle;
  top: 0;
  align-self: center;
}

.comments_sep_story_details .react_icons {
  align-self: center;
  vertical-align: middle;
}

ion-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.vmore-comments {
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

.vmore-comments ion-icon {
  font-size: 25px;
  margin-left: 10px;
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }
  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }
}

.h-100 img {
  height: 100% !important;
}
