ion-input {
  border-radius: 30px;
  border: solid 1px #b3bac3;
  // border-width: 0.4px;
  margin-left: 20px;
  // margin-right: 10px;
  margin-right: 0px;
  // margin-bottom: 25px;
  // margin-top: 20px;
  font-size: 15px !important;
  padding-left: 10px !important;
  min-height: 30px !important;

  margin-top: 0px;
  border-radius: 25px;
  border: 1px solid #e2e2e2;

  --padding-top: 10px;
  --padding-end: 12px;
  --padding-bottom: 10px;
  --padding-start: 12px;
}

ion-card {
  padding: 15px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

ion-badge {
  color: white;
  background-color: #e70d68;
  margin-left: -9px;
  margin-top: -13px;
  border-radius: 12px;
  height: 18px;
  width: 18px;
  padding: 2px;
  font-weight: normal;
}

ion-content {
  top: 0px !important;
  --offset-top: 0px;
  --offset-bottom: 0px;
  // position: absolute;
  // z-index: 9999;
  --background: transparent;
  // --offset-bottom: -125px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

ion-footer {
  position: relative;
  z-index: 9999;
}

ion-item {
  --padding-start: 0 !important;
  --inner-padding-end: 0 !important;
}

ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;
}

.video-overlay {
  width: 100%;
  // height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  // background: rgba(172, 164, 164, 0.1);
  // background: none !important;
  background:rgba(0, 0, 0, 0.68);
  border-radius: 10px;
}

.num_badge {
  position: absolute;
  left: 0;
  right: 0;
  // top: 28%;
  font-size: 25px;
  width: 100%;
  // margin-left: 40%;
  // margin-right: 40%;
  color: #fff;
  align-self: center;
  display: flex;
  justify-content: center;
}

$bubble-d: 1.875rem; // bubble diameter
$bubble-r: 0.5 * $bubble-d; // bubble-radius

@mixin bubble($ext) {
  transform: scale(1);
  border-color: #e2264d;
  border-width: $ext;
}

[id="toggle-heart"] {
  position: absolute;
  left: -100vw;

  &:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);

    &:before,
    &:after {
      animation: inherit;
      animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
    }

    &:before {
      will-change: transform, border-width, border-color;
      animation-name: bubble;
    }
  }
}

[for="toggle-heart"] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 24px;
  cursor: pointer;
  top: -7px;
  vertical-align: middle;

  &:before,
  &:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: "";
  }

  &:before {
    box-sizing: border-box;
    margin: -$bubble-r;
    border: solid $bubble-r #e20e0e;
    width: $bubble-d;
    height: $bubble-d;
    transform: scale(0);
  }
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    @include bubble($bubble-r);
  }

  30%,
  100% {
    @include bubble(0);
  }
}

.time {
  font-size: 12px !important;
  font-weight: normal !important;
  color: #a6a6a6 !important;
}

.col_bg {
  background-color: #cccbcb;
  border-radius: 10px;
  height: 28px;
}

.category_label {
  background-color: #e9e8e8;
  border-radius: 30px;
  margin-right: 8px;
  /* height: 26px; */
  font-size: 12px;
  padding: 5px 8px;
}

.story_head_container {
  ion-avatar {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  // ion-avatar:nth-child(2) {
  //   position: absolute;
  //   left: 36px
  // }
  ion-avatar + ion-avatar {
    margin-left: -10px;
  }
}

.c_tag {
  margin-right: 10px;
}

.card-content-ios {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.staff_comment {
  // background-color: rgba(117, 212, 255, 0.5);
  // color: #09648d;
  background-color: rgb(117 212 255 / 25%);
  color: #1493cd;
  padding: 1px 10px 1px 5px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  // margin-top: 2px;
  margin-left: 5px;
  margin-top: 2px;
  vertical-align: sub;
  height: 18px;

  ion-icon {
    margin-right: 4px;
  }

  i {
    display: flex !important;
    font-size: 15px;
    margin-right: 2px;
  }
}

.doc_attach_container {
  background-color: #e3f6ff;
  border-radius: 30px;
  padding: 0px 10px;
  margin-bottom: 5px;
  color: #fff !important;
  --min-height: auto;
  /* box-shadow: 0 2px 3px 1px rgba(49,53,72,0.1); */
}

.fixed_comment_box {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  // ion-col {
  //   align-self: baseline;
  // }

  ion-avatar {
    width: 53px;
    height: 53px;
    border: 5px solid #fff;
  }
}

.download_btn {
  background-image: url("/assets/download_attachment.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
}

div.popover-content.sc-ion-popover-md {
  top: 25%;
  left: 0px;
  transform-origin: center bottom;
}

.card-content-md {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.msg_send_button {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  vertical-align: middle;
}

.view-count-icon {
  color: #a9a9a9;
  font-size: 24px !important;
}

.display_flexend {
  display: flex;
  justify-content: flex-end;
}

.view-count {
  font-size: 13px;
  color: #a9a9a9;
  margin-left: 10px;
  align-self: center;
  margin-top: -3px;
}

.story-media-container {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 165px !important;
    border-radius: 10px;
    margin: 0px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
  }

  ion-col {
    padding: 0;
    margin: 10px;
    font-size: 25px;
    width: 100%;
    height: 165px;
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .story-media-container {
    img {
      height: 450px !important;
    }

    ion-col {
      height: 450px;
    }
  }
}

ion-textarea {
  .textarea-wrapper {
    height: auto !important;
  }
}

.input_message {
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  border-radius: 6px;
  --padding-top: 10px;
  --padding-end: 12px;
  --padding-bottom: 10px;
  --padding-start: 12px;
  --placeholder-color: #222;
  --placeholder-opacity: 0.5;
  background: #f1f1f1;
}

.submit-comment {
  --background: #0077b5;
  --background-activated: #0455b3;
  --background-activated-opacity: 1;
  --border-radius: 50px;
  --box-shadow: none;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  text-align: center;
  margin-left: 8px;
  height: auto;

  ion-icon {
    font-size: 25px;
  }
}

.comments_sep_story_details {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .likes,
  .comments {
    vertical-align: middle;
    top: 0;
    align-self: center;
  }

  .react_icons {
    align-self: center;
    vertical-align: middle;
  }
}

ion-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.vmore-comments {
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 22px;
    margin-left: 10px;
  }
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }

  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-info-block {
    justify-content: normal !important;

    .story-created-time {
      margin-right: 25px !important;
    }

    .story-tagged-residents-box {
      margin-right: auto;
    }
  }

  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }

  .story-other-info-box {
    justify-content: unset !important;
  }

  .profile_pic_thumb {
    width: 40px;
    height: 40px;
  }

  .post_time {
    max-width: fit-content;
    display: flex;
    align-items: center;

    .story-date-time {
      margin-right: 6px;
    }
  }

  .h-100 {
    img {
      max-height: 450px;
    }
  }
}

.h-100 {
  img {
    height: 100% !important;
  }
}

.story-other-info-box {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  max-width: fit-content;
  min-width: 65%;
}

.story-card-1 {
  position: relative;
  box-shadow: none;

  .story-mo-icon {
    font-size: 18px;
    color: #adadad;
    position: absolute;
    top: 10px;
    right: 5px;
  }
}

.comments_container {
  position: relative;

  .comment-mo-icon {
    font-size: 15px;
    color: #c7c7c7;
    position: absolute;
    top: 10px;
    right: -5px;
  }
}

.comment-user-info-box {
  // font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.dflex-ai-c {
  display: flex;
  align-items: center;
}

.delete-comment {
  font-size: 18px;
  color: #9f9f9f;
}

.ml-auto {
  margin-left: auto;
}

.story-info-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  div {
    margin: 0px 0px;
  }

  .story-creator-name {
    width: auto;
    // max-width: 35%;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 13px;
      color: #8c8c8c;
    }

    .scn-label {
      // font-family: "Open Sans", sans-serif;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      color: #8c8c8c;
      margin-left: 2px;
    }

    &+.story-created-time {
      margin-left: 25px;
    }
  }

  .story-created-time {
    width: auto;
    // max-width: 35%;
    // margin-left: 25px;
    margin-right: auto;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 13px;
      color: #8c8c8c;
    }

    .sct-label {
      // font-family: "Open Sans", sans-serif;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      margin-left: 2px;
      color: #8c8c8c;
    }
  }

  .story-tagged-residents-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 0px;
    padding-right: 20px;

    ion-icon {
      font-size: 17px;
      color: #8c8c8c;
      margin-right: 5px;
    }

    .tagged-user-img {
      width: 20px;
      height: 20px;
      border: 2px solid #fff;

      &:nth-child(2) {
        // position: absolute;
        // right: -12px;
      }

      &:nth-child(3) {
        // position: absolute;
        // right: -24px;
        // display: none;
      }
    }

    .mtr-count {
      font-size: 12px;
      color: #545454;
      margin-left: 5px;
      // display: none;
    }
  }
}

.multi-story-first-row {
  img {
    width: 100%;
    margin: 0 10px 5px;
  }
}