<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/stories']"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Story Details</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 20px;"></ion-toolbar> -->
</ion-header>

<ion-content no-scroll [ngStyle]="contentStyle" #content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="story-card-1">
   
    <ion-grid class="no_padding_inline">
      <ion-row style="flex-wrap: nowrap;" class="mb_20">

        <ion-col class="col_fit" size="2">
          <ion-avatar class="profile_pic_thumb">
            <img [src]="story.icon">
          </ion-avatar>
        </ion-col>

        <ion-col class="story_head_container">
          <ion-label text-wrap>
            <p class="story_heading">{{story.title}}</p>
            
            <div class="story-info-block">

              <div class="story-creator-name" *ngIf="story.post_type!=6">
              
               <ion-label class="scn-label">{{" "}}{{creator.name}}</ion-label>
             </div>

             <div class="story-created-time">
             
               <ion-label class="sct-label">{{" "}} {{story_time}}</ion-label>
             </div>

             <div class="story-tagged-residents-box" *ngIf="tagged.length" (click)="taggedCon()">

               <ion-icon name="pricetag-outline"></ion-icon>

               <ion-avatar class="tagged-user-img" *ngIf="tagged && tagged.length">
                 <img [src]="tagged[0].profile_pic" >
               </ion-avatar>

               <ion-avatar class="tagged-user-img" *ngIf="tagged && tagged.length>1">
                 <img [src]="tagged[1].profile_pic" >
               </ion-avatar>

               <ion-label class="mtr-count" *ngIf="tagged.length>2">+{{tagged.length-2}}</ion-label>

             </div>

           </div>

           
          </ion-label>
        </ion-col>

      </ion-row>
      <ion-row class="mb_20" (click)="showImages($event)" *ngIf="media.length>0">

        <ion-row class="story-media-container h-1001" *ngIf="media.length==1">
          <img [src]="media[0].img" style="width: 100%;" *ngIf="media && media.length ">
          <div class="video-overlay" *ngIf="media[0].vid==1"></div>
          <div class="num_badge" *ngIf="media[0].vid==1">
            <ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>
        </ion-row>


        <ion-row class="story-media-container multi-story-first-row" *ngIf="media.length>1">
          <img [src]="media[0].img" style="width: 100%;" *ngIf="media && media.length">
          <div class="video-overlay" *ngIf="media[0].vid==1"></div>
          <div class="num_badge" *ngIf="media[0].vid==1">
            <ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>
        </ion-row>

        <ion-row class="story-media-container" *ngIf="media.length>1">
          <ion-col *ngIf="media.length>=2">
            <img [src]="media[1].img" *ngIf="media && media.length" style="width:100%">
            <div class="video-overlay" *ngIf="media[1].vid==1"></div>
            <div class="num_badge" *ngIf="media[1].vid==1">
              <ion-icon name="play" style="font-size: 50px;"></ion-icon>
            </div>
          </ion-col>
          <ion-col *ngIf="media.length>=3" style="margin-left: 2px;position: relative">
            <img [src]="media[2].img" *ngIf="media && media.length" style="width:100%">
            <div class="video-overlay" *ngIf="media[2].vid==1"></div>
            <div class="num_badge" *ngIf="media[2].vid==1">
              <ion-icon name="play" style="font-size: 50px;"></ion-icon>
            </div>
          </ion-col>
          <ion-col *ngIf="media.length==4" style="margin-left: 2px; position: relative;">
            <img [src]="media[3].img" *ngIf="media && media.length" style="width:100%">
            <div class="myOverlay" *ngIf="media[3].vid==4"></div>
            <div class="num_badge" *ngIf="media[3].vid==1">
              <ion-icon name="play" style="font-size: 50px;"></ion-icon>
            </div>
          </ion-col>
          <ion-col *ngIf="media.length>4" style="margin-left: 2px; position: relative;">
            <img [src]="media[3].img" *ngIf="media && media.length" style="width:100%">
            <div class="myOverlay" *ngIf="media.length>=4"></div>
            <div class="num_badge" *ngIf="media.length>=4">+{{media.length-4}}</div>
          </ion-col>
        </ion-row>

      </ion-row>

     

      <ion-row class="mb_20">

        <ion-col>

          <ion-card-content class="story_text" [innerHTML]="story.description" *ngIf="story.post_type!=6">

          </ion-card-content>
          <ion-card-content *ngIf="story.post_type==6" class="story_text" [innerHTML]="story.activity_feedback">
          
          </ion-card-content>
        </ion-col>

      </ion-row>



      <ion-row *ngFor="let item of doc" class="mb-10">
        <ion-item lines="none" color="none" class="doc_attach_container" (click)="openDoc(item)">
        
          <ion-icon name="attach-outline" style="color: #868686; transform: rotate(35deg);"></ion-icon>
        
          <ion-label class="act_attachment_name">{{item.title}}</ion-label>
          <ion-icon class="download_btn"></ion-icon>
        </ion-item>

      </ion-row>

      <ion-row class="comments_sep_story_details">
        <ion-col size="3">

          <ion-icon class="like1" name="heart-outline" *ngIf="story.liked !='1'"
          appDebounce  [debounceTime]="700" (debounceClick)="like(story.id,story.liked)"></ion-icon>
          <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="story.liked == '1'" 
          appDebounce  [debounceTime]="700"(debounceClick)="like(story.id,story.liked)"></ion-icon>
          <span class="likes">{{story.like_count}}</span>
         


        </ion-col>

        <ion-col size="6" style="text-align: center;" class="display_flexend">
        
          <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
          <span class="comments">{{story.comment_count}}{{" "}} Comments</span>
        </ion-col>

      </ion-row>


      <div  #comment *ngIf="story.hide_comment==0">
      <ion-row class="comments_container" *ngFor="let com of comments | slice:start:end ; let idx = index" >

        <ion-icon class="comment-mo-icon" name="ellipsis-vertical" (click)="report(com,$event)" *ngIf="com.user.user_id!==user_id"></ion-icon>

        <ion-col class="col_fit" size="1">

          <ion-avatar class="comments_default_user_avatar bg-green bg-lighten-4">
            <ion-label>{{com.user.name.substr(0,1)}}</ion-label>
          </ion-avatar>

        </ion-col>

        <ion-col size="10">

          <ion-label text-wrap>
            <p class="user_comments">{{com.content}}</p>
            <p class="mt-5 comment-user-info-box">
              <ion-row class="dflex-ai-c">
                <ion-col size="8" class="comment_username col_fit">{{com.user.name}}
                  <span class="staff_comment"
                    *ngIf="com.user.user_type_id==1 || com.user.user_type_id==2||com.user.user_type_id==3">
                    <i class="las la-user"></i> Staff
                  </span></ion-col>
                <ion-col class="comment_time" size="2">{{com.time}}</ion-col>
            
              </ion-row>
            
            </p>
          </ion-label>

        </ion-col>

        <ion-col class="align_flex-end col_fit ml-auto" size="1" *ngIf="com.user.user_id==user_id"
          (click)="deletePop(com.id,idx)">
          <ion-icon name="trash-outline" class="delete-comment"></ion-icon>
        </ion-col>


      </ion-row>


      <ion-item lines="none" color="none" *ngIf="comments.length>5 && end<comments.length">
        <ion-label class="vmore-comments" (click)="viewMore()">
          View more comments <ion-icon name="chevron-down-outline"></ion-icon></ion-label>
      </ion-item>
    </div>
     
    </ion-grid>

  </ion-card>

</ion-content>


<ion-footer no-border style="box-shadow: none;background-color: #fff;" id="footer" >




  <ion-grid class="fixed_comment_box" *ngIf="story.hide_comment==0">

    <ion-row>

      <ion-col style="align-self: flex-start;" class="col_fit">
        <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
          <img [src]="user_img">
        </ion-avatar>

        <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
          <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}</ion-label>
        </ion-avatar>
      </ion-col>

      <ion-col style="padding-left: 5px;align-self: center;">

      
        <ion-textarea class="input_message" clearOnEdit="true" auto-grow="true" rows="1" name="inputMessage"
          placeholder="Add a comment..." [(ngModel)]="commentText" style="margin-top: 0px; max-height: 200px;"></ion-textarea>

      

      </ion-col>

      <ion-col style="align-self: flex-end;" class="col_fit">
        <ion-button (click)="postComment(story.id)" class="submit-comment">
          <ion-icon name="paper-plane-outline"></ion-icon>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>

       

      </ion-col>

    </ion-row>

  </ion-grid>

<ion-item style="text-align:center;--background:#faebd7" *ngIf="story.hide_comment==1">
  <ion-label style="color:#ff8c00">Comments disabled</ion-label>
</ion-item>
 

</ion-footer>

