.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
}

.num_badge {
  position: absolute;
  top: 40%;
  font-size: 25px;
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
  color: #fff;
}

.select-contact-card {
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: auto;
  margin-top: 15px;
}

.select-contact-card ion-avatar {
  width: 40px;
  height: 40px;
}

.select-contact-card ion-label {
  font-size: 16px;
  color: #1c1c1c;
  margin-left: 20px;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
