<ion-header class="inner-header-1">
<!-- <ion-row style="height: 20px;"></ion-row> -->
<ion-toolbar color="none">
  <ion-buttons slot="start" mode="md">
    <ion-back-button style="color: #fff;" [routerLink]="['/bookedcall-list']" text=""></ion-back-button>
  </ion-buttons>
    <ion-label class="page_title" mode="md">Choose Your Loved One</ion-label>
  </ion-toolbar>

  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-item color="none" lines="none" style="margin-top: 5px;" *ngIf="sel_con==-1">
  <ion-label class="sec-title">Please click to choose participants</ion-label>
  </ion-item>
  <ion-grid>

    <ion-row>

      <ion-col class="mlr_auto" size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of contacts; let idx=index">

        <ion-item lines="none" color="none" class="select-contact-card" [class.no-access]="item.share==0||item.parent.status==0" (click)="choose(item,idx)" >
          
          <ion-avatar>
            <img [src]="item.parent.user.profile_pic">
          </ion-avatar>

          <ion-label>
            {{item.parent.user.name}}
          </ion-label>

          <ion-icon  name="checkmark-outline" color="primary" *ngIf="idx==sel_con"></ion-icon>

        </ion-item>

      </ion-col>

      <!-- <ion-col size-sm="6" size-md="3" size-lg="3" size="6">

        <ion-card class="select_contact_card" [routerLink]="['/callbooking']">

          <ion-avatar>
            <img src="/assets/user1.png">
          </ion-avatar>

          <ion-label>
            Edward johnson
          </ion-label>

        </ion-card>

      </ion-col> -->

    </ion-row>

  </ion-grid>
  

<ion-item color="none" lines="none" class="mlr_auto" *ngIf="family.length">
  <ion-label class="sec-title-blue">Would you like to include anymore participants?</ion-label>
</ion-item>

  <ion-grid *ngIf="family.length">

    <ion-row>

      <ion-col class="mlr_auto" size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of family; let idx=index">

        <ion-item lines="none" color="none" class="select-contact-card" [class.no-access]="item.fam.user.status==0" (click)="chooseFam(item)" >
          
          <ion-avatar>
            <img [src]="item.fam.user.profile_pic">
          </ion-avatar>

          <ion-label>
            {{item.fam.user.name}}
          </ion-label>

          <ion-icon  name="checkmark-outline" color="primary" *ngIf="item.selected"></ion-icon>

        </ion-item>
        <!-- <div class="myOverlay" ></div>
            <div class="num_badge" *ngIf="images.length>4">
              <ion-icon name="checkmark-outline"></ion-icon>
            </div> -->
      </ion-col>

      

    </ion-row>

  </ion-grid>


  <!-- <ion-item color="none" lines="none" *ngIf="fam_mem.length">
    <ion-label style="font-size: 18px;" color="primary">Selected participants</ion-label>
  </ion-item>


<ion-grid *ngIf="fam_mem.length">

    <ion-row>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6" *ngFor="let item of fam_mem">

        <ion-card class="select_contact_card"  >

          <ion-avatar>
            <img [src]="item.pic">
          </ion-avatar>

          <ion-label>
            {{item.name}}
          </ion-label>

        </ion-card>
    
      </ion-col>

      

    </ion-row>

  </ion-grid> -->



<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-top: 20px;" *ngIf="next">
    <ion-fab-button (click)="callbooking()" >
      <ion-label>Next</ion-label>
     
    </ion-fab-button>
</ion-fab> -->

</ion-content>
<ion-footer class="ion-no-border">
 
  <ion-toolbar>
     <ion-button expand="block" (click)="callbooking()" class="footer-continue-btn">Continue <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
 
 </ion-footer>
 