ion-content {
  --background: #eee;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;
}

.num_badge {
  position: absolute;
  top: 40%;
  font-size: 25px;
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
  color: #fff;
}

//   .label {
//     position: absolute;
//     right: 48px;
//     background: rgba(0,0,0,0.7);
//     height: 24px;
//     line-height: 16px;
//     padding: 5px 8px;
//     border-radius: 3px;
//     color: #fff;
//     box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
// }

.select-contact-card {
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 8px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: auto;

  ion-avatar {
    width: 50px;
    height: 50px;
  }

  ion-label {
    font-size: 16px;
    color: #1c1c1c;
    margin-left: 20px;
  }
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.no-access {
  ion-avatar {
    img {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  ion-label {
    color: #c6c6c6 !important;
  }
}

@media only screen and (min-width: 768px) {
  .sec-title-blue {
    margin-top: 10px !important;
    text-align: left !important;
  }

  .mlr_auto {
    margin-left: unset !important;
    margin-right: unset !important;
  }

  .footer-continue-btn {
    max-width: fit-content;
  }
}

.sec-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  white-space: initial;
  word-break: break-word;
  color: #222;
}

.sec-title-blue {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  white-space: pre-line;
  color: #0077b5;
}
