ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
    --background: #efefef;
}

ion-item {
    margin-bottom: 20px;
}

.call_comments {
    // border-style: solid;
    // border-width: 0.6px;
    // border-color: dimgray;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 10px;
    min-height: 90px;
    padding: 10px;
}

@media (min-width: 768px) {
    .call_comments {
        min-height: 150px;
    }

    .booking_confirm_btn {
        background-color: #0077b5;
        padding: 10px 25px;
        text-align: center;
        color: #fff !important;
        font-size: 16px !important;
        font-weight: normal !important;
        text-transform: none;
        border-radius: 50px;
        width: 100% !important;
        height: 50px !important;
        max-width: fit-content;
        letter-spacing: normal;
    }

    .booking_cancel_btn {
        background: none !important;
        border: 1px solid #828282;
        border-radius: 50px;
        padding: 10px 25px;
        text-align: center;
        color: #828282 !important;
        font-size: 16px !important;
        font-weight: normal !important;
        text-transform: none;
        margin-left: 10px;
        height: 50px !important;
        width: 100% !important;
        max-width: fit-content;
    }

    .cc-btn-container {
        display: flex;
        max-width: fit-content;
        margin: 15px auto 0;
    }

    .participant-border {
        .part-inner-box {
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
        }
    }
}

.participant-border {
    //border: 1px solid #d6d6d6;
    // border-radius: 10px;
    // background: #fff;
    // padding: 10px;
}

.cc-btn-container {
    margin: 15px auto 0;
}

.confirm_callbooking_icon {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    height: 150px;
    width: 150px;
    border-radius: 90px;
    background: rgb(96 125 139 / 30%);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
}

.confirm_callbooking_text {
    margin: 0;
}

ion-textarea {
    background: #efefef;
    border-radius: 6px;
    border: none !important;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    margin-top: 10px;
    border: none;
}

ion-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .booking-confirm-btn {
        --background: #0077b5;
        color: #fff;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0;
        display: block;
        max-width: fit-content;
        min-width: 92px;
    }

    .booking-cancel-btn {
        --background: #e6e6e6;
        color: #727272;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0px 0px 0px 20px;
        display: block;
        max-width: fit-content;
    }
}

ion-textarea {
    color: #222;
}

.call_participants_thumbnail {
    .participant-border {
        padding: 10px;
        margin: 0;

        ion-card {
            padding: 10px 15px !important;
            display: flex;
            align-items: center;
            margin: 0 !important;
            border: 1px solid #dfdfdf;
            box-shadow: none;

            ion-avatar {
                width: 50px;
                height: 50px;
            }

            p {
                font-size: 16px;
                margin-left: 15px;
                color: #545454;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .call_participants_thumbnail {
        .participant-border {
            padding: 10px 0 !important;
            margin: 0;
        }
    }

    .comments-box {
        padding: 0 !important;
    }
}

.comments-box {
    width: 100%;
    padding: 10px;

    .comments-label {
        width: 100%;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 15px;
        display: block;
        color: #222;
    }
}

@media only screen and (min-width: 768px) {
    .callbooking_date {
        background-color: #e2ffee;
        padding: 20px;
        color: #0b6a00 !important;
        border: 0.5px dashed #0b6a00;
        border-radius: 15px !important;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        min-width: 160px;
    }

    .callbooking_date span {
        display: block;
        margin-top: 10px !important;
    }
}
