ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .callerbox_border {
    border: 1px solid #cecece;
    /* background-color: #f0f0f0; */
    padding: 10px 35px;
    border-radius: 10px;
    position: relative;
    /* min-width: -webkit-fill-available; */
    min-width: auto;
    display: inline-flex;
    max-width: fit-content;
  }
  .custom-mtb {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: fit-content;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: sub;
  }
  .f-right {
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .f-right {
    display: flex;
    justify-content: flex-end;
  }
  .callbook_list_time {
    width: 100%;
    align-self: center;
  }
}
