<!-- <ion-header no-padding color="none"
  style="background: url('assets/common_header.svg') no-repeat center center !important; background-attachment: fixed; background-size: cover !important; background-position: center !important;position: relative;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Booked Calls</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 40px;"></ion-toolbar>
</ion-header>


<ion-content>


  <ion-grid >

    <ion-row class="mtb-10" *ngFor="let item of details">

      <ion-col class="col_fit">
        <ion-avatar>
          <img [src]="item.consumer.resident.user.profile_pic">
        </ion-avatar>
      </ion-col>

      <ion-col class="ion-col_second">

        <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding" >

          <ion-label class="sender_name">
           {{item.consumer.resident.user.user_name}}
          </ion-label>

          
          
          <ion-button size="small" slot="end" (click)="start(item)">Start</ion-button>

        </ion-item>

       

        <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding chat_separator">

          <ion-label class="chat_message" >
            {{item.start_time | date:'hh:mm a'}} - {{item.end_time | date:'hh:mm a'}}
            
          </ion-label>
          

          <span slot="end" class="chat_message">
            {{item.start_time | date:'dd MMM yyyy'}}
          </span>

        </ion-item>

      </ion-col>

    </ion-row>

  </ion-grid>


 



</ion-content> -->



<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Video Call Booking List</ion-title>
  </ion-toolbar>

  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-label class="book_newcall_btn" [routerLink]="['/choose-consumer']" *ngIf="user_type==6">
    <ion-icon class="newcallbook_icon"></ion-icon> &nbsp; Book a New Call
  </ion-label>

  <div *ngIf="today.length">
    <ion-chip class="clt-chip">

      <ion-label class="callbooking-list-time-label">
        Today
      </ion-label>

    </ion-chip>


    <div *ngFor="let item of today; let idx=index" style="margin-bottom: 10px;">
      <ion-grid class="callbook_list calllist_display_ib" style="position: relative;" *ngIf="item.status!=0">
        <span style="position: absolute; right: 15px; color: #222;">
          <ion-icon name="ellipsis-vertical" (click)="cancel($event,item.id)"></ion-icon>
        </span>
        <ion-row class="callbook_list_time call_list_16_percent_container">

          <ion-col>

            <ion-label>
              {{item.start_time | dateformat:'hh:mm a'}} - {{item.end_time | dateformat:'hh:mm a'}}
            </ion-label>

          </ion-col>

        </ion-row>

        <ion-row
          class="caller_contact_align_center callerbox_border calllist_display_ib call_list_30_percent_container">

          <ion-col class="align-self-center" size-sm="2" size-md="2" size-lg="2" size="2">

            <ion-avatar>
              <img [src]="item.consumer.resident.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col class="pl-30 align-self-center" size-sm="10" size-md="10" size-lg="10" size="10">

            <ion-label class="callbook_list_username">
              {{item.consumer.resident.user.name}}
              <span *ngIf="rv==0">{{item.consumer.resident.room}}</span>
              <span *ngIf="rv==0&&item.consumer.resident.wing">{{item.consumer.resident.wing.name}}</span>
            </ion-label>

          </ion-col>

        </ion-row>

        <ion-row class="custom-mtb calllist_display_ib call_list_20_percent_container">

          <ion-col size-sm="2" size-md="2" size-lg="2" size="2" class="mlr_auto">

            <ion-thumbnail>
              <img src="/assets/call_booking/videocam_icon.svg">
            </ion-thumbnail>

          </ion-col>

        </ion-row>

        <ion-row
          class="caller_contact_align_center callerbox_border calllist_display_ib call_list_30_percent_container">

          <ion-col class="align-self-center" size-sm="2" size-md="2" size-lg="2" size="2">

            <ion-avatar>
              <img [src]="item.family[0].contact.user_details.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col class="pl-30 align-self-center" size-sm="10" size-md="10" size-lg="10" size="10">

            <ion-label class="callbook_list_username">
              {{item.family[0].contact.user_details.name}}
              <span>{{item.family[0].contact.relation}}</span>
            </ion-label>

          </ion-col>

          <ion-label class="more_callers" *ngIf="item.family.length>1" (click)="showPeople(item)">
            +{{item.family.length-1}}
          </ion-label>

        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row class="custom-mtb calllist_display_ib call_list_20_percent_container" *ngIf="item.comment!=null">

          <ion-col size-sm="2" size-md="2" size-lg="2" size="2" class="col_fit mlr_auto">

            <ion-thumbnail class="comments-thumb" (click)="showComment(item)">
              <!-- <img src="/assets/call_booking/comments_icon.svg"> -->
              <ion-icon class="vb-comment-icon" name="chatbox-outline"></ion-icon>
            </ion-thumbnail>

            

          </ion-col>

        </ion-row>
        <ion-row class="calllist_display_ib call_list_10_percent_container">

          <ion-col (click)="start(item)">
            <span class="start_call_btn">Start</span>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>
  </div>


  <div *ngIf="upcoming.length">
    <ion-item color="none" lines="none">

      <span class="upcoming_calls">
        Upcoming Calls
      </span>

    </ion-item>
    <div *ngFor="let item of upcoming; let idx=index ">

      <ion-chip class="clt-chip" *ngIf="item.status!=0">

        <ion-label class="callbooking-list-time-label">
          {{item.start_time | dateformat:'DD MMM yyyy'}}
        </ion-label>

      </ion-chip>

      <ion-grid class="callbook_list calllist_display_ib" style="position: relative;margin-bottom: 10px;"
        *ngIf="item.status!=0">
        <span style="position: absolute; right: 15px; color: #222;">
          <ion-icon name="ellipsis-vertical" (click)="cancel($event,item.id)"></ion-icon>
        </span>
        <ion-row class="callbook_list_time call_list_16_percent_container">

          <ion-col>

            <ion-label>
              {{item.start_time | dateformat:'hh:mm a'}} - {{item.end_time | dateformat:'hh:mm a'}}
            </ion-label>

          </ion-col>

        </ion-row>

        <ion-row
          class="caller_contact_align_center callerbox_border calllist_display_ib call_list_30_percent_container">

          <ion-col class="align-self-center" size-sm="2" size-md="2" size-lg="2" size="2">

            <ion-avatar>
              <img [src]="item.consumer.resident.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col class="pl-30 align-self-center" size-sm="10" size-md="10" size-lg="10" size="10">

            <ion-label class="callbook_list_username">
              {{item.consumer.resident.user.name}}
              <span *ngIf="rv==0">{{item.consumer.resident.room}}</span>
              <span *ngIf="rv==0&&item.consumer.resident.wing">{{item.consumer.resident.wing.name}}</span>
            </ion-label>

          </ion-col>

        </ion-row>

        <ion-row class="custom-mtb calllist_display_ib call_list_20_percent_container">

          <ion-col size-sm="2" size-md="2" size-lg="2" size="2" class="mlr_auto">

            <ion-thumbnail>
              <img src="/assets/call_booking/videocam_icon.svg">
            </ion-thumbnail>

          </ion-col>

        </ion-row>

        <ion-row
          class="caller_contact_align_center callerbox_border calllist_display_ib call_list_30_percent_container">

          <ion-col class="align-self-center" size-sm="2" size-md="2" size-lg="2" size="2">

            <ion-avatar>
              <img [src]="item.family[0].contact.user_details.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col class="pl-30 align-self-center" size-sm="10" size-md="10" size-lg="10" size="10">

            <ion-label class="callbook_list_username">
              {{item.family[0].contact.user_details.name}}
              <span>{{item.family[0].contact.relation}}</span>
            </ion-label>

          </ion-col>

          <ion-label class="more_callers" *ngIf="item.family.length>1" (click)="showPeople(item)">
            +{{item.family.length-1}}
          </ion-label>

        </ion-row>

        <ion-row class="custom-mtb calllist_display_ib call_list_20_percent_container f-right"
          *ngIf="item.comment!=null">

          <ion-col size-sm="2" size-md="2" size-lg="2" size="2" class="mlr_auto">

            <ion-thumbnail style="height: 35px;width: 35px;" (click)="showComment(item)">
              <img src="/assets/call_booking/comments_icon.svg">
            </ion-thumbnail>

          </ion-col>

        </ion-row>
        <ion-row class="calllist_display_ib call_list_10_percent_container">

          <!-- <ion-col (click)="start(item)">
        <span class="start_call_btn">Start</span>
      </ion-col> -->

        </ion-row>

      </ion-grid>
    </div>
  </div>



  <!-- <ion-grid class="callbook_list">

    <ion-row class="callbook_list_time">

      <ion-col>

        <ion-label>
          08:30 am - 09.00 am
        </ion-label>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="3">

        <ion-item color="none" lines="none">

          <ion-avatar>
            <img src="/assets/user1.png">
          </ion-avatar>
  
          <ion-label>
            Alice John
            <span>Room No. 220 B</span>
          </ion-label>

        </ion-item>

      </ion-col>

      <ion-col>

      </ion-col>

      <ion-col>

      </ion-col>

      <ion-col>

      </ion-col>

    </ion-row>

  </ion-grid> -->



  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button [routerLink]="['/choose-consumer']">
      <ion-icon name="add-outline"  style="color: #fff;"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->




  <div *ngIf="today.length==0 && upcoming.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/call_booking/no_callbooking_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Calls Found</ion-label>
    </ion-item>
  </div>

</ion-content>