ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
    --background: #eee;
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .callerbox_border {
        border: 1px solid #cecece;
        /* background-color: #f0f0f0; */
        padding: 10px 35px;
        border-radius: 10px;
        position: relative;
        /* min-width: -webkit-fill-available; */
        min-width: auto;
        display: inline-flex;
        max-width: fit-content;
    }

    .custom-mtb {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: fit-content;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        vertical-align: sub;
    }

    .f-right {
        float: right;
    }
}

@media screen and (min-width: 768px) {
    .f-right {
        display: flex;
        justify-content: flex-end;
    }

    .callbook_list_time {
        width: 100%;
        align-self: center;
    }
}

.callbook_list {
    border-radius: 10px !important;
    background-color: #fff !important;
    padding: 20px;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
}

.clt-chip {
    background-color: rgba(17, 173, 251, 0.2);
    padding: 15px 25px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 40px;
    border-radius: 50px;

    .callbooking-list-time-label {
        color: #0077b5;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
}

.calllist_display_ib {
    .comments-thumb {
        height: 35px;
        width: 35px;
        margin-top: 15px;

        .vb-comment-icon {
            color: #ff5f58;
            font-size: 30px;
            left: 0;
        }
    }
}
