<ion-item lines="none" color="none" style="margin-top: 25px;width: 100%;">
  <ion-label style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px; color:#0077b5;">Visitors</ion-label>
</ion-item>


<ion-card class="rel_details_card" >
<ion-grid *ngIf="data&&data.length>0">
  <div class="othervisitor-box" *ngFor="let item of data">
  <ion-row >
    <ion-col style="max-width: fit-content !important;">
      <ion-avatar style="width:42px; height: 42px;">
        <img src="assets/user.png">
      </ion-avatar>
    </ion-col>
    <ion-col style="align-self: center !important;">
      <ion-label class="relprofile_consumer_name">{{item.name}}</ion-label>
     
    </ion-col>
  </ion-row>
  </div>
</ion-grid>
</ion-card>