<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Entertainment</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content class="ion_content_style">

  <ion-grid>
    
    <ion-row>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6" *ngFor="let item of media" (click)="getMedia(item)">
        <ion-card class="entertainment_card" >
          <img src="/assets/entertainment/new-icons/video-thumb.png" *ngIf="item.category=='Videos'">
          <img src="/assets/entertainment/new-icons/movie-thumb.png" *ngIf="item.category=='Movies'">
          <img src="/assets/entertainment/new-icons/music-thumb.png" *ngIf="item.category=='Music'">
          <img src="/assets/entertainment/new-icons/game-thumb.png" *ngIf="item.category=='Games'">
          <img src="/assets/entertainment/new-icons/audio_books.png" *ngIf="item.category=='Audio Books'">
          <img src="/assets/entertainment/new-icons/ebook-thumb.png" *ngIf="item.category=='Books'">
          <img src="/assets/entertainment/new-icons/other-media-thumb.png" *ngIf="item.category=='Others'">
          <img src="/assets/entertainment/new-icons/360-videos.png" *ngIf="item.category=='360° Videos'">
          <!-- <ion-label> 360<sup>0</sup> Videos </ion-label> -->
          <ion-label>{{item.category}}</ion-label>
        </ion-card>
      </ion-col>

      <!-- <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" [routerLink]="['/videos']">
          <img src="/assets/entertainment/new-icons/video-thumb.png">
          <ion-label>Videos</ion-label>
        </ion-card>
      </ion-col>

      


      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" [routerLink]="['/movies']">
          <img src="/assets/entertainment/new-icons/movie-thumb.png">
          <ion-label>Movies</ion-label>
        </ion-card>
      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" >
          <img src="/assets/entertainment/new-icons/music-thumb.png">
          <ion-label>Musics</ion-label>
        </ion-card>
      </ion-col>

    

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" [routerLink]="['/games']">
          <img src="/assets/entertainment/new-icons/game-thumb.png">
          <ion-label>Games</ion-label>
        </ion-card>
      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" [routerLink]="['/ebooks']">
          <img src="/assets/entertainment/new-icons/audio_books.png">
          <ion-label>Audio Books</ion-label>
        </ion-card>
      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" [routerLink]="['/ebooks']">
          <img src="/assets/entertainment/new-icons/ebook-thumb.png">
          <ion-label>Books</ion-label>
        </ion-card>
      </ion-col>

     

      <ion-col size-sm="6" size-md="3" size-lg="3" size="6">
        <ion-card class="entertainment_card" >
          <img src="/assets/entertainment/new-icons/other-media-thumb.png">
          <ion-label>Others</ion-label>
        </ion-card>
      </ion-col> -->

    </ion-row>

  

  </ion-grid>

</ion-content>