<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Entertainment</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content class="ion_content_style">

  <ion-grid>
    
    <!-- <ion-row>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6" *ngFor="let item of media" (click)="getMedia(item)">
        <ion-card class="entertainment_card" >
          <img src="/assets/entertainment/new-icons/video-thumb.png" *ngIf="item.category=='Videos'">
          <img src="/assets/entertainment/new-icons/movie-thumb.png" *ngIf="item.category=='Movies'">
          <img src="/assets/entertainment/new-icons/music-thumb.png" *ngIf="item.category=='Music'">
          <img src="/assets/entertainment/new-icons/game-thumb.png" *ngIf="item.category=='Games'">
          <img src="/assets/entertainment/new-icons/audio_books.png" *ngIf="item.category=='Audio Books'">
          <img src="/assets/entertainment/new-icons/ebook-thumb.png" *ngIf="item.category=='Books'">
          <img src="/assets/entertainment/new-icons/other-media-thumb.png" *ngIf="item.category=='Others'">
          <img src="/assets/entertainment/new-icons/360-videos.png" *ngIf="item.category=='360° Videos'">
          <ion-label>{{item.category}}</ion-label>
        </ion-card>
      </ion-col>

    </ion-row> -->

    <ion-row class="mb-115">

      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of media" (click)="getMedia(item)">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/videos.svg" *ngIf="item.category=='Videos'">
          <img src="/assets/menu/new-icons/entertainment/movies.svg" *ngIf="item.category=='Movies'">
          <img src="/assets/menu/new-icons/entertainment/music.svg" *ngIf="item.category=='Music'">
          <img src="/assets/menu/new-icons/entertainment/games.svg" *ngIf="item.category=='Games'">
          <img src="/assets/menu/new-icons/entertainment/audio-books.svg" *ngIf="item.category=='Audio Books'">
          <img src="/assets/menu/new-icons/entertainment/books.svg" *ngIf="item.category=='Books'">
          <img src="/assets/menu/new-icons/entertainment/others.svg" *ngIf="item.category=='Others'">
          <img src="/assets/menu/new-icons/entertainment/360-degree-videos.svg" *ngIf="item.category=='360° Videos'">
          <ion-label>{{item.category}}</ion-label>
        </ion-card>
  
      </ion-col>
  
      <!-- <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/movies.svg">
          <ion-label>Movies</ion-label>
        </ion-card>
  
      </ion-col>
  
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/music.svg">
          <ion-label>Music</ion-label>
        </ion-card>
  
      </ion-col>
  
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/games.svg">
          <ion-label>Games</ion-label>
        </ion-card>
  
      </ion-col>
  
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/audio-books.svg">
          <ion-label>Audio Books</ion-label>
        </ion-card>
  
      </ion-col>
  
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/books.svg">
          <ion-label>Books</ion-label>
        </ion-card>
  
      </ion-col>
  
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/others.svg">
          <ion-label>Others</ion-label>
        </ion-card>
  
      </ion-col>
  
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
  
        <ion-card class="cl-menu-card">
          <img src="/assets/menu/new-icons/entertainment/360-degree-videos.svg">
          <ion-label>360<sup>0</sup> Videos</ion-label>
        </ion-card>
  
      </ion-col> -->
  
    </ion-row>

  

  </ion-grid>

</ion-content>