ion-content {
    --background: #efefef;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

.cl-menu-card {
    padding: 20px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    border-radius: 15px !important;
    box-shadow: none;

    img {
        width: 65px;
        height: 65px;
    }

    ion-label {
        font-size: 19px;
        font-weight: 500;
        color: #4e4e4e;
        text-align: center;
        margin-top: 15px;
    }
}