<ion-content>

  <p (click)="markLeave()" >
    Mark as leave
  </p>

  <p (click)="show()" *ngIf="!show_allergy">
    Show allergies
  </p>

  <p (click)="show()" *ngIf="show_allergy">
    Hide allergies
  </p>
  </ion-content>