ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;


    p {
        font-family: "Roboto", sans-serif;
        margin: 15px 10px;
        color: #222;
    }
}