<ion-content class="vmanage">

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row class="dflex-jc">

        <ion-col size="12">

          <p class="welcome-text">
            Enter your phone number<span class="red-asterisk">*</span>
          </p>

          <ion-input type="tel" [(ngModel)]="phone"></ion-input>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" (click)="back()">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="next()" [disabled]="disable">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-grid>

</ion-footer>