ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-input {
    color: #000;
    background: #f5f5f5;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px !important;
    margin-bottom: 10px;
    height: 45px;
}

.vmanage {
    .welcome-text {
        font-size: 18px;
        font-weight: 500;
        color: #313131;
        text-align: left;
        display: block;
        margin-top: 0px;
    }
}

@media only screen and (min-width:768px) {
    ion-input {
        height: 50px;
    }
}
.red-asterisk{
    color: #e2001e;
}