.header-buttons {
    ion-icon:first-child {
        padding: 10px;
        font-size: 18px;
    }

    ion-icon:nth-child(2) {
        font-size: 30px;
        padding: 4px;
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 80px;
    --padding-bottom: 20px;
    --background: #efefef;
}

.fixed-top-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;

    .fts-box {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
    }

    .more-filters {
        margin-bottom: 0px !important;

        ion-select {
            font-family: "Open Sans", sans-serif;
            background: rgb(190 233 255 / 50%);
            color: #0077b5;
            --padding-start: 18px;
            --padding-end: 15px;
            border-radius: 50px;
            height: 40px;
        }
    }

    .book-newcall-btn {
        --background: #0077b5;
        --padding-start: 8px;
        --padding-end: 15px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        --border-radius: 50px;
        text-align: center;
        display: flex;
        margin-left: auto;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 40px;
        justify-content: center;
        align-items: center;

        ion-icon {
            font-size: 30px;
            color: #fff;
        }

        ion-label {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: normal;
            color: #fff;
            margin-left: 5px;
        }
    }
}

.calendar_style {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 15px !important;
    // margin-top: 60px;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    box-shadow: none;
}

.sc-ion-popover-md-h {
    --width: 100% !important;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .header-buttons ion-icon:first-child {
        padding: 10px;
        font-size: 18px !important;
    }

    .header-buttons ion-icon:nth-child(2) {
        font-size: 30px !important;
        padding: 4px;
    }
}

.canceled {
    background-color: #afadad !important;

    ion-item {
        ion-label {
            background-color: grey;
            color: black;
        }

        ion-icon {
            color: dimgray;
        }
    }

    ion-grid {
        ion-row {
            ion-col {
                img {
                    -webkit-filter: grayscale(100%);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
            }
        }
    }

    ion-button {
        --background: grey;
    }
}

.cancel-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
    color: #fff;
    font-size: 13px;
    padding: 0px 20px 6px;
    line-height: normal;
    font-family: sans-serif;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.canceled {
    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.d-flex-jc-center {
    display: flex;
    justify-content: center;
}

.more-filters {
    // margin-bottom: 10px !important;

    ion-select {
        background: rgb(190 233 255 / 50%);
        color: #0077b5;
        --padding-start: 18px;
        --padding-end: 15px;
        border-radius: 50px;
        height: 40px;
    }
}

ion-fab {
    background: #ffffff;
    width: 100%;
    top: 0px;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.more-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .clife-select {
        max-width: fit-content;
        background-color: #bbbbbb;
        border-radius: 50px;
        display: inline-block;
        margin-left: 15px;
        --min-height: auto;
        --padding-start: 20px;
        --padding-inline-end: 0px;

        &:first-child {
            margin-left: 0px;
        }

        ion-select {
            color: #0077b5;
            font-size: 16px;
            font-weight: normal;
            --placeholder-opacity: 1;
            max-width: 100%;
        }

        ion-select::part(icon) {
            opacity: 1 !important;
        }
    }

    .mark-selected {
        background-color: rgb(0 119 181 / 10%);
    }
}

.callbooking-date {
    background-color: #d0e6ff;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 45px;
    border-radius: 50px;

    ion-label {
        color: #0077b5;
        font-size: 18px;
        font-weight: 500;
    }
}

.book_newcall_btn {
    font-size: 15px;
    color: #fff;
    background-color: #0077b5;
    text-align: center;
    padding: 10px 15px;
    border-radius: 50px;
    display: flex;
    margin-left: auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-bottom: 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.call-list-card {
    .cb-timeslot {
        background-color: #fddf79;
        color: #695105;
        font-size: 15px;
        margin: 0px;
        border-radius: 50px;
        padding: 5px 12px;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

/*-------------------------------- visitbooking new styles starts here --------------------------------------------*/

.inner-filter-options1 {
    --padding-start: 0px;
    --inner-padding-end: 0;

    ion-searchbar {
        width: 85%;
        height: 45px;
        --border-radius: 6px;
        padding-inline-start: 0;

        .searchbar-input-container {
            height: 45px;
        }
    }

    ion-select {
        background-color: #ededed;
        color: #777777;
        padding: 10px 12px;
        border-radius: 6px;
        height: 45px;
        width: 95%;
        margin: 10px auto;
    }
}

.callbooking-date {
    background-color: rgb(17 173 251 / 20%);
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: fit-content;
    height: 45px;
    border-radius: 50px;

    ion-label {
        color: #0077b5;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
}

.call-list-card {
    background-color: #fff !important;
    padding: 15px;
    /* box-shadow: none !important; */
    margin: 0px 0px 10px 0px;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin-bottom: 15px;
    }

    .cb-timeslot {
        background-color: #fddf79;
        color: #695105;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        margin: 0px;
        border-radius: 10px;
        padding: 10px 20px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;

        span {
            font-size: 12px;
        }
    }

    ion-icon {
        font-size: 18px;
        color: #707070;
        position: relative;
        left: 6px;
    }

    .cb-assignee {
        background-color: #d0e6ff;
        color: #0077b5;
        font-size: 15px;
        margin: 0px;
        border-radius: 50px;
        padding: 10px 20px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;

        span {
            font-weight: 500;
        }
    }

    .cb-comment-icon {
        color: #ff5f58;
        font-size: 30px;
        left: 0;
    }
}

.cb-caller {
    border: 1px solid #c8c8c8;
    padding: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;

    ion-avatar {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
    }

    ion-label {
        font-size: 16px;
        font-weight: 500;
        color: #1c1c1c;
        display: inline-block;
        margin-left: 15px;
        margin-right: auto;
        vertical-align: middle;

        span {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: normal;
            display: block;
            margin-top: 0px;
            color: #6c6c6c;
        }
    }
}

.cb-video-cam-icon {
    padding: 20px 0px;
    align-self: center;

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.cb-call-info {
    display: inline-block;
    float: right;
    text-align: center;

    ion-icon {
        color: #fa9917;
        font-size: 26px;
        margin-bottom: 5px;
    }

    ion-label {
        font-size: 15px;
        background-color: rgb(0 119 181 / 15%);
        color: #0077b5;
        padding: 5px;
        border-radius: 50px;
        display: block;
        margin-left: 0px;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        min-width: 30px;
        min-height: 30px;
        align-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.cb-call-start {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: fit-content;
    --background: #2ac940;
    --border-radius: 50px;
    padding: 10px 25px;
    height: 58px;
    margin-top: 20px;
    // min-width: 50%;
    --box-shadow: none;
    min-width: 135px;
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: normal;
}

.cb-sel-contact {
    font-size: 18px !important;
    font-weight: 500;
    color: #0077b5;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 15px;
    display: block;
}

.cbFamily {
    width: 100% !important;
    --width: 100% !important;
    --max-height: 100% !important;
    top: 0 !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .popover-viewport.sc-ion-popover-md {
        -webkit-transition-delay: 100ms;
        transition-delay: 100ms;
        min-width: 280px !important;
        padding: 10px !important;
    }

    .popover-arrow.sc-ion-popover-ios {
        display: none !important;
        position: absolute;
        width: 20px;
        height: 10px;
        overflow: hidden;
    }

    .popover-content.sc-ion-popover-md {
        transform-origin: center center !important;
        left: 0 !important;
        right: 0 !important;
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        // top: 0 !important;
    }

    .popover-content.sc-ion-popover-ios {
        --width: 95% !important;
        padding: 26px;
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        width: 100%;
    }

    .popover-content.sc-ion-popover-md-h {
        --width: 100% !important;
        top: 10% !important;
        left: 5% !important;
        // --height:80% !important;
    }

    ion-button {
        --box-shadow: none !important;
    }

    .popover-wrapper.sc-ion-popover-ios {
        width: 90% !important;
    }
}

.editpop {
    width: 100% !important;
    --width: 100% !important;
    --max-height: 100% !important;
    top: 0 !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .popover-arrow.sc-ion-popover-ios {
        display: none !important;
        position: absolute;
        width: 20px;
        height: 10px;
        overflow: hidden;
    }

    .popover-content.sc-ion-popover-md {
        transform-origin: center center !important;
        left: 0 !important;
        right: 0 !important;
        margin-left: auto;
        margin-right: auto;
        top: 0 !important;
        position: inherit;
    }

    .popover-content.sc-ion-popover-ios {
        --width: 95% !important;
        padding: 26px;
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        width: 100%;
    }

    .popover-content.sc-ion-popover-md-h {
        --width: 100% !important;
        top: 10% !important;
        left: 5% !important;
        // --height:80% !important;
    }

    ion-button {
        --box-shadow: none !important;
    }
}

.morepop {
    width: 100% !important;
    --width: 100% !important;
    --max-height: 100% !important;
    top: 0 !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .popover-arrow.sc-ion-popover-ios {
        display: none !important;
        position: absolute;
        width: 20px;
        height: 10px;
        overflow: hidden;
    }

    .popover-content.sc-ion-popover-md {
        transform-origin: center center !important;
        left: 0 !important;
        right: 0 !important;
        margin-left: auto;
        margin-right: auto;
        top: 0 !important;
        position: inherit;
    }

    .popover-content.sc-ion-popover-ios {
        --width: 95% !important;
        padding: 26px;
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        width: 100%;
    }

    .popover-content.sc-ion-popover-md-h {
        --width: 100% !important;
        top: 10% !important;
        left: 5% !important;
        // --height:80% !important;
    }

    ion-button {
        --box-shadow: none !important;
    }
}

.disable {
    background: #dedede !important;
    color: #616161 !important;
    border: 1px dashed #dedede;
    cursor: no-drop;
}

.disable:hover {
    background: #dedede !important;
    color: #616161 !important;
    border: 1px dashed #dedede;
    cursor: no-drop;
}

/*-------------------------------- visitbooking new styles ends here --------------------------------------------*/

@media only screen and (min-width: 768px) {
    .calendar_style {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border-radius: 15px !important;
        padding: 10px !important;
        margin-top: 10px;
        margin-bottom: 5px !important;
        max-width: 40%;
        margin-bottom: 10px;
    }

    .fixed-top-sec {
        padding: 20px;
    }

    .call-list-card {
        padding: 25px !important;
        margin: 0px 20px 20px 20px !important;
    }

    ion-content {
        --padding-top: 90px;
    }
}

.call-list-card {
    position: relative;

    .cancelled-ribbon {
        position: absolute;
        z-index: 999;
        background: #ed1000;
        box-shadow: 0 0 0 999px #ed1000;
        clip-path: inset(0 -100%);

        p {
            font-family: "Roboto", sans-serif;
            color: #fff;
            margin: 5px;
        }
    }

    .left {
        inset: 0 auto auto 0;
        transform-origin: 90% 4px;
        transform: translate(-29.3%) rotate(-45deg);
    }
}

.canceled {
    .cl-mo-icon {
        display: none;
    }
}