<ion-header no-padding color="none" class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-label class="page_title" mode="md">Visit Booking List</ion-label>
  </ion-toolbar>

  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>
<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="more-filters">

      <ion-select class="vb-select" placeholder="All visit types" okText="Okay" cancelText="Dismiss" [(ngModel)]="type"
        (ionChange)="selecttype()">
        <ion-select-option value="all">All visit types</ion-select-option>
        <ion-select-option value="1">Person visit</ion-select-option>
        <ion-select-option value="0">Window visit</ion-select-option>
      </ion-select>

    </div>

    <ion-button class="book-newcall-btn" (click)="create()">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Create booking</ion-label>
    </ion-button>

  </ion-fab>




  <ion-row class="d-flex-jc-center">
    <ion-col class="col-fit">



    </ion-col>


  </ion-row>

  <ion-row color="none">
    <ion-card class="calendar_style">
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'yyyy-MM-DD'" step="30">
      </ion-calendar>
    </ion-card>
  </ion-row>

  <ion-chip class="callbooking-date">
    <ion-label>{{date | dateformat: 'DD MMMM yyyy'}}</ion-label>
  </ion-chip>

  <div *ngFor="let item of callList">



    <ion-card class="call-list-card" *ngIf="item.status==1">

      <ion-item color="none" lines="none">

        <ion-label class="cb-timeslot">
          {{item.start_time | dateformat:'hh:mm a'}} - {{item.end_time | dateformat:'hh:mm a'}}
          <span>(UTC+{{ getTimeZone(item.wing.branch_details.timezone) }})</span>
        </ion-label>

        <ion-icon name="ellipsis-vertical" (click)="showOptions($event,item)"></ion-icon>

      </ion-item>

      <ion-grid>

        <ion-row>

          <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12">

            <ion-avatar>
              <img [src]="item.consumer.resident.user.profile_pic">
            </ion-avatar>

            <ion-label>
              {{item.consumer.resident.user.name}}
              <span *ngIf="rv==0&&item.wing">
                {{item.wing.name}}
              </span>
              <span *ngIf="rv==0">
                Room No : {{item.consumer.resident.room}}
              </span>
            </ion-label>

          </ion-col>

          <ion-col size-sm="12" size-md="4" size-lg="4" size="12" class="cb-video-cam-icon">

            <img src="assets/visitor-list-icon.svg">

          </ion-col>

          <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12" *ngIf="item.family.length>0">

            <ion-avatar>
              <img [src]="item.family[0].contact.user_details.profile_pic">
            </ion-avatar>

            <ion-label>
              {{item.family[0].contact.user_details.name}}
              <span>
                {{item.family[0].contact.relation}}
              </span>
            </ion-label>

            <div class="cb-call-info">
              <!-- <ion-icon name="information-circle" (click)="showInfo($event,item.family[0].contact.user)"></ion-icon> -->
              <ion-label *ngIf="item.family.length>1||(item.family.length==1&&item.other_visitor_list.length>0)"
                (click)="showPeople(item)">+{{item.family.length-1+item.other_visitor_list.length}}</ion-label>
            </div>

          </ion-col>

          <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12"
            *ngIf="item.family.length==0&&item.other_visitor_list.length>0">

            <ion-avatar>
              <img src="assets/user_pic.png">
            </ion-avatar>

            <ion-label>
              {{item.other_visitor_list[0].visitor_name}}

            </ion-label>

            <div class="cb-call-info">
              <!-- <ion-icon name="information-circle" (click)="showInfo($event,item.family[0].contact.user)"></ion-icon> -->
              <ion-label *ngIf="item.other_visitor_list.length>1" (click)="showPeople(item)">
                +{{item.other_visitor_list.length-1}}</ion-label>
            </div>

          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-item color="none" lines="none" class="mt-20 mb-zero" *ngIf="item.comment!=null">

        <ion-icon class="cb-comment-icon" name="chatbox-outline" (click)="showComment(item,$event)"
          style="margin-left: auto;margin-right: auto;"></ion-icon>

      </ion-item>



    </ion-card>


    <ion-card class="call-list-card canceled" *ngIf="item.status==0">

      <ion-item color="none" lines="none">

        <ion-label class="cb-timeslot">
          {{item.start_time | dateformat:'hh:mm a'}} - {{item.end_time | dateformat:'hh:mm a'}}
          <span>UTC+{{ getTimeZone(item.wing.branch_details.timezone) }}</span>
        </ion-label>

        <ion-icon class="cl-mo-icon" name="ellipsis-vertical"></ion-icon>

      </ion-item>
      <span class="cancel-tag-1 cancelled-ribbon left">

        <p>Cancelled</p>

      </span>
      <ion-grid>

        <ion-row>

          <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12">

            <ion-avatar>
              <img [src]="item.consumer.resident.user.profile_pic">
            </ion-avatar>

            <ion-label>
              {{item.consumer.resident.user.name}}
              <span *ngIf="rv==0&&item.wing">
                {{item.wing.name}}
              </span>
              <span *ngIf="rv==0">
                Room No : {{item.consumer.resident.room}}
              </span>
            </ion-label>

          </ion-col>

          <ion-col size-sm="12" size-md="4" size-lg="4" size="12" class="cb-video-cam-icon">

            <img src="assets/visitor-list-icon.svg">

          </ion-col>

          <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12">

            <ion-avatar>
              <img [src]="item.family[0].contact.user_details.profile_pic">
            </ion-avatar>

            <ion-label>
              {{item.family[0].contact.user_details.name}}
              <span>
                {{item.family[0].contact.relation}}
              </span>
            </ion-label>

            <div class="cb-call-info">
              <ion-icon name="information-circle" style="color:dimgray"></ion-icon>
              <ion-label *ngIf="item.family.length>1||(item.family.length==1&&item.other_visitor_list.length>0)">
                +{{item.family.length-1+item.other_visitor_list.length}}</ion-label>
            </div>

          </ion-col>


          <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12"
            *ngIf="item.family.length==0&&item.other_visitor_list.length>0">

            <ion-avatar>
              <img src="assets/user_pic.png">
            </ion-avatar>

            <ion-label>
              {{item.other_visitor_list[0].visitor_name}}

            </ion-label>

            <div class="cb-call-info">

              <ion-label *ngIf="item.other_visitor_list.length>1">+{{item.other_visitor_list.length-1}}</ion-label>
            </div>

          </ion-col>

        </ion-row>

      </ion-grid>

      <ion-item color="none" lines="none" class="mb-zero" *ngIf="item.comment!=null">

        <ion-icon class="cb-comment-icon" name="chatbox-outline" style="margin-left: auto;margin-right: auto;">
        </ion-icon>

      </ion-item>



    </ion-card>



  </div>

  <div *ngIf="callList.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_callbooking_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Bookings Found</ion-label>
    </ion-item>
  </div>

</ion-content>