.scan-btn {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        height: 45px;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: normal;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
}

.scanqr-img {
        max-width: 290px;
        margin: 0 auto;
        display: block;
}

.scan-btn {
        max-width: 120px;
}

.vmanage {
        position: relative;

        .close-scanner-btn {
                --background: transparent;
                --background-activated: transparent;
                --background-hover: transparent;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                font-size: 25px;
                color: #fff;
                margin: 0;
                position: absolute;
                top: 50px;
                right: 30px;
                z-index: 9999999;
        }

        .main-content-wrapper {
                align-items: flex-start !important;
                flex-direction: column;

                ion-button.backbutton.page-back-btn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
                        margin-top: 45px;
                }
        }

        .welcome-text {
                font-weight: normal;
        }
}

.backarrow {
        font-size: 30px;
}

.scan-box {
        border: 2px solid #fff;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
        content: "";
        display: block;
        left: 50%;
        height: 300px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        --background: transparent !important;
}

.page-back-btn {
        --background: transparent;
        --box-shadow: none;
        color: #222;
        margin-top: 20px;
        --background-activated: transparent;
        --background-hover: transparent;
}

@media only screen and (min-width: 768px) {
        .vmanage {
                .main-content-wrapper {
                        align-content: unset;

                        ion-grid {
                                ion-row {
                                        left: 50%;
                                        top: 50%;
                                        -webkit-transform: translateX(-50%) translateY(-50%);
                                        -moz-transform: translateX(-50%) translateY(-50%);
                                        transform: translateX(-50%) translateY(-50%);
                                        position: absolute;
                                }
                        }

                        ion-button.backbutton.page-back-btn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
                                position: absolute;
                                top: 20px;
                                left: 20px;
                        }
                }
        }
}

@media only screen and (min-width: 750px) and (max-width: 753px) {
        .page-back-btn {
                position: relative;
                left: -60px;
        }
}
