<ion-header [style.--background]="scanActive?'#00000000':'#ffffff'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="vmanage" [style.--background]="scanActive?'#00000000':'#ffffff'" >

  <div class="main-content-wrapper" *ngIf="!scanActive">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <img class="scanqr-img" src="/assets/scan-qr.svg">

          <p class="welcome-text">
            Please scan the QR code at the premises to check in
          </p>

        </ion-col>

        <ion-col size="12" class="vm-form">

          <ion-button class="scan-btn" (click)="startScanner()">Scan</ion-button>

        </ion-col>




      </ion-row>

    </ion-grid>

  </div>

  <div class="scan-box" [hidden]="!scanActive"></div>

</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none" [style.--background]="scanActive?'#00000000':'#ffffff'">

  <ion-grid>

    <!-- <ion-col size="6">

      <ion-button class="back-btn" [routerLink]="['/menu']">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col> -->

    <!-- <ion-col size="6">

    <ion-button class="next-btn" [routerLink]="['/checkin-choose-consumer']">
      
      Next 
      <ion-icon name="arrow-forward-outline"></ion-icon>
    
    </ion-button>

  </ion-col> -->

  </ion-grid>

</ion-footer>