.scan-btn {
  --background: #0077b5;
  --border-radius: 50px;
  --box-shadow: none;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.scanqr-img {
  max-width: 290px;
  margin: 0 auto;
  display: block;
}

.scan-btn {
  max-width: 120px;
}

.vmanage .welcome-text {
  font-weight: normal;
}

.backarrow {
  font-size: 30px;
}
