<ion-content>
  <div class="ob-sec">
    <div class="ob-img-block">
      <img src="/assets/ob-thumb.svg" />
    </div>

    <div class="ob-other-det-block">
      <ion-label class="ob-sec-title">Set your password below.</ion-label>


      

      <div class="form-info-block">

        <form [formGroup]="passwordForm" novalidate (ngSubmit)="next()" style="pointer-events: auto;">

       
        <div class="fib-row">

          <ion-label class="fib-label">New Password</ion-label>

          <ion-input class="fib-input" [(ngModel)]="password" formControlName="password" (ionChange)="checkStrength(password)" required name="pswd" type="password"
          clearOnEdit="false"></ion-input>

        </div>

        <div class="fib-row">

          <!-- <ion-label class="fib-label">Password Strength: <span class="pswd-str-text vweak-pswd">Very week</span></ion-label> -->

          <!-- <ion-label class="fib-label">Password Strength: <span class="pswd-str-text weak-pswd">Week</span></ion-label> -->

          <ion-label class="fib-label">Password Strength: <span class="pswd-str-text" id="result"></span></ion-label>

          <div class="password-progress-bar">
            <!-- <div id="password-strength" class="progress-bar pswd-very-weak p-v-weak">
            </div> -->

            <!-- <div id="password-strength" class="progress-bar pswd-weak p-weak">
            </div> -->

            <div id="password-strength" class="progress-bar">
            </div>

          </div>

          <ul class="password-strenth-suggestions-list">

            <li id="one-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 lowercase & 1 uppercase</ion-label>
            </li>

            <li id="one-num">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 number (0-9)</ion-label>
            </li>

            <li id="one-special-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 Special Character (!@#$%^&*)</ion-label>
            </li>

            <li id="eight-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>Atleast 8 Characters</ion-label>
            </li>

          </ul>

        </div>

        <div class="fib-row">
          <ion-label class="fib-label">Re enter your password</ion-label>

          <ion-input class="fib-input" [(ngModel)]="confirmPassword" name="confirm" formControlName="confirmPassword" type="password" clearOnEdit="false"></ion-input>
        </div>

        <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

      </form>

        <ion-button class="ob-proceed-btn" (click)="next()">
          Proceed to next step
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>

        <div class="bs-btn-box">

          <ion-label (click)="back()"><ion-icon name="chevron-back-outline" ></ion-icon> Back</ion-label>

          <ion-label (click)="skip()">Skip</ion-label>

        </div>

      </div>
    </div>

    <!-- <p class="ob-powered-by">Powered by Centrim Life</p> -->
  </div>
</ion-content>
