ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-textarea {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  min-height: 90px;
  padding: 10px;
  font-size: 15px;
  padding-right: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
}

ion-input {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  --padding-start: 15px;
  --padding-end: 15px !important;
}
