ion-content {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

ion-textarea {
    background: #f5f5f5;
    border-radius: 10px;
    min-height: 90px;
    padding: 10px;
    font-size: 15px;
    padding-right: 10px;
    -webkit-padding-end: 10px;
    padding-inline-end: 10px;
}

ion-input {
    background: #f5f5f5;
    border-radius: 10px;
    --padding-start: 15px;
    --padding-end: 15px !important;
}
