<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkin-visit-purpose</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkin-choose-consumer</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="vmanage">

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row class="dflex-jc">

        <ion-col size="12">

          <p class="welcome-text">
            Purpose of Visit
          </p>

        </ion-col>

        <ion-col size="12">

          <ion-textarea rows="6" [(ngModel)]="purpose"></ion-textarea>
          
          <!-- <ion-input [(ngModel)]="purpose"></ion-input> -->

        </ion-col>
        




      </ion-row>

    </ion-grid>

  </div>


</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" (click)="back()">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="next()">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-grid>

</ion-footer>
