<ion-header class="inner-header-1">
  <ion-row style="height: 5px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Maintenance</ion-title>

    <!-- <ion-buttons style="margin-right: 16px;" slot="end">
    
      <ion-col>
        <ion-button class="header_btn_bg" color="primary" (click)="filterRequest($event)">
          <ion-icon name="funnel-outline" style="color: #fff;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-buttons> -->

  </ion-toolbar>
  <ion-row>

    <ion-col>

      <ion-searchbar class="clife-search-bar" placeholder="Search requests" (ionCancel)="cancel()" [(ngModel)]="terms" (ionChange)="search()">
      </ion-searchbar>

    </ion-col>

  </ion-row>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content class="ion-maintenance-content">
  <ion-label class="book_newcall_btn" (click)="createReq()">
    <ion-icon class="newcallbook_icon"></ion-icon> &nbsp; New Request
  </ion-label>
  <!-- <ion-item color="none" lines="none" class="mb-10">
    
    <ion-label class="maintenance_list_date">
      Today
    </ion-label>

  </ion-item> -->

  <ion-grid>

    <ion-row>




      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of request ">

        <ion-card (click)="gotoDetails(item.id)">

          <ion-card-header [class.pending]="item.status==0" [class.in-progress]="item.status==1"
            [class.with-third-party]="item.status==2" [class.closed]="item.status==3" [class.reopened]="item.status==4"
            [class.waiting_for_feedback]="item.status==5">

            <ion-grid>

              <ion-row>

                <ion-col>
                  <ion-label>#{{item.reference_id}}</ion-label>
                </ion-col>

                <ion-col>
                  <ion-label *ngIf="item.status==0">Open</ion-label>
                  <ion-label *ngIf="item.status==1">In progress</ion-label>
                  <ion-label *ngIf="item.status==2">With third party</ion-label>
                  <ion-label *ngIf="item.status==3">Closed</ion-label>
                  <ion-label *ngIf="item.status==4">Reopened</ion-label>
                  <ion-label *ngIf="item.status==5">Waiting for feedback</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb-15">

              <ion-label class="maintenance-problem">{{item.request_title}}</ion-label>

            </ion-item>


            <span class="urgent-tag" *ngIf="item.priority==2">

              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Urgent</p>

            </span>


            <ion-grid>

              <ion-row class="mb-15 ion-justify-content-between">

                <!-- <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span *ngIf="item.priority==0">Low</span>
                    <span *ngIf="item.priority==1">Medium</span>
                    <span *ngIf="item.priority==2">Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph" [class.low-priority-graph]="item.priority==0"
                    [class.medium-priority-graph]="item.priority==1" [class.urgent-priority-graph]="item.priority==2"
                    color="none" lines="none">

                    <span></span>
                    <span></span>
                    <span></span>

                  </ion-item>

                </ion-col>

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>{{item.due_date | dateformat : 'DD MMM yyyy'}}</ion-label>
                </ion-col> -->

                <!-- <ion-col size="6" class="col_fit">

                  <ion-item lines="none" color="none">

                    <img  src="/assets/maintenance/person-thumb.svg" *ngIf="item.assignee==null||item.assignee.length==0">

                    <ion-label class="mn-assignee-name" *ngIf="item.assignee==null||item.assignee.length==0">No assignees</ion-label>
                    
                    <img class="tec" [src]="item.assignee[0].technician.profile_pic" *ngIf="item.assignee!==null&&item.assignee.length">
                    <span class="more-tec" *ngIf="item.assignee.length>1">+{{item.assignee.length-1}}</span>
                  </ion-item>

                </ion-col> -->

                <ion-col size="6" class="col_fit">

                  <ion-label class="maintenance-priority">
                    Priority: <span *ngIf="item.priority==0">Low</span>
                    <span *ngIf="item.priority==1">Medium</span>
                    <span *ngIf="item.priority==2">Urgent</span>
                  </ion-label>

                  <ion-item lines="none" color="none" class="priority-graph" [class.low-priority-graph]="item.priority==0"
                    [class.medium-priority-graph]="item.priority==1" [class.urgent-priority-graph]="item.priority==2"
                    color="none" lines="none">

                    <span></span>
                    <span></span>
                    <span></span>

                  </ion-item>

                </ion-col>

              </ion-row>

              <ion-row class="ion-justify-content-between">

                <ion-col size="6" class="col_fit">
                  <ion-item lines="none" color="none">
                    <img src="/assets/maintenance/date-thumb.svg">
                    <ion-label class="maintenance_room_number">{{item.due_date | dateformat : 'DD MMM, yyyy'}}</ion-label>
                  </ion-item>

                </ion-col>

                <ion-col size="6" class="col_fit">
                  <ion-item lines="none" color="none">
                    <i class="las la-building mn-location-icon"></i>
                    <ion-label class="maintenance_room_number" *ngIf="item.location">{{item.location.substring(0,20)}}<ng-container *ngIf="item.location.length>20"> ...</ng-container></ion-label>
                    <ion-label class="maintenance_room_number" *ngIf="!item.location&&item.locationdetails">{{item.locationdetails.name.substring(0,20)}}<ng-container *ngIf="item.locationdetails.name.length>20"> ...</ng-container></ion-label>
                  </ion-item>
                </ion-col>


                <!-- <ion-col size="6">
                  <ion-label class="maintenance_branch">{{item.branch.name}}</ion-label>
                </ion-col> -->

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>



      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/consumer-maintenance-details']">

          <ion-card-header class="pending">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1237</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Pending</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/consumer-maintenance-details']">

          <ion-card-header class="with-third-party">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1236</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>With third party</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/consumer-maintenance-details']">

          <ion-card-header class="in-progress">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1235</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>In progress</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

               
                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card [routerLink]="['/consumer-maintenance-details']">

          <ion-card-header class="waiting_for_feedback">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1234</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Waiting for feedback</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

             

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card>

          <ion-card-header class="overdue">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1233</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Overdue</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

               

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card>

          <ion-card-header class="closed">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1232</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Closed</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card>

          <ion-card-header class="reopened">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#1231</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label>Reopened</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">Fix broken cabinet doors</ion-label>

            </ion-item>

            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">Room No. 220B</ion-label>
                </ion-col>

                <ion-col size="6">
                  <ion-label class="maintenance_branch">Branch Name</ion-label>
                </ion-col>

              </ion-row>

              <ion-row>

                

                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>17 Aug 2020</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col> -->

    </ion-row>

  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!hideLoader">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div *ngIf="request.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 145px;width: 250px;">
      <img src="assets/maintenance/no-maintenance-request-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 5px;">
      <ion-label
        style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Maintenance Request Found.</ion-label>
    </ion-item>
  </div>

</ion-content>