// ion-card {
//     margin: 15px 20px !important;
// }

// ion-card:first-child    {
//     margin-top: 37px !important;
// }

.inner-header-1 {
    padding: 20px 10px 10px !important;

    ion-toolbar {
        ion-buttons {
            margin-left: -5px;
        }
    }
}

ion-header {
    .clife-search-bar {
        --border-radius: 10px;
        --background: #fff;
        color: #000;
    }
}

ion-content {
    --padding-start:20px;
    --padding-end:20px;
    --padding-top: 20px;
    --padding-bottom:20px;
    --background:#eee;
}

.mn-assignee-name {
    margin: 0px 0px 0px 10px;
    white-space: initial;
    word-break: break-word;
    line-height: 20px;
}

.mn-location-icon {
    font-size: 25px;
    color: #9f9f9f;
}

.more-tec {
    background-color: rgba(189, 225, 255, 0.5);
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
    color: #3a7aaf;
    margin-left: 5px;
    margin-top: 2px;
    display: block;
    max-width: fit-content;
    min-width: 30px;
    text-align: center;
}


.tec {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

@media screen and (min-width: 768px) {
    ion-searchbar {
        width: 100% !important;
    }
}
