ion-content {
    // --padding-start:20px;
    // --padding-end:20px;
    // --padding-top:20px;
    // --padding-bottom:20px;
    position: relative;
}

.ob-sec {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;

    &::before {
        background: url(/assets/ob-bg.svg);
        background-size: cover;
        background-position: top left;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -39vh;
        right: -13vw;
        display: none;
    }

    &::after {
        background: url(/assets/ob-circle-bg.svg);
        background-size: cover;
        background-position: top left;
        content: "";
        width: 144px;
        height: 144px;
        position: absolute;
        top: -2vh;
        left: -12vw;
        display: none;
    }

    .ob-img-block-1 {
        min-width: 350px;
        min-height: 305px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        img {
            width: 250px;
        }
    }

    .ob-other-det-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        position: relative;

        .ob-company-logo-box {
            img {
                min-width: 225px;
            }
        }

        .ob-welcome-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-size: 30px;
            font-weight: 700;
            color: #222;
            margin-top: 10px;
            margin-bottom: 10px;

            span {
                font-size: 25px;
                font-weight: normal;
                margin-top: 0;
                color: #222;
            }
        }

        .ob-description {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #545454;
            margin-top: 20px;
            max-width: 80%;
            text-align: center;
        }

        .ob-get-started-btn {
            --background: #625df5;
            --background: linear-gradient(90deg, #625df5 35%, rgb(0 109 234) 100%);
            --box-shadow: none;
            --border-radius: 50px;
            color: #fff;
            text-transform: none;
            letter-spacing: normal;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            min-height: 55px;
            width: 100%;
            max-width: 80%;
            margin-top: 25px;
            margin-bottom: 80px;
        }
    }

    .ob-powered-by {
        // position: absolute;
        // bottom: 1vh;
        // left: 0;
        // right: 0;
        // position: absolute;
        // right: 0;
        // left: 0;
        // top: calc(100vh - 80px);
        color: #979797;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 100px;
        display: block;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .ob-sec {
        .ob-img-block-1 {
            img {
                width: 180px;
            }
        }

        .ob-other-det-block {
            margin-top: 20px;

            .ob-welcome-label {
                margin-top: 20px;
            }
        }

        .ob-powered-by {
            margin-top: -5px;
        }
    }  
}

@media only screen and (min-width: 375px) and (max-width: 393px) {
    .ob-sec {
        .ob-img-block-1 {
            img {
                width: 200px;
            }
        }

        .ob-other-det-block {
            margin-top: 20px;

            .ob-welcome-label {
                margin-top: 20px;
            }
        }

        .ob-powered-by {
            margin-top: -15px;
        }
    }  
}

@media only screen and (min-width: 412px) and (max-width: 420px) {
    .ob-sec {
        .ob-img-block-1 {
            img {
                width: 200px;
            }
        }

        .ob-other-det-block {
            margin-top: 40px;

            .ob-welcome-label {
                margin-top: 40px;
            }

            .ob-get-started-btn {
                margin-top: 55px;
            }
        }

        .ob-powered-by {
            margin-top: 65px;
        }
    }  
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ob-sec {
        &::before {
            background: url(/assets/ob-bg.svg);
            background-size: cover;
            background-position: top left;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -49vh;
            right: -3vw;
        }
    }
}

@media only screen and (min-width:750px) {
    .ob-sec {
        justify-content: center !important;

        .ob-other-det-block {
            .ob-get-started-btn {
                max-width: 50%;
            }
        }

        .ob-powered-by {
            padding-bottom: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .ob-sec {
        &::after {
            display: none;
        }

        &::before {
            top: -59vh;
            right: -33vw;
            transform: rotate(265deg);
        }

        .ob-img-block {
            img {
                position: absolute;
                right: -48px;
                top: 40px;
                height: 450px;
            }
        }

        .ob-img-block-1 {
            min-height: 280px;
            padding-top: 120px;

            img {
                height: 280px;
            }
        }

        .ob-other-det-block {
            margin-top: 40px;
            padding-top: 80px;

            .ob-get-started-btn {
                max-width: 20%;
            }
        }

        .ob-powered-by {
            padding-bottom: 50px !important;
        }
    }
}

ion-tab-bar {
    display: none !important;
}
