<ion-content>

  <div class="ob-sec">

    <div class="ob-img-block-1">
      <img src="/assets/ob-welcome-staff.svg">
    </div>

    <div class="ob-other-det-block">

      <div class="ob-company-logo-box">

        <img src="assets/centrim_logo_inner.svg">

      </div>

      <ion-label class="ob-welcome-label">
        Welcome!
        <!-- <span>First things first</span> -->
      </ion-label>

      <p class="ob-description">Just a few quick things to set up your account.</p>

      <ion-button class="ob-get-started-btn" (click)="next()">Get Started</ion-button>

    </div>


    <p class="ob-powered-by">Powered by Centrim Life</p>

  </div>

</ion-content>
