ion-col.ios.hydrated {
  max-width: fit-content;
}

.cash_balance_card ion-grid {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.pcash-profile-switch {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.pcash-profile-switch ion-col {
  border: none !important;
  padding-right: 0px !important;
  display: flex;
}

.pcash-profile-switch ion-avatar {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  align-self: center;
}

.pcash-profile-switch ion-label {
  margin-left: 10px;
  align-self: center;
  vertical-align: middle;
  font-size: 16px;
  color: #757575;
  word-break: break-word;
  white-space: break-spaces;
}

.pcash-profile-switch ion-button {
  background: #b7b7b7;
  --box-shadow: none !important;
  --background: transparent;
  border-radius: 50px;
  align-self: center;
  vertical-align: middle;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  margin: 0;
  height: auto;
}

.pcash-profile-switch ion-button ion-icon {
  font-size: 25px;
  color: #fff;
}

.recent_head {
  margin: 35px 0px 10px 0px !important;
}
