<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/resident-overview',{flag:flag}]"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Finance
      <!-- <ion-item class="profile_switch" lines="none" color="none" *ngIf="profile_view" >

        <ion-avatar slot="end" *ngFor="let mem of members">
          <img [src]="mem.user.profile_pic" (click)="switchProfile(mem.id)">
        </ion-avatar>
      </ion-item>   -->
    </ion-title>
  </ion-toolbar>
 
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->

</ion-header>

<ion-content >
  <ion-card class="cash_balance_card"
  style="width: 90% ;left: 0; right: 0;  --background: transparent;margin-left: auto !important;margin-right: auto !important;">

  <ion-grid>

    <ion-row class="pcash-profile-switch" *ngIf="profile_view">

      <ion-col  class="col_fit">

       <ion-avatar >
         <img [src]="memberpic">
       </ion-avatar>

       <ion-label>
         {{membername}}
       </ion-label>

      </ion-col>

      <!-- <ion-col class="col_fit" *ngIf="members.length>1">

        <ion-button (click)="showConsumer()">
          <ion-icon name="repeat-outline" ></ion-icon>
         <ion-ripple-effect></ion-ripple-effect>
       </ion-button>

      </ion-col> -->

    </ion-row>

    <ion-row>
      <ion-col class="align_center" width-50>
        <img src="assets/money_bag.svg">
      </ion-col>
      <ion-col class="align_center" width-50>
        <ion-label class="cash_balance">
          Cash Balance
          <span>
            $ {{balance}}
          </span>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
  <!-- <ion-card class="cash_balance_card">
    <ion-item lines="none" color="none">
      <ion-grid>
        <ion-row>
          <ion-col class="align_center" width-50>
            <img src="assets/money_bag.svg">
          </ion-col>
          <ion-col class="align_center" width-50>
            <ion-label class="cash_balance">
              Cash Balance
              <span>
                $ 175.00
              </span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card> -->
<div >
  <ion-item  lines="none" color="none" *ngIf="details.length!=0">
    <ion-label class="recent_head">History</ion-label>
  </ion-item>

  <!-- <ion-item lines="none" color="none">
    <ion-label class="transaction_date">26 March 2020</ion-label>
  </ion-item>

  <ion-card class="card_red_outline">

    <ion-grid>
      <ion-row>
        <ion-col class="ten-percent_no_flex d-block" width-12>
          <ion-icon class="dollar_red"></ion-icon>
        </ion-col>
        <ion-col class="sixty-percent transaction_details" width-60>
          <ion-label class="purpose">Paid for Medicine</ion-label>
          
          <ion-label class="closing_balance">Closing balance : <span>$ 175</span></ion-label>
        </ion-col>
        <ion-col class="thirty-percent" width-30>
          <ion-label class="deduction_amount">-10 $</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card> -->


  <div *ngFor="let item of details">
  <ion-item lines="none" color="none">
    <ion-label class="transaction_date">{{item.petty_cash.date.substr(0,10) | dateformat:'DD MMM yyyy'}}</ion-label>
  </ion-item>
  
    <ion-card class="card_red_outline" *ngIf="item.petty_cash.type=='Debit'">

      <ion-grid>
        <ion-row class="pcash-transaction-sec">
          <ion-col class="d-block" width-12>
            <ion-icon class="dollar_red"></ion-icon>
          </ion-col>
          <ion-col class="transaction_details" width-60>
            <ion-label class="purpose">{{item.petty_cash.note}}</ion-label>
            <ion-label class="cash_sent_by">By {{item.petty_cash.creator.name}}</ion-label>
            <ion-label class="closing_balance">Closing balance : <span>$ {{item.bal}}</span></ion-label>
          </ion-col>
          <ion-col width-30>
            <ion-label class="deduction_amount">{{item.petty_cash.amount}} $</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-card>
  
    <!-- <ion-item lines="none" color="none">
      <ion-label class="transaction_date">{{item.created_at.substr(0,10)}}</ion-label>
    </ion-item>
   -->
    <ion-card class="card_green_outline" *ngIf="item.petty_cash.type=='Credit'">
  
      <ion-grid>
        <ion-row class="pcash-transaction-sec">
          <ion-col width-10 class="d-block">
            <ion-icon class="dollar_green"></ion-icon>
          </ion-col>
          <ion-col class="transaction_details" width-60>
            <ion-label class="purpose">{{item.petty_cash.note}}</ion-label>
            <ion-label class="cash_sent_by">By {{item.petty_cash.creator.name}}</ion-label>
            <ion-label class="closing_balance">Closing balance : <span>$ {{item.bal}}</span></ion-label>
          </ion-col>
          <ion-col width-30>
            <ion-label class="deduction_amount">+{{item.petty_cash.amount}} $</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-card>
  
    <!-- <ion-item lines="none" color="none">
      <ion-label class="transaction_date">{{item.created_at.substr(0,10)}}</ion-label>
    </ion-item> -->
  </div>
  

  <!-- <ion-card class="card_red_outline">

    <ion-grid>
      <ion-row>
        <ion-col class="ten-percent_no_flex d-block" width-10>
          <ion-icon class="dollar_red"></ion-icon>
        </ion-col>
        <ion-col class="sixty-percent transaction_details" width-60>
          <ion-label class="purpose">Paid for Books</ion-label>
          
          <ion-label class="closing_balance">Closing balance : <span>$ 90</span></ion-label>
        </ion-col>
        <ion-col class="thirty-percent" width-30>
          <ion-label class="deduction_amount">-25 $</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card> -->






  <div *ngIf="details.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 85px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_transactions_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Transactions Found.</ion-label>
    </ion-item>
  </div>
</div>
</ion-content>