// ion-col.ios.hydrated {
//     max-width: fit-content;
// }

ion-content {
    --background: #eee;
    --padding-top: 15px;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-bottom: 15px;
}

ion-col.ios.hydrated {
    max-width: fit-content;
}

.cash_balance_card {
    ion-grid {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.pcash-profile-switch {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    ion-col {
        border: none !important;
        padding-right: 0px !important;
        display: flex;
    }

    ion-avatar {
        // display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        align-self: center;
    }

    ion-label {
        // display: inline-block;
        margin-left: 10px;
        align-self: center;
        vertical-align: middle;
        font-size: 16px;
        color: #757575;
        word-break: break-word;
        white-space: break-spaces;
    }

    ion-button {
        background: #b7b7b7;
        --box-shadow: none !important;
        --background: transparent;
        border-radius: 50px;
        align-self: center;
        vertical-align: middle;
        --padding-top: 5px;
        --padding-bottom: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        margin: 0;
        height: auto;

        ion-icon {
            font-size: 25px;
            color: #fff;
        }

    }



}

.recent_head {
    margin: 35px 0px 10px 0px !important;
}

.pcash-transaction-sec {
    display: flex;
    // justify-content: space-between;

    ion-col {
        max-width: fit-content;

        &:nth-child(3) {
            margin-left: auto;
        }
    }

    .closing_balance {
        margin-bottom: 0 !important;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .card_green_outline {
        margin-bottom: 10px;
    }

    .card_red_outline {
        margin-bottom: 10px;
    }
}

.transaction_date {
    color: #222 !important;
}