ion-header {
    .header_btn_bg {
        background: #2b90c5 !important;
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #eeeeee;

    .back-arrow {
        font-size: 25px;
        color: #0077b5;
        margin-top: 30px;
    }

    .profile-details-box {
        background: #0077b5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 120px;
        padding: 15px 20px;
        color: #fff;
        border-radius: 15px;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 10px;

        ion-avatar {
            width: 100px;
            height: 100px;
            border: 5px solid #fff;
            position: absolute;
            top: 0;
        }

        .consumer-name {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-top: 45px;
        }

        .agedcare-name {
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .room-wingname {
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .profile-switch-box {
            position: absolute;
            right: 30px;
            top: 95px;

            .profile-switch-btn {
                width: 35px;
                height: 35px;
                margin-left: auto;
                margin-bottom: 0;
                color: #0077b5;
                font-size: 25px;
                --background: #fff;
                --border-radius: 50px;
                --padding-start: 5px;
                --padding-end: 5px;
                display: block;
            }

            ion-label {
                font-size: 10px;
                color: #fff;
                opacity: 0.6;
            }
        }
    }

    .overview-count-card {
        height: 100%;
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 60px;
            height: 60px;
        }

        .oc-info-sec {
            height: 100%;
            display: flex;
            flex-direction: column;

            .overview-count {
                color: #707070;
                font-size: 20px;
                font-weight: 600;
                margin-top: 15px;
            }

            .label-ah {
                color: #0daf9f;
            }

            .label-mr {
                color: #ffb604;
            }

            .label-visitors {
                color: #e81b66;
            }

            .overview-info {
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #707070;
                margin-top: 5px;
            }
        }
    }

    .ro-segment {
        color: #707070;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #d8d8d8;

        ion-segment-button {
            text-transform: none;
            font-size: 16px;
            letter-spacing: normal;
            --color-checked: #0077b5;
            --indicator-color: #0077b5;
            --indicator-height: 3px;
        }
    }

    .ro-select-date-sec {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .ro-date-sec {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 30px;
                color: #707070;
            }

            ion-label {
                font-size: 18px;
                font-weight: 600;
                color: #707070;
            }
        }

        .ro-month-select-sec-btn {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            margin-bottom: 0;
            color: #707070;
            --background: #efefef;
            --border-radius: 50px;
            --box-shadow: none;
            --padding-start: 5px;
            --padding-end: 5px;

            i {
                font-size: 25px;
                color: #707070;
            }
        }
    }

    .overview-item-card {
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-shadow: none;
        border: 1px solid #dfdfdf;

        ion-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #efefef;
            padding: 10px 15px;

            ion-icon {
                font-size: 22px;
                margin-right: 5px;
                vertical-align: middle;
            }

            i {
                font-size: 22px;
                // margin-right: 5px;
                vertical-align: middle;
            }

            ion-label {
                font-size: 16px;
                display: flex;
                align-items: center;
                color: #646464;
            }
        }

        .ot-activity {
            background: #cfefec;

            .activity-icon {
                margin-right: 0;
                font-size: 20px;
            }

            // ion-icon,
            // i,
            // ion-label {
            //     color: #0DAF9F;
            // }
        }

        .ot-dining {
            background: #fef1ce;

            // ion-icon,
            // i,
            // ion-label {
            //     color: #FFAB04;
            // }
        }

        .ot-visitor {
            background: #fcdee9;

            // ion-icon,
            // i,
            // ion-label {
            //     color: #CC3E71;
            // }
        }

        .ot-visit-booking {
            background: #dfffe2;

            // ion-icon,
            // i,
            // ion-label {
            //     color: #55955b;
            // }
        }

        ion-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 15px 0;

            .mc-box {
                display: block;
                width: 100%;

                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                    color: #222;
                    line-height: 20px;
                }

                .din-dishes {
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    color: #707070;
                    display: block;
                    margin-top: 2px;

                    .more-count {
                        display: block;
                        // color: #0077b5;
                        // background: #daf2ff;
                        color: #0077b5;
                        background: #def1fb;
                        max-width: fit-content;
                        padding: 2px 10px;
                        border-radius: 50px;
                        font-size: 13px;
                        margin-top: 10px;
                    }
                }
            }

            .mc-box-v {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .checkin-time-sec {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 5px;
                    }

                    .checkin-time {
                        color: #222;
                        font-size: 15px;

                        ion-icon {
                            font-size: 22px;
                            vertical-align: middle;
                            color: #707070;
                            margin-right: 5px;
                        }
                    }
                }

                .checkout-time-sec {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 5px;
                    }

                    .checkout-time {
                        color: #222;
                        font-size: 15px;

                        ion-icon {
                            font-size: 22px;
                            vertical-align: middle;
                            color: #707070;
                            margin-right: 5px;
                        }
                    }
                }

                .vb-info-box {
                    .vb-title {
                        color: #222;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            .act-details-box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                ion-chip {
                    padding: 10px 15px;
                    color: #707070;
                    margin: 0;

                    i {
                        font-size: 18px;
                        vertical-align: middle;
                    }

                    ion-label {
                        font-size: 15px;
                        margin-left: 5px;
                    }
                }

                .act-status {
                    color: #707070;
                    font-size: 14px;

                    ion-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }

                .act-social {
                    background: #fbddf9;
                    color: #a20082;
                }

                .act-physical {
                    background: #ffd6db;
                    color: #e2001e;
                }

                .act-spiritual {
                    background: #aeffd5;
                    color: #187a57;
                }

                .act-emotional {
                    background: #ffe5d8;
                    color: #e25900;
                }

                .act-cognitive {
                    background: #dfecff;
                    color: #0965a1;
                }

                .act-trip {
                    background: #fff1bc;
                    color: #725a00;
                }

                .act-entertainment {
                    background: #b1ffff;
                    color: #006064;
                }

                .act-event {
                    background: #ffd1d1;
                    color: #610000;
                }

                .act-meeting {
                    background: #e7e4fd;
                    color: #0f00a2;
                }

                .act-other {
                    background: #ffd8f6;
                    color: #f300d3;
                }

                .as-declined {
                    color: #ff0000;
                }

                .as-attended {
                    color: #1cb300;
                }

                .assigned-label {
                    font-size: 14px;
                    color: #1cb300;

                    ion-icon {
                        color: #1cb300;
                        font-size: 14px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
            }

            .activity-comment {
                border-top: 1px dashed #c7c7c7;
                margin-top: 15px;
                padding-top: 10px;

                ion-label {
                    font-size: 15px;
                    color: #707070;
                    line-height: 18px;
                    text-align: justify;
                }
            }

            .din-refused-ib {
                border-top: 1px dashed #c7c7c7;
                margin-top: 10px;
                padding-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .din-rr-box {
                    max-width: 70%;
                }

                .din-served {
                    color: #1cb300 !important;
                }

                .din-refused-reason {
                    font-size: 15px;
                    color: #ff5100;
                    max-width: 65%;
                }

                .din-status {
                    color: #707070;
                    font-size: 14px;
                    max-width: 33%;
                    display: flex;
                    align-items: center;

                    ion-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }

                .din-skipped {
                    color: #ff8100 !important;
                }
            }

            .visitor-info-box {
                background: #f5f5f5;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 10px;

                ion-avatar {
                    width: 35px;
                    height: 35px;
                    background: #e8e8e8;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 25px;
                        color: #707070;
                    }
                }

                ion-label {
                    font-size: 16px;
                    color: #222;
                    margin-left: 15px;
                }

                .more-visitors {
                    color: #673ab7;
                    background: #e7daff;
                    padding: 5px;
                    border-radius: 26px;
                    position: absolute;
                    right: 5px;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .visitor-details-box {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;

                .visitors-name-sec {
                    font-size: 15px;
                    font-weight: normal;
                    color: #707070;
                    // display: block;
                    // margin-top: 10px;
                    margin: 10px 5px 5px;
                    border: 1px solid #e2e2e2;
                    padding: 5px 10px;
                    border-radius: 6px;
                }

                .more-count {
                    // display: block;
                    color: #0077b5;
                    background: #daf2ff;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    padding: 2px 10px;
                    border-radius: 50px;
                    font-size: 13px;
                    margin-top: 6px;
                    margin-left: 5px;
                }

                .visit-comment-icon {
                    width: 25px;
                    height: 25px;
                    margin-left: 15px;
                    margin-top: 5px;
                }
            }
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .overview-item-card {
            margin-top: 0px;
            margin-bottom: 15px;
            margin-left: 10px;
            margin-right: 10px;

            .act-details-box {
                .activity-type {
                    display: none;
                }
            }

            .activity-comment {
                display: none;
            }

            ion-card-content {
                padding: 15px !important;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .overview-calendar {
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 0;
        }

        .category-title-sec {
            margin-bottom: 0;
            // margin-top: 20px;
            margin-top: 20px;
        }

        .overview-item-card {
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 10px !important;
            margin-right: 10px !important;
            padding: 0px !important;
            height: auto;

            &:last-child {
                margin-bottom: 0 !important;
            }

            ion-card-header {
                padding: 10px 15px;
            }

            ion-card-content {
                padding: 15px;

                .activity-comment {
                    ion-label {
                        font-size: 16px;
                    }
                }

                .mc-box {
                    .din-dishes {
                        font-size: 16px;
                    }
                }
            }
        }

        .overview-count-card {
            height: 100%;
            margin: 10px !important;
            padding: 30px !important;

            img {
                width: 80px;
                height: 80px;
            }

            .overview-count {
                font-size: 25px !important;
            }

            .overview-info {
                font-size: 18px !important;
            }
        }

        .ro-segment {
            margin-top: 20px;

            ion-segment-button {
                font-size: 20px;
            }
        }

        .ro-select-date-sec {
            margin-top: 20px;
        }

        .no_padding_inline ion-row,
        ion-col {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.category-title-sec {
    margin-top: 5px;
    margin-bottom: 15px;

    .category-title {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #464855;
    }
}

.visit-label {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin-right: auto;
}

.week_container {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-y: hidden;
    overflow-x: scroll !important;

    ::-webkit-scrollbar {
        display: none !important;
    }
}

.inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    // padding-top: 45px !important;
    padding-top: 10px !important;
}

.date_card ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

.activity_date_head {
    font-family: "Roboto", sans-serif;
    padding-top: 0;
}

.category-title-sec {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #dbdbdb;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #cbcbcb;

    .category-title {
        font-size: 18px;
        font-weight: 500;
        color: #545454;
        align-items: center;
        display: flex;

        ion-icon {
            font-size: 18px;
            color: #545454;
            margin-right: 10px;
        }

        i {
            font-size: 22px;
            color: #545454;
            margin-right: 10px;
        }

        .overview-item-count {
            font-size: 15px;
            font-weight: 600;
            border-radius: 50px;
            color: #fff;
            background: #959595;
            min-width: 32px;
            min-height: 30px;
            margin-left: 10px;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            padding-inline: 0;
        }
    }

    ion-icon {
        font-size: 20px;
        color: #545454;
    }
}

.act-status-container {
    margin-right: auto;
    display: flex;
    margin-top: 5px;

    .as-attended {
        display: flex;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        vertical-align: middle;
        color: #222;

        ion-icon {
            font-size: 22px;
            color: #1cb300;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    .as-declined {
        display: flex;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        vertical-align: middle;
        color: #222;

        ion-icon {
            font-size: 22px;
            color: #ff0000;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

.overview-calendar {
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
}

.left_arrow {
    left: 20px !important;
}

@media only screen and (min-width: 750px) and (orientation: portrait) {
    .overview-calendar {
        max-width: 50% !important;
        margin: 15px auto;
        display: block;
    }
}
