@font-face {
    font-family: 'ProductSans';
    src: url('../assets/fonts/ProductSans-Black.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProductSans';
    src: url('../assets/fonts/ProductSans-Regular.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face{

  
    font-family: 'ProductSans';
    src: url('../assets/fonts/ProductSans-BlackItalic.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'ProductSans';
    src: url('../assets/fonts/ProductSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'ProductSans';
    src: url('../assets/fonts/ProductSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: normal;
  }
  