<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-space-between">

        <ion-col class="col-fit page-name" size="4">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-col>

        <ion-col class="col_fit" size="8">
          <ion-button class="skip-today-btn" (click)="skipFullMeal()" *ngIf="!skipped">Skip for today</ion-button>
          <ion-button class="show-allergy-btn" (click)="showAllergies()" *ngIf="allergies.length"><i class="las la-allergies"></i></ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewEntered">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <ion-grid>

        <ion-row *ngIf="dates.length">
          <ion-slides [options]="slideOptsOne" #slideWithNav 
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let item of sliderOne.dates; let idx = index" style="width: fit-content;">

          <ion-col size-sm="3" size-md="2" size-lg="1" size="3" >

            <div class="dt-box">

              <ion-card class="dt-card">

                <ion-label class="dt-label">

                  <span>
                    {{item|dateformat:'ddd'}}
                  </span>

                  {{item|dateformat:'DD'}}

                  <span>
                    {{item|dateformat:'MMM'}}
                  </span>

                </ion-label>

                <div class="indicator-line" [class.iline-selected]="setIndicatorLine(item)==1"
                [class.iline-pending]="setIndicatorLine(item)==0"
                [class.iline-skipped]="setIndicatorLine(item)==2"></div>

              </ion-card>

            </div>

          </ion-col>
        </ion-slide>
      </ion-slides>
        

        </ion-row>

      </ion-grid>

    </div>


  </ion-fab>


  <div class="ind-order-header">

    <div class="date-range-box">

      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

      <ion-label>{{date}}</ion-label>

      <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

    </div>

    <ion-label class="din-skipped-tag-1" *ngIf="skipped">Skipped</ion-label>

    <div class="din-controls">

      <ion-button class="dietary-info-btn" (click)="dietaryPreference()">
        <img src="/assets/dining/dietary-info-icon.svg">
      </ion-button>

      <!-- <ion-button (click)="copy()">
        <img src="/assets/dining/copy-previous-icon.svg">
      </ion-button> -->

      <ion-button (click)="chooseDate()">
        <img src="/assets/dining/date-icon-custom.svg">
      </ion-button>

      <ion-button (click)="markLeave($event)">
        <img src="/assets/dining/more-icon-custom.svg">
      </ion-button>

    </div>

  </div>

  <!-- <ion-label class="din-skipped-tag-1">Skipped</ion-label> -->

  <ng-container *ngIf="!leaveMarked">

    <ng-container *ngFor="let menu of menuItems">

  <div class="din-item-box">

    <ion-label class="din-item">{{menu.servingtime}} <span class="din-timing">({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})</span></ion-label>

    <ion-label class="din-skipped-tag" *ngIf="menu.is_skipped">Skipped</ion-label>

    <ion-icon class="din-more-options" name="ellipsis-vertical-sharp" (click)="options($event,menu)" *ngIf="!cutoffTime(menu)&&!editOrder"></ion-icon>


  </div>

  <ion-label *ngIf="menu.all_coloumns.length==0&&!cutoffTime(menu)&&!menu.is_skipped">No items</ion-label>
      
      <ion-label  *ngIf="cutoffTime(menu)&&!menu.is_skipped">Oh sorry!
        Ordering time has expired</ion-label>
      <ion-label  *ngIf="menu.is_skipped">{{menu.servingtime}} skipped on this day
      </ion-label>

  <div class="fi-box">

    <ng-container *ngFor="let item of menu.all_coloumns"
    [class.doNotShow]="incompatable(item,menu.serving_time_id)||(item.items&&item.items.length>1)">
      <ng-container *ngIf="item.items&&item.items.length==1">

      
    <ion-card class="fi-card" *ngFor="let i of item.items" [class.doNotShow]="!i.itemdetails" 
    (click)="preSavingItem(i,menu.serving_time_id,1,item,menu)" [class.selected]="selected.includes(i.id)"
    [class.notAvailable]="cutoffTime(menu)||menu.is_skipped||!availableItem(i)||i.visibility==0" [class.allergic-fi]="allergicIcon(i)">
    
    <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(i.id)"></ion-icon>

    <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(i)"></ion-icon>

      <div class="fi-img-block">

        <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="i.subitem">


        <div *ngIf="!availableItem(i)">
          <p>You can't order this item</p>
        </div>
        <img class="fi-img" [src]="i.itemdetails.image" *ngIf="i.itemdetails">

      </div>

      <div class="fi-info-block" *ngIf="i.itemdetails">

        <ion-label class="fi-name">{{i.itemdetails.item_name}}</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="setMealSize(i,menu.serving_time_id)">
              <ion-label>{{setMealSize(i,menu.serving_time_id)}}</ion-label>
            </div>

            <div class="fi-quantity"*ngIf="setQuantity(i,menu.serving_time_id)">
              <ion-label>{{setQuantity(i,menu.serving_time_id)}}</ion-label>
            </div>

          </div>

          <div class="fim-div-2" *ngIf="!editOrder&&!cutoffTime(menu)">

            <ion-button (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id,menu); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>
  </ng-container>

</ng-container>

<ng-container *ngFor="let item of menu.all_coloumns"
[class.doNotShow]="item.items&&item.items.length<=1||incompatable(item,menu.serving_time_id)||(item.items&&item.items.length==1)">



    <div class="fi-selectable" *ngIf="item.items&&item.items.length>1">

      <ng-container *ngFor="let i of item.items;let in=index">
      <ion-card class="fi-card" 
      [class.doNotShow]="!i.itemdetails"
              (click)="preSavingItem(i,menu.serving_time_id,2,item,menu)" [class.selected]="selected.includes(i.id)"
                [class.notAvailable]="cutoffTime(menu)||!availableItem(i)||menu.is_skipped||i.visibility==0" [class.allergic-fi]="allergicIcon(i)">

                <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(i.id)"></ion-icon>
               

        <!-- <img src="/assets/dining/alergic-alert-icon.svg" class="allergic-alert-icon" (click)="allergicAlert()"> -->
        <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(i)"></ion-icon>

        <div class="fi-img-block">
          <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="i.subitem">


          <div *ngIf="!availableItem(i)">
            <p>You can't order this item</p>
          </div>
          <img class="fi-img" [src]="i.itemdetails.image" *ngIf="i.itemdetails">

        </div>

        <div class="fi-info-block" *ngIf="i.itemdetails">

          <ion-label class="fi-name">{{i.itemdetails.item_name}}</ion-label>

          <div class="fi-more-options">

            <div class="fim-div-1">
              <div class="fi-meal-size" *ngIf="setMealSize(i,menu.serving_time_id)">
                <ion-label>{{setMealSize(i,menu.serving_time_id)}}</ion-label>
              </div>

              <div class="fi-quantity" *ngIf="setQuantity(i,menu.serving_time_id)">
                <ion-label>{{setQuantity(i,menu.serving_time_id)}}</ion-label>
              </div>

            </div>

            <div class="fim-div-2" *ngIf="!editOrder&&!cutoffTime(menu)">

              <ion-button (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id,menu); $event.stopPropagation()">
                <i class="las la-pen"></i>
              </ion-button>

            </div>

          </div>

        </div>

      </ion-card>

      <ion-label class="fi-or-label" *ngIf="item.items&&item.items.length>1&&in<item.items.length-1">Or</ion-label>

    </ng-container>
    

    </div>
  </ng-container>
  </div>


  



<ng-container *ngFor="let item of additional_by_ser_time">
  <ng-container *ngIf="(item.ser_time==menu.serving_time_id&&item.item&&item.item.length>0&&item.show)">
    <ion-card class="fi-card" *ngFor="let i of item.item" [class.selected]="i.is_ordered||sel_additional_item.includes(i.item.id)"  id="{{menu.servingtime}}"
    (click)="selectAdditionalItem(i,item,menu)">

    <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="i.is_ordered||sel_additional_item.includes(i.item.id)"></ion-icon>

      <div class="fi-img-block">

        
        <img class="fi-img" [src]="i.item.image">

      </div>

      <div class="fi-info-block" >

        <ion-label class="fi-name">{{i.item.item_name}}</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="i.selected_data&&i.selected_data.size">
              <ion-label>{{i.selected_data.size.meal_size.substring(0,1)}}</ion-label>
            </div>

            <div class="fi-quantity" *ngIf="i.selected_data&&i.selected_data.quantity">
              <ion-label>{{i.selected_data.quantity}}</ion-label>
            </div>

          </div>

          <div class="fim-div-2" *ngIf="!editOrder">

            <ion-button (click)="showAdditionalItemdetails(i,menu.servingtime,menu.serving_time_id,menu); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>
    </ng-container>
    </ng-container>


  </ng-container>
</ng-container>

<ng-container *ngIf="leaveMarked">
  <ion-label >
    {{consumer_name}} is on leave this day
  </ion-label>

  

    <ion-button  (click)="unmarkLeave()">Unmark leave</ion-button>



  
</ng-container>

</ion-content>

<ion-footer *ngIf="details&&!hide_footer">

  <ion-button class="confirm-order-btn" *ngIf="!editOrder" (click)="confirm()">

    <ion-label>Confirm Order</ion-label>

  </ion-button>

  <ion-button class="confirm-order-btn" *ngIf="editOrder" (click)="edit()">

    <ion-label>Edit</ion-label>

  </ion-button>

</ion-footer>