.inner-header-1 {
    background: #0077B5 !important;

    .page-name {
        display: flex;
        align-items: center;

        ion-icon {
            color: #fff;
            font-size: 25px;
        }

        ion-label {
            margin-left: 15px;
            color: #fff;
            font-size: 18px;
        }
    }

    .skip-today-btn {
        --background: #C7EAFB;
        --border-radius: 50px;
        --box-shadow: none;
        color: #0177b5;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: normal;
    }

    .show-allergy-btn {
        --background: #C7EAFB;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        width: 40px;
        height: 40px;
        margin-left: 15px;

        i {
            font-size: 30px;
            color: #0177b5;
        }
    }

}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 100px;
    --padding-bottom: 20px;
}

.fixed-top-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    background: #fff;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    z-index: 99999;

    .fts-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .fts-box-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


        .date-range-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;

            ion-icon {
                font-size: 30px;
                color: #707070;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: #222;
                margin: 0px 15px;
            }
        }

        .din-control-btn-sec {
            display: flex;
            align-items: center;

            ion-button {
                --background: transparent;
                --background-activated: transparent;
                --background-hover: transparent;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                --ripple-color: #232323;
                --border-radius: 50px;
                width: 48px;
                height: 48px;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:nth-child(2) {
                    margin-left: 20px;
                    margin-right: 20px;
                }

                &:nth-child(3) {
                    margin-left: 0;
                    margin-right: 0;
                    width: auto;
                }

                .din-more-options-main {
                    font-size: 25px;
                    color: #858585;
                    vertical-align: middle;
                }
            }

            .dietary-info-btn {
                width: 42px;
                height: 42px;
            }
        }

    }

    .dt-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dt-card {
            box-shadow: none !important;
            background-color: #F4F4F4 !important;
            padding: 10px;
            margin: 0px 5px;
            width: 72px;

            .dt-label {
                color: #707070;
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }

}

@media only screen and (min-width:320px) and (max-width:375px) {
    .fixed-top-sec {
        .fts-box-1 {
            .date-range-box ion-label {
                font-size: 16px !important;
                margin: 0px 10px !important;
            }

            .din-control-btn-sec {
                ion-button {
                    margin-left: 10px !important;

                    &:nth-child(2) {
                        margin-left: 12px !important;
                        margin-right: 12px !important;
                    }
                }
            }
        }
    }

    .fi-box {
        .fi-card {
            .fi-info-block {
                padding-right: 20px;

                .fi-name {
                    font-size: 16px !important;
                    line-height: 18px !important;
                }
            }
        }
    }

    .selected {
        .selected-icon {
            font-size: 30px !important;
            right: 0px !important;
            top: 0px !important;
        }
    }
}

@media only screen and (min-width:376px) and (max-width:398px) {
    .fixed-top-sec {
        .fts-box-1 {
            .date-range-box {
                ion-icon {
                    font-size: 26px !important;
                }

                ion-label {
                    font-size: 17px !important;
                }
            }
        }
    }
}

@media only screen and (min-width:393px) and (max-width:767px) {

    ion-content {
        --padding-start: 15px;
        --padding-end: 15px;
    }

    .dt-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dt-card {
            box-shadow: none !important;
            background-color: #F4F4F4 !important;
            padding: 10px;
            margin: 0;
            width: 85px;

            .dt-label {
                color: #707070;
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }

}

@media only screen and (min-width:768px) {
    .dt-box {
        .dt-card {
            box-shadow: none !important;
            background-color: #F4F4F4 !important;
            padding: 10px;
            margin: 0;
            width: 100%;
            // height: 130px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            .dt-label {
                color: #707070;
                font-size: 28px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }

        .dt-card-current-date {
            .indicator-line {
                width: 95% !important;
            }
        }
    }
}

.indicator-line {
    width: 100% !important;
    height: 6px !important;
    background: #cccccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    align-self: center;
    vertical-align: middle;
    display: flex;
}

.iline-pending {
    background: #B9B9B9;
}

.iline-selected {
    background: #15B100;
}

.iline-skipped {
    background: #FD8000;
}

.dt-card-current-date {
    border: 2px solid #0077b5;
    background-color: #fff !important;

    .dt-label {
        color: #0077b5 !important;
    }

    .indicator-line {
        width: 90% !important;
        height: 6px !important;
        position: absolute;
        bottom: 0px;
        align-self: center;
        vertical-align: middle;
        display: flex;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translate(-50%, -50%);
        left: 50%;
    }
}

.cut-off-icon {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 999;
}


.din-consumer-info-card {
    padding: 5px;
    margin: 0;
    display: flex;

    ion-grid {
        ion-row {
            // border-top: 1px dashed #E1E1E1;
            // border-bottom: 1px dashed #E1E1E1;

            ion-col {
                &:nth-child(2) {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .back-icon {
        font-size: 25px;
        vertical-align: middle;
    }

    .consumer-pic {
        width: 60px;
        height: 60px;
    }

    .c-name {
        font-size: 16px;
        font-weight: 600;
        color: #707070;
        // margin-left: 10px;

        .room-no {
            font-size: 14px;
            font-weight: normal;
            display: block;
            // margin-left: 10px;
        }
    }

    .chevron-down {
        font-size: 25px;
        background: #ededed;
        color: #9b9b9b;
        border-radius: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .diet-info-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px dashed #c9c9c9;
        // border-bottom: 1px dashed #c9c9c9;
        padding-top: 10px;
        // padding-bottom: 10px;

        .di-item {
            font-size: 13px;
            color: #ffff;
            background: #707070;
            text-align: center;
            border-radius: 50px;
            padding: 2px 9px;
            margin: 4px;
        }

        .diabetic {
            background: #0FBBF3 !important;
        }

        .regular {
            background: #232323 !important;
        }

        .mildly-thicky {
            background: #BF1C62 !important;
        }

        .msm {
            background: #757FFF !important;
        }

        .food-ft {
            background: #FF5B49 !important;

            i {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }

    .vmore-btn {
        --background: transparent;
        --box-shadow: none;
        --ripple-color: #c9c9c9;
        color: #0077B5;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        margin: 10px auto 0;
        display: block;
    }
}

.ind-order-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px;
    padding: 0 5px;
    display: none;

    .date-range-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            margin: 0px 15px;
        }
    }

    .din-skipped-tag-1 {
        font-size: 12px;
        font-weight: normal;
        padding: 2px 9px;
        border-radius: 50px;
        background: #FF7216;
        color: #ffff;
        margin-left: 35px;
        margin-right: auto;
        // margin-bottom: 10px;
        display: flex;
        max-width: fit-content;
        // margin-top: -15px;
        // position: absolute;
        // top: 30px;
        margin-top: 5px;
    }

    .din-controls {
        display: none;

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            --padding-end: 0;
            --ripple-color: #232323;
            --border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .dietary-info-btn {
            width: 42px;
            height: 42px;
        }
    }

}

.din-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-bottom: 10px;

    .din-item {
        font-size: 18px;
        font-weight: 500;
        color: #222;
        line-height: 22px;

        .din-timing {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: normal;
            color: #707070;
            display: block;
        }
    }

    .din-skipped-tag {
        font-size: 12px;
        padding: 2px 9px;
        border-radius: 50px;
        background: #FF7216;
        color: #ffff;
        margin-left: auto;
        margin-right: 15px;
    }

    .din-more-options {
        font-size: 25px;
        color: #858585;
        vertical-align: middle;
    }


}

.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .fi-card {
        border-radius: 20px !important;
        // padding: 10px;
        padding: 0 10px 0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
        min-height: 135px;
        width: 100%;
        box-shadow: none !important;
        border: 1px solid #d7d7d7;
        border-radius: 15px !important;

        // ion-grid {
        //     margin: 0;
        //     padding: 0;

        //     ion-row {
        //         ion-col {
        //             display: flex;

        //             &:nth-child(2) {
        //                 padding-left: 10px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 justify-content: center;
        //             }
        //         }
        //     }
        // }

        .fi-img-block {
            display: flex;
            // width: 45%;
            width: 35.54%;
            position: relative;

            .continentalbreakfast-icon {
                position: absolute;
                width: 28px;
                right: 0px;
                background-color: #0077B5;
                padding: 5px;
                border-bottom-left-radius: 6px;
            }

            .fi-img {
                width: 145px;
                height: 135px;
                border-radius: 15px 0px 0px 15px;
                object-fit: cover;
            }

            .order-restr-info {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 5px;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 20px;
            padding-right: 20px;

            .fi-name {
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #232323;
                line-height: 20px;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // margin-top: 25px;
                margin-top: 10px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #D2FFFB;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-size: 15px;
                            color: #47ABA2;
                            text-align: center;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #F3DEF9;
                        width: 30px;
                        height: 30px;

                        ion-label {
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                        }
                    }
                }

                .fim-div-2 {
                    ion-button {
                        --background: #F4F4F4;
                        --background-activated: #b3b3b3;
                        --box-shadow: none;
                        --border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 99999;

                        i {
                            font-size: 20px;
                            color: #707070;
                            text-align: center;
                        }
                    }
                }
            }

            .allergy-sec {
                display: flex;
                flex-wrap: wrap;
                font-family: "Open Sans", sans-serif;
                margin-top: 5px;

                .di-item {
                    font-size: 13px;
                    color: #ffff;
                    background: #707070;
                    text-align: center;
                    border-radius: 50px;
                    padding: 2px 9px;
                    margin: 4px;
                }

                .diabetic {
                    background: #0FBBF3 !important;
                }

                .regular {
                    background: #232323 !important;
                }

                .mildly-thicky {
                    background: #BF1C62 !important;
                }

                .msm {
                    background: #757FFF !important;
                }

                .fluid-cap {
                    background: #FF7216 !important;
                }

                .food-ft {
                    background: #FF5B49 !important;

                    i {
                        font-size: 20px;
                        vertical-align: middle;
                    }

                    .al-celery {
                        background: url(/assets/dining/allergy-icons/celery.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-crustaceans {
                        background: url(/assets/dining/allergy-icons/crustaceans.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-glutten {
                        background: url(/assets/dining/allergy-icons/gluten.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-lupin {
                        background: url(/assets/dining/allergy-icons/lupin.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-molluscs {
                        background: url(/assets/dining/allergy-icons/molluscs.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-mustard {
                        background: url(/assets/dining/allergy-icons/mustard.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-peanut {
                        background: url(/assets/dining/allergy-icons/peanut.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-sesame {
                        background: url(/assets/dining/allergy-icons/sesame.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-soy {
                        background: url(/assets/dining/allergy-icons/soy.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-sulphite {
                        background: url(/assets/dining/allergy-icons/sulphite.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-treenut {
                        background: url(/assets/dining/allergy-icons/treenut.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-wheat {
                        background: url(/assets/dining/allergy-icons/wheat.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-other {
                        background: url(/assets/dining/allergy-icons/other-allergy.svg) no-repeat center center;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                }

                .more-allergies-count {
                    background: #FF5B49;
                    color: #fff;
                    font-size: 13px;
                    padding: 2px 9px;
                    margin: 4px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

    }

    .allergic-fi {
        // border: 1px solid #ff5b49;
        position: relative;
        background: #ff5b493b !important;

        .allergic-alert-icon {
            color: #FF0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .allergic-alert-icon-1 {
            // color: #FF0000;
            // width: 20px;
            // height: 20px;
            // position: absolute;
            // top: 10px;
            // right: 10px;

            position: absolute;
            left: 10px;
            top: 10px;
            background: #f00;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            font-size: 32px;
            z-index: 999;
        }

    }

    .fi-selectable {
        width: 100%;
        // background: #F4F4F4;
        // background: rgb(244 244 244 / 85%);
        background: #edecec;
        // border-radius: 25px;
        border-radius: 15px;

        .fi-card {
            // background: transparent !important;
            // box-shadow: none !important;
            flex-grow: 1;

            .fi-info-block {
                .fi-more-options {
                    .fim-div-2 {
                        ion-button {
                            --background: #f4f4f4;
                            // position: absolute;
                            // z-index: 999999;
                            // right: 10px;
                        }
                    }
                }
            }

        }

        .fi-or-label {
            color: #ffffff;
            text-align: center;
            display: flex;
            background: #959595;
            max-width: fit-content;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 50px;
            min-height: 50px;
            min-width: 50px;
            justify-content: center;
            align-items: center;
        }
    }
}


@media only screen and (min-width:320px) and (max-width:767px) {
    .din-skipped-tag-1 {
        margin-left: auto !important;
        margin-right: 8px !important;
    }

    .fi-box {
        .fi-selectable {
            margin: 5px 0px;
            padding: 0px 5px;
        }

        .fi-card {
            .fi-info-block {
                .allergy-sec {
                    max-width: 170px;
                }
            }
        }
    }

    .ind-order-header {
        .din-controls {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }

}

@media only screen and (min-width:700px) {
    ion-footer .confirm-order-btn {
        min-width: 180px;
        max-width: fit-content;
    }
}

@media only screen and (min-width:768px) {

    ion-content {
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 80px;
        --padding-bottom: 20px;
    }

    .fixed-top-sec {
        .fts-box-1 {
            .din-control-btn-sec {
                .din-mo-main-btn {
                    position: absolute;
                    right: 15px;
                }
            }
        }
    }

    .ind-order-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px;
        padding: 0 5px;

        .date-range-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            ion-icon {
                font-size: 25px;
                color: #707070;
            }

            ion-label {
                font-size: 20px;
                font-weight: 500;
                color: #222;
                margin: 0px 15px;
            }
        }
    }



    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .fi-card {
            // width: 32%;
            // width: auto;
            width: 32%;
            margin: 5px !important;
            min-height: unset;
            padding: 0 10px 0 0 !important;

            .fi-info-block {
                .fi-more-options {
                    margin-top: 15px !important;
                }
            }
        }

        .fi-selectable {
            display: inline-flex;
            flex-grow: 1;
            // width: auto;
            width: 66%;
            margin-left: 5px;

            .fi-card {
                // margin: unset;
                width: auto;

                .fi-img-block {
                    // width: auto;
                    display: flex;
                }

                .fi-info-block {
                    // width: auto;
                    display: flex;
                    flex-direction: column;

                    .fi-name {
                        min-width: 133px;
                        max-width: 130px;
                    }
                }
            }

            .fi-or-label {
                height: 50px;
                min-width: 50px;
                // margin: 0px 0px 0px 10px;
                margin: 0;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        }
    }

}

@media only screen and (min-width:834px) and (max-width:834px) {

    .fi-box {

        .fi-card {
            width: 48%;
            margin: 10px 5px;
        }
    }

}

@media only screen and (min-width:768px) and (max-width:768px) {

    .fi-box {

        .fi-card {
            width: 48%;
        }

        .fi-selectable {
            margin: 5px;
        }
    }

}

ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &::before {
        background: none;
    }

    .confirm-order-btn {
        --background: #1AAB4A;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 20px;
        --padding-end: 20px;
        text-align: center;
        text-transform: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        // max-width: -webkit-fit-content;
        // max-width: -moz-fit-content;
        // max-width: fit-content;
    }
}

.dflex-space-between {
    display: flex;
    justify-content: space-between;
}

.din-time-expired {
    background: #fff1dd;
    color: #d38108;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #d38108;
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

.no-items {
    background: #fff1f1;
    color: #f11818;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #f11818;
    font-family: "Open Sans", sans-serif;
}

.din-skipped {
    background: #fff3eb;
    color: #ff7216;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #ff7216;
    font-family: "Open Sans", sans-serif;
}

.selected {

    .selected-icon {
        display: block !important;
        font-size: 35px;
        background: #fff;
        color: #1AAB4A;
        padding: 0px;
        border-radius: 50px;
        position: absolute;
        right: -2px;
        top: -2px;
    }
}

.din-dprofile-alert {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #fff7ec;
    color: #ff9800;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 20px auto;
}

.din-unmark-leave-btn {
    --background: #0077b5;
    --box-shadow: none;
    --border-radius: 50px;
    --padding-start: 20px;
    --padding-end: 20px;
    color: #fff;
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    margin: 0 auto;
    display: block;
    max-width: fit-content;
}

.notAvailable {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.selected {
    border: 2px solid #1aab4a !important;
}