<ion-header style="box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10);">
  <ion-row style="height: 10px;background-color: #fff;"></ion-row>
  <ion-toolbar lines="none" color="none">
    <img src="/assets/centrim_logo_inner.svg" style="padding:12px; max-width: 220px;">
    <ion-button fill="clear" slot="end" (click)="notification()">
      <!-- <ion-icon slot="icon-only" name="notifications-outline" style="color:#c8c8c8"></ion-icon>-->
      <img class="menu-notification-icon-1" src="/assets/menu-notification-icon.svg"> 
      <ion-badge *ngIf="notify!=0 && notify<100">{{notify}}</ion-badge>
      <ion-badge *ngIf="notify!=0 && notify>=100">99+</ion-badge>
    </ion-button>
  </ion-toolbar>
  <!-- <ion-toolbar no-padding color="none" class="welcome_container" *ngIf="banner">
    <ion-title class="welcome_text">Good morning, Alice</ion-title>
    <ion-icon slot="end" name="close-outline" style="color: white;" (click)="hideBanner()"></ion-icon>
  </ion-toolbar> -->

  <!-- <ion-toolbar class="ptb-24">


    <ion-grid class="story_category_selector">
      <ion-row>
        <ion-col width-50 style="text-align: center; color: #0077b5; font-size: 15px; font-weight: 500;"
          (click)="getContent()" *ngIf="!tabStatus">All</ion-col>
          <ion-col width-50 style="text-align: center; font-size: 15px; font-weight: 500;"
          (click)="getContent()" *ngIf="tabStatus">All</ion-col>
        <ion-col width-50 style="text-align: center;margin-left: -9px;font-size: 15px; font-weight: 500;" 
        (click)="setContent()" *ngIf="!tabStatus">Related to me</ion-col>
        <ion-col width-50 style="text-align: center;margin-left: -9px;font-size: 15px; font-weight: 500;color: #0077b5;" 
        (click)="setContent()" *ngIf="tabStatus">Related to me</ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col width-50 style="text-align: center;">
          <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#c8c8c8" *ngIf="tabStatus">
          <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="!tabStatus">
        </ion-col>
        <ion-col width-50 style="text-align: center;margin-left: -9px;">
          <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#c8c8c8" *ngIf="!tabStatus">
          <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="tabStatus">
        </ion-col>
      </ion-row>
    </ion-grid> 

  </ion-toolbar>-->


</ion-header>

<ion-toolbar no-padding color="none" class="welcome_container" *ngIf="banner">
  <ion-title class="welcome_text">{{welcome}} {{""}}{{name}}</ion-title>
  <ion-icon slot="end" name="close-outline" style="color: #fff; padding-right: 10px;" (click)="hideBanner()"></ion-icon>
</ion-toolbar>

<ion-item lines="none" color="none" class="story-category-selector-box">

  <ion-grid class="story_category_selector">
    <ion-row>
      <ion-col width-50 style="text-align: center; color: #0077b5; font-size: 18px; font-weight: 600;"
        (click)="getContent()" *ngIf="!tabStatus">
        <ion-icon style="color: #0077b5;" class="all_icon_blue"></ion-icon>&nbsp; All News
      </ion-col>

      <ion-col width-50 style="text-align: center; font-size: 18px; color:#8b8b8b" (click)="getContent()"
        *ngIf="tabStatus">
        <ion-icon style="color:#8b8b8b" class="all_icon"></ion-icon>&nbsp; All News
      </ion-col>

      <ion-col width-50 style="text-align: center;margin-left: -9px;font-size: 18px; color:#8b8b8b"
        (click)="setContent()" *ngIf="!tabStatus">
        <ion-icon style="color:#8b8b8b" class="related_to_me_icon"></ion-icon>&nbsp; Related to me
      </ion-col>

      <ion-col width-50 style="text-align: center;margin-left: -9px;font-size: 18px; color: #0077b5; font-weight: 600;"
        (click)="setContent()" *ngIf="tabStatus">
        <ion-icon style="color: #0077b5;" class="related_to_me_icon_blue"></ion-icon>&nbsp; Related to me
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8b8b8b" *ngIf="tabStatus">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="!tabStatus">
      </ion-col>
      <ion-col width-50 style="text-align: center;margin-left: -9px;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8b8b8b" *ngIf="!tabStatus">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="tabStatus">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-content class="card1" *ngIf="!tabStatus" #content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

   <!--------------------------------- Announcements section starts here ------------------------------------->

   <!-- <div>

    <ion-card class="story-card-1 announcements-card">

      <ion-icon class="story-mo-icon" name="ellipsis-vertical">
      </ion-icon>

      <ion-grid class="no_padding_inline">
        <div>
          <ion-row style="flex-wrap: nowrap;">

            <ion-col class="col_fit" size="2">
              <ion-avatar class="profile_pic_thumb">
                <img src="/assets/announcement-icon.svg">
              </ion-avatar>
            </ion-col>

            <ion-col class=" story_head_container" size="10">
              <ion-label text-wrap>
                <p class="story_heading ">Proident duis id ad cupidatat enim excepteur.</p>
                <p class="story-other-info-box">
                  <ion-row>
                    <ion-col class="author_name col_fit"><i class="las la-user"></i>Angelina</ion-col>
                    <ion-col class="post_time">
                      <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>Jun 16 2023
                    </ion-col>
                    
                    <ion-col style="margin-left: 15px; display: flex; align-items: center;" class="col_fit display_none">
                     
                      <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                      
                      <ion-avatar>
                        <img src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=1600">
                      </ion-avatar>

                      <ion-avatar>
                        <img src="https://images.pexels.com/photos/41008/cowboy-ronald-reagan-cowboy-hat-hat-41008.jpeg?auto=compress&cs=tinysrgb&w=1600">
                      </ion-avatar>

                      <span>+2</span>

                    </ion-col>
                    
                  </ion-row>
                </p>
              </ion-label>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col>

              <ion-card-content class="story_text">
                Et sint quis dolor aute Lorem id aliquip et voluptate nisi est culpa labore ut. Et minim est veniam quis aute. Ex id mollit occaecat .
              </ion-card-content>
              <p class="see-more-link">See More..</p>
              
            </ion-col>

          </ion-row>

          <ion-row class="mb-10">

            <ion-col class="story-media-container">
              <div class="more-media-count">
                <ion-icon name="attach-outline"></ion-icon> +4 more images
              </div>
              <img src="https://images.pexels.com/photos/1770809/pexels-photo-1770809.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width: 100%;">

            </ion-col>

          </ion-row>

        </div>

        <ion-row class="comments_sep_stories">
          <ion-col size="3" class="col_fit">


            <ion-icon class="like1-red-filled" name="heart-sharp"></ion-icon>
            <span class="likes">10</span>

          </ion-col>

          <ion-col class="col_fit story-attachments-box">

            <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
            <span class="likes">5</span>
          </ion-col>

          <ion-col size="6" class="display_flexend col_fit">
            <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
            <span class="comments">5 Comments</span>
          </ion-col>

        </ion-row>

        <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin">

          <ion-avatar class="profile_pic_thumb">
            <img src="https://app.centrim.life/assets/img/user/user.png">
          </ion-avatar>

          <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
          </ion-input>

        </ion-item>

      </ion-grid>

    </ion-card>

  </div> -->

  <!--------------------------------- Announcements section ends here ------------------------------------->

  <!-------------------------------- Alert story starts here ------------------------------------------------->

  <!-- <ion-card >
    <ion-icon class="story_pin" src="assets/pin.svg"></ion-icon>
    <ion-grid class="no_padding_inline">
      <ion-row>

        <ion-col class="col_fit" size="2">
          <ion-avatar class="profile_pic_thumb">
            <img src="assets/loudspeaker_icon.svg">
          </ion-avatar>
        </ion-col>

        <ion-col class="col_fit story_head_container">
          <ion-label text-wrap>
            <p class="story_heading">Advice regarding Novel corona virus outbreak in Australia</p>
            <p class="author_name">Adam Gilchrist <span class="post_time">2 hrs</span></p>
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-card-content class="story_text line-clamp" [routerLink]="['/story-details']">
            Duis nisi officia minim ex qui. Voluptate voluptate velit nisi laborum Lorem. Aute irure mollit officia elit
            in
            ex nostrud adipisicing sint culpa in eiusmod. Consectetur velit in est aliqua incididunt exercitation
            pariatur
            amet voluptate voluptate nostrud sit. Ad est labore proident aliquip ex nostrud eiusmod.Duis nisi officia
            minim
            ex qui. Voluptate voluptate velit nisi laborum Lorem. Aute irure mollit officia elit in ex nostrud
            adipisicing
            sint culpa in eiusmod. Consectetur velit in est aliqua incididunt exercitation pariatur amet voluptate
            voluptate
            nostrud sit. Ad est labore proident aliquip ex nostrud eiusmod.
          </ion-card-content>

        </ion-col>

      </ion-row>

      <ion-row class="comments_sep_stories">
        <ion-col style="text-align: left;">
          <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="!likeStatus" (click)="like()"></ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="likeStatus" color="danger"
            (click)="like()"></ion-icon>
         
          <span class="likes">18</span>
        </ion-col>

        <ion-col style="text-align: right;">
          <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">3 Comments</span>
        </ion-col>
      </ion-row>

      

      <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin">

        <ion-avatar class="profile_pic_thumb">
          <img src="assets/alice_user30.png">
        </ion-avatar>
        <ion-input placeholder="Write a comment..."></ion-input>

        <ion-icon class="send_btn" src="assets/send_btn.svg" slot="end"></ion-icon>

      </ion-item>

    </ion-grid>
  </ion-card> -->


  <!-------------------------------- Alert story ends here ------------------------------------------------->


  <!-------------------------------- Feeling story starts here ------------------------------------------------->

  <!-- <ion-card>
    <ion-grid class="no_padding_inline">
      <ion-row>

        <ion-col class="col_fit" size="2">
          <ion-avatar class="profile_pic_thumb">
            <img src="assets/happy_emoji.svg">
          </ion-avatar>
        </ion-col>

        <ion-col class="col_fit story_head_container">
          <ion-label text-wrap>
            <p class="story_heading">Alice John is feeling Happy</p>
            <p class="author_name">Adam Gilchrist <span class="post_time">2 hrs</span></p>
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-card-content class="story_text line-clamp">
            Duis nisi officia minim ex qui. Voluptate voluptate velit nisi laborum Lorem. Aute irure mollit officia elit
            in
            ex nostrud adipisicing sint culpa in eiusmod. Consectetur velit in est aliqua incididunt exercitation
            pariatur
            amet voluptate voluptate nostrud sit. Ad est labore proident aliquip ex nostrud eiusmod.Duis nisi officia
            minim
            ex qui. Voluptate voluptate velit nisi laborum Lorem. Aute irure mollit officia elit in ex nostrud
            adipisicing
            sint culpa in eiusmod. Consectetur velit in est aliqua incididunt exercitation pariatur amet voluptate
            voluptate
            nostrud sit. Ad est labore proident aliquip ex nostrud eiusmod.
          </ion-card-content>

        </ion-col>

      </ion-row>

      <ion-row class="comments_sep_stories">
        <ion-col style="text-align: left;">
          <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="!likeStatus" (click)="like()"></ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="likeStatus" color="danger"
            (click)="like()"></ion-icon>
        
          <span class="likes">18</span>
        </ion-col>

        <ion-col style="text-align: right;">
          <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">3 Comments</span>
        </ion-col>
      </ion-row>


      <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin">

        <ion-avatar class="profile_pic_thumb">
          <img src="assets/alice_user30.png">
        </ion-avatar>
        <ion-input placeholder="Write a comment..."></ion-input>

        <ion-icon class="send_btn" src="assets/send_btn.svg" slot="end"></ion-icon>

      </ion-item>

    </ion-grid>
  </ion-card> -->

  <!-------------------------------- Feeling story ends here ------------------------------------------------->

  <!-------------------------------- activity story starts here ------------------------------------------------->

  <!-- <ion-card>
    <ion-grid class="no_padding_inline">
      <ion-row>

        <ion-col class="col_fit" size="2">
          <ion-avatar class="profile_pic_thumb">
            <img src="assets/activity_feed_icon.svg">
          </ion-avatar>
        </ion-col>

        <ion-col class=" story_head_container">
          <ion-label text-wrap>
            <p class="story_heading">Alice John</p>
            <p class="author_name">Adam Gilchrist <span class="post_time">10.00 am</span></p>
          </ion-label>
        </ion-col>

        <ion-col size="4">
          <img style="float: right;" src="assets/attended_btn.svg">
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-card-content class="story_text line-clamp">
            Yoga Practice
          </ion-card-content>

        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card> -->

  <!-------------------------------- activity story ends here ------------------------------------------------->

  <!-------------------------------- community story starts here ------------------------------------------------->

  <!-- 
  <ion-card >
    <ion-grid class="no_padding_inline">
      <ion-row>

        <ion-col class="col_fit" size="2">
          <ion-avatar class="profile_pic_thumb">
            <img src="assets/community_icon.svg">
          </ion-avatar>
        </ion-col>

        <ion-col class="col_fit story_head_container">
          <ion-label text-wrap>
            <p class="story_heading">Advice regarding Novel corona virus outbreak in Australia</p>
            <p class="author_name">Adam Gilchrist <span class="post_time">2 hrs</span></p>
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-card-content class="story_text line-clamp" [routerLink]="['/story-details']">
            Duis nisi officia minim ex qui. Voluptate voluptate velit nisi laborum Lorem. Aute irure mollit officia elit
            in
            ex nostrud adipisicing sint culpa in eiusmod. Consectetur velit in est aliqua incididunt exercitation
            pariatur
            amet voluptate voluptate nostrud sit. Ad est labore proident aliquip ex nostrud eiusmod.Duis nisi officia
            minim
            ex qui. Voluptate voluptate velit nisi laborum Lorem. Aute irure mollit officia elit in ex nostrud
            adipisicing
            sint culpa in eiusmod. Consectetur velit in est aliqua incididunt exercitation pariatur amet voluptate
            voluptate
            nostrud sit. Ad est labore proident aliquip ex nostrud eiusmod.
          </ion-card-content>

        </ion-col>

      </ion-row>

      <ion-row class="mb-10">

        <ion-col>

          <img src="assets/story_image.jpg" style="width: 100%;">

        </ion-col>

      </ion-row>

      <ion-row class="comments_sep_stories">
        <ion-col style="text-align: left;">
          <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="!likeStatus" (click)="like()"></ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="likeStatus" color="danger"
            (click)="like()"></ion-icon>
         
          <span class="likes">18</span>
        </ion-col>

        <ion-col style="text-align: right;">
          <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">3 Comments</span>
        </ion-col>
      </ion-row>

      

      <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin">

        <ion-avatar class="profile_pic_thumb">
          <img src="assets/alice_user30.png">
        </ion-avatar>
        <ion-input placeholder="Write a comment..."></ion-input>

        <ion-icon class="send_btn" src="assets/send_btn.svg" slot="end"></ion-icon>

      </ion-item>
      <ion-item [ngStyle]="keyboardStyle" >
      </ion-item>
    </ion-grid>
  </ion-card> -->


  <!-------------------------------- community story ends here ------------------------------------------------->
  <ion-card class="poll-thanks" *ngIf="thank" style="height: 200px;">

    <div class="pt-inner-box">
      <img class="poll-thanks-thumb" src="/assets/poll-thanks-icon.svg">
      <ion-label class="thanku">Thank you for answering the poll.<br> Your response has been submitted</ion-label>
    </div>
    
  </ion-card>

  <div *ngIf="poll!=null" style="margin-bottom: 10px;">


    <div class="poll-container">

      <ion-label class="poll-name">

        {{poll.name}}
        <span>Please give your feedback to improve our service</span>

      </ion-label>

      <div *ngFor="let que of poll.questions | slice:noOfItem-1:noOfItem">
        <ion-label class="poll-qns">{{que.question}}</ion-label>

        <span class="poll-tag">

          <p>Poll</p>

        </span>

        <div *ngFor="let ans of que.answers; let idx = index" (click)="markPoll(poll,que,ans,poll.questions)">
          <div class="cl-radio-btn"
            [class.bg_green]="(Data.length>0 && Data[0].OptionId==ans.id) || (CollectedData[selectedIndex]!=undefined && CollectedData[selectedIndex].OptionId==ans.id && Data.length==0)">
            <ion-label>{{idx+1}}{{'. '}} {{ans.answer}}</ion-label>
          </div>
        </div>


        <ion-button class="prev-btn" *ngIf="preQue && poll.questions.length>1" (click)="previous(poll.questions)">
          Previous</ion-button>

        <ion-button class="next-btn" *ngIf="nextQue && poll.questions.length>1"
          (click)="next(poll.id,poll.questions,que)">Next</ion-button>
        <ion-button class="next-btn" *ngIf="submitStatus || poll.questions.length==1" appDebounce  [debounceTime]="900" (debounceClick)="submit(poll,0)">Submit
        </ion-button>

      </div>

    </div>

  </div>

  <ion-card *ngIf="pinned!==null" (click)="gotoDetails(pinned.id)" class="story-card-1">

    <ion-icon class="story-mo-icon" name="ellipsis-vertical" (click)="report(pinned,$event);$event.stopPropagation()">
    </ion-icon>

    <ion-icon class="story_pin" src="assets/pin.svg"></ion-icon>
    <ion-grid class="no_padding_inline">
      <div>
        <ion-row style="flex-wrap: nowrap;">

          <ion-col class="col_fit" size="2">
            <ion-avatar class="profile_pic_thumb">
              <img [src]="pinned.icon">
            </ion-avatar>
          </ion-col>

          <ion-col class=" story_head_container" size="10">
            <ion-label text-wrap>
              <p class="story_heading ">{{pinned.title}}</p>
              <p>
                <ion-row>
                  <ion-col class="author_name col_fit"><i class="las la-user"></i>{{" "}}{{pin_creator}}</ion-col>
                  <ion-col class="post_time">
                    <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>
                    {{" "}}{{pinned.activate_date | dateformat : 'MMM DD, yyyy'}}
                  </ion-col>
                  <!-- <ion-col style="margin-left: 15px; display: flex; align-items: center;" class="col_fit display_none" *ngIf="pinned.tagged_users.length">
                    <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                    <ion-avatar >
                      <img [src]="pinned.tagged_users[0].profile_pic" *ngIf="pinned.tagged_users && pinned.tagged_users.length">
                    </ion-avatar>
                    <ion-avatar *ngIf="pinned.tagged_users.length>1">
                      <img [src]="pinned.tagged_users[1].profile_pic" *ngIf="pinned.tagged_users && pinned.tagged_users.length">
                    </ion-avatar>
                    <span *ngIf="pinned.tagged_users.length>2">+{{pinned.tagged_users.length-2}}</span>
                    
                  </ion-col> -->
                </ion-row>
              </p>
            </ion-label>
          </ion-col>

          <ion-col size="4" *ngIf="pinned.post_type==6">
            <ion-label class="story_text" *ngIf=pinned.activity_feedback [innerHTML]="pinned.activity_feedback"></ion-label>
            <!-- <img style="float: right;" src="assets/attended_btn.svg"> -->
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>

            <ion-card-content class="story_text " [innerHTML]="pinned.description" *ngIf="pinned.post_type!=6">

            </ion-card-content>
            <!-- <p style="margin-bottom: 10px;color:#d1d1d1;margin-top: -5px;" *ngIf="pinned.description.length >170 && pinned.post_type!=6">See More..</p> -->


          </ion-col>

        </ion-row>

        <ion-row class="mb-10" *ngIf="pinned && pinned.images && pinned.images.length">

          <ion-col class="story-media-container">
            <div class="more-media-count" *ngIf="pinned.images.length>1">
              <ion-icon name="attach-outline"></ion-icon> +{{pinned.images.length-1}} more images
            </div>
            <img [src]="pinned.images[0].post_attachment" style="width: 100%;">



          </ion-col>

        </ion-row>


        <ion-row class="mb-10" *ngIf="pinned.images==[] && pinned.videos && pinned.videos.length">

          <ion-col class="story-media-container">

            <div class="more-media-count" *ngIf="pinned.videos.length>1">
              <ion-icon name="attach-outline"></ion-icon> +{{pinned.videos.length-1}} more images
            </div>
            <img [src]="pinned.videos[0].thumbnail" style="width: 100%;">
            <div class="video-overlay"></div>
            <div>
              <ion-icon name="play" class="play_icon"></ion-icon>
            </div>

          </ion-col>

        </ion-row>

      </div>

      <ion-row class="comments_sep_stories">
        <ion-col size="3" class="col_fit">
          <!-- <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="!pinned.liked" (click)="like(pinned)">
          </ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="pinned.liked"
            (click)="like(pinned)"></ion-icon>
          <span class="likes">{{pinned.likes_count}}</span> -->
          <ion-icon class="like1" name="heart-outline" *ngIf="!pinned.liked"
            (click)="like(pinned); $event.stopPropagation()"></ion-icon>
          <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="pinned.liked"
            (click)="like(pinned); $event.stopPropagation()"></ion-icon>
          <span class="likes">{{pinned.likes_count}}</span>


        </ion-col>
        <ion-col class="col_fit story-attachments-box" *ngIf="pinned.attachments.length&&pinned.attachments.length>0">

          <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
          <span class="likes">{{pinned.attachments.length}}</span>
        </ion-col>
        <ion-col size="6" class="display_flexend col_fit">
          <!-- <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">{{pinned.comments_count}}{{""}} Comments</span> -->
          <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
          <span class="comments">{{pinned.comments_count}}{{""}} Comments</span>
        </ion-col>


        <!-- <ion-col class="display_flexend" size="3">
          <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
          <span class="view-count">{{pinned.views_count}}</span>
        </ion-col> -->
      </ion-row>

      <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin"
        *ngIf="pinned.post_type!=6">

        <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
          <img [src]="user_img">
        </ion-avatar>
        <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
          <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}</ion-label>
        </ion-avatar>


        <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
        </ion-input>



      </ion-item>

    </ion-grid>


  </ion-card>

  <div *ngFor="let item of announcements;let idx = index">
    <ion-card *ngIf="item.hide_this==0" (click)="gotoDetails(item.id)" class="story-card-1 announcements-card">

      <ion-icon class="story-mo-icon" name="ellipsis-vertical" (click)="report(item,$event);$event.stopPropagation()">
      </ion-icon>

      <!-- <ion-icon class="story_pin" src="assets/pin.svg" ></ion-icon> -->
      <ion-grid class="no_padding_inline">
        <div>
          <ion-row style="flex-wrap: nowrap;">

            <ion-col class="col_fit" size="2">
              <ion-avatar class="profile_pic_thumb">
                <img [src]="item.icon">
              </ion-avatar>
            </ion-col>

            <ion-col class=" story_head_container" size="10">
              <ion-label text-wrap>
                <p class="story_heading ">{{item.title}}</p>
                <p class="story-other-info-box">
                  <ion-row>
                    <ion-col class="author_name col_fit" *ngIf="item.post_type!=6"><i class="las la-user"></i>{{"
                      "}}{{item.creator.name}}</ion-col>
                    <ion-col class="post_time" *ngIf="item.post_type!=6">
                      <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>{{" "}}
                      {{item.activate_date | dateformat : 'MMM DD, yyyy'}}
                    </ion-col>
                    <ion-col class="author_name col_fit" *ngIf="item.post_type==6">
                      <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>{{" "}}
                      {{item.activate_date | dateformat : 'MMM DD, yyyy'}}
                    </ion-col>
                    <ion-col style="margin-left: 15px; display: flex; align-items: center;" class="col_fit display_none"
                      *ngIf="item.tagged_users.length">
                      <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                      <ion-avatar>
                        <img [src]="item.tagged_users[0].profile_pic"
                          *ngIf="item.tagged_users && item.tagged_users.length">
                      </ion-avatar>
                      <ion-avatar *ngIf="item.tagged_users.length>1">
                        <img [src]="item.tagged_users[1].profile_pic"
                          *ngIf="item.tagged_users && item.tagged_users.length">
                      </ion-avatar>
                      <span *ngIf="item.tagged_users.length>2">+{{item.tagged_users.length-2}}</span>

                    </ion-col>
                  </ion-row>
                </p>
              </ion-label>
            </ion-col>
            <!-- <ion-col size="4" *ngIf="item.post_type==6">
            <img style="float: right;" src="assets/attended_btn.svg">
          </ion-col> -->
          </ion-row>

          <ion-row>

            <ion-col>

              <ion-card-content class="story_text" [innerHTML]="item.description" *ngIf="item.post_type!=6">

              </ion-card-content>
              <p class="see-more-link"
                *ngIf="item.description.length >170 && item.post_type!=6 && item.description!=null">See More..</p>
              <ion-card-content *ngIf="item.post_type==6" class="story_text" [innerHTML]="item.activity_feedback">
                <!-- <img  src="assets/attended_btn.svg" style="margin-left: 10px;margin-top: 10px;"> -->
              </ion-card-content>


            </ion-col>

          </ion-row>

          <ion-row class="mb-10" *ngIf="item && item.images && item.images.length">

            <ion-col class="story-media-container">
              <div class="more-media-count" *ngIf="item.images.length>1">
                <ion-icon name="attach-outline"></ion-icon> +{{item.images.length-1}} more images
              </div>
              <img [src]="item.images[0].post_attachment" style="width: 100%;">

            </ion-col>

          </ion-row>
          <ion-row class="mb-10" *ngIf="item && item.images.length==0 && item.videos && item.videos.length">

            <ion-col class="story-media-container">

              <div class="more-media-count" *ngIf="item.videos.length>1">
                <ion-icon name="attach-outline"></ion-icon> +{{item.videos.length-1}} more images
              </div>
              <img [src]="item.videos[0].thumbnail" style="width: 100%;">
              <div class="video-overlay"></div>
              <div>
                <ion-icon name="play" class="play_icon"></ion-icon>
              </div>

            </ion-col>

          </ion-row>

        </div>

        <ion-row class="comments_sep_stories">
          <ion-col size="3" class="col_fit">
            <!-- <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="item.liked==false " (click)="like(item)">
            </ion-icon>
            <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="item.liked==true  "
              (click)="like(item)"></ion-icon>
            <span class="likes">{{item.likes_count}}</span> -->
            <ion-icon class="like1" name="heart-outline" *ngIf="item.liked==false"
              (click)="like(item); $event.stopPropagation()"></ion-icon>
            <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="item.liked==true"
              (click)="like(item); $event.stopPropagation()"></ion-icon>
            <span class="likes">{{item.likes_count}}</span>
            <!-- <ion-icon class="liked" (click)="like(item);$event.stopPropagation();"
          tappable name="{{item.liked ? 'heart' : 'heart-empty'}}">
      </ion-icon> -->

            <!-- <div >
              <input id="toggle-heart" type="checkbox"  [checked]="idx==index||item.liked" (click)="like(item.id,item.liked,idx)" />
              <label for="toggle-heart">❤</label>
              <span class="likes">{{item.likes_count}}</span>
            </div> -->

          </ion-col>

          <ion-col class="col_fit story-attachments-box" *ngIf="item.attachments.length&&item.attachments.length>0">

            <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
            <span class="likes">{{item.attachments.length}}</span>
          </ion-col>

          <ion-col size="6" class="display_flexend col_fit">
            <!-- <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>
  
            <span class="comments">{{item.comments_count}}{{""}} Comments</span> -->
            <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
            <span class="comments">{{item.comments_count}}{{""}} Comments</span>
          </ion-col>
          <!-- <ion-col class="display_flexend" size="3">
            <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
            <span class="view-count">{{item.views_count}}</span>
          </ion-col> -->
        </ion-row>

        <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin"
          *ngIf="item.hide_comment==0">

          <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
            <img [src]="user_img">
          </ion-avatar>
          <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
            <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}
            </ion-label>
          </ion-avatar>

          <!-- <ion-textarea clearOnEdit="true" auto-grow="true" [(ngModel)]="commentText" placeholder="Add a comment..."></ion-textarea> -->
          <!-- <div *ngIf="item.post_type!=6"> -->
          <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
          </ion-input>

          <!-- <ion-icon class="send_btn" src="assets/send_btn.svg" slot="end" (click)="comment(item.id)"></ion-icon> -->
          <!-- </div> -->

        </ion-item>
        <!-- <ion-item [ngStyle]="keyboardStyle" ></ion-item> -->
      </ion-grid>

    </ion-card>
  </div>

  <div *ngFor="let item of posts;let idx = index">
    <ion-card *ngIf="item.hide_this==0" (click)="gotoDetails(item.id)" class="story-card-1">

      <ion-icon class="story-mo-icon" name="ellipsis-vertical" (click)="report(item,$event);$event.stopPropagation()">
      </ion-icon>

      <!-- <ion-icon class="story_pin" src="assets/pin.svg" ></ion-icon> -->
      <ion-grid class="no_padding_inline">
        <div>
          <ion-row style="flex-wrap: nowrap;">

            <ion-col class="col_fit" size="2">
              <ion-avatar class="profile_pic_thumb">
                <img [src]="item.icon">
              </ion-avatar>
            </ion-col>

            <ion-col class=" story_head_container" size="10">
              <ion-label text-wrap>
                <p class="story_heading ">{{item.title}}</p>
                <p class="story-other-info-box">
                  <ion-row>
                    <ion-col class="author_name col_fit" *ngIf="item.post_type!=6"><i class="las la-user"></i>{{"
                      "}}{{item.creator.name}}</ion-col>
                    <ion-col class="post_time" *ngIf="item.post_type!=6">
                      <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>{{" "}}
                      {{item.activate_date | dateformat : 'MMM DD, yyyy'}}
                    </ion-col>
                    <ion-col class="author_name col_fit" *ngIf="item.post_type==6">
                      <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>{{" "}}
                      {{item.activate_date | dateformat : 'MMM DD, yyyy'}}
                    </ion-col>
                    <ion-col style="margin-left: 15px; display: flex; align-items: center;" class="col_fit display_none"
                      *ngIf="item.tagged_users.length">
                      <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                      <ion-avatar>
                        <img [src]="item.tagged_users[0].profile_pic"
                          *ngIf="item.tagged_users && item.tagged_users.length">
                      </ion-avatar>
                      <ion-avatar *ngIf="item.tagged_users.length>1">
                        <img [src]="item.tagged_users[1].profile_pic"
                          *ngIf="item.tagged_users && item.tagged_users.length">
                      </ion-avatar>
                      <span *ngIf="item.tagged_users.length>2">+{{item.tagged_users.length-2}}</span>

                    </ion-col>
                  </ion-row>
                </p>
              </ion-label>
            </ion-col>
            <!-- <ion-col size="4" *ngIf="item.post_type==6">
          <img style="float: right;" src="assets/attended_btn.svg">
        </ion-col> -->
          </ion-row>

          <ion-row>

            <ion-col>

              <ion-card-content class="story_text" [innerHTML]="item.description" *ngIf="item.post_type!=6">

              </ion-card-content>
              <p class="see-more-link"
                *ngIf="item.description.length >170 && item.post_type!=6 && item.description!=null">See More..</p>
              <ion-card-content *ngIf="item.post_type==6" class="story_text" [innerHTML]="item.activity_feedback">
                <!-- <img  src="assets/attended_btn.svg" style="margin-left: 10px;margin-top: 10px;"> -->
              </ion-card-content>


            </ion-col>

          </ion-row>

          <ion-row class="mb-10" *ngIf="item && item.images && item.images.length">

            <ion-col class="story-media-container">
              <div class="more-media-count" *ngIf="item.images.length>1">
                <ion-icon name="attach-outline"></ion-icon> +{{item.images.length-1}} more images
              </div>
              <img [src]="item.images[0].post_attachment" style="width: 100%;">

            </ion-col>

          </ion-row>
          <ion-row class="mb-10" *ngIf="item && item.images.length==0 && item.videos && item.videos.length">

            <ion-col class="story-media-container">

              <div class="more-media-count" *ngIf="item.videos.length>1">
                <ion-icon name="attach-outline"></ion-icon> +{{item.videos.length-1}} more images
              </div>
              <img [src]="item.videos[0].thumbnail" style="width: 100%;">
              <div class="video-overlay"></div>
              <div>
                <ion-icon name="play" class="play_icon"></ion-icon>
              </div>

            </ion-col>

          </ion-row>

        </div>

        <ion-row class="comments_sep_stories">
          <ion-col size="3" class="col_fit">
            <!-- <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="item.liked==false " (click)="like(item)">
          </ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="item.liked==true  "
            (click)="like(item)"></ion-icon>
          <span class="likes">{{item.likes_count}}</span> -->
            <ion-icon class="like1" name="heart-outline" *ngIf="item.liked==false"
              (click)="like(item); $event.stopPropagation()"></ion-icon>
            <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="item.liked==true"
              (click)="like(item); $event.stopPropagation()"></ion-icon>
            <span class="likes">{{item.likes_count}}</span>
            <!-- <ion-icon class="liked" (click)="like(item);$event.stopPropagation();"
        tappable name="{{item.liked ? 'heart' : 'heart-empty'}}">
    </ion-icon> -->

            <!-- <div >
            <input id="toggle-heart" type="checkbox"  [checked]="idx==index||item.liked" (click)="like(item.id,item.liked,idx)" />
            <label for="toggle-heart">❤</label>
            <span class="likes">{{item.likes_count}}</span>
          </div> -->

          </ion-col>

          <ion-col class="col_fit story-attachments-box" *ngIf="item.attachments.length&&item.attachments.length>0">

            <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
            <span class="likes">{{item.attachments.length}}</span>
          </ion-col>

          <ion-col size="6" class="display_flexend col_fit">
            <!-- <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">{{item.comments_count}}{{""}} Comments</span> -->
            <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
            <span class="comments">{{item.comments_count}}{{""}} Comments</span>
          </ion-col>
          <!-- <ion-col class="display_flexend" size="3">
          <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
          <span class="view-count">{{item.views_count}}</span>
        </ion-col> -->
        </ion-row>

        <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin"
          *ngIf="item.hide_comment==0">

          <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
            <img [src]="user_img">
          </ion-avatar>
          <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
            <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}
            </ion-label>
          </ion-avatar>

          <!-- <ion-textarea clearOnEdit="true" auto-grow="true" [(ngModel)]="commentText" placeholder="Add a comment..."></ion-textarea> -->
          <!-- <div *ngIf="item.post_type!=6"> -->
          <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
          </ion-input>

          <!-- <ion-icon class="send_btn" src="assets/send_btn.svg" slot="end" (click)="comment(item.id)"></ion-icon> -->
          <!-- </div> -->

        </ion-item>
        <!-- <ion-item [ngStyle]="keyboardStyle" ></ion-item> -->
      </ion-grid>

    </ion-card>
  </div>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div *ngIf="pinned==null && posts.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 260px;">
      <img src="assets/no-story.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No posts found</ion-label>
    </ion-item>
  </div>

</ion-content>

<ion-content *ngIf="tabStatus">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngIf="no_post">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 260px;">
      <img src="assets/no-story.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No posts found</ion-label>
    </ion-item>
  </div>


  <div *ngIf="!no_post">
    <div *ngFor="let item of user_post">
      <ion-card *ngIf="item.hide_this==0" (click)="gotoDetails(item.id)" class="story-card-1">
        <ion-icon class="story-mo-icon" name="ellipsis-vertical" (click)="report(item,$event);$event.stopPropagation()">
        </ion-icon>
        <!-- <ion-icon class="story_pin" src="assets/pin.svg" *ngIf="item.pinned"></ion-icon> -->
        <ion-grid class="no_padding_inline">
          <div>
            <ion-row style="flex-wrap: nowrap;">

              <ion-col class="col_fit" size="2">
                <ion-avatar class="profile_pic_thumb">
                  <img [src]="item.icon">
                </ion-avatar>
              </ion-col>

              <ion-col class="story_head_container">
                <ion-label text-wrap>
                  <p class="story_heading">{{item.title}}</p>

                  <p>
                    <ion-row>
                      <ion-col class="author_name col_fit" *ngIf="item.post_type!=6"><i class="las la-user"></i>{{"
                        "}}{{item.creator.name}}</ion-col>
                      <ion-col class="post_time" *ngIf="item.post_type!=6">
                        <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>{{" "}}
                        {{item.activate_date | dateformat : 'MMM DD, yyyy'}}
                      </ion-col>
                      <ion-col class="author_name col_fit" *ngIf="item.post_type==6">
                        <ion-icon class="story-date-time" name="calendar-outline"></ion-icon>{{" "}}
                        {{item.activate_date | dateformat : 'MMM DD, yyyy'}}
                      </ion-col>
                      <ion-col style="margin-left: 15px; display: flex; align-items: center;"
                        class="col_fit display_none" *ngIf="item.tagged_users.length">
                        <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                        <ion-avatar>
                          <img [src]="item.tagged_users[0].profile_pic"
                            *ngIf="item.tagged_users && item.tagged_users.length">
                        </ion-avatar>
                        <ion-avatar *ngIf="item.tagged_users.length>1">
                          <img [src]="item.tagged_users[1].profile_pic"
                            *ngIf="item.tagged_users && item.tagged_users.length">
                        </ion-avatar>
                        <span *ngIf="item.tagged_users.length>2">+{{item.tagged_users.length-2}}</span>

                      </ion-col>
                    </ion-row>
                  </p>
                </ion-label>
              </ion-col>
              <!-- <ion-col size="4" *ngIf="item.post_type==6">
          <img style="float: right;" src="assets/attended_btn.svg">
        </ion-col> -->
            </ion-row>


            <ion-row>

              <ion-col>

                <ion-card-content class="story_text" *ngIf="item.post_type!=6" [innerHTML]="item.description">

                </ion-card-content>
                <div *ngIf="item.description!=null">
                  <p class="see-more-link" *ngIf="item.description.length >170 && item.post_type!=6 ">See More..</p>
                </div>
                <ion-card-content *ngIf="item.post_type==6" class="story_text" [innerHTML]="item.activity_feedback">
                  <!-- <img src="assets/attended_btn.svg" style="margin-left: 10px;margin-top: 10px;"> -->
                </ion-card-content>
              </ion-col>

            </ion-row>

            <ion-row class="mb-10" *ngIf="item && item.images && item.images.length">

              <ion-col class="story-media-container">
                <div class="more-media-count" *ngIf="item.images.length>1">
                  <ion-icon name="attach-outline"></ion-icon> +{{item.images.length-1}} more images
                </div>
                <img [src]="item.images[0].post_attachment" style="width: 100%;">

              </ion-col>

            </ion-row>

            <ion-row class="mb-10" *ngIf="item && item.images.length==0 && item.videos && item.videos.length">

              <ion-col class="story-media-container">

                <div class="more-media-count" *ngIf="item.videos.length>1">
                  <ion-icon name="attach-outline"></ion-icon> +{{item.videos.length-1}} more images
                </div>
                <img [src]="item.videos[0].thumbnail" style="width: 100%;">
                <div class="video-overlay"></div>
                <div>
                  <ion-icon name="play" class="play_icon"></ion-icon>
                </div>

              </ion-col>

            </ion-row>

          </div>

          <ion-row class="comments_sep_stories">
            <ion-col size="3" class="col_fit">
              <!-- <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="item.liked==false " (click)="like(item)">
            </ion-icon>
            <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="item.liked == true"
              color="danger" (click)="like(item)"></ion-icon>
            <span class="likes">{{item.likes_count}}</span> -->
              <ion-icon class="like1" name="heart-outline" *ngIf="item.liked==false"
                (click)="like(item); $event.stopPropagation()"></ion-icon>
              <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="item.liked==true"
                (click)="like(item); $event.stopPropagation()"></ion-icon>
              <span class="likes">{{item.likes_count}}</span>
            </ion-col>
            <!-- 
          <ion-col class="col-fit" *ngIf="item.attachments.length&&item.attachments.length>0">

            <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
            <span class="likes">{{item.attachments.length}}</span>
          </ion-col> -->
            <ion-col size="6" class="col_fit">
              <!-- <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

            <span class="comments">{{item.comment_count}}{{""}} Comments</span> -->
              <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
              <span class="comments">{{item.comment_count}}{{""}} Comments</span>
            </ion-col>
            <!-- <ion-col class="display_flexend" size="3">
          <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
          <span class="view-count">{{item.views_count}}</span>
        </ion-col> -->
          </ion-row>

          <ion-item lines="none" style="--min-height: auto;" color="none" class="no_inline_margin"
            *ngIf="item.hide_comment==0">

            <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
              <img [src]="user_img">
            </ion-avatar>
            <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
              <ion-label>{{p_name}}</ion-label>
            </ion-avatar>
            <!-- <div *ngIf="item.post_type!=6"> -->
            <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
            </ion-input>

            <!-- <ion-icon class="send_btn" src="assets/send_btn.svg" slot="end" (click)="comment(item.id)"></ion-icon> -->
            <!-- </div> -->
          </ion-item>
          <!-- <ion-item [ngStyle]="keyboardStyle" ></ion-item> -->
        </ion-grid>
      </ion-card>
    </div>
  </div>


  <ion-infinite-scroll (ionInfinite)="doInfiniteMyPost($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

 

</ion-content>

<ion-footer>

  <div class="footer-items-sec">

    <div class="bottom-navbar-sec">


      <div class="bns-item-1 bns-item-home" [routerLink]="['/menu']">
        <img class="feeds-icon" src="/assets/bottom-menu/home-icon.svg">
        <ion-text>Home</ion-text>
      </div>



      <div class="bns-item-1 bns-item-feeds" (click)="gotoFeeds()">
        <img src="/assets/bottom-menu/feeds-icon-selected.svg">
        <ion-text class="selected">Feeds</ion-text>
      </div>



      <div class="bns-item-1 bns-item-activity" (click)="gotoActivity()" *ngIf="modules.includes('Activity')">
        <img src="/assets/bottom-menu/activities-icon.svg">
        <ion-text>Activity</ion-text>
      </div>


      <div class="bns-item-1 bns-item-messages" (click)="gotoMessage()" *ngIf="modules.includes('Messages')">
        <div class="bnsi-ib">

          <img src="/assets/bottom-menu/messages-icon.svg">
          <ion-badge class="message-count-badge" *ngIf="msgcount!=0 && msgcount<100">{{msgcount}}</ion-badge>
          <ion-badge class="message-count-badge" *ngIf="msgcount!=0 && msgcount>=100">99+</ion-badge>

        </div>
        <ion-text>Messages</ion-text>
      </div>


      <div class="bns-item-1 bns-item-profile" [routerLink]="['/relative-profile']">
        <img src="/assets/bottom-menu/profile-icon.svg">
        <ion-text>Profile</ion-text>
      </div>


    </div>

  </div>

</ion-footer>

<!-- <ion-footer>

  <div class="bottom-navbar-sec">



    <div class="bns-item">
      <img class="feeds-icon" src="/assets/feed-icon-selected.svg">
    </div>



    <div class="bns-item" (click)="gotoActivity()" *ngIf="modules.includes('Activity')">
      <ion-icon name="pulse-outline"></ion-icon>
    </div>



    <div class="bns-menu-item" [routerLink]="['/menu']">
      <img src="/assets/bottom_menu_icon.svg">
    </div>




    <div class="bns-item" (click)="gotoMessage()" *ngIf="modules.includes('Messages')">
      <ion-icon name="mail-outline"></ion-icon>
    </div>


    <div class="bns-item" [routerLink]="['/relative-profile']">
      <i class="las la-user"></i>
    </div>


  </div>

</ion-footer> -->


<style>
  ion-header ion-toolbar:first-of-type {
    padding-top: var(--ion-safe-area-top, 0);
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0 !important;
  }
</style>