ion-header {
  padding-left: 0px;
  padding-right: 0px;

  ion-toolbar {
    padding-left: 0px !important;
    padding-right: 0px !important;

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      min-width: 35px;
      max-width: 35px;

      .menu-notification-icon-1 {
        filter: contrast(0.01) brightness(0.95);
        width: 28px;
        height: 28px;
        margin-right: 10px;
      }
    }
  }
}

ion-content {
  --padding-top: 10px;
  --background: #fff;
}

.all_icon {
  font-size: 25px;
  background-image: url("/assets/feed/all.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.all_icon_blue {
  font-size: 25px;
  background-image: url("/assets/feed/all_blue.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.related_to_me_icon {
  font-size: 25px;
  background-image: url("/assets/feed/related2me.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.related_to_me_icon_blue {
  font-size: 25px;
  background-image: url("/assets/feed/related2me_blue.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.card1 {
  padding-top: 53px;
}

ion-input {
  border-radius: 6px;
  background: #f1f1f1;
  color: #222 !important;
  /* border: solid 1px #B3BAC3; */
  margin-left: 10px;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 15px !important;
  padding-left: 10px !important;
  min-height: 35px !important;
  --padding-top: 0px;
  --padding-end: 0;
  --padding-bottom: 0px;
  --padding-start: 0px;
}

ion-card {
  padding: 15px;
  // margin-left: 20px;
  // margin-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
}

ion-badge {
  min-width: 18px;
  min-height: 18px;
  background-color: #e70d68 !important;
  border-radius: 50px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-family: "Roboto", sans-serif;
  font-size: 10px !important;
  font-weight: normal !important;
  color: #fff !important;
  text-align: center;
  margin-left: -9px;
  margin-top: -13px;
  --padding-top: 2px;
  --padding-end: 4px;
  --padding-bottom: 2px;
  --padding-start: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item {
  --padding-start: 0 !important;
  --inner-padding-end: 0 !important;
}

ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

$bubble-d: 1.875rem; // bubble diameter
$bubble-r: 0.5 * $bubble-d; // bubble-radius

@mixin bubble($ext) {
  transform: scale(1);
  border-color: #e2264d;
  border-width: $ext;
}

[id="toggle-heart"] {
  position: absolute;
  left: -100vw;

  &:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);

    &:before,
    &:after {
      animation: inherit;
      animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
    }

    &:before {
      will-change: transform, border-width, border-color;
      animation-name: bubble;
    }
  }
}

[for="toggle-heart"] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 24px;
  cursor: pointer;
  top: -7px;
  vertical-align: middle;

  &:before,
  &:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: "";
  }

  &:before {
    box-sizing: border-box;
    margin: -$bubble-r;
    border: solid $bubble-r #e2264d;
    width: $bubble-d;
    height: $bubble-d;
    transform: scale(0);
  }
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    @include bubble($bubble-r);
  }

  30%,
  100% {
    @include bubble(0);
  }
}

.story_head_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 40px;
}

.heart {
  color: #aab8c2;
  width: 25px !important;
  height: 25px !important;
}

.heart_red {
  color: rgb(255, 0, 0);
  width: 25px !important;
  height: 25px !important;
}

.story_head_container {
  ion-avatar {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  // ion-avatar:nth-child(2) {
  //   position: absolute;
  //   left: 36px
  // }
  ion-avatar + ion-avatar {
    margin-left: -10px;
  }
}

.c_tag {
  margin-right: 10px;
}

.card-content-ios {
  padding-top: 15px;
  padding-bottom: 0px !important;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  // background: rgba(172, 164, 164, 0.1);
  background: rgba(0, 0, 0, 0.68);
  border-radius: 10px;
}

.play_icon {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  // position: absolute;
  // top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.view-count-icon {
  color: #a9a9a9;
  font-size: 24px !important;
}

.display_flexend {
  display: flex;
  justify-content: flex-end;
}

.view-count {
  font-size: 13px;
  color: #a9a9a9;
  margin-left: 10px;
  align-self: center;
  margin-top: -3px;
}

.story_text {
  padding: 10px 0px 15px !important;
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.thanku {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 100%;
  white-space: pre-line !important;
}

@media only screen and (min-width: 1024px) {
  .poll-thanks {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }

  .thanku {
    font-size: 20px !important;
  }

  .story-card-1 {
    padding: 15px 10px !important;
  }

  .announcements-card {
    padding: 15px !important;
  }
}

.poll-container {
  // border-radius: 10px !important;
  // background-color: #FFF !important;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  // padding: 25px;
  // height: auto !important;
  // --padding-start: 0;
  // --inner-padding-end: 0;
  // margin-left: 20px;
  // margin-right: 20px;
  // margin-top: 10px;

  border-radius: 10px !important;
  background-color: #fff !important;
  box-shadow: none !important;
  border: 1px solid #d7d7d7;
  padding: 25px;
  height: auto !important;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  position: relative;

  .poll-qns {
    font-size: 18px;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 15px;
    display: block;
    text-align: left;
  }

  .cl-radio-btn {
    // background-color: #f4f4f4;
    background: #f5f5f5;
    color: #000;
    border: 1px solid #fff !important;
    border-radius: 10px;
    padding: 15px !important;
    text-align: left;
    margin-bottom: 10px;

    label {
      font-size: 16px;
      color: #1c1c1c;
      margin-left: 10px;
    }
  }

  // .cl-radio-btn:last-of-type {
  //   margin-bottom: 25px !important;
  // }

  .bg_blue {
    background-color: #0077b5 !important;
    color: #fff !important;
  }

  .next-btn {
    // --background: #5c6064;
    --background: #0077b5;
    --border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    min-width: 80px;
    height: 35px;
    margin-left: 0px;
    --box-shadow: none;
  }

  .prev-btn {
    --background: #f4f4f4;
    --border-radius: 50px;
    --color: #333333;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    min-width: 80px;
    height: 35px;
    --box-shadow: none;
  }

  .selected_slot {
    background-color: #2ac940 !important;

    ion-label {
      color: #fff !important;
    }
  }

  .poll-tag {
    position: absolute;
    // top: 10px;
    // right: 13px;
    top: -1px;
    right: -7px;
    background: red;
    color: #fff;
    font-size: 13px;
    padding: 30px 25px 6px;
    line-height: normal;
    font-family: sans-serif;
    -webkit-clip-path: polygon(66% 0, 89% 52%, 89% 100%, 42% 0);
    clip-path: polygon(60% 0px, 92% 45%, 92% 100%, 15% 0);
  }

  .poll-tag p {
    position: relative;
    // top: -20px;
    // left: 14px;
    top: -25px;
    left: 12px;
    transform: rotate(56deg);
    display: flex;
    color: #fff;
    font-size: 18px;
    padding: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .poll-container {
    margin-left: 40px;
    margin-right: 40px;

    .poll-tag {
      right: -7px;
    }
  }

  .poll-thanks {
    .pt-inner-box {
      .poll-thanks-thumb {
        height: 65px !important;
        margin-bottom: 20px !important;
      }
    }
  }
}

.story-media-container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 160px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
  }

  ion-col {
    padding: 0;
    font-size: 25px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-width: 700px) {
  ion-footer {
    .bottom-navbar-sec {
      justify-content: center !important;

      .bns-item {
        padding: 0 50px;

        &:first-child {
          padding: 0 72px;
        }

        &:last-child {
          padding: 0 72px;
        }
      }

      .bns-item-1 {
        margin: 10px 50px;
      }

      .bns-menu-item {
        padding: 0 72px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  ion-header {
    ion-toolbar {
      ion-button {
        position: relative;

        ion-badge {
          position: absolute;
          right: 0px;
        }
      }
    }
  }

  ion-content {
    --padding-top: 15px;
  }

  ion-input {
    height: 40px;
  }

  .story-media-container {
    img {
      height: 450px !important;
    }
  }

  .story_heading {
    line-height: 25px;
  }

  .story-other-info-box {
    margin-top: 5px;
  }

  .profile_pic_thumb {
    width: 40px;
    height: 40px;
  }

  .post_time {
    max-width: fit-content;
    display: flex;
    align-items: center;

    .story-date-time {
      margin-right: 6px;
    }
  }

  ion-footer {
    .bottom-navbar-sec {
      justify-content: center !important;

      .bns-item {
        padding: 0 50px;

        &:first-child {
          padding: 0 72px;
        }

        &:last-child {
          padding: 0 72px;
        }
      }

      .bns-item-1 {
        margin: 10px 50px;
      }

      .bns-menu-item {
        padding: 0 72px;
      }
    }
  }
}

.comments_sep_stories {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .likes,
  .comments {
    vertical-align: middle;
    top: 0;
    align-self: center;
  }

  .react_icons {
    align-self: center;
    vertical-align: middle;
  }
}

.poll-name {
  font-size: 18px;
  font-weight: 600;
  color: #252525;

  span {
    // display: block;
    // font-size: 12px;
    // margin-top: 10px;
    // margin-bottom: 10px;
    // color: #707070;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6c6c6c;
  }
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }

  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }
}

.doc-attached {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
  transform: rotate(45deg);
}

.story-media-container {
  position: relative;

  .more-media-count {
    background: #0077b5;
    color: #fff;
    padding: 5px 10px;
    max-width: fit-content;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 25px;
      transform: rotate(45deg);
      margin-right: 2px;
      vertical-align: middle;
    }
  }
}

.story-card-1 {
  position: relative;
  padding: 15px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 0px;
  box-shadow: none;
  padding-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0 !important;

  .story-mo-icon {
    font-size: 18px;
    color: #adadad;
    position: absolute;
    // top: 10px;
    top: 10px;
    right: 5px;
  }
}

.see-more-link {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  color: #a4a4a4;
  margin-top: -5px;
}

ion-footer {
  .bottom-navbar-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 8px 25px 2px;

    .bns-item {
      .feeds-icon {
        width: 22px;
      }

      ion-icon {
        font-size: 25px;
        color: #6c6c6c;
      }

      i {
        font-size: 28px;
        color: #6c6c6c;
        display: block !important;
        margin-top: -5px;
      }
    }

    .bns-item-selected {
      ion-icon {
        color: #0077b5;
      }

      i {
        color: #0077b5;
      }
    }

    .bns-menu-item {
      img {
        width: 55px;
      }
    }
  }
}

.announcements-card {
  background: #fffded !important;
  border-radius: 10px !important;
  border: 1px solid #ffcc3c;
  padding: 15px;

  ion-input {
    background: #fff !important;
    border: 1px solid #e8e8e8;
  }
}

.poll-thanks {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  padding: 20px !important;
  box-shadow: none;
  border: 1px solid #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pt-inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .poll-thanks-thumb {
      height: 50px;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  ion-header {
    ion-toolbar {
      ion-button {
        --padding-start: 0;
        --padding-end: 0;
        min-width: 40px !important;
        max-width: 40px !important;
        position: relative;

        .menu-notification-icon-1 {
          filter: contrast(0.01) brightness(0.95);
          width: 28px;
          height: 28px;
          margin-right: 10px;
        }
      }
    }
  }

  ion-badge {
    position: absolute;
    right: 5px;
    top: 18pxpx;
  }
}
