ion-header {
  padding-left: 0px;
  padding-right: 0px;
}

ion-header ion-toolbar {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.all_icon {
  font-size: 25px;
  background-image: url("/assets/feed/all.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.all_icon_blue {
  font-size: 25px;
  background-image: url("/assets/feed/all_blue.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.related_to_me_icon {
  font-size: 25px;
  background-image: url("/assets/feed/related2me.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.related_to_me_icon_blue {
  font-size: 25px;
  background-image: url("/assets/feed/related2me_blue.svg");
  background-repeat: no-repeat;
  vertical-align: sub;
}

.card1 {
  padding-top: 53px;
}

ion-input {
  border-radius: 30px;
  border: solid 1px #B3BAC3;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 15px !important;
  padding-left: 10px !important;
  min-height: 30px !important;
  --padding-top: 0px;
  --padding-end: 0;
  --padding-bottom: 0px;
  --padding-start: 0px;
}

ion-card {
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 1px;
}

ion-badge {
  min-width: 18px;
  min-height: 18px;
  background-color: #e70d68 !important;
  border-radius: 50px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #fff !important;
  text-align: center;
  margin-left: -9px;
  margin-top: -13px;
  --padding-top: 2px;
  --padding-end: 4px;
  --padding-bottom: 2px;
  --padding-start: 4px;
}

ion-item {
  --padding-start: 0 !important;
  --inner-padding-end: 0 !important;
}

ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
  animation: inherit;
  animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
}

[id='toggle-heart']:checked + label:before {
  will-change: transform, border-width, border-color;
  animation-name: bubble;
}

[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 24px;
  cursor: pointer;
  top: -7px;
  vertical-align: middle;
}

[for='toggle-heart']:before, [for='toggle-heart']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}

[for='toggle-heart']:before {
  box-sizing: border-box;
  margin: -0.9375rem;
  border: solid 0.9375rem #e2264d;
  width: 1.875rem;
  height: 1.875rem;
  transform: scale(0);
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #e2264d;
    border-width: 0.9375rem;
  }
  30%,
  100% {
    transform: scale(1);
    border-color: #e2264d;
    border-width: 0;
  }
}

.story_head_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 40px;
}

.heart {
  color: #aab8c2;
  width: 25px !important;
  height: 25px !important;
}

.heart_red {
  color: red;
  width: 25px !important;
  height: 25px !important;
}

.story_head_container ion-avatar {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.story_head_container ion-avatar + ion-avatar {
  margin-left: -10px;
}

.c_tag {
  margin-right: 10px;
}

.card-content-ios {
  padding-top: 15px;
  padding-bottom: 0px !important;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(172, 164, 164, 0.1);
}

.play_icon {
  position: absolute;
  top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.view-count-icon {
  color: #a9a9a9;
  font-size: 24px !important;
}

.display_flexend {
  display: flex;
  justify-content: flex-end;
}

.view-count {
  font-size: 13px;
  color: #a9a9a9;
  margin-left: 10px;
  align-self: center;
  margin-top: -3px;
}

.story_text {
  padding: 15px 0px !important;
}

.thanku {
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  width: 100%;
  white-space: pre-line !important;
}

@media screen and (min-width: 1024px) {
  .thanku {
    font-size: 35px !important;
  }
}

.poll-container {
  border-radius: 10px !important;
  background-color: #FFF !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  padding: 25px;
  height: auto !important;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.poll-container .poll-qns {
  font-size: 18px;
  color: #1c1c1c;
  margin-bottom: 25px;
  display: block;
  text-align: left;
}

.poll-container .cl-radio-btn {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.poll-container .cl-radio-btn label {
  font-size: 16px;
  color: #1c1c1c;
  margin-left: 10px;
}

.poll-container .bg_blue {
  background-color: #0077b5 !important;
  color: #fff !important;
}

.poll-container .next-btn {
  --background: #0077b5;
  --border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  min-width: 80px;
  height: 35px;
  margin-left: 10px;
  --box-shadow: none;
}

.poll-container .prev-btn {
  --background: #f4f4f4;
  --border-radius: 50px;
  --color: #333333;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  min-width: 80px;
  height: 35px;
  --box-shadow: none;
}

.poll-container .selected_slot {
  background-color: #2AC940 !important;
}

.poll-container .selected_slot ion-label {
  color: #fff !important;
}

.poll-container .poll-tag {
  position: absolute;
  top: 10px;
  right: 13px;
  background: red;
  color: #fff;
  font-size: 13px;
  padding: 30px 25px 6px;
  line-height: normal;
  font-family: sans-serif;
  -webkit-clip-path: polygon(66% 0, 89% 52%, 89% 100%, 42% 0);
  clip-path: polygon(60% 0px, 92% 45%, 92% 100%, 15% 0);
}

.poll-container .poll-tag p {
  position: relative;
  top: -20px;
  left: 14px;
  transform: rotate(56deg);
  display: flex;
  color: #fff;
  font-size: 18px;
  padding: 2px;
}

@media screen and (min-width: 1024px) {
  .poll-container {
    margin-left: 40px;
    margin-right: 40px;
  }
  .poll-container .poll-tag {
    right: 33px;
  }
}

.story-media-container {
  width: 100%;
  height: 100%;
}

.story-media-container img {
  width: 100%;
  height: 290px !important;
  overflow: hidden;
  object-fit: cover;
}

.story-media-container ion-col {
  padding: 0;
  font-size: 25px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .story-media-container img {
    height: 450px !important;
  }
}

.comments_sep_stories {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.comments_sep_stories .likes,
.comments_sep_stories .comments {
  vertical-align: middle;
  top: 0;
  align-self: center;
}

.comments_sep_stories .react_icons {
  align-self: center;
  vertical-align: middle;
}

.poll-name {
  font-size: 20px;
  font-weight: 400;
}

.poll-name span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #707070;
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }
  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }
}
