

<ion-content class="vmanage">

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <img class="confirmation-image" src="/assets/centrim_logo_inner.svg">

          <span class="confirm-text-container">


            <img class="thank-you" src="/assets/checkout/thank-you-icon.svg">

            <p class="thanks">Thank you
              <span>{{name}}</span>
            </p>
            

            <p class="mb-zero sep-border">
              You have successfully checked out.
            </p>
            <p class="mt-0 mb-zero">Your check out time is {{date}}</p>

          </span>


        </ion-col>

       


      </ion-row>

    </ion-grid>

  </div>

</ion-content>