// ion-header {
//     text-align: center;
// }

ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}

img {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
}

.confirm-text-container {

    .thanks {
        font-size: 25px;
        font-weight: 500;
        color: #000;
        margin-top: 0px;

        span {
            display: block;
            font-size: 20px;
            margin-top: 6px;
        }
    }

    p {
        font-size: 18px;
        color: #000;
        line-height: 28px;
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }
}

.confirm-btn {
    --background: #0077b5;
    --border-radius: 50px;
    --box-shadow: none;
    color: #fff;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    height: 50px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: 25px;
    min-width: 145px;
}

.thank-you {
    width: 140px;
    margin-bottom: 40px !important;
}

@media only screen and (max-width:767px) {
    .vmanage .main-content-wrapper {
        align-self: initial;
        display: flex;
        float: left;
        flex-flow: wrap;
        flex-wrap: wrap;
        align-content: initial;
        align-items: initial;
        justify-items: center;
        justify-self: center;
        width: 100%;
        height: auto;
        margin-top: 0px !important;
        overflow-y: scroll;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-content-wrapper {

        .confirmation-image {
            max-width: 150px !important;
        }

        ion-grid {
            background: #efefef;
            padding: 25px !important;
            border-radius: 10px;
            max-width: 90% !important;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
    }

    .sep-border {
        border-bottom: 1px dashed #6f6f6f;
        padding-bottom: 10px;
        margin-bottom: 10px !important;
    }
}

.main-content-wrapper {
    ion-grid {
        background: #efefef;
        padding: 45px;
        border-radius: 10px;
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}