ion-content {
    --background: #efefef;
    --padding-top: 15px;
}

ion-card {
    margin-top: 25px;
}

ion-col.ios.hydrated {
    max-width: fit-content;
}

.not_label {
    white-space: pre-line !important;
    color: #fff;
}

.profile_avatar {
    width: 40px;
    height: 40px;
}

.settings_card {
    ion-item {
        padding: 0px 0px !important;
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --inner-padding-end: 0 !important;
    }
}

// .rel_details_card {

//     ion-row {
//         margin-bottom: 20px;
//     }
// }

.no-access {
    ion-col {
        ion-avatar {
            img {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }

        ion-label {

            color: #c6c6c6 !important;
        }
    }
}

.notification_card {
    ion-item {
        --min-height: auto;

        .notification_head {
            margin: 0px;
            font-weight: 600;
            font-size: 18px !important;
        }
    }

    ion-card-content {
        display: inherit;
    }

    .view-selected {
        font-size: 15px;
        color: #8ac2e1;
        text-align: center;
        display: block;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #7ab5d5;

        .eye-icon {
            font-size: 22px;
            vertical-align: middle;
            margin-right: 10px;
        }

        .forward-arrow {
            font-size: 22px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    ion-card-content {
        display: none;
    }
}


// .tc-pp-sec {
//     position: absolute;
//     bottom: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     left: 0;
//     right: 0;

//     .separator {
//       font-size: 14px;
//       color: #696969;
//       margin: 0px 10px;
//     }

//     ion-label {
//       a {
//         font-size: 12px;
//         color: #696969;
//       }

//     }
//   }

.tc-pp-sec {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;

    .separator {
        font-size: 14px;
        color: #696969;
        margin: 0px 10px;
    }

    ion-label {
        a {
            font-size: 12px;
            color: #696969;
        }

    }
}

@media only screen and (min-width:320px) and (max-width:360px) {

    .tc-pp-sec {
        position: relative;
        bottom: -55px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        right: 0;
        padding-bottom: 20px;
    }

}

@media only screen and (min-width:768px) {
    .rel_details_card {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    ion-content {
        --padding-top: 30px;
        --padding-bottom: 30px;
    }
}

.rel_details_card {
    padding: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    ion-row {
        ion-col {
            display: flex;
            align-self: center;
        }
    }

    .user_info {
        padding: 0px 0px !important;
        max-width: 75%;

        ion-label {
            color: #222;
            font-size: 16px;
            font-weight: 500;

            &:nth-child(2) {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #646464 !important;
            }
        }
    }

    .relative-user-block {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .edit_profile_icon {
        margin-left: auto;
    }
}

.notification_card {
    .toggle_container {
        margin-top: 10px;

        ion-label {
            font-family: 'Open Sans', sans-serif;
        }
    }

    .notify_options {
        .not_label {
            font-family: 'Open Sans', sans-serif;
        }

        ion-row {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.settings_sep {
    border-bottom-color: #bdbdbd;
}

.profile_access {
    margin-top: 0px !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px !important;
    color: #646464 !important;
}

@media only screen and (min-width:768px) {
    .settings_card {
        margin-top: 10px !important;
        margin-bottom: 10px;
        margin-left: 25px !important;
        margin-right: 25px !important;
        padding: 5px !important;
    }

    .rel_details_card {
        padding: 25px !important;
        margin-top: 0px !important;
        margin-bottom: 15px;
        margin-left: 25px !important;
        margin-right: 25px !important;

        .profile_access {
            margin: 0px 0px 10px !important;
        }
    }

    .notification_card {
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
}