<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">My Profile</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="rel_details_card" [routerLink]="['/edit-profile',{flag:1}]">

    <ion-row>
      
      <ion-col size="12">
        
        <ion-avatar class="profile_avatar">
          <img [src]="img">
        </ion-avatar>
        
        <!-- <ion-avatar class="profile_avatar bg-green bg-lighten-4" *ngIf="!img">
            <ion-label style="margin-left: 18px;margin-top: 20px; font-weight: bold;">{{p_name}}</ion-label>
          </ion-avatar> -->
        <!-- <ion-avatar style="width:40px; height: 40px;">
            <img [src]="img">
          </ion-avatar> -->

        <div class="user_info">
          <ion-label>{{name}}</ion-label>
          <ion-label>{{email}}</ion-label>
        </div>

        <ion-icon class="edit_profile_icon"></ion-icon>

      </ion-col>

      <!-- <ion-col style="align-self: center; display: flex; justify-content: flex-end;">
        <ion-icon class="edit_profile_icon"></ion-icon>
      </ion-col> -->
    </ion-row>

  </ion-card>

  <ion-card class="rel_details_card" *ngIf="user_type==6" [routerLink]="['/resident-overview']">
    <ion-row>
      <ion-col>
        <ion-label class="profile_access">You have access to profile for</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of parent" class="relative-user-block"
      [class.no-access]="item.share==0||item.parent.status==0">
      <ion-col style="max-width: fit-content !important;">
        <ion-avatar style="width:42px; height: 42px;">
          <img [src]="item.parent.user.profile_pic">
        </ion-avatar>
      </ion-col>
      <ion-col style="align-self: center !important;">
        <ion-label class="relprofile_consumer_name">{{item.parent.user.name}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="notification_card">
    <ion-item lines="none" color="none">
      <ion-label class="notification_head">Notification Settings</ion-label>
    </ion-item>

    <ion-item class="toggle_container" lines="none" color="none">
      <ion-toggle slot="start" [checked]="notifyAll" color="light" (ionChange)="select($event,notifyAll)"></ion-toggle>
      <ion-label style="color: #fff; font-size: 16px;white-space: pre-line;" *ngIf="user_type!=4">
        Notify me for the selected
      </ion-label>
      <ion-label style="color: #fff; font-size: 16px;white-space: pre-line;" *ngIf="user_type==4">
        Notify me the updates
      </ion-label>
      <!-- <span style="float: right;" (click)="expandItem()">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span> -->
    </ion-item>

    <ion-label class="view-selected" *ngIf="myStory==1||my_comment==1||message==1||call==1||activity==1"
      (click)="shownotificationsettings()">
      <ion-icon class="eye-icon" name="eye-outline"></ion-icon>
      View selected options
      <ion-icon class="forward-arrow" name="chevron-down-outline"></ion-icon>
    </ion-label>

    <!-- <ion-card-content style="padding-left: 15px; padding-right: 15px;" *ngIf="user_type!=4">
      <app-notificationcard expandHeight="700px" [expanded]="expanded" style="margin-top:15px;display:block;">
       


        <div class="notify_options">

          <ion-row>

            <ion-col size="2">
              <ion-checkbox [(ngModel)]="myStory" [checked]="myStory==1" (ionChange)="myStoryStatus($event)">
              </ion-checkbox>
            </ion-col>

            <ion-col size="10">
              <ion-label class="not_label">New story added</ion-label>
            </ion-col>

          </ion-row>

           

          <ion-row>

            <ion-col size="2">
              <ion-checkbox [(ngModel)]="my_comment" [checked]="my_comment==1" (ionChange)="commentStatus($event)">
              </ion-checkbox>
            </ion-col>

            <ion-col size="10">
              <ion-label class="not_label">New comment </ion-label>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="2">
              <ion-checkbox [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)">
              </ion-checkbox>
            </ion-col>

            <ion-col size="10">
              <ion-label class="not_label">New message</ion-label>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="2">
              <ion-checkbox [(ngModel)]="call" [checked]="call==1" (ionChange)="callStatus($event)"></ion-checkbox>
            </ion-col>

            <ion-col size="10">
              <ion-label class="not_label">Video call</ion-label>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="user_type==6">

            <ion-col size="2">
              <ion-checkbox [(ngModel)]="activity" [checked]="activity==1" (ionChange)="activityStatus($event)">
              </ion-checkbox>
            </ion-col>

            <ion-col size="10">
              <ion-label class="not_label" style="white-space: pre-line !important;">Weekly activity history
              </ion-label>
            </ion-col>

          </ion-row>


        </div>

      </app-notificationcard>
    </ion-card-content> -->
    <!-- <ion-item class="toggle_container" lines="none" color="none">
      <ion-toggle slot="start" color="light"></ion-toggle>
      <ion-label style="color: #fff; font-size: 16px;white-space: pre-line;">Unsubscribe from all notifications</ion-label>
    </ion-item>  -->
    <!-- <ion-item lines="none" color="none"
      class="notify_sep item-interactive item-select item ios in-list ion-activatable ion-focusable item-label hydrated">
      
      <ion-icon class="notify_email_icon"></ion-icon>
      
      <ion-label style="color: #fff; font-size: 16px;" id="ion-sel-0-lbl"
        class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Email Frequency</ion-label> -->

    <!-- <ion-select value="notifications" interface="action-sheet" role="combobox" aria-haspopup="dialog"
        aria-expanded="false" aria-labelledby="ion-sel-0-lbl" class="ios in-item hydrated">

        <ion-select-option value="instant" role="option" id="ion-selopt-46" class="ios hydrated">Instant (Every update)
        </ion-select-option>

        <ion-select-option value="mute" role="option" id="ion-selopt-5" class="ios hydrated">Mute</ion-select-option>

        <ion-select-option value="mute_week" role="option" id="ion-selopt-17" class="ios hydrated">Mute for a week
        </ion-select-option>

        <ion-select-option value="mute_year" role="option" id="ion-selopt-47" class="ios hydrated">Mute for a year
        </ion-select-option>

        <input type="hidden" class="aux-input" name="ion-sel-0" value="notifications">

      </ion-select> -->
    <!-- </ion-item>

    <ion-item class="toggle_container" lines="none" color="none">
      <ion-icon class="notify_bell_icon"></ion-icon>
      <ion-label style="color: #fff; font-size: 16px;">Push Notifications</ion-label>
      <ion-toggle slot="end" checked color="light"></ion-toggle>
    </ion-item> -->

  </ion-card>

  <ion-card class="settings_card">
    <!-- <ion-item style="padding: 0px 20px;" lines="none" color="none" [routerLink]="['/reset-password']">
      <ion-icon class="reset_pswd_icon"></ion-icon>
      <ion-label>Reset password</ion-label>
      <ion-icon class="chevron_forward_icon"></ion-icon>
    </ion-item> -->

    <ion-item style="padding: 0px 20px;" lines="none" color="none" (click)="reset()">
      <ion-icon class="reset_pswd_icon"></ion-icon>
      <ion-label class="cblack">Reset password</ion-label>
      <ion-icon class="chevron_forward_icon"></ion-icon>
    </ion-item>

    <ion-item style="padding: 0px 20px; --min-height: auto !important;" lines="none" color="none">
      <hr class="settings_sep">
    </ion-item>

    <ion-item style="padding: 0px 20px;" lines="none" color="none" (click)="presentAlertConfirm()">
      <ion-icon class="logout_icon"></ion-icon>
      <ion-label class="cblack">Logout</ion-label>
      <ion-icon class="chevron_forward_icon"></ion-icon>
    </ion-item>
  </ion-card>

  <div class="tc-pp-sec">

    <ion-label><a (click)="openTerms()">Terms and conditions</a></ion-label>
    <span class="separator">|</span>
    <ion-label><a (click)="openPolicy()">Privacy policy</a></ion-label>

  </div>

</ion-content>