<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title mode="md" class="page_title">Maintenance</ion-title> -->

    <ion-grid class="display_flex_end">

      <ion-row>

        <ion-col style="display: flex; justify-content: center;" (click)="pickJob()" *ngIf="pick">
          <ion-label class="pick-job">Pick Job</ion-label>
        </ion-col>

        <ion-col class="col_fit">

          <ion-select placeholder="Change Status" class="status_change_select" [(ngModel)]="status" (ionChange)="changeStatus(status)">
            <ion-select-option value="0">Open</ion-select-option>
            <ion-select-option value="2">With third party</ion-select-option>
            <ion-select-option value="1">In Progress</ion-select-option>
            <ion-select-option value="5">Waiting for feedback</ion-select-option>
            <!-- <ion-select-option value="overdue">Overdue</ion-select-option> -->
            <ion-select-option value="3">Closed</ion-select-option>
            <ion-select-option value="4">Reopened</ion-select-option>
          </ion-select>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header>

<ion-content class="ion_maintenance_details_content">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="8" size-lg="8" size="12" *ngFor="let item of details">

        <ion-card class="maintenance_details_card">

          <ion-label class="maintenance-problem-head">{{item.request_title}}</ion-label>

          <!-- <ion-grid class="maintenance-prob-details">

            <ion-row>

              <ion-col>

                <ion-label>
                  ID
                  <span>
                    1237
                  </span>
                </ion-label>

              </ion-col>

              <ion-col>

                <ion-label>
                  Priority
                  <span class="urgent-priority">
                    Urgent
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Created Date
                  <span>
                    17 Aug 2020
                  </span>
                </ion-label>

              </ion-col>

              <ion-col>

                <ion-label>
                  Due Date
                  <span>
                    17 Aug 2020
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Created by
                  <span>
                    James Albert
                  </span>
                </ion-label>

              </ion-col>

              <ion-col>

                <ion-label>
                  Type
                  <span>
                    Electrical
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Location
                  <span>
                    Room No. 220B
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Branch Name
                </ion-label>

              </ion-col>

            </ion-row>

          </ion-grid> -->

          <ion-grid class="maintenance-prob-details">

            <ion-row>

              <ion-col >

                <ion-label>
                  ID
                  <span>
                    {{item.reference_id}}
                  </span>
                </ion-label>

              </ion-col>

              <!-- <ion-col>

                <ion-label>
                  Priority
                  <span class="urgent-priority">
                    Urgent
                  </span>
                </ion-label>

              </ion-col> -->

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Location
                  <span>
                    {{item.location}} 
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>

                <ion-label>
                  Created by
                  <span>
                    {{item.creator.name}}
                  </span>
                </ion-label>

              </ion-col>

              <ion-col>

                <ion-label>
                  Created Date
                  <span>
                    {{item.request_date | dateformat:'DD MMM yyyy'}}
                  </span>
                </ion-label>

              </ion-col>

            </ion-row>

            <ion-row class="mb_zero">

              <ion-col>

                <ion-label>
                  Due Date
                  <span>
                    {{item.due_date | dateformat:'DD MMM yyyy'}}
                  </span>
                </ion-label>

              </ion-col>
              </ion-row>
              <!-- <ion-row class="mb_zero">
              <ion-col>

                <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

                  <ion-label>Type</ion-label>
                  <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="selected_type" (ionChange)="changeType(selected_type)">
                    <ion-select-option value="{{type.id}}" *ngFor="let type of type">{{type.type}}</ion-select-option>
                  
                  </ion-select>

                </ion-item>

              </ion-col>

            </ion-row> -->

            <ion-row class="mb_zero">

              <ion-col>

                <ion-item color="none" lines="none" class="mb_20 form-bottom-border risk-rate-col">

                  <ion-label>Risk Rating</ion-label>
                  <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="risk" (ionChange)="ChangeRisk(risk)">
                    <ion-select-option value="0">Low</ion-select-option>
                    <ion-select-option value="1">Medium</ion-select-option>
                    <ion-select-option value="2">High</ion-select-option>
                  </ion-select>

                </ion-item>

              </ion-col>
            </ion-row>
            <ion-row class="mb_zero">
              <ion-col>

                <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

                  <ion-label>Hazard</ion-label>
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="hazard" (ionChange)="changeHazard(hazard)">
                    <ion-select-option value="1">Yes</ion-select-option>
                    <ion-select-option value="0">No</ion-select-option>
                  </ion-select>

                </ion-item>

              </ion-col>

            </ion-row>

            <ion-row class="mb_zero">

              <ion-col>

                <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

                  <ion-label>Out of order Tag</ion-label>
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="out_of_order" (ionChange)="ChangeOutofOrder(out_of_order)">
                    <ion-select-option value="1">Yes</ion-select-option>
                    <ion-select-option value="0">No</ion-select-option>
                  </ion-select>

                </ion-item>

              </ion-col>

            </ion-row>

            <ion-row class="mb_zero">

              <ion-col>
                <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

                <ion-label>
                  Priority
                </ion-label>
                  <!-- <span class="urgent-priority" *ngIf="item.priority==2">
                    Urgent
                  </span>
                  <span class="medium-priority" *ngIf="item.priority==1">
                    Medium
                  </span>
                  <span class="low-priority" *ngIf="item.priority==0">
                    Low
                  </span> -->
                  <!-- <span [class.urgent-priority]="priority==2" [class.medium-priority]="priority==1" [class.low-priority]="priority==0"> -->
                    <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="priority" (ionChange)="changePriority(priority)"
                    [class.urgent-priority]="priority==2" [class.medium-priority]="priority==1" [class.low-priority]="priority==0">
                      <ion-select-option value="0" >Low</ion-select-option>
                      <ion-select-option value="1">Medium</ion-select-option>
                      <ion-select-option value="2">Urgent</ion-select-option>
                    </ion-select>
                  <!-- </span> -->
                
              </ion-item>

              </ion-col>
              </ion-row>
              <ion-row class="mb_zero">
              <ion-col>

                <ion-item color="none" lines="none" class="form-bottom-border">

                  <ion-label>Assigned to</ion-label>
                  <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="selected_tec" (ionChange)="changeTechnician(selected_tec)">
                    <ion-select-option value="{{tec.user_id}}" *ngFor="let tec of technician">{{tec.name}}</ion-select-option>
                    <!-- <ion-select-option value="technician2">Technician2</ion-select-option>
                    <ion-select-option value="technician3">Technician3</ion-select-option>
                    <ion-select-option value="technician4">Technician4</ion-select-option>
                    <ion-select-option value="technician5">Technician5</ion-select-option> -->
                  </ion-select>

                </ion-item>

              </ion-col>

            </ion-row>

          </ion-grid>

          <ion-item color="none" lines="none" *ngIf="item.description!=null">
            <p class="maintenance-prob-description">
              {{item.description}}
            </p>
          </ion-item>


          <ion-row class="mb_20"  *ngIf="images.length>0" (click)="showImages($event)">
        
            <ion-row style="width: 100%;" *ngIf="images.length==1">
              <img [src]="images[0].image" style="width: 100%;" *ngIf="images && images.length ">
            </ion-row>
    
            <ion-row style="width: 100%;" *ngIf="images.length>1">
              <img [src]="images[0].image" style="width: 100%;height: 140px;" *ngIf="images && images.length">
            </ion-row>
    
            <ion-row style="flex-wrap: nowrap !important;margin-top: 2px;width: 100%;" *ngIf="images.length>1">
              <ion-col *ngIf="images.length>=2" style="height: 140px;width:100%">
                <img [src]="images[1].image" *ngIf="images && images.length" style="height: 140px;width:100%">
              </ion-col>
              <ion-col *ngIf="images.length>=3" style="margin-left: 2px;height: 140px;width:100%;position: relative">
                <img [src]="images[2].image" *ngIf="images && images.length" style="height: 140px;width:100%">
              </ion-col>
              <ion-col *ngIf="images.length>=4" style="margin-left: 2px; position: relative;height: 140px">
                <img [src]="images[3].image" *ngIf="images && images.length" style="height: 140px;width:100%">
                <div class="myOverlay" *ngIf="images.length>4"></div>
                <div class="num_badge" *ngIf="images.length>4">+{{images.length-4}}</div>
              </ion-col>
            </ion-row>
    
          </ion-row>



        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="4" size-lg="4" size="12">

        <ion-card class="comment_card">

          <ion-grid>

            <ion-row class="bottom_line">

              <ion-col style="display: flex; justify-content: flex-start; align-self: center;">

                <ion-label class="comments_head">Comments</ion-label>

              </ion-col>

              <ion-col style="display: flex; justify-content: flex-end;" (click)="addComment()">

                <p class="add_comment_btn">Add Comment</p>

              </ion-col>

            </ion-row>

          </ion-grid>

          <ul>

            <li [class.mc_staff]="com.user.user_type_id==1|| com.user.user_type_id==2||com.user.user_type_id==3" 
                [class.mc_technician]="com.user.user_type_id==4" [class.mc_consumer]="com.user.user_type_id==5 || com.user.user_type_id==6" 
                *ngFor="let com of comment| slice:start:end">

              <ion-label class="mc_date_time">
                {{com.datetime | dateformat: 'hh:mm a | DD MMMM yyyy'}}
              </ion-label>

              <ion-label class="mc_author" *ngIf="com.user!=null">
                {{com.user.name}}
              </ion-label>

              <ion-label class="mc_comment">
               {{com.comment}}
              </ion-label>
              <div *ngIf="com.comment_image.length">
                <!-- <div > -->
                  <img  class="mc_image" [src]="img.image" *ngFor="let img of com.comment_image">
                <!-- </div> -->
              </div>
            </li>

            <!-- <li class="mc_technician">

              <ion-label class="mc_date_time">
                09:00 am | December 2020
              </ion-label>

              <ion-label class="mc_author">
                John Doe
              </ion-label>

              <ion-label class="mc_comment">
                Work completed, Lorem ipsum dolor sit, amet consectetur adipisicing
              </ion-label>

              <img class="mc_image" src="/assets/maintenance/work_status_image.png">

            </li>

            <li class="mc_consumer">

              <ion-label class="mc_date_time">
                09:00 am | December 2020
              </ion-label>

              <ion-label class="mc_author">
                Amelia Johnson
              </ion-label>

              <ion-label class="mc_comment">
                Perfect, Thanks
              </ion-label>

            </li> -->
            <ion-item lines="none" color="none">
              <ion-label style="width: 100%;text-align: right;font-weight: 500;color: blue;" (click)="viewMore()" *ngIf="comment.length>5 && end<comment.length">
                View more comments</ion-label>
            </ion-item>
          </ul>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>






</ion-content>