.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
}

.num_badge {
  position: absolute;
  top: 40%;
  font-size: 25px;
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
  color: #fff;
}
