ion-content {
  --padding-start:20px;
  --padding-end:20px;
  --padding-top:20px;
  --padding-bottom:20px;
  --background:#eee;
}

.myOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: rgba(0,0,0,0.6);
  
    // color: #fff;
  
  }
  
  .num_badge {
    position: absolute;
    top: 40%;
    font-size: 25px;
    width: 100%;
    margin-left: 40%;
    margin-right: 40%;
    color: #fff;
  }
  
  .inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    padding: 20px 10px 10px !important;
}

.header-ios {
  padding-top: 15px;
}