<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <!-- <ion-tabs >
    <ion-tab-bar #myTabBar id="myTabBar" slot="bottom" >
      <ion-tab-button tab="stories">

        <ion-icon class="feed-icon"></ion-icon>
        <p>Feeds</p>
      </ion-tab-button>
  
      <ion-tab-button tab="activities">
       
        <ion-icon name="pulse-outline"></ion-icon>
        <p>Activities</p>
      </ion-tab-button>
  
      <ion-tab-button  tab="menu">
      
        <ion-icon class="bottom_menu_icon"></ion-icon>
       
      </ion-tab-button>
  

   
      <ion-tab-button tab="message">
       
       <ion-icon name="mail-outline"></ion-icon>
       <ion-badge *ngIf="msgcount!=0 && msgcount<100">{{msgcount}}</ion-badge>
       <ion-badge *ngIf="msgcount!=0 && msgcount>=100">99+</ion-badge>
       <p>Messages</p>
     </ion-tab-button>
  
      <ion-tab-button tab="relative-profile">
       
        <ion-icon name="person-outline"></ion-icon>
        <p>My Profile</p>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs> -->
</ion-app>
