ion-tabs {

    ion-tab-bar {
        height: 60px;
    }

    p {
        font-family: 'Google Sans';
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        margin-top: 5px;
        margin-bottom: 4px;
    }

}

.bottom_menu_icon {
    background-image: url('/assets/bottom_menu_icon.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

ion-badge {
    color: white;
    background-color: #e70d68;
    border-radius: 12px;
    padding: 2px 5px;
    font-size: 10px !important;
    font-weight: normal;
    position: absolute;
    top: 15px;
    right: -11px;
    max-width: fit-content;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedsicon {
    width: 20px;
}

// @media only screen and (min-width:320px) and (max-width:767px) {
//     ion-tabs {
//         p {
//             display: none;
//         }
//     }
// }

.feed-icon {
    background-image: url(/assets/feed-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 20px;
}


ion-tab-bar {

    ion-tab-button {
        --padding-top: 5px;
    }

    ion-tab-button.tab-selected {

        .feed-icon {
            background-image: url(/assets/feed-icon-selected.svg);
        }


        p {
            color: #0077b5
        }
        ion-icon{
            color: #0077b5
        }
    }

}

@media only screen and (min-width:360px) and (max-width:393px) {
    ion-tab-bar {

        ion-tab-button {
            --padding-top: 5px;
            --padding-end: 6px;
            --padding-bottom: 0;
            --padding-start: 7px;
            max-width: 168px;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 0.03em;
        }
    }
}