<ion-content>

  <p (click)="skip()" *ngIf="!menu.is_skipped">
    Skip
  </p>
  <p *ngIf="menu.is_skipped" (click)="skip()">Unskip</p>
 
  <p *ngIf="additional.item&&additional.item.length&&!additional.show" (click)="show(1)">Show additional items <ion-icon name="chevron-forward-outline"></ion-icon></p>
  <p *ngIf="additional.item&&additional.item.length&&additional.show" (click)="show(2)">Hide additional items</p>
  <p *ngIf="serve_area" (click)="chooseServingArea($event)">Dining area <ion-icon name="chevron-forward-outline"></ion-icon></p>

</ion-content>