.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(172, 164, 164, 0.1);
}

.play_icon {
  position: absolute;
  top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

ion-content {
  --padding-top: 15px !important;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 15px;
}
