.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  background: rgb(0 0 0 / 80%);
  border-radius: 10px;
}

.play_icon {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 0;
  font-size: 60px !important;
  width: inherit;
  margin-left: 0;
  margin-right: 0;
  color: #fff;
  text-align: center;
  z-index: 9999999999;
  float: none;
  transform: translate(50%, -50%);
}

ion-content {
  --padding-top: 15px !important;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 15px;
  --background:#efefef;
}

.media-items-block {
  ion-col {
    margin-bottom: 20px !important;

    .threesixty_video_card {
      padding: 20px !important;
      border: 1px solid #dfdfdf;
      box-shadow: none;
      height: 100%;

      .video_name {
        margin-top: 15px;
      }
    }
  }
}
