<ion-content>
    <!-- <div class="bg_color" > -->
       
                <ion-row style="margin-left: auto;margin-right: auto;margin-top:40%">
                    <ion-col size="2">
                  
                            <ion-button  size="large" class="play" fill="clear" (click)="playAudio()" *ngIf="play"><ion-icon name="play"></ion-icon> </ion-button>
                   
                    <!-- <ion-button slot="icon-only" size="large" class="pause" fill="clear" (click)="pauseAudio()" ><ion-icon name="pause"></ion-icon> </ion-button> -->
                   
                            <ion-button size="large" class="play" fill="clear" (click)="stopAudio()" *ngIf="!play"><ion-icon name="stop"></ion-icon> </ion-button>
                      
                    </ion-col>
                    <ion-col size="10">
                                <ion-range #range min="0.01" max="{{dur_play}}" class="audio-durtn" color="light">
                                    <!-- <ion-label slot="start">0</ion-label> -->
                                    <ion-label slot="end">{{duration}}</ion-label>
                                </ion-range>
                    </ion-col>
                   
                </ion-row>
        
    <!-- </div> -->
</ion-content>
