.c-audio{
    width: 90%;
    margin-top: 50%;
    margin-bottom: 40%;
    margin-left: 5%;
    color: #fff;
    background-color: #ff0651;
    display: block;
    // width: 34px;
    // height: 34px;
    // float: left;
    // background-position: 6px 5px;
    // margin-right: 5px;

}
.play{
    margin-top: 90%;
    margin-bottom: 40%;
    // margin-left: 5%;
    color: #fff;
    background-color: #ff0651;
    ion-icon{
        height: 42px;
        width: 42px;
    }
}
// .pause{
//     margin-top: 90%;
//     margin-bottom: 40%;
//     // margin-left: 5%;
//     color: #fff;
//     background-color: #ff0651;
// }
// .stop{
//     margin-top: 90%;
//     margin-bottom: 40%;
//     // margin-left: 5%;
//     color: #fff;
//     background-color: #ff0651;
// }

.player {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    bottom: 10px;
    width: 95%;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}
.container {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
    position: absolute;
    width: 427px;
    height: 70px;
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 
    // -webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    // -moz-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    // box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    top: 50%;
    left: 50%;
    margin: -214px 0px 0px -214px;
    padding: 10px;
 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
ion-content{
    --ion-background-color: #ff0651 !important;
}

.bg_color{
    width:100% !important;
    height: 100% !important;
    background-color: #ff0651;
}
.audio-durtn {
    width: 85%;
    margin-left: 20px;
    color:#fff;
    margin-top: 18%;
    .hydrated {
        padding: 0;
    }
}
ion-range.range-bar{
    background: rgb(185, 179, 179) !important;
    height: 5px !important;
}
ion-range.range_bar.range-bar-active{
    background: #fff !important;
    height: 5px !important;
}
ion-range.range-knob{
   height: 42px;
   width: 42px;
}
// input[type="range"] {
//     width: 250px;
//     margin-top: -5px;
// }
// input{
//     display:none\9!important;
// }
// input[type="range"] {
//     -webkit-appearance: none;
//     border: 1px solid white;
//     position: absolute;
//     top: 18px;
//     display: block;
//     width: 63%;
//     height: 15px;
 
//     -webkit-border-radius: 20px;
//     -moz-border-radius: 20px;
//     border-radius: 20px;
//     background-color: #fff;
//     left: 90px;
 
//     -webkit-box-shadow: inset 0px 4px 4px rgba(247, 242, 242, 0.6);
//     -moz-box-shadow: inset 0px 4px 4px rgba(247, 242, 242, 0.6);
//     box-shadow: inset 0px 4px 4px rgba(247, 242, 242, 0.6);
// }
 
// input::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     width: 20px;
//     height: 20px;
//     border:1px solid rgb(197, 194, 194);
 
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     background: #cabfbf; /* Old browsers */
// background: -webkit-linear-gradient(top, #cabfbf 0%, #dfd7d7 13%, #e9f0ef 33%, #cfd4d4 47%, #8c8d8d 80%, #888d8d 100%);
 
//     background: -moz-linear-gradient(top, #cabfbf 0%, #dfd7d7 13%, #e9f0ef 33%, #cfd4d4 47%, #8c8d8d 80%, #888d8d 100%);
//     background: -o-linear-gradient(top, #cabfbf 0%, #dfd7d7 13%, #e9f0ef 33%, #cfd4d4 47%, #8c8d8d 80%, #888d8d 100%);
//     background: linear-gradient(top, #cabfbf 0%, #dfd7d7 13%, #e9f0ef 33%, #cfd4d4 47%, #8c8d8d 80%, #888d8d 100%); /* W3C */
// }