.c-audio {
  width: 90%;
  margin-top: 50%;
  margin-bottom: 40%;
  margin-left: 5%;
  color: #fff;
  background-color: #ff0651;
  display: block;
}

.play {
  margin-top: 90%;
  margin-bottom: 40%;
  color: #fff;
  background-color: #ff0651;
}

.play ion-icon {
  height: 42px;
  width: 42px;
}

.player {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  bottom: 10px;
  width: 95%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}

.container {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  position: absolute;
  width: 427px;
  height: 70px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin: -214px 0px 0px -214px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

ion-content {
  --ion-background-color: #ff0651 !important;
}

.bg_color {
  width: 100% !important;
  height: 100% !important;
  background-color: #ff0651;
}

.audio-durtn {
  width: 85%;
  margin-left: 20px;
  color: #fff;
  margin-top: 18%;
}

.audio-durtn .hydrated {
  padding: 0;
}

ion-range.range-bar {
  background: #b9b3b3 !important;
  height: 5px !important;
}

ion-range.range_bar.range-bar-active {
  background: #fff !important;
  height: 5px !important;
}

ion-range.range-knob {
  height: 42px;
  width: 42px;
}
