<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{ser_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item&&flag==1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="item.itemdetailsall.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.itemdetailsall.item_name}} <span
            *ngIf="item.itemdetailsall.energy_joules">({{item.itemdetailsall.energy_joules}} KJ)</span></ion-label>

        <ion-row>







        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>




      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-bottom"
        *ngIf="item.itemdetailsall.description">

        <ion-label class="dining-fi-title">Description</ion-label>

        <p class="fi-description">{{item.itemdetailsall.description}}</p>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10"
        *ngIf="item.itemdetailsall.foodtexture&&item.itemdetailsall.foodtexture.length">
        <ion-label class="dining-inner-title">Texture</ion-label>
        
        <span class="textures-block">
          <div *ngFor="let i of item.itemdetailsall.foodtexture" [class]="i.fdtexture.color">
            {{i.fdtexture.food_texture}}
          </div>
        </span>
      
      </ion-col>



      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 mb-15"
        *ngIf="item.itemdetailsall.ingrediants&&item.itemdetailsall.ingrediants.length">
        <ion-label class="dining-inner-title">Ingredients</ion-label>

        <ng-container *ngFor="let ing of item.itemdetailsall.ingrediants">
          
          <span class="din-ingredients-list-block">
            <ion-label class="din-ingredients-list" *ngIf="ing.ingredient"><ion-icon name="ellipse-outline"></ion-icon>
              {{ing.ingredient.name}}
            </ion-label>
          </span>
          
        </ng-container>
      </ion-col>


      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 allergies-sec"
        *ngIf="item.itemdetailsall.alergies&&item.itemdetailsall.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let i of item.itemdetailsall.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
              [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'" [class.al-glutten]="i.alergy.alergy=='Gluten'"
              [class.al-lupin]="i.alergy.alergy=='Lupin'" [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
              [class.al-mustard]="i.alergy.alergy=='Mustard'" [class.al-peanut]="i.alergy.alergy=='Peanuts'"
              [class.al-sesame]="i.alergy.alergy=='Sesame'" [class.al-soy]="i.alergy.alergy=='Soya'"
              [class.al-sulphite]="i.alergy.alergy=='Sulphites'" [class.al-treenut]="i.alergy.alergy=='Treenuts'"
              [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>



        </div>



      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<ion-content *ngIf="item&&flag==2">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="item.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.item_name}}<span>({{item.energy_joules}}KJ)</span></ion-label>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-bottom" *ngIf="item.description">

        <ion-label class="dining-fi-title">Description</ion-label>

        <p class="fi-description">{{item.description}}</p>

      </ion-col>



    </ion-row>

  </ion-grid>



</ion-content>