<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons mode="md" slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/menu']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Newsletter</ion-title>
    <ion-button slot="end" fill="clear" (click)="search()" *ngIf="!hide">
      <img src="assets/lens_icon.svg">
    </ion-button>
  </ion-toolbar>
  <ion-searchbar *ngIf="hide" no-padding color="none" placeholder="search" search-icon="none" class="resource_search" [(ngModel)]="terms"
    (ionCancel)="cancel()" ></ion-searchbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ng-container *ngIf="news.length&&(news| messagesearch : terms) as result">


  <ion-card class="newsletter_card no_padding_inline" *ngFor="let item of news| messagesearch : terms" (click)="openDoc(item)">

    <ion-row style="flex-wrap:nowrap" class="nl-row" >

      <ion-col size="12">
     
        <img class="newsletter-icon" src="/assets/menu/new-icons/newsletter.svg">
   
        <ion-label>{{item.name}}
          <span>{{item.updated_at.substr(0,10) | dateformat:'DD MMM yyyy'}}</span>
        </ion-label>

       


        <!-- <ion-icon class="nl-mo-icon" name="ellipsis-vertical" (click)="downloadLetter(item,$event); $event.stopPropagation()"></ion-icon> -->

        <ion-icon class="go-to-nl-inner-icon" name="chevron-forward-outline"></ion-icon>

      </ion-col>


    </ion-row>

  </ion-card>

  <div *ngIf="result.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-newsletter.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Newsletters Found.</ion-label>
    </ion-item>
  </div>


</ng-container>

 
  <div *ngIf="news.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-newsletter.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Newsletters Found.</ion-label>
    </ion-item>
  </div>

  
</ion-content>