@media (min-width: 1024px) {
  ion-card {
    padding: 15px 20px !important;
  }
}

.newsletter_card .nl-row {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
}

.nl-options-container {
  display: flex;
}

.nl-options-container ion-button {
  position: absolute;
  right: 0px;
  align-self: center;
  vertical-align: middle;
  display: flex;
  --background: #dbecff;
  --box-shadow: none;
  --border-radius: 50px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  margin: 0px;
  width: 40px;
  height: 40px;
  --background-activated: #aecff5;
  --background-activated-opacity: 1;
  --color-activated: #fff;
  --color: #4b7ab1;
}

.nl-options-container ion-button:nth-of-type(2) {
  right: 0px;
}

.nl-options-container ion-button ion-icon {
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .newsletter_icon {
    background-image: url(/assets/tab-icons/newsletter_icon.svg);
    background-repeat: no-repeat !important;
    width: 34px !important;
    height: 34px !important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (orientation: portrait) {
  .newsletter_card ion-label {
    max-width: 180px;
    white-space: break-spaces;
    word-break: break-word;
  }
}

@media only screen and (min-width: 375px) and (max-width: 375px) and (orientation: portrait) {
  .newsletter_card ion-label {
    max-width: 193px;
    white-space: break-spaces;
    word-break: break-word;
  }
}

@media only screen and (min-width: 393px) and (max-width: 393px) and (orientation: portrait) {
  .newsletter_card ion-label {
    max-width: 205px;
    white-space: break-spaces;
    word-break: break-word;
  }
}
