.inner-header-1 {
    ion-buttons {
        // align-self: flex-start;
        margin-left: -5px;
    }

    ion-button {
        margin-right: -5px;
    }
}

ion-content {
    --padding-top: 10px;
    --background: #efefef;
}

@media (min-width: 1024px) {
    ion-card {
        padding: 15px 20px !important;
    }
}

// }
// ion-label{
//     margin-left: 15px;

// }


.newsletter_card {
    .nl-row {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
}


.nl-options-container {
    display: flex;

    ion-button {
        margin: 0px;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0px;
        align-self: center;
        vertical-align: middle;
        display: flex;
        --background: rgb(0 119 181 / 10%);
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --background-activated: #0077b5;
        --background-activated-opacity: 1;
        --color-activated: #fff;
        --color: #0077b5;

        &:nth-of-type(2) {
            right: 0px;
        }

        ion-icon {
            font-size: 25px;
            // color: #4b7ab1;
        }

    }

}


@media screen and (min-width:768px) {
    .newsletter_icon {
        background-image: url(/assets/tab-icons/newsletter_icon.svg);
        background-repeat: no-repeat !important;
        width: 34px !important;
        height: 34px !important;
    }

    .newsletter_card {
        .nl-row {
            ion-col {
                .newsletter-icon {
                    width: 40px !important;
                    vertical-align: middle;
                }
            }
        }
    }
}




@media only screen and (min-width:360px) and (max-width:360px) and (orientation:portrait) {
    .newsletter_card {
        ion-label {
            max-width: 180px;
            white-space: break-spaces;
            word-break: break-word;
        }
    }
}

@media only screen and (min-width:375px) and (max-width:375px) and (orientation:portrait) {
    .newsletter_card {
        ion-label {
            max-width: 193px;
            white-space: break-spaces;
            word-break: break-word;
        }
    }
}

@media only screen and (min-width:393px) and (max-width:393px) and (orientation:portrait) {
    .newsletter_card {
        ion-label {
            max-width: 205px;
            white-space: break-spaces;
            word-break: break-word;
        }
    }
}

.newsletter_card {
    .newsletter-icon {
        width: 80px;
        vertical-align: middle;
    }
}

.newsletter_card {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    .nl-row {
        ion-col {
            display: flex;
            align-items: center;

            .newsletter-icon {
                width: 32px;
                vertical-align: middle;
            }

            ion-label {
                padding-right: 15px;
            }

            .nl-mo-icon {
                font-size: 25px;
                color: #8a8a8a;
                vertical-align: middle;
                margin-left: auto;
            }

            .go-to-nl-inner-icon {
                font-size: 25px;
                color: #8a8a8a;
                vertical-align: middle;
                margin-left: 15px;
            }

        }
    }
}

.resource_search {
    // box-shadow: none;
    // border-bottom: 1px solid #fff;
    // width: 95%;
    // margin-left: 0;
    // margin-right: 0;
    box-shadow: none;
    width: 95%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    color: #222 !important;
    border-radius: 10px;
    padding-inline-start: 0;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width:768px) {
    .resource_search {
        width: 98% !important;
    }

}