<ion-content >
  
  <div class="main-content-wrapper">
    
    <ion-card class="blank-card">
      <ion-icon name="close-outline" class="close" (click)="dismiss()"></ion-icon>
      <ion-item class="main-container"  lines="none" color="none">

        <img src="/assets/health.svg" style="height: 200px;
                  margin-left: auto;
                  margin-right: auto;">

      </ion-item>



      <ion-grid>

        <ion-row>

          <ion-col size="12" class="vd-form">

            <ion-label class="f-thanks-head">{{name}}</ion-label>

            <span class="confirm-text-container mx-500" style="text-align: center;">

              <p style="font-size: 22px;">Something is not right with your health declaration.</p>

            </span>
            <span class="confirm-text-container mx-500" style="font-size: 22px;color:#0077b5;text-align: center;font-weight: 500;">

              <p>Please contact reception</p>

            </span>

            <ion-button class="confirm-btn" (click)="close()">Back to home</ion-button>

          </ion-col>

        </ion-row>

      </ion-grid>



    </ion-card>

  </div>



</ion-content>