ion-card {
  height: auto;
  padding: 25px;
  overflow-y: auto;
}

ion-card .logo-container {
  float: left;
}

ion-card .logo-container img {
  width: 180px;
  max-width: 100%;
}

ion-card .date-time-container {
  float: right;
}

ion-card .date-time-container ion-datetime {
  font-size: 16px;
  color: #707070;
}

ol li {
  font-size: 18px;
  color: #313131;
  margin-bottom: 20px;
}

.thanks {
  font-size: 19px;
  font-weight: 700;
}

.font-18 {
  font-size: 18px;
}

.bold-19 {
  font-size: 19px;
  font-weight: 700;
}

.confirm-text-container {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.confirm-text-container p {
  display: flex;
  font-size: 22px;
  margin: 5px auto;
  line-height: 36px;
}

.confirm-text-container p .visitor-name {
  color: #313131;
  margin-left: 5px;
}

.confirm-btn {
  font-size: 20px;
  font-weight: normal;
  --background: #0077b5;
  --border-radius: 50px;
  --box-shadow: none !important;
  height: 50px;
  text-transform: capitalize;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 40px;
}

.mx-500 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.f-thanks-head {
  font-size: 26px;
  font-weight: 500;
  color: #313131;
  text-align: center;
  display: block;
  margin-top: 60px;
  margin-bottom: 30px;
}

.close {
  font-size: 35px;
  margin-left: 95%;
}

ion-modal {
  --width: 100vw !important;
  --height: 100vh !important;
}

ion-modal#ion-overlay-2 {
  --width: 100vw !important;
  --height: 100vh !important;
}

.show-modal {
  --width: 100vw !important;
  --height: 100vh !important;
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
