<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/activities']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Activity Details</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content style="--background: transparent;">

  <ion-card class="detail_act_card">

    <ion-grid class="detail_act_grid">
      <ion-row>

        <ion-col style="max-width: fit-content;">
          <ion-item class="item_one" lines="none" color="none">
            <ion-label class="detail_act_day">{{day}}</ion-label>
            <ion-label class="detail_act_month_year">{{month}}<span>{{year}}</span></ion-label>
          </ion-item>
        </ion-col>

        <ion-col>

          <div class="item_two" lines="none" color="none">

            <ion-label class="detail_act_time">{{activity.start_time}}{{"-"}}{{activity.end_time}}</ion-label>

            <span class="assigned-tag" *ngIf="assigned">

              <ion-icon name="ellipse"></ion-icon>
              <ion-label>Assigned</ion-label>

            </span>

          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

    <!-- <ion-grid class="no-padding top-right-pos">

      <ion-row>

        <ion-col size="12">

          <span class="assigned-tag" *ngIf="assigned">

            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Assigned</ion-label>

          </span>

        </ion-col>

      </ion-row>

    </ion-grid> -->

    <ion-item lines="none" color="none">
      <ion-icon class="activity_location_icon" *ngIf="activity.venue!=null"></ion-icon>
      <ion-label class="activity_location" *ngIf="activity.venue!=null">{{activity.venue}}</ion-label>

      <!-- <ion-icon class="social_icon" *ngIf="type.type_name=='Social'"></ion-icon>
      <ion-icon class="physical_icon" *ngIf="type.type_name=='Physical'"></ion-icon>
      <ion-icon class="trip_icon" *ngIf="type.type_name=='Trip'"></ion-icon>
      <ion-icon class="meeting_icon" *ngIf="type.type_name=='Meeting'"></ion-icon>
      <ion-icon class="event_icon" *ngIf="type.type_name=='Event'"></ion-icon> -->
      <ion-chip class="social_icon" *ngIf="type.type_name=='Social'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="physical_icon" *ngIf="type.type_name=='Physical'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="trip_icon" *ngIf="type.type_name=='Trip'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="meeting_icon" *ngIf="type.type_name=='Meeting'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="event_icon" *ngIf="type.type_name=='Event'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="spiritual_icon" *ngIf="type.type_name=='Spiritual'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="cognitive_icon" *ngIf="type.type_name=='Cognitive'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="entertainment_icon" *ngIf="type.type_name=='Entertainment'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="emotional_icon" *ngIf="type.type_name=='Emotional'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="other_icon" *ngIf="type.type_name=='Other'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>


    </ion-item>

    <!-- <ion-icon class="assigned" name="checkmark-outline" *ngIf="assigned"></ion-icon> -->

    <ion-item lines="none" color="none">
      <ion-label text-wrap class="detail_activity_head">{{activity.title}}</ion-label>
    </ion-item>
    <!-- <ion-card-content class="activity_description" [innerHTML]="activity.activity_info" (click)="videocall(activity.activity_info,$event)">
     
    </ion-card-content> -->
    <div class="activity_description" [innerHTML]="activity.activity_info"
      (click)="videocall(activity.activity_info,$event)">

    </div>


    <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,1)" *ngIf="image.length>0">

      <!-- <img src="assets/activity-image1.jpg"> -->

      <ion-row class="smc-sec">
        <ion-row class="story-media-container" *ngIf="image.length==1">
          <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image && image.length ">
        </ion-row>


        <ion-row class="story-media-container smc-1" *ngIf="image.length>1">
          <ion-col>
            <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image &&image.length">
          </ion-col>
        </ion-row>

        <ion-row class="story-media-container smc-2" *ngIf="image.length>1">
          <ion-col *ngIf="image.length>=2">
            <img [src]="image[1].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=3">
            <img [src]="image[2].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=4">
            <img [src]="image[3].activity_image" *ngIf="image && image.length">
            <div class="myOverlay" *ngIf="image.length>4"></div>
            <div class="num_badge" *ngIf="image.length>4">+{{image.length-4}}</div>
          </ion-col>
        </ion-row>

      </ion-row>

    </ion-item>
    <ion-item lines="none" color="none" *ngFor="let item of doc" (click)="openDoc(item)">
      <!-- <ion-icon name="attach-outline"></ion-icon> -->
      <ion-icon class="input_paperclip"></ion-icon>
      <ion-label class="act_attachment_name">{{item.title}}</ion-label>
    </ion-item>

    <ion-label class="activity-more-images-title" *ngIf="photos.length>0">Photos</ion-label>

    <ion-row class="activity-more-images-block" (click)="showImages($event,2)" *ngIf="photos.length>0">

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=1">
        <img [src]="photos[0].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=2">
        <img [src]="photos[1].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=3">
        <img [src]="photos[2].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=4">
        <img [src]="photos[3].image">
        <div class="act-more-img-overlay" *ngIf="photos.length>41">+{{photos.length-4}}</div>
      </ion-col>

      <!-- <ion-col size="6" size-sm="6" size-md="4" size-lg="4">
        <img src="https://images.pexels.com/photos/10135572/pexels-photo-10135572.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="4">
        <img src="https://images.pexels.com/photos/10203840/pexels-photo-10203840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="4">
        <img src="https://images.pexels.com/photos/7224255/pexels-photo-7224255.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-col> -->

    </ion-row>

  </ion-card>

</ion-content>