<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/activities']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Activity Details</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content style="--background: transparent;">

  <!-- <ion-card class="detail_act_card">

    <ion-grid class="detail_act_grid">
      <ion-row>

        <ion-col style="max-width: fit-content;">
          <ion-item class="item_one" lines="none" color="none">
            <ion-label class="detail_act_day">{{day}}</ion-label>
            <ion-label class="detail_act_month_year">{{month}}<span>{{year}}</span></ion-label>
          </ion-item>
        </ion-col>

        <ion-col>

          <div class="item_two" lines="none" color="none">

            <ion-label class="detail_act_time">{{activity.start_time}}{{"-"}}{{activity.end_time}}</ion-label>

            <span class="assigned-tag" *ngIf="assigned">

              <ion-icon name="ellipse"></ion-icon>
              <ion-label>Assigned</ion-label>

            </span>

          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-item lines="none" color="none">
      <ion-icon class="activity_location_icon" *ngIf="activity.venue!=null"></ion-icon>
      <ion-label class="activity_location" *ngIf="activity.venue!=null">{{activity.venue}}</ion-label>

      <ion-chip class="social_icon" *ngIf="type.type_name=='Social'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="physical_icon" *ngIf="type.type_name=='Physical'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="trip_icon" *ngIf="type.type_name=='Trip'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="meeting_icon" *ngIf="type.type_name=='Meeting'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="event_icon" *ngIf="type.type_name=='Event'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="spiritual_icon" *ngIf="type.type_name=='Spiritual'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="cognitive_icon" *ngIf="type.type_name=='Cognitive'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="entertainment_icon" *ngIf="type.type_name=='Entertainment'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="emotional_icon" *ngIf="type.type_name=='Emotional'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="other_icon" *ngIf="type.type_name=='Other'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>


    </ion-item>

    <ion-item lines="none" color="none">
      <ion-label text-wrap class="detail_activity_head">{{activity.title}}</ion-label>
    </ion-item>

    <div class="activity_description" [innerHTML]="activity.activity_info"
      (click)="videocall(activity.activity_info,$event)">

    </div>


    <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,1)" *ngIf="image.length>0">

      <ion-row class="smc-sec">
        <ion-row class="story-media-container" *ngIf="image.length==1">
          <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image && image.length ">
        </ion-row>


        <ion-row class="story-media-container smc-1" *ngIf="image.length>1">
          <ion-col>
            <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image &&image.length">
          </ion-col>
        </ion-row>

        <ion-row class="story-media-container smc-2" *ngIf="image.length>1">
          <ion-col *ngIf="image.length>=2">
            <img [src]="image[1].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=3">
            <img [src]="image[2].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=4">
            <img [src]="image[3].activity_image" *ngIf="image && image.length">
            <div class="myOverlay" *ngIf="image.length>4"></div>
            <div class="num_badge" *ngIf="image.length>4">+{{image.length-4}}</div>
          </ion-col>
        </ion-row>

      </ion-row>

    </ion-item>
    <ion-item lines="none" color="none" *ngFor="let item of doc" (click)="openDoc(item)">
      <ion-icon class="input_paperclip"></ion-icon>
      <ion-label class="act_attachment_name">{{item.title}}</ion-label>
    </ion-item>

    <ion-label class="activity-more-images-title" *ngIf="photos.length>0">Photos</ion-label>

    <ion-row class="activity-more-images-block" (click)="showImages($event,2)" *ngIf="photos.length>0">

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=1">
        <img [src]="photos[0].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=2">
        <img [src]="photos[1].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=3">
        <img [src]="photos[2].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=4">
        <img [src]="photos[3].image">
        <div class="act-more-img-overlay" *ngIf="photos.length>41">+{{photos.length-4}}</div>
      </ion-col>

    </ion-row>

  </ion-card> -->

  <!-- <ion-card class="detail_act_card act-social-card">

    <ion-grid class="detail_act_grid">

      <ion-row>

        <ion-col style="max-width: fit-content;">

          <ion-item class="item_one" lines="none" color="none">
            <ion-label class="detail_act_day">26</ion-label>
            <ion-label class="detail_act_month_year">May<span>2022</span></ion-label>
          </ion-item>

        </ion-col>

        <ion-col>

          <div class="item_two" lines="none" color="none">

            <ion-label class="detail_act_time">09:30 AM - 10:00 AM</ion-label>

            <span class="assigned-tag" *ngIf="assigned">

              <ion-icon name="ellipse"></ion-icon>
              <ion-label>Assigned</ion-label>

            </span>

          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-item lines="none" color="none">
      <ion-icon class="activity_location_icon" *ngIf="activity.venue!=null"></ion-icon>
      <ion-label class="activity_location" *ngIf="activity.venue!=null">{{activity.venue}}</ion-label>

      <ion-chip class="social_icon" *ngIf="type.type_name=='Social'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="physical_icon" *ngIf="type.type_name=='Physical'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="trip_icon" *ngIf="type.type_name=='Trip'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="meeting_icon" *ngIf="type.type_name=='Meeting'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="event_icon" *ngIf="type.type_name=='Event'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="spiritual_icon" *ngIf="type.type_name=='Spiritual'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="cognitive_icon" *ngIf="type.type_name=='Cognitive'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="entertainment_icon" *ngIf="type.type_name=='Entertainment'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="emotional_icon" *ngIf="type.type_name=='Emotional'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>
      <ion-chip class="other_icon" *ngIf="type.type_name=='Other'">
        <i class="{{type.icon}}" style="margin-right:3px"></i>
        <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

        <ion-label>{{type.type_name}}</ion-label>
      </ion-chip>


    </ion-item>

    <ion-item lines="none" color="none">
      <ion-label text-wrap class="detail_activity_head">Eiusmod cillum minim non tempor ex magna ullamco.</ion-label>
    </ion-item>

    <div class="activity_description" [innerHTML]="activity.activity_info"
      (click)="videocall(activity.activity_info,$event)">

    </div>


    <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,1)" *ngIf="image.length>0">

     

      <ion-row class="smc-sec">
        <ion-row class="story-media-container" *ngIf="image.length==1">
          <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image && image.length ">
        </ion-row>


        <ion-row class="story-media-container smc-1" *ngIf="image.length>1">
          <ion-col>
            <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image &&image.length">
          </ion-col>
        </ion-row>

        <ion-row class="story-media-container smc-2" *ngIf="image.length>1">
          <ion-col *ngIf="image.length>=2">
            <img [src]="image[1].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=3">
            <img [src]="image[2].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=4">
            <img [src]="image[3].activity_image" *ngIf="image && image.length">
            <div class="myOverlay" *ngIf="image.length>4"></div>
            <div class="num_badge" *ngIf="image.length>4">+{{image.length-4}}</div>
          </ion-col>
        </ion-row>

      </ion-row>

    </ion-item>
    <ion-item lines="none" color="none" *ngFor="let item of doc" (click)="openDoc(item)">
      
      <ion-icon class="input_paperclip"></ion-icon>
      <ion-label class="act_attachment_name">{{item.title}}</ion-label>
    </ion-item>

    <ion-label class="activity-more-images-title" *ngIf="photos.length>0">Photos</ion-label>

    <ion-row class="activity-more-images-block" (click)="showImages($event,2)" *ngIf="photos.length>0">

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=1">
        <img [src]="photos[0].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=2">
        <img [src]="photos[1].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=3">
        <img [src]="photos[2].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngIf="photos.length>=4">
        <img [src]="photos[3].image">
        <div class="act-more-img-overlay" *ngIf="photos.length>41">+{{photos.length-4}}</div>
      </ion-col>

     

    </ion-row>

  </ion-card> -->


  <ion-card class="act-detail-card">

    <div class="card-header-block">

      <ion-row>

        <ion-col class="col_fit">
          <div class="activity-date-block">
            <ion-label class="adb-date"> {{day}} </ion-label>
            <ion-label class="adb-my-sec">
              <span class="adb-month">{{month}}</span>
              <span class="adb-year">{{year}}</span>
            </ion-label>
          </div>
        </ion-col>

        <ion-col>
          <div class="act-other-info">
            <ion-label class="act-time-sec">
              <ion-icon class="at-icon" name="time-outline"></ion-icon>
              {{activity.start_time}}{{"-"}}{{activity.end_time}}
            </ion-label>

            <span class="assigned-tag" *ngIf="assigned">

              <ion-icon name="ellipse"></ion-icon>
              <ion-label>Assigned</ion-label>

            </span>

            <!-- <div class="aoi-sub-sec">

              <span class="assigned-tag-1">
                <ion-icon name="ellipse"></ion-icon>
                <ion-label>Assigned</ion-label>
              </span>

              <span class="activity-cost">$50</span>

            </div> -->

          </div>
        </ion-col>

      </ion-row>

    </div>

    <div class="card-content-block">

      <ion-row class="mt-20 mb-10">

        <ion-col size="12">
          <ion-label class="activity-name">{{activity.title}}</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="dflex-ai-c">
        <ion-col size="8" *ngIf="activity.venue!=null">
          <ion-label class="al-label" >
            <ion-icon class="al-icon" name="location-outline"></ion-icon>
            {{activity.venue}}
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-chip [class.social-icon]="type.type_name=='Social'" [class.physical-icon]="type.type_name=='Physical'"
            [class.trip-icon]="type.type_name=='Trip'" [class.meeting-icon]="type.type_name=='Meeting'"
            [class.event-icon]="type.type_name=='Event'" [class.spiritual-icon]="type.type_name=='Spiritual'"
            [class.cognitive-icon]="type.type_name=='Cognitive'"
            [class.entertainment-icon]="type.type_name=='Entertainment'"
            [class.emotional-icon]="type.type_name=='Emotional'" [class.other-icon]="type.type_name=='Other'">
            <ion-label>{{type.type_name}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="dflex-ai-c mt-10">

        <ion-col size="6">
          <ion-label class="participant-limit">
            Participant limit
            <span class="pl-count">30</span>
          </ion-label>
        </ion-col>

        <ion-col size="6">
          <ion-label class="assigned-label">
            Assigned
            <span class="assigned-count">30</span>
          </ion-label>
        </ion-col>

        <ion-col size="6">
          <ion-label class="waiting-list">
            Waiting list
            <span class="wl-count">2</span>
          </ion-label>
        </ion-col>

      </ion-row> -->

      <ion-row class="mt-10">

        <ng-container *ngIf="activity.rv_details&&rvsettings==1">
          <ion-col size="6">
            <ion-label class="available-slots">
              Available slots
              <span class="as-count">{{activity.rv_details.slot_limit-signupcount}} <span>({{signupcount}} others
                  attending)</span></span>
            </ion-label>
          </ion-col>

          <ion-col size="6" *ngIf="activity.rv_details&&activity.rv_details.paid_activity==1">
            <ion-label class="cost-sec">
              Cost
              <span class="cost">${{activity.rv_details.cost}} <span>Per person</span></span>
            </ion-label>
          </ion-col>

          <ion-col size="12" *ngIf="waitinglist">
            <!-- <ion-button class="signup-btn">Sign up</ion-button> -->
            <!-- <ion-button class="awl-btn">Add to waiting list</ion-button> -->
            <!-- <ion-label class="signed-up">Signed up</ion-label> -->
            <ion-label class="wl">You are in waiting list</ion-label>
          </ion-col>
        </ng-container>
        <!-- <ion-col size="12" (click)="showImages($event,1)" *ngIf="image.length>0">
          <img class="activity-thumb-img" src="https://images.pexels.com/photos/9485465/pexels-photo-9485465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </ion-col> -->

      </ion-row>

      <div class="activity_description" [innerHTML]="activity.activity_info"
        (click)="videocall(activity.activity_info,$event)">

      </div>


      <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,1)" *ngIf="image.length>0">

        <ion-row class="smc-sec">
          <ion-row class="story-media-container" *ngIf="image.length==1">
            <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image && image.length ">
          </ion-row>


          <ion-row class="story-media-container smc-1" *ngIf="image.length>1">
            <ion-col>
              <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image &&image.length">
            </ion-col>
          </ion-row>

          <ion-row class="story-media-container smc-2" *ngIf="image.length>1">
            <ion-col *ngIf="image.length>=2">
              <img [src]="image[1].activity_image" *ngIf="image && image.length">
            </ion-col>
            <ion-col *ngIf="image.length>=3">
              <img [src]="image[2].activity_image" *ngIf="image && image.length">
            </ion-col>
            <ion-col *ngIf="image.length>=4">
              <img [src]="image[3].activity_image" *ngIf="image && image.length">
              <div class="myOverlay" *ngIf="image.length>4"></div>
              <div class="num_badge" *ngIf="image.length>4">+{{image.length-4}}</div>
            </ion-col>
          </ion-row>

        </ion-row>

      </ion-item>
      <ion-item lines="none" color="none" *ngFor="let item of doc" (click)="openDoc(item)">
        <ion-icon class="input_paperclip"></ion-icon>
        <ion-label class="act_attachment_name">{{item.title}}</ion-label>
      </ion-item>

      <ion-label class="activity-more-images-title" *ngIf="photos.length>0">Photos</ion-label>

      <ion-row class="activity-more-images-block" (click)="showImages($event,2)" *ngIf="photos.length>0">

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=1">
          <img [src]="photos[0].image">
        </ion-col>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=2">
          <img [src]="photos[1].image">
        </ion-col>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=3">
          <img [src]="photos[2].image">
        </ion-col>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=4">
          <img [src]="photos[3].image">
          <div class="act-more-img-overlay" *ngIf="photos.length>41">+{{photos.length-4}}</div>
        </ion-col>

      </ion-row>

    </div>

  </ion-card>

</ion-content>