<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: #fff;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Choose Time</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content class="ion_content_style">


  <ion-item lines="none" color="none">
    <ion-label class="activity_date_head">
      {{month}} <span>{{year}}</span></ion-label>
  </ion-item>
  <hr class="underline">

  <ion-item class="cb-date-range-slider" style="margin: 25px 0;--inner-padding-end: 0; --padding-start: 0;" lines="none" color="none" ion-no-padding>
    <ion-icon class="left_arrow" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
   

    <ion-row text-center  ion-no-padding class="mlr_auto week_container">
      <ion-col  ion-no-padding >
      <ion-slides [options]="slideOptsOne" #slideWithNav  (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide *ngFor="let item of sliderOne.week; let idx = index" style="width: fit-content;">
          <ion-card [class.date_card]="idx != currentDate" ion-no-padding  (click)="setDate(item,idx)" [class.current_date]="idx === currentDate">
            <ion-item lines="none" color="none">
              <ion-label class="activity_date">
                {{item.day}}
                <span>{{item.date}}</span>
              </ion-label>
            </ion-item>
          </ion-card>
         </ion-slide>
      </ion-slides>
      </ion-col>
    </ion-row>

    <ion-icon class="right_arrow" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
  
  </ion-item>



  <ion-item style="margin-top:20px;" lines="none" color="none">

    <ion-label class="call_booking_availability">
      Available Booking Times for
      <!-- <span>Friday, Jul 23, 2020</span> -->
      <span>{{date_1 | dateformat: 'dddd, MMM DD, yyyy'}}</span>
    </ion-label>

  </ion-item>

  <ion-item lines="none" color="none" class="choose-time-slot">
    <ion-select style="opacity: 1;" class="mlr_auto" [(ngModel)]="duration" (ionChange)="selectDuration()">
      <ion-select-option value="30">30 Minutes</ion-select-option>
      <ion-select-option value="60">60 Minutes</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>


    <ion-row class="available_time">

      <!-- <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngFor="let item of slots">

        <ion-label class="disable">
          {{slot}}
        </ion-label>

      </ion-col> -->

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngFor="let item of slot" (click)="bookcall(item)">

        <ion-label [class.disable]="item.disable" [class.selected_slot]="sel_slot==item.slot">
          {{item.slot}}
        </ion-label>

      </ion-col>

      <!-- <ion-col size-sm="4" size-md="4" size-lg="3" size="4">

        <ion-label>
          09:00 am
        </ion-label>

      </ion-col>

    


      <ion-col size-sm="4" size-md="4" size-lg="3" size="4">

        <ion-label>
          09:30 am
        </ion-label>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4">

        <ion-label>
          10:00 am
        </ion-label>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4">

        <ion-label>
          01:30 am
        </ion-label>

      </ion-col> -->

    </ion-row>


  </ion-grid>


</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar (click)="continue()">
    <ion-button class="publish-btn" expand="block">Continue &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
