ion-content {
    --background: #eee;
}

.week_container {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-y: hidden;
    overflow-x: scroll !important;

    ::-webkit-scrollbar {
        display: none !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
    .activity_date span {
        font-size: 22px !important;
    }
}

.publish-btn {
    --background: #0077b5;
    --border-radius: 50px;
    --padding-start: 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    --box-shadow: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    height: 45px;
    max-width: fit-content;
}

@media only screen and (min-width: 768px) {
    .publish-btn {
        max-width: fit-content;
    }
}

.selected_slot {
    background-color: #0b6a00;
    color: #fff;
}

.activity_date_head {
    padding-top: 0;
}

@media only screen and (min-width: 768px) {
    .cb-date-range-slider {
        margin: 25px auto !important;
        max-width: fit-content !important;
    }

    .available_time {
        display: flex;
        align-items: center;
        justify-content: center;
        
        ion-col {
            max-width: fit-content !important;
            min-width: 150px;

            ion-label {
                padding: 15px !important;
                margin: 10px !important;
            }
        }
    }
}
