.week_container {
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
  overflow-y: hidden;
  overflow-x: scroll !important;
}

.week_container ::-webkit-scrollbar {
  display: none !important;
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  .activity_date span {
    font-size: 22px !important;
  }
}

.publish-btn {
  --background: #0077b5;
  --border-radius: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  --box-shadow: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: normal;
  height: 45px;
}
