<ion-content>

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <ion-label class="page-title">
            Additional visitor details
          </ion-label>

          <span class="person-count">Person {{count_num}}</span>

        </ion-col>

        <ion-col size="12" class="mt-30">

          <ion-label class="cblack">Full name<span class="red-asterisk">*</span></ion-label>

          <ion-input [(ngModel)]="name"></ion-input>

          <ion-label class="cblack">Phone number<span class="red-asterisk">*</span></ion-label>

          <ion-input type="tel" [(ngModel)]="phone"></ion-input>

          <ion-label class="cblack" *ngIf="addressStatus==1">Address<span class="red-asterisk">*</span></ion-label>

          <ion-textarea *ngIf="addressStatus==1" rows="6" [(ngModel)]="address"></ion-textarea>

          <!-- <ion-button class="nxt-btn" (click)="getDetails()">Next</ion-button> -->

        </ion-col>


      </ion-row>

    </ion-grid>

  </div>



</ion-content>


<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" (click)="back()">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="getDetails()" [disabled]="disable">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>



  </ion-grid>

</ion-footer>