ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.main-content-wrapper {
    align-self: center;
    display: flex;
    float: left;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin-top: 0px !important;
    overflow-y: scroll;

    .page-title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }

    .person-count {
        font-size: 17px;
        font-weight: 500;
        color: #6c6c6c;
    }

    ion-input {
        background: #efefef;
        border-radius: 6px;
        --padding-top: 10px !important;
        --padding-end: 10px !important;
        --padding-bottom: 10px !important;
        --padding-start: 10px !important;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #222;
    }

    .nxt-btn {
        --background: #dbecff;
        --border-radius: 50px;
        --box-shadow: none;
        color: #0077b5;
        text-transform: none;
        letter-spacing: normal;
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (min-width: 768px) {
    .main-content-wrapper {
        width: 50%;
        margin: 0 auto;
        float: none;
        display: flex !important;
        align-content: unset;
    }
}

ion-textarea {
    color: #222;
}