<ion-content>
  
  <img [src]="pic" style="height: 100%;width: 100%;margin-top: 0px;">
  <div class="myOverlay" ></div>
  <div class="calling">
    <ion-item lines="none" color="none" style="width: 100%;"  >
    
      <ion-label style="width: 100%;text-align: center;font-size: 20px;color: #fff;">{{title}}</ion-label>
    </ion-item>
    <ion-item lines="none" color="none" style="width: 100%;margin-top: 10px;"  >
      <ion-label style="width: 100%;text-align: center;font-size: 14px;color: #fff;">Calling...</ion-label>
    </ion-item>
  </div>

  <ion-row class="call_end_btn">
  <ion-col>
    <ion-icon class="call_btn" src="/assets/call_answer_btn.svg" (click)="call()"></ion-icon>
  </ion-col>
  <ion-col>
    <ion-icon class="call_btn" src="/assets/call_end_btn.svg" (click)="endCall()"></ion-icon>
  </ion-col>
</ion-row>
</ion-content>
