.call_end_btn {
   width: 100%;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    z-index: 99999;
    margin-left: auto;
    margin-right: auto;
}
.call_answer_btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    z-index: 99999;
    margin-left: auto;
    margin-right: auto;
}
.call_btn{
    width: 60px;
    height: 60px;
}
ion-col{
    align-items: center !important;
    text-align: center !important;
    align-content: center !important;
}


.top-video{
    position: absolute;
    top: 50px;
    right: 50px;
    max-width: 100px;
    height: 150px;
    z-index: 2;
    // background: aquamarine;
}

.main-video{
    // width: 100%;
    // max-height: 70%;
    width: auto;
    height: 100vh;
}


.myOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: rgba(0,0,0,0.6);
  
    // color: #fff;
  
  }

  .calling{
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 99999;
    
}