<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons mode="md" slot="start">
      <ion-back-button style="color: white;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Messages</ion-title>
    <ion-button slot="end" fill="clear" (click)="search()" *ngIf="!hide">
      <img src="assets/lens_icon.svg">
    </ion-button>
  </ion-toolbar>

  <ion-searchbar *ngIf="hide" no-padding color="none" placeholder="Search" search-icon="none" class="resource_search" [(ngModel)]="terms"
    (ionCancel)="cancel()" ></ion-searchbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content *ngIf="chat.length==0">

  <ion-card class="message_card">

    <ion-item lines="none" color="none">
      <ion-label class="greeting_username">Hi{{" "}}{{name}}
        <span>Start messaging now!!</span>
      </ion-label>
    </ion-item>

    <div class="btn_align_center">
      <ion-button class="create_message_btn" [routerLink]="['/createmessage']">Create Message</ion-button>
    </div>

  </ion-card>

</ion-content>



<ion-content class="chatlist_content" *ngIf="chat.length!=0">

  

  <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;" *ngIf="chat.length>0 && ( chat | messagesearch : terms) as result">

    <ion-row class="mb-8 single-chat-item" *ngFor="let item of chat | messagesearch : terms" (click)="openChat(item)">

      <ion-col class="col_fit">
        <ion-avatar>
          <img [src]="item.pic">
        </ion-avatar>
        <span class="sender_type" *ngIf="item.tag=='Staff'">
          <img src="assets/messaging/staff.svg">
         
        </span>
      </ion-col>

      <ion-col class="ion-col_second">

        <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding" >

          <ion-label class="sender_name">
            {{item.name}}
          </ion-label>

          <!-- <span class="sender_type" *ngIf="item.tag=='Staff'">
            <img src="assets/messaging/staff.svg">
           
          </span> -->
          
          <span class="chat_time" *ngIf="item.message!=null">
            {{item.message.time }}
          </span>

        </ion-item>

        <!-- <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">
          <ion-label class="sender_type m_friends_family" *ngIf="item.tag=='Residents'|| item.tag=='Family'">
            Contacts
          </ion-label>

          <ion-label class="sender_type m_staffs" *ngIf="item.tag=='Staff'">
            Staff
          </ion-label>
        </ion-item> -->

        <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">
          <div class="msg-content-sec" *ngIf="item.message!=null">
          <ion-label class="chat_message" *ngIf="!item.message.attachment||item.message.attachment==''">
            {{item.message.msg}}
          </ion-label>
          <ion-label class="chat_message" *ngIf="item.message.attachment&&item.message.attachment!=''">
            <ion-icon class="message_image" *ngIf="item.message.ext=='Photo'"></ion-icon> {{item.message.ext}}
          </ion-label>

          <span class="message_count" *ngIf="item.count!=0">
            {{item.count}}
          </span>
        </div>
        </ion-item>

      </ion-col>

    </ion-row>

    <div *ngIf="result.length==0 ">
      <ion-thumbnail
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/No_data_found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;">
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Data Found.</ion-label>
      </ion-item>
    </div>

  </ion-grid>

  

  <!-- <span style="float: right; margin-top: 65px;" [routerLink]="['/createmessage']">
    <img src="/assets/messaging/create_message_icon.svg">
  </span> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="color:green">
  <ion-fab-button class="create-msg-btn" [routerLink]="['/createmessage']">
    <ion-icon name="add-outline"  style="color: #fff;"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>