.inner-header-1 {
    ion-buttons {
        // align-self: flex-start;
        margin-left: -5px;
    }

    ion-button {
        margin-right: -5px;
    }

    .resource_search {
        height: 45px;
        margin-bottom: 10px;
    }
}

.inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    padding: 20px 10px 10px !important;
}

@media screen and (min-width: 768px) {
    .resource_search {
        height: 45px;
    }

    .chatlist_content {
        ion-row {
            margin-bottom: 22px !important;
        }

        .chat_message {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;
            font-size: 16px !important;
        }

        .sender_type img {
            width: 26px !important;
            height: 26px !important;
        }

        .chat_time {
            font-size: 14px !important;
        }
    }
}

.msg-content-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chatlist_content {
    ion-avatar {
        width: 45px;
        height: 45px;
    }

    ion-row:last-child {
        .chat_separator {
            //  display: none;
        }
    }

    .sender_type {
        // position: relative;
        // top: -16px;
        // left: 17px;
        position: absolute;
        top: 15px;
        right: -20px;
        margin-right: 0;
        max-width: initial;
        z-index: 99999;

        img {
            width: 26px;
            height: 26px;
        }
    }
}

.single-chat-item {
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.chatlist_content {
    --padding-top: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --background: #eee;
}

.resource_search {
    // box-shadow: none;
    // border-bottom: 1px solid #fff;
    // width: 95%;
    // margin-left: 0;
    // margin-right: 0;
    box-shadow: none;
    width: 95%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    color: #222 !important;
    border-radius: 10px;
    padding-inline-start: 0;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .resource_search {
        width: 98% !important;
    }

    .single-chat-item {
        padding: 20px;
    }
}

.message_card {
    margin-top: 0px;
    box-shadow: none;
}

.create-msg-btn {
    --background: #0077b5;
}

@media only screen and (min-width: 393px) {
    .single-chat-item {
        margin-bottom: 15px;
    }

    .chatlist_content {
        --padding-top: 20px !important;
        --padding-bottom: 20px !important;
        --padding-start: 20px !important;
        --padding-end: 20px !important;
    }
}

.message_card {
    .create_message_btn {
        margin-top: 10px !important;
    }
}

.sender_name {
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    color: #000 !important;
}

.chat_message {
    // font-family: "Open Sans", sans-serif !important;
    // font-weight: 500 !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal !important;
}

