@media screen and (min-width: 768px) {
  .chatlist_content ion-row {
    margin-bottom: 22px !important;
  }
  .chatlist_content .chat_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    font-size: 16px !important;
  }
  .chatlist_content .sender_type img {
    width: 26px !important;
    height: 26px !important;
  }
  .chatlist_content .chat_time {
    font-size: 14px !important;
  }
}

.msg-content-sec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chatlist_content ion-avatar {
  width: 45px;
  height: 45px;
}

.chatlist_content ion-row:last-child .chat_separator {
  display: none;
}

.chatlist_content .sender_type {
  position: relative;
  top: -16px;
  left: 17px;
}

.chatlist_content .sender_type img {
  width: 26px;
  height: 26px;
}
