<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" [routerLink]="['/entertainment']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Play Games</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>

<!-- <ion-content>

</ion-content> -->
<!-- <div class="container">
  <div class="heading">
    <h1 class="title">2048</h1>
    <div class="score-container">0</div>
  </div>
  <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>

  <div class="game-container">
    <div class="game-message">
      <p></p>
      <div class="lower">
        <a class="retry-button">Try again</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
    </div>

    <div class="tile-container">

    </div>
  </div>

  <p class="game-explanation">
    <strong class="important">How to play:</strong> <strong>Swipe</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
  </p>
  <hr>
 
</div> -->




<div class="container custom-container">
  <header class="header">
    <div class="header__top">
      <h1>2048</h1>

      <div class="score current-score">0</div>
      <div class="score best-score">0</div>
    </div>
    <!-- /.header__top -->

    <div class="header__bottom">
      <p>Join the numbers and get to the <strong>2048 tile</strong>!</p>

      <button type="button" class="retry">Try again</button>
    </div>
    <!-- /.header__bottom -->
  </header>

  <div class="game">
    <div class="message">
      <p></p>

      <div class="message__actions">
        <button type="button" class="retry">Try again</button>
      </div>
    </div>

    <div class="grid">
      <div class="grid__row">
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
      </div>

      <div class="grid__row">
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
      </div>

      <div class="grid__row">
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
      </div>

      <div class="grid__row">
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
        <div class="grid__cell"></div>
      </div>
    </div>

    <div class="tiles"></div>
  </div>

