// @function exponent($base, $exponent) {
//     // reset value
//     $value: $base;
//     // positive intergers get multiplied
//     @if $exponent > 1 {
//       @for $i from 2 through $exponent {
//         $value: $value * $base; } }
//     // negitive intergers get divided. A number divided by itself is 1
//     @if $exponent < 1 {
//       @for $i from 0 through -$exponent {
//         $value: $value / $base; } }
//     // return the last value written
//     @return $value;
//   }
  
//   @function pow($base, $exponent) {
//     @return exponent($base, $exponent);
//   }
  
//   // Transition mixins
//   @mixin transition($args...) {
//     -webkit-transition: $args;
//     -moz-transition: $args;
//   }
  
//   @mixin transition-property($args...) {
//     -webkit-transition-property: $args;
//     -moz-transition-property: $args;
//   }
  
//   // Keyframe animations
//   @mixin keyframes($animation-name) {
//     // @-webkit-keyframes :$animation-name {
//     //   @content;
//     // }
//     // @-moz-keyframes $animation-name {
//     //   @content;
//     // }
//     // @keyframes $animation-name {
//     //   @content;
//     // }
//     @content;
//   }
  
//   @mixin animation($str) {
//     -webkit-animation: #{$str};
//     -moz-animation: #{$str};
//   }
  
//   @mixin animation-fill-mode($str) {
//     -webkit-animation-fill-mode: #{$str};
//     -moz-animation-fill-mode: #{$str};
//   }
  
//   // Media queries
//   @mixin smaller($width) {
//     @media screen and (max-width: $width) {
//       @content;
//     }
//   }
  
  
  
//   // main.scss
//   $field-width: 500px;
//   $grid-spacing: 15px;
//   $grid-row-cells: 4;
//   $tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
//   $tile-border-radius: 3px;
  
//   $text-color: #776E65;
//   $bright-text-color: #f9f6f2;
  
//   $tile-color: #eee4da;
//   $tile-gold-color: #edc22e;
//   $tile-gold-glow-color: lighten($tile-gold-color, 15%);
  
//   $game-container-background: #bbada0;
  
//   $transition-speed: 100ms;
  
//   html, body {
//     margin: 0;
//     padding: 0;
  
//     background: #faf8ef;
//     color: $text-color;
//     font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
//     font-size: 18px;
//   }
  
//   body {
//     margin: 80px 0;
//   }
  
//   .heading:after {
//     content: "";
//     display: block;
//     clear: both;
//   }
  
//   h1.title {
//     font-size: 80px;
//     font-weight: bold;
//     margin: 0;
//     display: block;
//     float: left;
//   }
  
//   @keyframes move-up {
//     0% {
//       top: 25px;
//       opacity: 1;
//     }
  
//     100% {
//       top: -50px;
//       opacity: 0;
//     }
//   }
  
//   .score-container {
//     $height: 25px;
  
//     position: relative;
//     float: right;
//     background: $game-container-background;
//     padding: 15px 25px;
//     font-size: $height;
//     height: $height;
//     line-height: $height + 22px;
//     font-weight: bold;
//     border-radius: 3px;
//     color: black;
//     margin-top: 8px;
  
//     &:after {
//       position: absolute;
//       width: 100%;
//       top: 10px;
//       left: 0;
//       content: "Score";
//       text-transform: uppercase;
//       font-size: 13px;
//       line-height: 13px;
//       text-align: center;
//       color: $tile-color;
//     }
  
//     .score-addition {
//       position: absolute;
//       right: 30px;
//       color: red;
//       font-size: $height;
//       line-height: $height;
//       font-weight: bold;
//       color: rgba($text-color, .9);
//       z-index: 100;
//       @include animation(move-up 600ms ease-in);
//       @include animation-fill-mode(both);
//     }
//   }
  
//   p {
//     margin-top: 0;
//     margin-bottom: 10px;
//     line-height: 1.65;
//   }
  
//   a {
//     color: $text-color;
//     font-weight: bold;
//     text-decoration: underline;
//     cursor: pointer;
//   }
  
//   strong {
//     &.important {
//       text-transform: uppercase;
//     }
//   }
  
//   hr {
//     border: none;
//     border-bottom: 1px solid lighten($text-color, 40%);
//     margin-top: 20px;
//     margin-bottom: 30px;
//   }
  
//   .container {
//     width: $field-width;
//     margin: 0 auto;
//   }
  
//   @keyframes fade-in {
//     0% {
//       opacity: 0;
//     }
  
//     100% {
//       opacity: 1;
//     }
//   }
  
//   // Game field mixin used to render CSS at different width
//   @mixin game-field {
//     .game-container {
//       margin-top: 40px;
//       position: relative;
//       padding: $grid-spacing;
  
//       cursor: default;
//       -webkit-touch-callout: none;
//       -webkit-user-select: none;
//       -moz-user-select: none;
  
//       background: $game-container-background;
//       border-radius: $tile-border-radius * 2;
//       width: $field-width;
//       height: $field-width;
//       -webkit-box-sizing: border-box;
//       -moz-box-sizing: border-box;
//       box-sizing: border-box;
  
//       .game-message {
//         display: none;
  
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         background: rgba($tile-color, .5);
//         z-index: 100;
  
//         text-align: center;
  
//         p {
//           font-size: 60px;
//           font-weight: bold;
//           height: 60px;
//           line-height: 60px;
//           margin-top: 222px;
//           // height: $field-width;
//           // line-height: $field-width;
//         }
  
//         .lower {
//           display: block;
//           margin-top: 59px;
//         }
  
//         a {
//           display: inline-block;
//           background: darken($game-container-background, 20%);
//           border-radius: 3px;
//           padding: 0 20px;
//           text-decoration: none;
//           color: $bright-text-color;
//           height: 40px;
//           line-height: 42px;
//           margin-left: 9px;
//           // margin-top: 59px;
//         }
  
//         @include animation(fade-in 800ms ease $transition-speed * 12);
//         @include animation-fill-mode(both);
  
//         &.game-won {
//           background: rgba($tile-gold-color, .5);
//           color: $bright-text-color;
//         }
  
//         &.game-won, &.game-over {
//           display: block;
//         }
//       }
//     }
  
//     .grid-container {
//       position: absolute;
//       z-index: 1;
//     }
  
//     .grid-row {
//       margin-bottom: $grid-spacing;
  
//       &:last-child {
//         margin-bottom: 0;
//       }
  
//       &:after {
//         content: "";
//         display: block;
//         clear: both;
//       }
//     }
  
//     .grid-cell {
//       width: $tile-size;
//       height: $tile-size;
//       margin-right: $grid-spacing;
//       float: left;
  
//       border-radius: $tile-border-radius;
  
//       background: rgba($tile-color, .35);
  
//       &:last-child {
//         margin-right: 0;
//       }
//     }
  
//     .tile-container {
//       position: absolute;
//       z-index: 2;
//     }
  
//     .tile {
//       width: $tile-size;
//       height: $tile-size;
//       line-height: $tile-size + 10px;
  
//       // Build position classes
//       @for $x from 1 through $grid-row-cells {
//         @for $y from 1 through $grid-row-cells {
//           &.tile-position-#{$x}-#{$y} {
//             position: absolute;
//             left: round(($tile-size + $grid-spacing) * ($x - 1));
//             top: round(($tile-size + $grid-spacing) * ($y - 1));
//           }
//         }
//       }
//     }
//   }
  
//   // End of game-field mixin
//   @include game-field;
  
//   .tile {
//     border-radius: $tile-border-radius;
  
//     background: $tile-color;
//     text-align: center;
//     font-weight: bold;
//     z-index: 10;
  
//     font-size: 55px;
  
//     @include transition($transition-speed ease-in-out);
//     @include transition-property(top, left);
  
//     $base: 2;
//     $exponent: 1;
//     $limit: 11;
  
//     // Colors for all 11 states, false = no special color
//     $special-colors: false false, // 2
//                      false false, // 4
//                      #f78e48 true, // 8
//                      #fc5e2e true, // 16
//                      #ff3333 true, // 32
//                      #ff0000 true, // 64
//                      false true, // 128
//                      false true, // 256
//                      false true, // 512
//                      false true, // 1024
//                      false true; // 2048
  
//     // Build tile colors
//     @while $exponent <= $limit {
//       $power: pow($base, $exponent);
  
//       &.tile-#{$power} {
//         // Calculate base background color
//         $gold-percent: ($exponent - 1) / ($limit - 1) * 100;
//         $mixed-background: mix($tile-gold-color, $tile-color, $gold-percent);
  
//         $nth-color: nth($special-colors, $exponent);
  
//         $special-background: nth($nth-color, 1);
//         $bright-color: nth($nth-color, 2);
  
//         @if $special-background {
//           $mixed-background: mix($special-background, $mixed-background, 55%);
//         }
  
//         @if $bright-color {
//           color: $bright-text-color;
//         }
  
//         // Set background
//         background: $mixed-background;
  
//         // Add glow
//         $glow-opacity: max($exponent - 4, 0) / ($limit - 4);
  
//         @if not $special-background {
//           box-shadow: 0 0 30px 10px rgba($tile-gold-glow-color, $glow-opacity / 1.8),
//                       inset 0 0 0 1px rgba(white, $glow-opacity / 3);
//         }
  
//         // Adjust font size for bigger numbers
//         @if $power >= 100 and $power < 1000 {
//           font-size: 45px;
  
//           // Media queries placed here to avoid carrying over the rest of the logic
//           @include smaller(480px) {
//             font-size: 25px;
//           }
//         } @else if $power >= 1000 {
//           font-size: 35px;
  
//           @include smaller(480px) {
//             font-size: 15px;
//           }
//         }
//       }
  
//       $exponent: $exponent + 1;
//     }
//   }
  
//   @keyframes appear {
//     0% {
//       opacity: 0;
//       -webkit-transform: scale(0);
//       -moz-transform: scale(0);
//     }
  
//     100% {
//       opacity: 1;
//       -webkit-transform: scale(1);
//       -moz-transform: scale(1);
//     }
//   }
  
//   .tile-new {
//     @include animation(appear 200ms ease $transition-speed);
//     @include animation-fill-mode(both);
//   }
  
//   @keyframes pop {
//     0% {
//       -webkit-transform: scale(0);
//       -moz-transform: scale(0);
//     }
  
//     50% {
//       -webkit-transform: scale(1.2);
//       -moz-transform: scale(1.2);
//     }
  
//     100% {
//       -webkit-transform: scale(1);
//       -moz-transform: scale(1);
//     }
//   }
  
//   .tile-merged {
//     z-index: 20;
//     @include animation(pop 200ms ease $transition-speed);
//     @include animation-fill-mode(both);
//   }
  
//   .game-intro {
//     margin-bottom: 0;
//   }
  
//   .game-explanation {
//     margin-top: 50px;
//   }
  
//   @include smaller(480px) {
//     // Redefine variables for smaller screens
//     $field-width: 280px;
//     $grid-spacing: 10px;
//     $grid-row-cells: 4;
//     $tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
//     $tile-border-radius: 3px;
  
//     html, body {
//       font-size: 15px;
//     }
  
//     body {
//       margin: 20px 0;
//       padding: 0 20px;
//     }
  
//     h1.title {
//       font-size: 50px;
//     }
  
//     .container {
//       width: $field-width;
//       margin: 0 auto;
//     }
  
//     .score-container {
//       margin-top: 0;
//     }
  
//     .heading {
//       margin-bottom: 10px;
//     }
  
//     // Render the game field at the right width
//     @include game-field;
  
//     .game-container {
//       margin-top: 20px;
//     }
  
//     // Rest of the font-size adjustments in the tile class
//     .tile {
//       font-size: 35px;
//     }
  
//     .game-message {
//       p {
//         font-size: 30px !important;
//         height: 30px !important;
//         line-height: 30px !important;
//         margin-top: 90px !important;
//       }
  
//       .lower {
//         margin-top: 30px !important;
//       }
//     }
//   }

// @import 'tools';
// @import 'keyframes';
// @import 'base';
// @import 'header';
// @import 'score';
// @import 'retry';
// @import 'grid';
// @import 'tile';
// @import 'message';

.custom-container {
  height: 100%;
  margin-top: 10vh !important;
}

@-webkit-keyframes move-up{
  0%{top:1.5625rem;opacity:1}
  to{top:-3.125rem;opacity:0}
}
  @keyframes move-up{
    0%{top:1.5625rem;opacity:1}
    to{top:-3.125rem;opacity:0}
  }
  @-webkit-keyframes fade-in{
    0%{opacity:0}
    to{opacity:1}
  }
  @keyframes fade-in{
    0%{opacity:0}
    to{opacity:1}
  }
  @-webkit-keyframes appear{
    0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
    to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
  }
  @keyframes appear{
    0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
    to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
  }
  @-webkit-keyframes pop{
    0%{-webkit-transform:scale(0);transform:scale(0)}
    50%{-webkit-transform:scale(1.2);transform:scale(1.2)}
    to{-webkit-transform:scale(1);transform:scale(1)}
  }
  @keyframes pop{
    0%{-webkit-transform:scale(0);transform:scale(0)}
    50%{-webkit-transform:scale(1.2);transform:scale(1.2)}
    to{-webkit-transform:scale(1);transform:scale(1)}
}
body,html{
  font-family:monospace;
  font-size:1rem;
  line-height:1.25;
  color:#776e65;
  height:100%;
  padding:0;
  margin:0;
  background-color:#fff
}
h1{
  font-size:2.5rem;
  line-height:1;
  margin:0
}
.container{
  max-width:100% !important;
  padding:1rem;
  margin:0 auto;
  margin-top:20px !important;
  margin-bottom: 60px !important;
}
.game{
  position:relative;
  padding:1rem;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background:#bbada0;
  border-radius:.5rem;
  cursor:default;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.header{
  font-size:1.125rem
}
.header p{
  letter-spacing:-.01em;
  margin:0
}
.header__bottom,.header__top{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding-bottom:1rem
}
.header__top{
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end
}
.header__top h1{
  margin-right:auto
}
.header__bottom{
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between
}
.score{
  font-size:2rem;
  line-height:1;
  color:#fff;
  text-align:center;
  font-weight:700;
  padding:.5rem 1rem;
  position:relative;
  background:#bbada0;
  border-radius:.25rem
}
.score:before{
  font-size:.875rem;
  line-height:1;
  color:#eee4da;
  text-transform:uppercase;
  display:block;
  padding-bottom:.5rem 
}
.score-addition{
    font-size:1.75rem;
    line-height:1;
    color:rgba(119,110,101,.9);
    font-weight:700;
    z-index:2;
    position:absolute;
    right:30px;
    -webkit-animation:move-up .6s ease-in;
    animation:move-up .6s ease-in;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
  }
.score.current-score{
  border-right:1px solid #fff;
  border-radius:.25rem 0 0 .25rem
}
.score.current-score:before{
  content:"Score"
}
.score.best-score{
  border-radius:0 .25rem .25rem 0
}
.score.best-score:before{
  content:"Best"
}
.retry{
  font-family:inherit;
  font-size:1.125rem;
  line-height:1;
  color:#f9f6f2;
  text-transform:uppercase;
  text-decoration:none;
  display:block;
  padding:.8rem 1.25rem .7rem;
  border:0;
  background:#8f7a66;
  border-radius:.25rem;
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
.grid{
  position:relative;
  z-index:1
}
.grid__row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin:0 -.5rem 1rem
}
.grid__row:last-child{
  margin-bottom:0
}
.grid__cell{
  width:calc(25% - 1rem);
  height:0;
  padding-bottom:calc(25% - 1rem);
  margin:0 .5rem;
  background:rgba(119,110,101,.35);
  border-radius:.25rem
}
.grid__cell:last-child{
  margin-right:0
}
.tile{
  font-size:3.4375rem !important;
  line-height:2.6 !important;
  text-align:center !important;
  font-weight:700 !important;
  width:calc(25% - 1rem) !important;
  height:0 !important;
  padding-bottom:calc(25% - 1rem) !important;
  z-index:10 !important;
  background:#eee4da !important;
  border-radius:.25rem !important;
  -webkit-transition:.4s ease-in-out !important;
  transition:.4s ease-in-out !important;
  -webkit-transition-property:top,left !important;
  transition-property:top,left !important
}
.tile.tiles{
  position:absolute !important
}
.tiles{
  width:calc(100% - 1rem) !important;
  height:calc(100% - 1rem) !important;
  z-index:2 !important;
  position:absolute !important
}
.tile.tile-position-1-1,.tiles{
  top:.5rem !important;
  left:.5rem !important;
   position: absolute !important;
  //  z-index: 999 !important;
}
.tile.tile-position-1-2{
  left:.5rem !important;
  top:calc(25% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-1-3{
  left:.5rem !important;
  top:calc(50% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-1-4{
  left:.5rem !important;
  top:calc(75% + .5rem) !important;
  position: absolute;
  // z-index: 999;
}
.tile.tile-position-2-1{
  left:calc(25% + .5rem) !important;
  top:.5rem !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-2-2{
  left:calc(25% + .5rem) !important;
  top:calc(25% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-2-3{
  left:calc(25% + .5rem) !important;
  top:calc(50% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-2-4{
  left:calc(25% + .5rem) !important;
  top:calc(75% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-3-1{
  left:calc(50% + .5rem) !important;
  top:.5rem !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-3-2{
  left:calc(50% + .5rem) !important;
  top:calc(25% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-3-3{
  left:calc(50% + .5rem) !important;
  top:calc(50% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-3-4{
  left:calc(50% + .5rem) !important;
  top:calc(75% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-4-1{
  left:calc(75% + .5rem) !important;
  top:.5rem !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-4-2{
  left:calc(75% + .5rem) !important;
  top:calc(25% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-position-4-3{
  left:calc(75% + .5rem) !important;
  top:calc(50% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
tile.tile-position-4-4{
  left:calc(75% + .5rem) !important;
  top:calc(75% + .5rem) !important;
  position: absolute !important;
  // z-index: 999;
}
.tile.tile-2{
  background:#eee4da !important
}
.tile.tile-2,.tile.tile-4{
  -webkit-box-shadow:0 0 30px 10px rgba(243,215,116,0),inset 0 0 0 1px hsla(0,0%,100%,0) !important;
  box-shadow:0 0 30px 10px rgba(243,215,116,0),inset 0 0 0 1px hsla(0,0%,100%,0) !important;
}
tile.tile-4{
  background:#eee1c9 !important;
}
.tile.tile-8{
  color:#f9f6f2 !important;
  background:#f3b27a !important;
}
.tile.tile-16{
  color:#f9f6f2 !important;
  background:#f69664 !important;
}
.tile.tile-32{
  color:#f9f6f2 !important;
  background:#f77c5f !important
}
.tile.tile-64{
  color:#f9f6f2;background:#f75f3b
}
.tile.tile-128{
  color:#f9f6f2;background:#edd073;
  -webkit-box-shadow:0 0 30px 10px rgba(243,215,116,.238095),inset 0 0 0 1px hsla(0,0%,100%,.142857);
  box-shadow:0 0 30px 10px rgba(243,215,116,.238095),inset 0 0 0 1px hsla(0,0%,100%,.142857);
  font-size:45px
}
@media screen and (max-width:767px){
  .tile.tile-128{
    font-size:25px;line-height:3
  }
}
.tile.tile-256{
  color:#f9f6f2;background:#edcc62;
  -webkit-box-shadow:0 0 30px 10px rgba(243,215,116,.31746),inset 0 0 0 1px hsla(0,0%,100%,.190476);
  box-shadow:0 0 30px 10px rgba(243,215,116,.31746),inset 0 0 0 1px hsla(0,0%,100%,.190476);
  font-size:45px
}
@media screen and (max-width:767px){
  .tile.tile-256{
    font-size:25px;
    line-height:3
  }
}
.tile.tile-512{
  color:#f9f6f2;
  background:#edc950;
  -webkit-box-shadow:0 0 30px 10px rgba(243,215,116,.396825),inset 0 0 0 1px hsla(0,0%,100%,.238095);
  box-shadow:0 0 30px 10px rgba(243,215,116,.396825),inset 0 0 0 1px hsla(0,0%,100%,.238095);
  font-size:45px
}
@media screen and (max-width:767px){
  .tile.tile-512{
    font-size:25px;line-height:3
  }
}.tile.tile-1024{
  color:#f9f6f2;
  background:#edc53f;
  -webkit-box-shadow:0 0 30px 10px rgba(243,215,116,.47619),inset 0 0 0 1px hsla(0,0%,100%,.285714);
  box-shadow:0 0 30px 10px rgba(243,215,116,.47619),inset 0 0 0 1px hsla(0,0%,100%,.285714);
  font-size:35px
}
@media screen and (max-width:767px){
  .tile.tile-1024{
    font-size:20px;line-height:3.75
  }
}
.tile.tile-2048{
  color:#f9f6f2;
  background:#edc22e;
  -webkit-box-shadow:0 0 30px 10px rgba(243,215,116,.555556),inset 0 0 0 1px hsla(0,0%,100%,.333333);
  box-shadow:0 0 30px 10px rgba(243,215,116,.555556),inset 0 0 0 1px hsla(0,0%,100%,.333333);
  font-size:35px
}
@media screen and (max-width:767px){
  .tile.tile-2048{
    font-size:20px;line-height:3.75
  }
}
.tile-new{
  -webkit-animation:appear .2s ease .4s !important;
  animation:appear .2s ease .4s !important;
  -webkit-animation-fill-mode:both !important;
  animation-fill-mode:both !important;
}
.tile-merged{
  z-index:20;
  -webkit-animation:pop .2s ease .4s;
  animation:pop .2s ease .4s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
@media screen and (max-width:767px){
  .tile{
    font-size:30px
  }
}
.message{
  font-size:3.75rem;
  line-height:1;
  text-align:center;
  font-weight:700;
  display:none;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-flow:column wrap;
  flex-flow:column wrap;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  position:absolute;
  top:0;right:0;bottom:0;left:0;background:rgba(238,228,218,.75);
  z-index:3;
  -webkit-animation:fade-in .8s ease .4s;
  animation:fade-in .8s ease .4s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
.message p{
  margin:2rem
}
.message__actions{
  display:block;margin-top:2rem
}
.message.game-won{
  color:#f9f6f2;background:rgba(124, 115, 83, 0.75)
}.message.game-over,.message.game-won{
  display:-webkit-box;display:-ms-flexbox;display:flex
}
.socials{
  padding:1rem 0
}
.socials ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:0;margin:0;
  list-style:none outside none
}
.socials li{
  padding:0 .325rem
}
.socials a,.socials svg{
  display:block
}
.socials svg{
  fill:rgba(119,110,101,.85)
}
.svg-email{
  height:3.38rem;width:3rem
}
@media screen and (max-width:767px){
  .svg-email{height:1.69rem;width:1.5rem}
}
.svg-github,.svg-gitlab{
  height:3.26rem;width:3rem
}
@media screen and (max-width:767px){
  .svg-github,.svg-gitlab{height:1.63rem;width:1.5rem}}.svg-twitter{height:2.76rem;width:3rem}@media screen and (max-width:767px){.svg-twitter{height:1.38rem;width:1.5rem}}.svg-npm{height:3rem;width:8rem}@media screen and (max-width:767px){.svg-npm{height:1.5rem;width:4rem}}.svg-linkedin{height:3.26rem;width:3rem}@media screen and (max-width:767px){.svg-linkedin{height:1.63rem;width:1.5rem}}.svg-logo{height:6.26rem;width:6.26rem}@media screen and (max-width:767px){.svg-logo{height:3.13rem;width:3.13rem}}.svg-codepen,.svg-google-plus{height:3rem;width:3rem}@media screen and (max-width:767px){.svg-codepen,.svg-google-plus{height:1.5rem;width:1.5rem}}



@-webkit-keyframes fade-in{
  0%{opacity:0}
  to{opacity:1}
}
@keyframes fade-in{
  0%{opacity:0}
  to{opacity:1}
}
body,html{
  font-family:monospace;font-size:1rem;line-height:1.25;color:#776e65;height:100%;padding:0;margin:0;background-color:#fff}h1{font-size:2.5rem;line-height:1;margin:0
  }
  .container{
    max-width:38.924rem;padding:1rem;margin:0 auto
  }
  .game{
    position:relative;padding:1rem;-webkit-box-sizing:border-box;box-sizing:border-box;background:#bbada0;border-radius:.5rem
  }
  .header{
    font-size:1.125rem
  }
  .header p{
    letter-spacing:-.01em;margin:0
  }
  .header__bottom,.header__top{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:1rem
  }
  .header__top{
    -webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end
  }
  .header__top h1{
    margin-right:auto
  }
  .header__bottom{
    -webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
  }
  .score{
    font-size:2rem;line-height:1;color:#fff;text-align:center;font-weight:700;padding:.5rem 1rem;position:relative;background:#bbada0;border-radius:.25rem
  }
  .score:before{
    font-size:.875rem;line-height:1;color:#eee4da;text-transform:uppercase;display:block;padding-bottom:.5rem
  }
  .score.current-score{
    border-right:1px solid #fff;border-radius:.25rem 0 0 .25rem
    }
    .score.current-score:before{
      content:"Score"
    }
    .score.best-score{
      border-radius:0 .25rem .25rem 0
    }
    .score.best-score:before{
      content:"Best"
    }
    .retry{
      font-family:inherit;font-size:1.125rem;line-height:1;color:#f9f6f2;text-transform:uppercase;text-decoration:none;display:block;padding:.8rem 1.25rem .7rem;border:0;background:#8f7a66;border-radius:.25rem;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none
    }
    .grid{
      position:relative;z-index:1
    }
    .grid__row{
      display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 -.5rem 1rem
    }
    .grid__row:last-child{
      margin-bottom:0
    }
    .grid__cell{
      width:calc(25% - 1rem);height:0;padding-bottom:calc(25% - 1rem);margin:0 .5rem;background:rgba(119,110,101,.35);border-radius:.25rem
    }
    .grid__cell:last-child{
      margin-right:0
    }
    .tiles{
      position:absolute
    }
    .tiles{
      width:calc(100% - 1rem);height:calc(100% - 1rem);z-index:2
    }
    .tiles{top:.5rem;left:.5rem
    }
    .message{
      font-size:3.75rem;line-height:1;text-align:center;font-weight:700;display:none;
      -webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column wrap;
      flex-flow:column wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;
      -webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:absolute;
      top:0;right:0;bottom:0;left:0;background:rgba(238,228,218,.75);z-index:3;-webkit-animation:fade-in .8s ease .4s;
      animation:fade-in .8s ease .4s;-webkit-animation-fill-mode:both;animation-fill-mode:both
    }
    .message p{
      margin:2rem
    }
    .message__actions{
      display:block;margin-top:2rem
    }
    .socials{
      padding:1rem 0
    }
    .socials ul{
      display:-webkit-box;
      display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;
      -webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-align:center;
      -ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;
      justify-content:space-between;padding:0;margin:0;list-style:none outside none
    }
    .socials li{
      padding:0 .325rem
    }
    .socials a,.socials svg{
      display:block
    }
    .socials svg{
      fill:rgba(119,110,101,.85)
    }
    .svg-email{
      height:3.38rem;width:3rem
    }
    @media screen and (max-width:767px){
      .svg-email{
        height:1.69rem;width:1.5rem
      }
    }
    .svg-github,.svg-gitlab{
      height:3.26rem;width:3rem
    }
    @media screen and (max-width:767px){
      .svg-github,.svg-gitlab{
        height:1.63rem;width:1.5rem}}.svg-twitter{height:2.76rem;width:3rem}@media screen and (max-width:767px){.svg-twitter{height:1.38rem;width:1.5rem}}.svg-npm{height:3rem;width:8rem}@media screen and (max-width:767px){.svg-npm{height:1.5rem;width:4rem}}.svg-linkedin{height:3.26rem;width:3rem}@media screen and (max-width:767px){.svg-linkedin{height:1.63rem;width:1.5rem}}.svg-codepen{height:3rem;width:3rem}@media screen and (max-width:767px){.svg-codepen{height:1.5rem;width:1.5rem}}


//         // ---------grid style---------------------------------------->


        .grid {
          position: relative;
          z-index: 1;
        
          &__row {
            display: flex;
            margin: 0 -0.5rem 1rem;
        
            &:last-child {
              margin-bottom: 0;
            }
          }
        
          &__cell {
            width: calc(25% - 1rem);
            height: 0;
            padding-bottom: calc(25% - 1rem);
            margin: 0 0.5rem;
            background: rgba(#776e65, 0.35);
            border-radius: 0.25rem;
        
            &:last-child {
              margin-right: 0;
            }
          }
        }


//         /*-----------------------tile style---------------------------------------*/

        .tile {
            font-size: 3.4375rem;
            line-height: 2.6;
            text-align: center;
            font-weight: 700;
            width: calc(25% - 1rem);
            height: 0;
            padding-bottom: calc(25% - 1rem);
            position: absolute;
            z-index: 10;
            background: #eee4da;
            border-radius: 0.25rem;
            transition: 0.4s ease-in-out;
            transition-property: top, left;

            &s {
              width: calc(100% - 1rem);
              height: calc(100% - 1rem);
              position: absolute;
              top: 0.5rem;
              left: 0.5rem;
              z-index: 2;
	        }

	@for $x from 1 through 4 {
		// TODO use custom
		@for $y from 1 through 4 {
			// TODO use custom
			&.tile-position-#{$x}-#{$y} {
				left: calc(25% * #{$x - 1} + 0.5rem);
				top: calc(25% * #{$y - 1} + 0.5rem);
			}
		}
	}
  
	$base: 2;
	$exponent: 1;
  $limit: 11;
  
  @function exponent($base, $exponent) {
    $value: $base;
    // @if (round($exponent) != $exponent) {
    //   @return exp($exponent * ln($base));
    // }
    @if $exponent > 1 {
      @for $i from 2 through $exponent {
        $value: $value * $base;
      }
    }
  
    @if $exponent < 1 {
      @for $i from 0 through -$exponent {
        $value: $value / $base;
      }
    }
  
    @return $value;
  }

  @function pow($base, $exponent) {
    @return exponent($base, $exponent);
  }
	// prettier-ignore
	$special-colors:
		false false, // 2
		false false, // 4
		#f78e48 true, // 8
		#fc5e2e true, // 16
		#ff3333 true, // 32
		#ff0000 true, // 64
		false true, // 128
		false true, // 256
		false true, // 512
		false true, // 1024
		false true; // 2048

	@while $exponent <= $limit {
    $power: pow($base, $exponent);
   
    &.tile-#{$power} {
		
			$gold-percent: ($exponent - 1) / ($limit - 1) * 100;
			$mixed-background: mix(#edc22e, #eee4da, $gold-percent);
			$nth-color: nth($special-colors, $exponent);
			$special-background: nth($nth-color, 1);
			$bright-color: nth($nth-color, 2);

			@if $special-background {
				$mixed-background: mix($special-background, $mixed-background, 55%);
			}

			@if $bright-color {
				color: #f9f6f2;
			}

			background: $mixed-background;

			$glow-opacity: max($exponent - 4, 0) / ($limit - 4);

			@if not $special-background {
				// prettier-ignore
				box-shadow: 0 0 30px 10px rgba(lighten(#edc22e, 15%), $glow-opacity / 1.8), inset 0 0 0 1px rgba(white, $glow-opacity / 3);
			}

			@if $power >= 100 and $power < 1000 {
				font-size: 45px;

				// @include smaller {
				// 	font-size: 25px;
				// 	line-height: 3;
				// }
			} @else if $power >= 1000 {
				font-size: 35px;

				// @include smaller {
				// 	font-size: 20px;
				// 	line-height: 3.75;
				// }
			}
		}

		$exponent: $exponent + 1;
	}

	&-new {
		animation: appear 0.2s ease 0.4s;
		animation-fill-mode: both;
	}

	&-merged {
		z-index: 20;
		animation: pop 0.2s ease 0.4s;
		animation-fill-mode: both;
	}

	// @include smaller {
	// 	font-size: 30px;
	// }
}

@mixin smaller($width: 767px) {
	@media screen and (max-width: $width) {
		@content;
	}
}

html,
body {
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.25;
	color: #776e65;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

h1 {
	font-size: 2.5rem;
	line-height: 1;
	margin: 0;
}

.container {
	max-width: 38.924rem;
	padding: 1rem;
	margin: 0 auto;
}

.game {
	position: relative;
	padding: 1rem;
	box-sizing: border-box;
	background: #bbada0;
	border-radius: 0.5rem;
	cursor: default;
	user-select: none;
}


@keyframes move-up {
	0% {
		top: 1.5625rem;
		opacity: 1;
	}

	100% {
		top: -3.125rem;
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes pop {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}


.message {
	font-size: 3.75rem;
	line-height: 1;
	text-align: center;
	font-weight: 700;
	display: none;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#eee4da, 0.75);
	z-index: 3;
	animation: fade-in 0.8s ease 0.4s;
	animation-fill-mode: both;

	p {
		margin: 2rem;
	}

	&__actions {
		display: block;
		margin-top: 2rem;
	}

	&.game-won {
		color: #f9f6f2;
		background: rgba(#edc22e, 0.75);
	}

	&.game-won,
	&.game-over {
		display: flex;
	}
}

.retry {
	font-family: inherit;
	font-size: 1.125rem;
	line-height: 1;
	color: #f9f6f2;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 0.8rem 1.25rem 0.7rem;
	border: 0;
	background: darken(#bbada0, 20%);
	border-radius: 0.25rem;
	box-shadow: none;
	appearance: none;
}