ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    .close-modal {
        font-size: 30px;
        color: #a9a9af;
        position: absolute;
        right: 20px;
        top: 40px;
    }

    .signup-confirmation-sec {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;

        .sec-title {
            font-size: 20px;
            font-weight: 600;
            color: #464855;
            text-align: center;
            margin-top: 75px;
            margin-bottom: 20px;
        }

        .signupconfirmation-icon {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }

        .act-name {
            font-size: 16px;
            font-weight: 600;
            margin-top: 35px;
            color: #464855;
        }

        .act-date {
            font-size: 16px;
            color: #464855;
            margin-top: 15px;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 22px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .act-time {
            font-size: 16px;
            color: #464855;
            margin-top: 15px;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 22px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .act-loc {
            font-size: 14px;
            color: #464855;
            margin-top: 15px;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 22px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .asc-sec {
            margin-top: 15px;
            border-top: 1px solid #e4e4e4;
            padding: 15px 0 0 0;

            .available-slots {
                font-size: 16px;
                color: #484848;

                p {
                    font-size: 16px;
                    font-weight: 700;
                    color: #0077b5;
                    margin-top: 10px;

                    span {
                        font-size: 14px;
                        font-weight: normal;
                        margin-left: 5px;
                    }
                }
            }

            .cost {
                font-size: 16px;
                color: #484848;

                p {
                    font-size: 16px;
                    font-weight: 700;
                    color: #00b30f;
                    margin-top: 10px;

                    span {
                        font-size: 14px;
                        font-weight: normal;
                        margin-left: 5px;
                    }
                }
            }
        }

        .select-participant-box {
            margin: 15px 0 0;
            border-top: 1px solid #e4e4e4;
            padding: 0 0 15px;

            .spb-title {
                font-size: 14px;
                color: #ff700b;
                margin-top: 15px;
                display: block;
            }

            .ci-box {
                display: flex;
                border: 1px solid #ccc;
                border-radius: 6px;
                padding: 10px;
                align-items: center;

                ion-thumbnail {
                    width: 45px;
                    height: 45px;
                    --border-radius: 50px;
                }

                ion-label {
                    font-size: 16px;
                    color: #222;
                    margin-left: 10px;
                }
            }
        }
    }
}

ion-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .booking-confirm-btn {
        --background: #0077b5;
        color: #fff;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0;
        display: block;
        max-width: fit-content;
        min-width: 92px;
    }

    .booking-cancel-btn {
        --background: #e6e6e6;
        color: #727272;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0px 0px 0px 20px;
        display: block;
        max-width: fit-content;
    }
}

.no-access {
    ion-thumbnail {
  
      img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  
    ion-label {
  
      color: #c6c6c6 !important;
    }
  
  }

  .selected{
    border:#0077b5 1px solid !important; 
  }