<ion-content *ngIf="item">

  <ion-icon class="close-modal" name="close-circle" (click)="dismiss()"></ion-icon>

  <div class="signup-confirmation-sec">
    
    <ion-label class="sec-title">You are signing up for</ion-label>

    <img class="signupconfirmation-icon" src="assets/appointment.svg">

    <ion-label class="act-name">{{item.title}}</ion-label>

    <ion-label class="act-date"><ion-icon name="calendar-clear-outline"></ion-icon> {{item.activity_start_date|dateformat:'DD MMMM YYYY'}}</ion-label>

    <ion-label class="act-time"><ion-icon name="time-outline"></ion-icon> {{item.start_time}} - {{item.end_time}}</ion-label>

    <ion-label class="act-loc" *ngIf="item.venue"><ion-icon name="location-outline"></ion-icon> {{item.venue}}</ion-label>

    <ion-row class="asc-sec">

      <ion-col size="6">

        <ion-label class="available-slots">
          Available slots
          <p>{{item.rv_details.slot_limit-item.signedup_users_count }}<span *ngIf="item.signedup_users_count">({{item.signedup_users_count}} Others attending)</span></p>
        </ion-label>

      </ion-col>

      <ion-col size="6" *ngIf="item.rv_details&&item.rv_details.paid_activity==1">

        <ion-label class="cost">
          Cost
          <p>${{item.rv_details.cost}} <span>per person</span></p>
        </ion-label>

      </ion-col>

    </ion-row>

    <ion-row class="select-participant-box" *ngIf="utype==6">

      <ion-col size="12">
        <ion-label class="spb-title">Please select participants</ion-label>
      </ion-col>

      <ion-col size="12" class="mt-15" *ngFor="let con of contacts"  (click)="choose(con,1)" [class.selected]="selected.includes(con.parent.user.user_id)">
        <div class="ci-box" [class.no-access]="con.share==0||con.parent.status==0">
          <ion-thumbnail>
            <img [src]="con.parent.user.profile_pic">
          </ion-thumbnail>
          <ion-label>{{con.parent.user.name}}</ion-label>
        </div>
      </ion-col>

      <!-- <ion-col size="12" class="mt-10">
        <div class="ci-box">
          <ion-thumbnail>
            <img src="https://images.pexels.com/photos/4057763/pexels-photo-4057763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
          </ion-thumbnail>
          <ion-label>Anna John</ion-label>
        </div>
      </ion-col> -->

    </ion-row>


    <ion-row class="select-participant-box" *ngIf="utype==5&&companian.length">

      <ion-col size="12">
        <ion-label class="spb-title">Please select participants</ion-label>
      </ion-col>

      <ion-col size="12" class="mt-15" *ngFor="let con of companian"  (click)="choose(con,2)" [class.selected]="selected.includes(con.user_details.user_id)">
        <div class="ci-box" [class.no-access]="con.user_details.status==0">
          <ion-thumbnail>
            <img [src]="con.user_details.profile_pic">
          </ion-thumbnail>
          <ion-label>{{con.user_details.name}}</ion-label>
        </div>
      </ion-col>


    </ion-row>

  </div>

  
</ion-content>

<ion-footer>

  <ion-button fill="clear" class="booking-confirm-btn" (click)="confirm()" >Confirm
  </ion-button>

  <ion-button fill="clear" class="booking-cancel-btn" (click)="dismiss()">Cancel</ion-button>

</ion-footer>