<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons mode="md" slot="start">
      <ion-back-button style="color: white;" [routerLink]="['/message']" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title mode="md" class="page_title">Select Contact</ion-title> -->

    <ion-item class="chat_window" lines="none" color="none">

      <ion-avatar>
        <img [src]="pic">
      </ion-avatar>

      <ion-label>
        {{name}}
        <span *ngIf="role!=='null'">{{role}}</span>
      </ion-label>

      <!-- <ion-icon class="cam" src="/assets/messaging/video_call_icon.svg" (click)="virtualMeet()"></ion-icon> -->
      <ion-icon src="/assets/messaging/more_btn_white.svg" (click)="options($event)"></ion-icon>
      <!-- <ion-icon src="/assets/messaging/more_btn_white.svg"></ion-icon> -->
      <!-- <ion-icon class="chat-opt-icon" name="ellipsis-vertical"></ion-icon> -->

    </ion-item>

  </ion-toolbar>
  <ion-toolbar class="d-none" color="none" style="height: 10px;"></ion-toolbar>


</ion-header>

<ion-content class="conversation_area" #content>

  <!-- <ion-item lines="none" color="none">
    <div class="conversation_day no_mt">
      25 May, 2020
    </div>
  </ion-item> -->

  <!-- <div class="blocked-user-sec">

    <img class="blocked-user-icon" src="/assets/blocked-user-icon.svg">

   <ion-label class="blocked-warning">You blocked this user. <br> You can no longer send messages to this chat
   </ion-label>

 </div> -->


  <ion-grid style="padding-inline-start: 0; padding-inline-end: 0;">
    <div class="msgarea" id="chatArea" #ms></div>
    <!-- <div *ngFor="let item of msg ; let last = last">{{last ? callFunction() : ''}}
      
        <ion-row class="conversation_item_left" *ngIf="item.user.user_id==user_two">

          <ion-col class="col_fit">
            <ion-avatar>
              <img [src]="item.user.profile_pic">
            </ion-avatar>
          </ion-col>

          <ion-col class="col_fit" *ngIf="item.attachment=='' && item.msg!='null'">

            <p style="margin-bottom:0px;" class="conversation">{{item.msg}}</p>

            <ion-label class="conversation_time">
              {{item.updated_at}}
            </ion-label>

          </ion-col>

          <ion-col class="col_fit" *ngIf="item.attachment!=''">

            <p style="margin-bottom:0px;" class="conversation_bordered" (click)="openDoc(item.attachment)">
              <img [src]="item.attachment" style="height: 180px;">
            </p>
    
            <p class="conversation_time">
    
              {{item.updated_at }}
    
             
    
            </p>
    
          </ion-col>

        </ion-row>

        <ion-row class="conversation_item_right" *ngIf="item.user.user_id==id">

          <ion-col class="col_fit" *ngIf="item.attachment==''">
            <p style="margin-bottom:0px;" class="conversation">{{item.msg}}</p>

            <p class="conversation_time">

              {{item.updated_at}}

             

            </p>

          </ion-col>
          <ion-col class="col_fit" *ngIf="item.attachment!=''">

            <p style="margin-bottom:0px;" class="conversation_bordered" (click)="openDoc(item.attachment)">
              <img [src]="item.attachment" style="height: 180px;">
              
            </p>
    
            <p class="conversation_time">
    
              {{item.updated_at}}
    
              
    
            </p>
    
          </ion-col>

        </ion-row>
    </div> -->


    <!-- <ion-row class="conversation_item_left">

      <ion-col class="col_fit">
        <ion-avatar>
          <img src="/assets/messaging/profile_pics_thumb/adrian_mayo.png">
        </ion-avatar>
      </ion-col>

      <ion-col class="col_fit">

        <p style="margin-bottom:0px;" class="conversation">Inform me if anything needed</p>

        <ion-label class="conversation_time">
          4.30 pm
        </ion-label>

      </ion-col>

    </ion-row> -->

    <!-- <ion-row class="conversation_item_right">

      <ion-col class="col_fit">
        <p style="margin-bottom:0px;" class="conversation">Ok</p>

        <p class="conversation_time">

          4.30 pm

          <span>Seen</span>

        </p>

      </ion-col>

    </ion-row> -->

    <!-- <ion-row class="conversation_item_right">

      <ion-col class="col_fit">

        <p style="margin-bottom:0px;" class="conversation_bordered">
          <img src="">
        </p>

        <p class="conversation_time">

          4.30 pm

         

        </p>

      </ion-col>

    </ion-row> -->

    <!-- <ion-row class="conversation_item_left">

      <ion-col class="col_fit">
        <ion-avatar>
          <img src="/assets/messaging/profile_pics_thumb/adrian_mayo.png">
        </ion-avatar>
      </ion-col>

      <ion-col class="col_fit">

        <p style="margin-bottom:0px; margin-top: 0px;" class="conversation">Inform me if anything needed</p>

        <ion-label class="conversation_time">
          4.30 pm
        </ion-label>

      </ion-col>

    </ion-row> -->
    <div class="text-area" id="textmsg"></div>
  </ion-grid>





</ion-content>



<ion-footer color="none" no-border translucent="true" style="box-shadow: none;">


  <ion-item lines="none" color="none"
    style="display: inline-block; --padding-start: 10px; --inner-padding-end: 10px; width: 100%;--padding-top: 10px; --padding-bottom:5px;">




    <ion-textarea class="input_message" style="margin-top:0px" maxlength="256" clearOnEdit="true" auto-grow="true" rows="1"
      name="inputMessage" placeholder="Type here" [(ngModel)]="inputMessage"></ion-textarea>



    <!-- <ion-icon class="input_paperclip" (click)="selectAttach()"></ion-icon> -->

    <!-- <ion-icon class="input_camera" (click)="openCamera()"></ion-icon> -->

    <span class="chat-options-container">

      <ion-button (click)="selectAttach()">

        <ion-icon class="chat-attach-img" name="attach-outline"></ion-icon>

      </ion-button>

      <ion-button (click)="openCamera()">

        <ion-icon class="chat-cam" name="camera-outline"></ion-icon>

      </ion-button>

    </span>

    <ion-col style="align-self: flex-end;" class="col_fit">
      <!-- <ion-icon class="input_mic" src="/assets/messaging/microphone.svg" *ngIf="inputMessage==''"></ion-icon> -->
      <!-- <div class="ion-activatable ripple-parent"> -->
      <!-- <ion-icon class="input_mic ion-activatable ripple-parent" src="/assets/send_btn.svg" (click)="sendMessage()">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-icon> -->
      <!-- </div> -->

      <ion-button (click)="sendMessage()" class="submit-comment" [disabled]="disable">
        <ion-icon name="paper-plane-outline"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-button>

    </ion-col>
  </ion-item>
  <!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none" *ngIf="key"></ion-item> -->

</ion-footer>
<!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none"></ion-item> -->
