.input_message {
    margin-top: 0px;
    border-radius: 6px;
    /* border: 1px solid #e2e2e2; */
    --padding-top: 10px;
    --padding-end: 84px;
    --padding-bottom: 10px;
    --padding-start: 12px !important;
    background: #f1f1f1;
    min-height: 45px;
}

.submit-comment {
    --background: #0077b5;
    --background-activated: #0455b3;
    --background-activated-opacity: 1;
    --border-radius: 50px;
    --box-shadow: none;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    text-align: center;
    margin-left: 0px;
    height: auto;
}

.chat-options-container {
    ion-button {
        position: absolute;
        right: 100px;
        top: 3px;
        --background: transparent;
        --box-shadow: none;
        --border-radius: 50px;
        z-index: 9999;
        --background-activated: #e7e7e7;
        --background-activated-opacity: 1;

        &:nth-child(2) {
            right: 65px;
        }

        .chat-attach-img {
            font-size: 25px;
            transform: rotate(45deg);
            color: #9e9e9e;
        }

        .chat-cam {
            font-size: 25px;
            color: #9e9e9e;
        }
    }
}

ion-row:last-of-type {
    .ion_col_second {
        .chat_separator {
            border-bottom: 0px !important;
        }
    }
}

.chat-opt-icon {
    font-size: 25px !important;
    color: #fff;
    margin-left: 15px;
}

.cam {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 35px;
}

.blocked-user-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    .blocked-user-icon {
        width: 100px;
    }

    .blocked-warning {
        font-size: 16px;
        color: #545454;
        margin-top: 20px;
        text-align: center;
        line-height: 22px;
    }
}

.chat_window {
    --padding-start: 0;
    --padding-end: 0;
    --min-height: auto;

    ion-avatar {
        margin: 0;
    }

    ion-label {
        font-family: "Roboto", sans-serif;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px;
        white-space: pre-line;
        word-break: break-word;
    }
}

.d-none {
    display: none;
}

.inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    padding: 20px 10px 10px !important;
}

.play-button-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgb(13 141 207);
    border-radius: 50px;
    min-width: 55px;
    max-width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #fff;

    .play_icon_msg {
        top: 0;
        left: 0;
        font-size: 30px !important;
        /* width: 100%; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        color: #fff;
        z-index: 99999;
        text-align: center;
        right: -2px;
        position: relative;
    }
}


