.input_message {
  margin-top: 0px;
  border-radius: 25px;
  border: 1px solid #e2e2e2;
  --padding-top: 10px;
  --padding-end: 84px;
  --padding-bottom: 10px;
  --padding-start: 12px !important;
}

.submit-comment {
  --background: #0077b5;
  --background-activated: #0455b3;
  --background-activated-opacity: 1;
  --border-radius: 50px;
  --box-shadow: none;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  text-align: center;
  margin-left: 0px;
  height: auto;
}

.chat-options-container ion-button {
  position: absolute;
  right: 100px;
  top: 3px;
  --background: transparent;
  --box-shadow: none;
  --border-radius: 50px;
  z-index: 9999;
  --background-activated: #e7e7e7;
  --background-activated-opacity: 1;
}

.chat-options-container ion-button:nth-child(2) {
  right: 65px;
}

.chat-options-container ion-button .chat-attach-img {
  font-size: 25px;
  transform: rotate(45deg);
  color: #9e9e9e;
}

.chat-options-container ion-button .chat-cam {
  font-size: 25px;
  color: #9e9e9e;
}

ion-row:last-of-type .ion_col_second .chat_separator {
  border-bottom: 0px !important;
}

.chat-opt-icon {
  font-size: 25px !important;
  color: #fff;
  margin-left: 15px;
}

.cam {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 35px;
}
