ion-content {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background:#eee;
}

.thanku {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #000;
    width: 100%;
    white-space: pre-line !important;
}

@media screen and (min-width: 1024px) {
    .thanku {
        font-size: 22px !important;
    }

    ion-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 10px !important;
        padding: 20px !important;
    }
}


ion-footer {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;

    &::before {
        background: none !important;
    }

    ion-button {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: capitalize;
        font-weight: normal;
        font-size: 16px;
    }

    .next {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: capitalize;
        font-weight: normal;
    }

    previous {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: capitalize;
        font-weight: normal;
    }
}

.poll-name {
    font-size: 18px;
    font-weight: 600;
    color: #252525;

    span {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: normal !important;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #6c6c6c;
    }

}

.poll-thanks {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    padding: 20px !important;

    .pt-inner-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .poll-thanks-thumb {
            height: 50px;
            margin-bottom: 15px;
        }
    }
}


@media only screen and (min-width:360px) and (max-width:360px) {
    .poll-name {
       max-width: 245px;
       display: flex;
       flex-direction: column;
   }
}

@media only screen and (min-width:375px) and (max-width:375px) {
   .poll-name {
       max-width: 250px;
       display: flex;
       flex-direction: column;
   }
}

@media only screen and (min-width:393px) and (max-width:393px) {
   .poll-name {
       max-width: 265px;
       display: flex;
       flex-direction: column;
   }
}
.poll-container {
    position: relative;
    box-shadow: none !important;
    border: 1px solid #dfdfdf;

   .poll-tag {
       top: 0px !important;
       right: -7px !important;
   }
}

.inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    padding-top: 10px !important;
}
