<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Poll</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 20px;"></ion-toolbar> -->
</ion-header>

<ion-content *ngIf="viewEntered">

  <ion-card class="poll-thanks poll-container" *ngIf="thank">
    <div class="pt-inner-box">
      <img class="poll-thanks-thumb" src="/assets/poll-thanks-icon.svg">
      <ion-label class="thanku">Thank you for answering the poll.<br> Your response has been submitted</ion-label>
    </div>
  </ion-card>

  <!-- <div class="poll-container" *ngFor="let item of poll;let i = index ">

    <ion-label class="poll-name">
    
      {{item.name}}
      <span>Please give your feedback to improve our service</span>
  
    </ion-label> -->


    <div *ngFor="let item of poll; let i = index" class="poll-container">
      <ion-label class="poll-name">
    
        {{item.name}}
        <span>Please give your feedback to improve our service</span>
    
      </ion-label>
      <span class="poll-tag">

        <p>Poll</p>

      </span>
      <ion-slides loop="true" [options]="{ allowTouchMove: false }">
          <ion-slide *ngFor="let que of item.questions; let j = index;">
            <ion-grid>
              <ion-row style="width:100%">
            <ion-label class="poll-qns">{{que.question}}</ion-label>
          </ion-row>
          <ion-row style="width:100%">
      <ion-col size="12" *ngFor="let ans of que.answers; let idx = index" (click)="markPoll(item,que,ans,item.questions,idx)">

        <div class="cl-radio-btn"
          [class.bg_green]="(Data.length>0 && Data[0].OptionId==ans.id) || (CollectedData[selectedIndex]!=undefined && CollectedData[selectedIndex].OptionId==ans.id && (Data.length==0||Data[0].QuestionId!=CollectedData[selectedIndex].QuestionId))">

          <ion-label>{{idx+1}}{{'. '}} {{ans.answer}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="width:100%">
      <ion-button class="prev-btn" *ngIf="preQue && item.questions.length>1&&slide==i" (click)="previous(item.questions,i)">Previous
      </ion-button>

      <ion-button class="next-btn" *ngIf="(nextQue||slide!=i)&& item.questions.length>1"
        (click)="next(item.id,item.questions,que,i)">Next</ion-button>

      <ion-button class="next-btn" *ngIf="(submitStatus&&slide==i) || item.questions.length==1" appDebounce  [debounceTime]="900" (debounceClick)="submit(item,i)">Submit
      </ion-button>
      </ion-row>
    </ion-grid>
          </ion-slide>
      </ion-slides>
    </div>

    <!-- <div *ngFor="let que of item.questions | slice:noOfItem-1:noOfItem ;let in=index">
      <ion-label class="poll-qns">{{que.question}}</ion-label>

      <span class="poll-tag">

        <p>Poll</p>

      </span>
      <div *ngFor="let ans of que.answers; let idx = index" (click)="markPoll(item,que,ans,item.questions,idx)">

        <div class="cl-radio-btn"
          [class.bg_blue]="(Data.length>0 && Data[0].OptionId==ans.id) || (CollectedData[selectedIndex]!=undefined && CollectedData[selectedIndex].OptionId==ans.id && Data.length==0)">

          <ion-label>{{idx+1}}{{'. '}} {{ans.answer}}</ion-label>
        </div>
      </div>

    

      <ion-button class="prev-btn" *ngIf="preQue && item.questions.length>1" (click)="previous(item.questions)">Previous
      </ion-button>

      <ion-button class="next-btn" *ngIf="nextQue && item.questions.length>1"
        (click)="next(item.id,item.questions,que)">Next</ion-button>

      <ion-button class="next-btn" *ngIf="submitStatus || item.questions.length==1" (click)="submit(item,i)">Submit
      </ion-button>
    </div> -->
  <!-- </div> -->

  
  
	



  <div *ngIf="poll.length==0&&!thank">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-poll-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray;white-space: initial; word-break: break-word;">
        No Polls to complete at the moment.</ion-label>
    </ion-item>
  </div>

</ion-content>
