ion-content {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.thanku {
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  width: 100%;
  white-space: pre-line !important;
}

@media screen and (min-width: 1024px) {
  .thanku {
    font-size: 22px !important;
  }
  ion-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
    padding: 20px !important;
  }
}

ion-footer {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

ion-footer::before {
  background: none !important;
}

ion-footer ion-button {
  --background: #0077b5;
  --box-shadow: none;
  --border-radius: 50px;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
}

ion-footer .next {
  --background: #0077b5;
  --box-shadow: none;
  --border-radius: 50px;
  text-transform: capitalize;
  font-weight: normal;
}

ion-footer previous {
  --background: #0077b5;
  --box-shadow: none;
  --border-radius: 50px;
  text-transform: capitalize;
  font-weight: normal;
}

.poll-name {
  font-size: 20px;
  font-weight: 400;
}

.poll-name span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #707070;
}

.poll-thanks {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  padding: 20px !important;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  .poll-name {
    max-width: 245px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
  .poll-name {
    max-width: 250px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 393px) and (max-width: 393px) {
  .poll-name {
    max-width: 265px;
    display: flex;
    flex-direction: column;
  }
}

.poll-container {
  position: relative;
}

.poll-container .poll-tag {
  top: 0px !important;
  right: -7px !important;
}
