<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-space-between">

        <ion-col class="col-fit page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label *ngIf="menu">{{menu.menu_name}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <ion-grid>

        <ion-row *ngIf="dates.length">
          <ion-slides [options]="slideOptsOne" #slideWithNav 
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let item of sliderOne.dates; let idx = index" style="width: fit-content;">

          <ion-col size-sm="3" size-md="2" size-lg="1" size="3" >

            <div class="dt-box">

              <ion-card class="dt-card">

                <ion-label class="dt-label">

                  <span>
                    {{item|dateformat:'ddd'}}
                  </span>

                  {{item|dateformat:'DD'}}

                  <span>
                    {{item|dateformat:'MMM'}}
                  </span>

                </ion-label>

                <div class="indicator-line" [class.iline-selected]="setIndicatorLine(item)==1"
                [class.iline-pending]="setIndicatorLine(item)==0"
                [class.iline-skipped]="setIndicatorLine(item)==2"></div>

              </ion-card>

            </div>

          </ion-col>
        </ion-slide>
      </ion-slides>
        

        </ion-row>

      </ion-grid>

    </div>


  </ion-fab> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box-1">

      <div class="date-range-box">

        <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

        <ion-label>{{date}}</ion-label>

        <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

      </div>

      <div class="din-control-btn-sec">

        <ion-button (click)="chooseDate()">
          <img src="/assets/dining/date-icon-custom.svg">
        </ion-button>

      </div>

    </div>

  </ion-fab>


  <div class="ind-order-header">

    <div class="date-range-box">

      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

      <ion-label>{{date}}</ion-label>

      <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

    </div>

    <div class="din-controls">

      <ion-button (click)="chooseDate()">
        <img src="/assets/dining/date-icon-custom.svg">
      </ion-button>

    </div>

  </div>

  <ng-container *ngFor="let menu of menuItems">

    <div class="din-item-box">

      <ion-label class="din-item">{{menu.servingtime}} <span
          class="din-timing">({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})</span>
      </ion-label>

      <ion-icon class="din-more-options" name="ellipsis-vertical-sharp" *ngIf="showOption(menu)"
        (click)="options($event,menu.serving_time_id)">
      </ion-icon>

    </div>

    <ion-label class="no-items" *ngIf="menu.coloumns.length==0">No items</ion-label>

    <div class="fi-box">

      <ng-container *ngFor="let item of menu.coloumns" [class.doNotShow]="item.item&&item.item.length&&item.item[0].visibility==0">
        
        <ng-container *ngIf="item.item&&item.item.length==1">

          <ion-card class="fi-card" *ngFor="let i of item.item" [class.doNotShow]="!i.itemdetailsall"
            (click)="showDetails(i,menu.servingtime,menu.serving_time_id,1)">

            <div class="fi-img-block">

              <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg"
                *ngIf="i.subitem">

              <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

            </div>

            <div class="fi-info-block" *ngIf="i.itemdetailsall">

              <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

            </div>

          </ion-card>
        </ng-container>

      </ng-container>

      <ng-container *ngFor="let item of menu.coloumns" [class.doNotShow]="item.item&&item.item.length<=1">



        <div class="fi-selectable" *ngIf="item.item&&item.item.length>1">

          <ng-container *ngFor="let i of item.item;let in=index">
            <ion-card class="fi-card" [class.doNotShow]="!i.itemdetailsall||i.visibility==0"
              (click)="showDetails(i,menu.servingtime,menu.serving_time_id,1)">


              <div class="fi-img-block">
                <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg"
                  *ngIf="i.subitem">



                <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

              </div>

              <div class="fi-info-block" *ngIf="i.itemdetailsall">

                <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>





              </div>



            </ion-card>

            <ion-label class="fi-or-label" *ngIf="item.item&&item.item.length>1&&in<item.item.length-1">Or</ion-label>

          </ng-container>

        </div>

      </ng-container>

    </div>

    <div class="fi-box">

      <ng-container *ngFor="let item of additional_by_ser_time">
        <ng-container *ngIf="(item.ser_time==menu.serving_time_id&&item.item&&item.item.length>0&&item.show)">
          <ion-card class="fi-card" *ngFor="let i of item.item"
            (click)="showDetails(i,menu.servingtime,menu.serving_time_id,2)">



            <div class="fi-img-block">


              <img class="fi-img" [src]="i.image">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">{{i.item_name}}</ion-label>




            </div>

          </ion-card>
        </ng-container>
      </ng-container>

    </div>




  </ng-container>


</ion-content>