<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" [routerLink]="['/entertainment']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Games</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>


<ion-content class="ion_content_style">

  <ion-grid>

    <ion-row class="media-items-block">

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-card class="threesixty_video_card">

          <img width="100%" height="315" src="assets/game/2048.jpg" frameborder="0" />

          <ion-label class="game_name">
            2048
            <span (click)="play()">Play Now</span>
          </ion-label>

        </ion-card>

      </ion-col>

    </ion-row>

    <!-- <ion-row>

      <ion-col>

        <ion-card class="threesixty_video_card" >

          <iframe width="100%" height="315" src="https://www.youtube.com/embed/-xNN-bJQ4vI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <ion-label class="game_name">
            Game Name
            <span>Play Now</span>
          </ion-label>

        </ion-card>

      </ion-col>

    </ion-row> -->

  </ion-grid>


</ion-content>
