<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-space-between">

        <ion-col class="col-fit page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{ser_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="din-continental-img-block">

        <div class="fi-detail-img">

          <img [src]="item.itemdetailsall.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name dc-fi-name">{{item.itemdetailsall.item_name}}</ion-label>

        <ion-label class="fi-name dc-fi-description-title" *ngIf="item.itemdetailsall.description">Description</ion-label>

        <p class="din-description">{{item.itemdetailsall.description}}</p>

      </ion-col>
      

    </ion-row>

  </ion-grid>

  <div class="fi-box" >

    <ion-card class="fi-card" *ngFor="let sub of details" 
    (click)="showItem(sub)" [class.notAvailable]="sub.visibility==0">
    
      <div class="fi-img-block">
        
        
        <div class="order-restr-info" *ngIf="sub.visibility==0">
          <p>Disabled</p>
        </div>
        <img class="fi-img" [src]="sub.individualitem.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">{{sub.individualitem.item_name}}</ion-label> 

        

      </div>

    </ion-card>

    

  </div>

</ion-content>
