<!-- <video id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline 
    [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
  </video>
  <video id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline
    [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" >
  </video>


  <ion-icon class="call_end_btn" src="/assets/call_end_btn.svg" (click)="endCall()"></ion-icon> -->


  <iframe id="ytplayer" type="text/html" width="100%" height="100%"
  [src]="data"
  frameborder="0"></iframe>
  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismiss()"></ion-icon>