.top-video {
  position: absolute;
  top: 50px;
  right: 50px;
  max-width: 100px;
  height: 150px;
  z-index: 2;
}

.main-video {
  width: auto;
  height: 100vh;
}

.call_end_btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  z-index: 99999;
  margin-left: auto;
  margin-right: auto;
}

.pop-close-btn {
  display: flex;
  position: absolute;
  z-index: 999;
  left: 22px;
  top: 22px;
  font-size: 30px;
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
}
