<ion-header>
  <ion-toolbar lines="none" color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: black;" text="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>selectLanguage</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-item lines="none" color="none" class="vertical-align-center">
    <ion-label class="choose_lang">Choose your language</ion-label>
  </ion-item>

  <ion-item style="margin: 25px 0;width: 100%;" lines="none" color="none" ion-no-padding *ngIf="screen==2">
    

    <ion-row text-center  ion-no-padding class="mlr_auto week_container" >
      <ion-col  ion-no-padding >
      <ion-slides [options]="slideOptsOne" #slideWithNav pager="true" (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide *ngFor="let item of sliderOne?.lang" style="width: fit-content;margin-bottom: 10px;">
          <!-- <ion-card  ion-no-padding  (click)="setlang(item)" class="lang_card">
            <ion-item lines="none" color="none" style="height: 100%;">
              <ion-label class="lang_name">
                {{item.language}}
              </ion-label>
            </ion-item>
          </ion-card> -->
          <ion-col class="language_card" (click)="setlang(item)">

            <ion-label> {{item.language}}</ion-label>
    
          </ion-col>
         </ion-slide>
      </ion-slides>
      </ion-col>
    </ion-row>

  </ion-item>




  <!-- <ion-grid>

    <ion-row>
      
      <ion-col class="language_card">

        <ion-label>English</ion-label>

      </ion-col>

      <ion-col class="language_card">

        <ion-label>Arabic</ion-label>

      </ion-col>

      <ion-col class="language_card">

        <ion-label>Italian</ion-label>

      </ion-col>

    </ion-row>

  </ion-grid> -->



  <!-- <ion-item lines="none" color="none" style="width: 100%;" *ngIf="screen==2">
    <ion-row style="width: 100%;flex-wrap: nowrap;">

      <ion-col class="col_fit" (click)="slidePrev(sliderOne,slideWithNav)">
        <ion-button class="arrow_button">
          <ion-icon name="arrow-back-outline" slot="icon-only" style="color: #fff;"></ion-icon>
        </ion-button>
      </ion-col>

      
      <ion-col class="col_fit" (click)="slideNext(sliderOne,slideWithNav)">
        <ion-button class="arrow_button">
          <ion-icon name="arrow-forward-outline" slot="icon-only" style="color: #fff;"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-item> -->

  <ion-grid *ngIf="screen==1" style="width: 100%; display: flex; justify-content: center;">
    <ion-row ion-no-padding style="flex-wrap:nowrap; display: flex; justify-content: center; align-self:center;">

      <ion-col class="language_card" size-lg="4" size="4" *ngFor="let item of languages" (click)="setlang(item)">

        <ion-label>{{item.language}}</ion-label>

      </ion-col>

      <!-- <ion-col size="4" *ngFor="let item of languages" ion-no-padding>
        <ion-card  ion-no-padding  (click)="setlang(item)" class="grid_card">
          <ion-item lines="none" color="none" style="height: 100%;">
            <ion-label class="lang_name">
              {{item.language}}
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>

</ion-content>
