.week_container {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-y: hidden;
    overflow-x: scroll !important;
    ::-webkit-scrollbar{
        display: none !important;
       

    }
    
}
.lang_card{
    border-color:#0077b5 ;
    border-style: solid;
    border-width: 0.6px;
    width:95%;
    height: 80px;
    
}
.choose_lang{
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    color: #1c1c1c;
    margin-bottom: 50px;
}
.lang_name{
    font-size: 16px !important;
  font-weight: normal !important;
  text-align: center !important;
  margin-top: 30px;
  color: #0077b5 !important;
  display: block !important;
}
.arrow_button{
    border-radius: 50%;
    background-color: #0077b5;
    
}
// ion-sides.swiper-pagination {
//         margin-top: 20px;
//     }
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
    left: 0;
    width: 100%;
    top: 106px;
    position: unset;
}
  
.grid_card{
    border-color:#0077b5 ;
    border-style: solid;
    border-width: 0.6px;
    width:95%;
    height: 120px;
    ion-label{
        font-size: 20px !important;
        font-weight: normal !important;
        text-align: center !important;
        margin-top: 40px;
        color: #0077b5 !important;
        display: block !important;
    }
}



ion-grid {
    width: 80%;
}


.language_card {
    border: 2px solid #0077b5 !important;
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
    margin-left: 20px;

    ion-label {
        font-size: 18px;
        color: #0077b5;
    }
}

.language_card:first-child {
    margin-left: 0px !important;
}
.vertical-align-center {
    margin-top: 15vh;
}