ion-header {
    ion-toolbar {
        position: relative;

        .page-close-btn {
            font-size: 32px;
            color: #fff;
            vertical-align: middle;
            position: absolute;
            right: 10px;
            top: 12px !important;
        }

        .pcb-icon {
            font-size: 32px;
            color: #fff;
            vertical-align: middle;
            position: absolute;
            right: 10px;
            top: 12px !important;
        }
    }
}

ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 15px;
    --padding-end: 15px;

    .mealtime-date {
        font-size: 18px;
        font-weight: 500;
        color: #0077b5;
        margin-bottom: 20px;
        display: block;
    }

    .menu-details-container {
        width: 100%;
        padding: 0 5px 0 5px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;

        .md-box {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            padding: 4px 4px;
            border: 1px solid #e6e6e6;
            border-radius: 6px;

            .md-fi-info {
                display: flex;
                align-items: flex-start;
                width: 75%;
                flex-grow: 1;
                padding-right: 10px;

                .fi-thumb {
                    width: 45px;
                    height: 45px;
                    border-radius: 6px;
                }

                .fi-name {
                    padding-left: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-self: center;

                    span {
                        font-size: 17px;
                        margin-bottom: 0;
                        width: 100%;
                        color: #222;
                    }

                    .dm-fd-opt {
                        color: #f35900;
                        display: inline-block;
                        padding: 0 15px;
                        position: relative;
                        font-size: 14px;
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 5px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 6px;
                            left: 0;
                            width: 8px;
                            height: 8px;
                            background: #ff8a65;
                            border-radius: 10px;
                        }
                    }

                    .msr-status-box {
                        min-width: 120px;

                        .served {
                            font-size: 13px;
                            color: #05bb1b;
                            padding: 0;
                            max-width: -webkit-fit-content;
                            max-width: -moz-fit-content;
                            max-width: fit-content;
                            display: flex;
                            margin-top: 5px;
                            margin-bottom: 5px;

                            ion-icon {
                                font-size: 15px;
                                vertical-align: middle;
                                color: #05bb1b;
                                margin-right: 2px;
                            }
                        }

                        .refused {
                            font-size: 13px;
                            color: #898989;
                            max-width: fit-content;
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            margin-bottom: 5px;

                            ion-icon {
                                font-size: 18px;
                                vertical-align: middle;
                                color: #898989;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            .md-fi-ms {
                padding: 4px 10px;
                background: #eafffd;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                margin-right: 5px;
                height: 45px;

                span {
                    font-weight: 600;
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #222;
                }
            }

            .md-fi-qty {
                padding: 4px 10px;
                background: #fbeeff;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                height: 45px;

                span {
                    font-weight: 600;
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #222;
                }
            }
        }
    }
}


// .box {
//     position: relative;
//     height: 100%;
//     background: #fff;
// }

// .ribbon {
//     width: 150px;
//     height: 150px;
//     overflow: hidden;
//     position: absolute;
// }

// .ribbon::before,
// .ribbon::after {
//     position: absolute;
//     z-index: -1;
//     content: '';
//     display: block;
//     border: 5px solid #2980b9;
// }

// .ribbon span {
//     position: absolute;
//     display: block;
//     width: 225px;
//     padding: 15px 0;
//     background-color: #3498db;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
//     color: #fff;
//     font: 700 18px/1 'Lato', sans-serif;
//     text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
//     text-transform: uppercase;
//     text-align: center;
// }

// /* top left*/
// .ribbon-top-left {
//     top: -10px;
//     left: -10px;
// }

// .ribbon-top-left::before,
// .ribbon-top-left::after {
//     border-top-color: transparent;
//     border-left-color: transparent;
// }

// .ribbon-top-left::before {
//     top: 0;
//     right: 0;
// }

// .ribbon-top-left::after {
//     bottom: 0;
//     left: 0;
// }

// .ribbon-top-left span {
//     right: -25px;
//     top: 30px;
//     transform: rotate(-45deg);
// }