.consumer-info-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;

    ion-col {
        align-self: center;

        &:nth-child(2) {
            padding-left: 10px;
        }

        ion-avatar {
            width: 40px;
            height: 40px;
        }

        ion-label {
            vertical-align: middle;
            white-space: pre-wrap;
            word-break: break-word;
            color: #222;
            margin-left: 10px;
            display: flex;
        }
    }

}

.selected {
    background: #0077b5 !important;

    ion-col {
        ion-label {
            color: #fff;
        }
    }

}

.no-access {
    ion-row {
        ion-col {


            ion-avatar {
                img {
                    -webkit-filter: grayscale(100%);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
            }


            ion-label {

                color: #c6c6c6 !important;
            }

        }
    }
}