<ion-content>
  <ion-grid >

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngFor="let item of parent" 
      [class.no-access]="item.share==0"  (click)="select(item)">

        <ion-row class="consumer-info-container" [class.selected]="res==item.parent.user.user_id">

          <ion-col class="col-fit" size="2">

            <ion-avatar>
              <img [src]="item.parent.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col size="10">

            <ion-label>
              {{item.parent.user.name}}
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>
