.inner-header-1 {
    background: #0077b5 !important;

    .page-name {
        display: flex;
        align-items: center;

        ion-icon {
            color: #fff;
            font-size: 25px;
        }

        ion-label {
            margin-left: 15px;
            color: #fff;
            font-size: 18px;
        }
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.fixed-top-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 10px;

    .din-os-title {
        margin-left: 10px;
        margin-bottom: 10px;
        color: #707070;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    }

    .fts-box {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding-left: 5px;

        .fts-inner-box {
            display: flex;
            margin: 0 5px;

            ion-icon {
                font-size: 18px;
                color: #b9b9b9;
                vertical-align: middle;
                align-self: center;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                vertical-align: middle;
                color: #222222;
                align-self: center;
                margin-left: 8px;
                margin-right: 10px;
                min-width: max-content;
            }

            .icon-pending {
                // color: #B9B9B9;
                color: #ff667b;
            }

            // .icon-selected {
            //     color: #15B100;
            // }

            .icon-completed {
                color: #63c955;
            }

            // .icon-skipped {
            //     color: #FD8000;
            // }

            .icon-leave {
                color: #eb9035;
            }

            .icon-order-not-completed {
                color: #3a94f5;
            }
        }
    }

    .close-strip-icon {
        font-size: 30px;
        color: #0077b5;
    }
}

.dm-date-range {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: auto;
    width: 100%;
    margin-top: 80px;
    text-align: center;

    ion-label {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #222;
        margin-top: 30px;
    }
}

@media only screen and (min-width:700px) and (max-width:760px) {
    .din-choose-dates-row {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        max-width: 550px;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;

        ion-col {
            max-width: fit-content !important;
            padding-bottom: 10px;
        }
    }
}



.dt-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;

    .dt-card {
        box-shadow: none !important;
        background-color: #f4f4f4 !important;
        padding: 10px;
        margin: 0;
        width: 70px;
        max-height: 92px;

        .dt-label {
            color: #707070;
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
            display: flex;
            flex-direction: column;

            span {
                display: block;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

@media only screen and (min-width: 393px) and (max-width: 767px) {
    .dt-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dt-card {
            box-shadow: none !important;
            background-color: #f4f4f4 !important;
            padding: 10px;
            margin: 0;
            width: 85px;

            .dt-label {
                color: #707070;
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .fixed-top-sec {
        .fts-box {
            justify-content: stretch !important;

            .fts-inner-box {
                margin: 0 20px !important;

                &:first-child {
                    margin-left: 10px !important;
                }
            }
        }
    } 

    .dt-box {
        margin: 10px !important;

        .dt-card {
            box-shadow: none !important;
            background-color: #f4f4f4 !important;
            padding: 10px;
            margin: 0;
            width: 100%;
            min-height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;

            .dt-label {
                color: #707070;
                font-size: 28px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }

        .dt-card-current-date {
            .indicator-line {
                width: 95% !important;
            }
        }
    }

    .fixed-top-sec {
        justify-content: center;
        padding: 15px;

        .close-strip-icon {
            font-size: 30px;
            color: #0077b5;
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }
}

.indicator-line {
    width: 100% !important;
    height: 6px !important;
    background: #cccccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    align-self: center;
    vertical-align: middle;
    display: flex;

    // width: 8px !important;
    // height: 8px !important;
    // background: #cccccc;
    // border-radius: 50px;
    // position: absolute;
    // right: 6px;
    // top: 6px;
    // align-self: center;
    // vertical-align: middle;
    // display: flex;
}

.iline-pending {
    background: #ff667b;
}

.iline-selected {
    background: #63c955;
}

.iline-skipped {
    background: #eb9035;
}

.iline-not-completed {
    background: #3a94f5;
}

.dt-card-current-date {
    border: 2px solid #0077b5;
    background-color: #fff !important;

    .dt-label {
        color: #0077b5 !important;
    }

    .indicator-line {
        width: 90% !important;
        height: 6px !important;
        position: absolute;
        bottom: 0px;
        align-self: center;
        vertical-align: middle;
        display: flex;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translate(-50%, -50%);
        left: 50%;

        // width: 8px !important;
        // height: 8px !important;
        // position: absolute;
        // bottom: 0px;
        // align-self: center;
        // vertical-align: middle;
        // display: flex;
        // border-bottom-right-radius: 50px;
        // border-bottom-left-radius: 50px;
        // transform: translate(-50%, -50%);
        // left: 50%;
    }
}

.cut-off-icon {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 999;
}

@media only screen and (min-width:400px) and (max-width:430px) {
    .dt-box {
        .dt-card {
            max-height: 96px !important;
        }
    }
}
