.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: transparent !important;
}

.popover-content.sc-ion-popover-ios {
  border-radius: 0px !important;
  background-color: transparent !important;
  margin-left: -5px !important;
  align-self: center !important;
}

.popover-viewport.sc-ion-popover-ios-h {

  // margin-left: -5px !important;
  margin-top: 30% !important;

}

.popover-arrow.sc-ion-popover-ios {
  display: none !important;
  position: absolute;
  width: 20px;
  height: 10px;
  overflow: hidden;
}

.swiper-pagination {
  position: unset !important;
}

.popover-content {
  background: transparent !important;
  left: -5px !important;
  --width: 100%;
  --height: 40%;

}

.pop {
  // bottom: 100px !important;
  // top: 100px !important;
  // left: 0px !important;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.4;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;

}

.left {
  // position: absolute;
  // top: 40%;
  font-size: 30px;
  // width: 100%;
  margin-left: 0px;

  color: #fff;
  // z-index: 9999;
}

.right {
  // position: absolute;
  // top: 40%;
  font-size: 30px;
  // width: 100%;
  // margin-left: 90%;

  color: #fff;
  // z-index: 9999;
}

.play_icon {
  position: absolute;
  top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  z-index: 9999;
}


ion-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}


.image_pop .popover-content {
  background: transparent !important;
  --width: 100%;
  --height: 100% !important;
}


.lr-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  width: 100%;
  align-self:center;
  align-items: center;
  align-content: center;
  top:0 !important;
  bottom: 0 !important;
}

.left {
  font-size: 30px;
  color: #fff;
}

.right {
  font-size: 30px;
  color: #fff;
}

ion-slide {
  display: flex;
  width: 100% !important;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

ion-slides {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
}

ion-slide {
  img {
    max-height: calc(100vh - 22px);
  }
}

.pop-close-btn {
  display: flex;
  position: absolute;
  z-index: 999;
  right: 22px;
  top: 50px;
  font-size: 30px;
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
 }
 
//  .play-icon1 {
//   position: absolute;
//   top: 50%;
//   font-size: 60px !important;
//   width: 100%;
//   color: #fff;
//   z-index: 9999;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -webkit-transform: translate(-50%, -50%);
//  }
 .play-icon{
  font-size: 60px !important;
  color: #fff;
  display: flex;
  flex-grow: 1;
 }
 