.inner-header-1 {
    background: #0077b5 !important;

    .page-name {
        display: flex;
        align-items: center;

        ion-icon {
            color: #fff;
            font-size: 25px;
        }

        ion-label {
            font-size: 20px;
            color: #fff;
            margin-left: 15px;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 10px;
    --background: #efefef;
}

.dtk-sec-label {
    font-family: "Roboto", sans-serif;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    display: block;
    text-align: center;
}

.current-menu-card {
    border: 2px solid #41c357 !important;
    box-shadow: none;

    .current-menu-check-icon {
        font-size: 32px;
        color: #1bab4a;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.seasonal-menu-card {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #dfdfdf;
    box-shadow: none;

    .fm-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px;
        display: block;
    }

    .season-label {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #474747;
        text-align: center;
        display: block;
        margin-bottom: 5px;
        margin-top: 15px;
        text-transform: capitalize;
    }

    .season-date-range {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #5e5e5e;
        text-align: center;
        display: block;
        border-bottom: 1px dashed #e1e1e1;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .consumer-photo-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        ion-avatar {
            width: 40px;
            height: 40px;
            border: 3px solid #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        ion-avatar + ion-avatar {
            margin-left: -12px;
        }

        .consumer-count {
            background: #fff;
            border-radius: 50px;
            box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
            padding: 5px 10px;
            margin-left: -10px;
            font-size: 14px;
        }
    }

    .sp-label {
        font-size: 16px;
        color: #ff7216;
        text-align: center;
        border-bottom: 1px dashed #e1e1e1;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .selection-complete-label {
        font-size: 16px;
        color: #15b100;
        margin: 15px 0px;
        text-align: center;
        border-bottom: 1px dashed #e1e1e1;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: block;
    }

    .din-days-chosen {
        font-size: 16px;
        color: #474747;
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }

    .din-next-btn {
        color: #0077b5;
        font-size: 55px;
        display: block;
        margin: 0 auto;
    }

    .sc-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        letter-spacing: normal;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        color: #fff;
    }

    .no-border {
        border: none !important;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .dmc-control-btn-box {
        display: flex;
        align-items: center;
        justify-content: center;

        .din-take-order-btn {
            --background: #2185bb;
            --background-activated: #036599;
            --box-shadow: none;
            --border-radius: 50px;
            --padding-start: 18px;
            --padding-end: 18px;
            text-transform: none;
            letter-spacing: normal;
            color: #fff;
            margin-top: 25px;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 38px;

            ion-icon {
                font-size: 18px;
                margin-left: 5px;
                margin-right: -8px;
            }
        }

        .din-view-menu-btn {
            --background: transparent;
            --background-activated: #0077b5;
            --box-shadow: none;
            --border-radius: 50px;
            --padding-start: 18px;
            --padding-end: 18px;
            border: 2px solid #0077b5;
            border-radius: 50px;
            text-transform: none;
            letter-spacing: normal;
            color: #0077b5;
            margin-top: 25px;
            margin-left: 15px;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 38px;

            ion-icon {
                font-size: 18px;
                margin-left: 5px;
                margin-right: -8px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .seasonal-menu-card {
        padding: 20px;
        margin: 0px 5px !important;

        .fm-icon {
            width: 100px;
            height: 100px;
        }
    }

    .jc-c {
        justify-content: center;
    }
}
