<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Dining</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>


    <ion-row *ngIf="(currentMenu&&currentMenu.length)||(upcoming&&upcoming.length)">

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20" *ngIf="currentMenu&&currentMenu.length">

        <ion-label class="dtk-sec-label">Current Menu</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-20" *ngFor="let item of currentMenu" [class.doNotShow]="item.status!=2">

        <ion-card class="seasonal-menu-card current-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-icon class="current-menu-check-icon" name="checkmark-circle-sharp"></ion-icon>

          <ion-label class="season-label">{{item.menu_name}}</ion-label>
          <span class="season-date-range no-border">{{item.start_date | dateformat:'DD MMM YYYY'}} - {{item.enddate | dateformat:'DD MMM YYYY'}}</span>

          <!-- <ion-label class="selection-complete-label">All selections done</ion-label>

          <ion-label class="din-days-chosen">18/24 days chosen</ion-label> -->

          <!-- <ion-icon class="din-next-btn mt-10" name="arrow-forward-circle-sharp" (click)="placeOrder(item)"></ion-icon> -->

          <div class="dmc-control-btn-box">

            <ion-button class="din-take-order-btn" (click)="placeOrder(item)" *ngIf="access==1">
              Place order <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
  
            <ion-button class="din-view-menu-btn" (click)="viewMenu(item)">
             View menu <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>

          </div>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20" *ngIf="upcoming&&upcoming.length">

        <ion-label class="dtk-sec-label">Upcoming Menu</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10" *ngFor="let item of upcoming" [class.doNotShow]="item.status!=2">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">{{item.menu_name}}</ion-label>
          <span class="season-date-range no-border">{{item.start_date | dateformat:'DD MMM YYYY'}} - {{item.enddate | dateformat:'DD MMM YYYY'}}</span>

          <!-- <ion-label class="selection-complete-label">All selections done</ion-label>

          <ion-label class="din-days-chosen">18/24 days chosen</ion-label> -->

          <!-- <ion-icon class="din-next-btn mt-10" name="arrow-forward-circle-sharp" (click)="viewMenu(item)"></ion-icon> -->

          <div class="dmc-control-btn-box">

            <ion-button class="din-take-order-btn" (click)="placeOrder(item)" *ngIf="access==1">
              Place order
            </ion-button>
  
            <ion-button class="din-view-menu-btn" (click)="viewMenu(item)">
              View menu
             </ion-button>

          </div>
          

        </ion-card>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">Summer Menu</ion-label>
          <span class="season-date-range no-border">1 Dec 2021 - 31 Feb 2021</span>

          <ion-label class="sp-label">Please choose your selection for this menu</ion-label>

          <ion-label class="din-days-chosen">18/24 days chosen</ion-label>

          <ion-icon class="din-next-btn" name="arrow-forward-circle-sharp"
            [routerLink]="['/dining-choose-season-date']"></ion-icon>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">Autumn Menu</ion-label>
          <span class="season-date-range no-border">1 Mar 2021 - 31 May 2021</span>

          <ion-label class="sp-label">Please choose your selection for this menu</ion-label>

          <ion-label class="din-days-chosen">18/24 days chosen</ion-label>

          <ion-icon class="din-next-btn" name="arrow-forward-circle-sharp"
            [routerLink]="['/dining-choose-season-date']"></ion-icon>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">Winter Menu</ion-label>
          <span class="season-date-range no-border">1 Jun 2021 - 31 Aug 2021</span>

          <ion-label class="sp-label">Please choose your selection for this menu</ion-label>

          <ion-label class="din-days-chosen">18/24 days chosen</ion-label>

          <ion-icon class="din-next-btn" name="arrow-forward-circle-sharp"
            [routerLink]="['/dining-choose-season-date']"></ion-icon>

        </ion-card>

      </ion-col> -->

    </ion-row>



    <div *ngIf="currentMenu.length==0 && upcoming.length==0">
      <ion-thumbnail
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-dining-menu.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;">
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Dining Menus Found.</ion-label>
      </ion-item>
    </div>

  </ion-grid>

</ion-content>