<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkin-add-additional-visitors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-content class="vmanage">

  <div class="main-content-wrapper">

    <ion-grid>

      <ion-row class="dflex-jc">

        <ion-col size="12">

          <p class="welcome-text">
            Add additional Visitors
          </p>

        </ion-col>

        <!-- <div *ngIf="info==0" class="addmore-container">
          <ion-col size="12" class="dflex-jc" *ngFor="let att of anArray; let idx = index">

            <ion-input class="custom-input" placeholder="Person name" [(ngModel)]="anArray[idx].value"></ion-input>

          </ion-col>

          <ion-col size="12" class="dflex-jc" *ngIf="info==0">
            <ion-button class="addmore-btn" (click)="Add()">
              <ion-icon name="add-outline"></ion-icon> Add More
            </ion-button>
          </ion-col>
        </div> -->


        <ion-col size="12" class="dflex-jc">


          <ion-item lines="none" color="none" class="plus-minus">

            <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>

            <ion-input type="number" min="0" max="5" [(ngModel)]="count" readonly></ion-input>

            <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>

          </ion-item>



        </ion-col>

        <!------------------ Place additional visitors count here ---------------->




      </ion-row>

    </ion-grid>

  </div>


</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" (click)="back()">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="next()" [disabled]="disable">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-grid>

</ion-footer>