.plus-minus {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 200px;
  padding: 0px 20px;
  font-size: 22px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  --padding-start: 0;
  --inner-padding-end: 0;
}

.plus-minus .minus-icon {
  border-right: 1px solid #c8c8c8;
  padding-right: 10px;
}

.plus-minus ion-input {
  text-align: center;
  align-self: center;
  display: flex;
  --padding-end: 0;
}

.plus-minus .plus-icon {
  border-left: 1px solid #c8c8c8;
  padding-left: 10px;
}

.addmore-btn {
  --background: #00bcd4;
  --border-radius: 50px;
  --box-shadow: none;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 15px;
  --padding-end: 15px;
  margin: 10px auto 0px 0px;
  height: 35px;
  text-transform: none;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
}

.custom-input {
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  --padding-start: 15px;
  --padding-end: 15px !important;
  margin-bottom: 10px;
}

.addmore-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

@media only screen and (max-width: 767px) {
  .addmore-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
}
