ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;


    p {
        font-family: "Roboto", sans-serif;
        margin: 10px;
        color: #222;

        .s-checkmark {
            display: none;
        }
    }
}

.selected {
    color: #0077b5 !important;
    padding: 5px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    .s-checkmark {
        font-size: 18px;
        color: #0077b5;
        margin-left: -15px;
        margin-right: 5px;
        display: flex !important;
    }
}