<ion-content>

 
  <p (click)="select(0)"  [class.selected]="sel_area==0">
    <ion-icon class="s-checkmark" name="checkmark-outline"></ion-icon>
    In room
   </p>
   <p (click)="select(1)"  [class.selected]="sel_area!=0">
    <ion-icon class="s-checkmark" name="checkmark-outline"></ion-icon>
    Serving area
   </p>
  </ion-content>