<ion-header no-padding color="none"
  style="background: url('assets/common_header.svg') no-repeat center center !important;background-attachment: fixed;background-size: cover !important;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="" [routerLink]="['/maintenance-count']"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Maintenance Request</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 40px;"></ion-toolbar>
</ion-header>

<ion-content class="ion_create_maintenance_content">

  <ion-card class="create_maintenance_card">

    <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

      <ion-label position="stacked"  class="form-label" style="font-size: 22px !important;margin-bottom: 15px !important;font-weight: 300;">Request title <span class="red-asterisk">*</span></ion-label>
      <ion-input [(ngModel)]="title" id="req" (click)="pushTitle()"></ion-input>

    </ion-item>

    <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

      <ion-label position="stacked"  class="form-label" style="font-size: 22px !important;margin-bottom: 15px !important;font-weight: 300;">Location <span class="red-asterisk">*</span></ion-label>
      <ion-input  [(ngModel)]="location" id="loc" (click)="pushLoc()"></ion-input>

    </ion-item>
    <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

      <ion-label>Facility</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="bid" >
        <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.status}}</ion-select-option>
      </ion-select>
      
    </ion-item>

    <ion-item color="none" lines="none" class="mb_20 ">

      <ion-label position="stacked" class="form-label" style="font-size: 22px !important;font-weight: 300;">Priority <span class="red-asterisk">*</span></ion-label>
      <ion-radio-group>
      <div class="display_inline_flex mt-10">
        <div class="custom-control custom-radio mr-2">
          <input type="radio" name="" id="" value="2" [(ngModel)]="priority">
          <label class="radio_label label-urgent" for="radio1">Urgent</label>
        </div>
        <!-- <div class="custom-control custom-radio mr-2">
          <input type="radio" name="" id="">
          <label class="radio_label label-high" for="radio2">High</label>
        </div> -->
        <div class="custom-control custom-radio mr-2">
          <input type="radio" name="" id="" value="1" [(ngModel)]="priority">
          <label class="radio_label label-medium" for="radio3">Medium</label>
        </div>
        <div class="custom-control custom-radio text-info">
          <input type="radio" name="" id="" value="0" [(ngModel)]="priority">
          <label class="radio_label label-low" for="radio4">Low</label>
        </div>
      </div>
    </ion-radio-group>
    </ion-item>

    <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

      <ion-label>Type</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="type">
        <ion-select-option value="{{item.id}}" *ngFor="let item of typeArray">{{item.type}}</ion-select-option>
        <!-- <ion-select-option value="plumbing">Plumbing</ion-select-option>
        <ion-select-option value="garden">Garden</ion-select-option> -->
      </ion-select>
      <ion-input *ngIf="type==0" placeholder="Enter the type" [(ngModel)]="other_type"></ion-input>
    </ion-item>


    <ion-row class="mb_zero">

      <ion-col>

        <ion-item color="none" lines="none" class="mb_20 form-bottom-border risk-rate-col">

          <ion-label>Risk Rating</ion-label>
          <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="risk" >
            <ion-select-option value="0">Low</ion-select-option>
            <ion-select-option value="1">Medium</ion-select-option>
            <ion-select-option value="2">High</ion-select-option>
          </ion-select>

        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row class="mb_zero">
      <ion-col>

        <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

          <ion-label>Hazard</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="hazard" >
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>

        </ion-item>

      </ion-col>

    </ion-row>

    <ion-row class="mb_zero">

      <ion-col>

        <ion-item color="none" lines="none" class="mb_20 form-bottom-border">

          <ion-label>Out of order Tag</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="out_of_order" >
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>

        </ion-item>

      </ion-col>

    </ion-row>


    <ion-item color="none" lines="none" class="mb_20 form-bottom-border">


      
      <ion-label position="stacked"  class="form-label" style="font-size: 22px !important;font-weight: 300;">Describe the request</ion-label>
      <ion-textarea class="mt-10"  id="des" (click)="pushDesc()" class="description"
      [(ngModel)]="description" placeholder="Type here..."></ion-textarea>
    </ion-item>

    <!-- <app-multi-file-upload></app-multi-file-upload> -->
    <ion-row style="margin-top: 20px;margin-bottom: 20px;">
      <!-- <ion-col *ngFor="let item of imageResponse">
        <ion-thumbnail style="height:90px;width:90px">
          <img src="{{item}}" alt="" srcset="">
        </ion-thumbnail>
      </ion-col> -->
      <ion-col *ngIf="img.length<5" (click)="selectImage()">
        
        <ion-icon name="attach-outline"
          style="color: #0077b5; transform: rotate(35deg); font-size: 30px; vertical-align: middle;" role="img"
          class="ios hydrated" aria-label="attach outline"></ion-icon>
        <span class="attach-images">Attach Images</span>
      </ion-col>
    </ion-row>
    <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

      <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">
        
        <ion-thumbnail class="uploaded-image">
          <img src="{{item}}">
          <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>
  
        
  
      </ion-col>
      </ion-row>
      
    <ion-item color="none" lines="none" class="mb_20 form-top-border">

      <span class="form-btn-alignment">

        <ion-label class="form-submit-btn" (click)="submit()">Submit</ion-label>
        <!-- <ion-label class="form-cancel-btn">Cancel</ion-label> -->

      </span>

    </ion-item>

  </ion-card>
  <ion-item [ngStyle]="keyboardStyle" color="none" lines="none"></ion-item>
</ion-content>