.uploaded-images-container {
  margin-top: 20px;
}

.uploaded-images-container ion-col {
  margin-right: 15px;
  margin-bottom: 20px;
}

.uploaded-image {
  width: 80px;
  height: 80px;
}

.uploaded-image img {
  border-radius: 4px;
}

.uploaded-image-name {
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 80px;
}

.form-submit-btn {
  padding: 10px 30px !important;
}

.description {
  border-style: solid;
  border-width: 0.6px;
  border-color: dimgray;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  padding-right: 10px;
  padding-inline-end: 10px;
}

.remove-img {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 57px;
  z-index: 999;
}
