<!-- <ion-header>
  <ion-toolbar>
    <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismissModal()"></ion-icon>
    
  </ion-toolbar>
</ion-header> -->

<ion-content *ngIf="data">
  <pdf-viewer [src]="pdfSource" [original-size]="false" [external-link-target]="'blank'" [autoresize]="true"
    style="width: 100%; height: 100%;margin-top: 25px;" [zoom]="zoom_to"></pdf-viewer>

  <div class="pdf-controls">
    <ion-button (click)="zoomIn()">
      <!-- <ion-icon name="add"></ion-icon> -->
      <i class="las la-search-plus"></i>
    </ion-button>
    <ion-button (click)="zoomOut()">
      <!-- <ion-icon name="remove"></ion-icon> -->
      <i class="las la-search-minus"></i>
    </ion-button>
    <!-- <button ion-fab mini (click)="resetZoom()">
      <ion-icon name="refresh"></ion-icon>
    </button> -->
  </div>
  <!-- <object [data]="data + '#toolbar=0&navpanes=0' " type="application/pdf" width="100%" height="100%"></object> -->
  <!-- <iframe id="pdfview" type="application/pdf" width="100%" height="100%"
  [src]="data"
  frameborder="0"></iframe> -->

  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismissModal()"></ion-icon>
</ion-content>