.pop-close-btn {
    display: flex;
    position: absolute;
    z-index: 999;
    right: 22px;
    // top: 30px;
    top: 45px;
    font-size: 30px;
    color: #fff;
    background-color: #000000;
    border-radius: 50px;
}


pdf-viewer {
    display: inline-block;
    max-width: 100%;
}

// ion-fab {
//     position:fixed;
// }

.pdf-controls {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 15px;

    ion-button {
        --background: #d9d9d9;
        --border-radius: 10px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        width: 45px;
        height: 45px;
        margin: 0 12px;

        ion-icon {
            color: #585858;
            font-size: 28px;
        }

        i {
            color: #585858;
            font-size: 28px;
        }
    }
}