ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.page-name ion-icon {
  font-size: 22px;
  vertical-align: middle;
}

.page-name ion-label {
  margin-left: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.consumer-info-container {
  margin-bottom: 20px;
}

.consumer-info-container ion-col {
  align-self: center;
}

.consumer-info-container ion-col:nth-child(2) {
  padding-left: 10px;
}

.consumer-info-container ion-col ion-avatar {
  width: 40px;
  height: 40px;
}

.consumer-info-container ion-col ion-label {
  vertical-align: middle;
  white-space: pre-wrap;
  word-break: break-word;
}
