.inner-header-1 {
    color: #fff;
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background:#f1f1f1;
}

.page-name {
    ion-icon {
       font-size: 22px;
       vertical-align: middle;
   }

   ion-label {
       margin-left: 10px;
       font-size: 16px;
       vertical-align: middle;
   }
}

.consumer-info-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;

   ion-col {
       align-self: center;

       &:nth-child(2) {
           padding-left: 10px;
       }

       ion-avatar {
           width: 40px;
           height: 40px;
       }

       ion-label {
           vertical-align: middle;
           white-space: pre-wrap;
           word-break: break-word;
           color: #000;
       }
   }

}