<ion-header color="none" no-border translucent="true" style="box-shadow: none;">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none" no-border translucent="true" style="box-shadow: none;">
    <!-- <ion-title>ForgotPassword</ion-title> -->
    <ion-buttons slot="start" mode="md">
      <ion-back-button [routerLink]="['/login']" text=""></ion-back-button>
    </ion-buttons>
   </ion-toolbar>  
  
</ion-header>

<ion-content>
  <ion-item lines="none" color="none" style="margin-top: 30px;">
    <ion-avatar class="fgt_img">
      <img src="assets/forgot_password.svg">
    </ion-avatar>
    
  </ion-item>
  
  <ion-item lines="none" color="none">
    <ion-label class="fgt_head">
      Forgot Password
      <span>
        Enter the email address associated<br>with your account
      </span>
    </ion-label>
  </ion-item>
  <form (ngSubmit)="reset()">
  <ion-item class="input_field" lines="none" color="none">
    <ion-input class="input_text_pass" name="name" type="text" placeholder="Enter email address" [(ngModel)]="email" required></ion-input>
  </ion-item>
  <!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none"></ion-item> -->
  <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>
  
</form>
  <ion-button expand="block" class="reset_pass" fill="clear" (click)="reset()">
    Reset Password
  </ion-button>


</ion-content>
