ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.consumer-gallery {
    img {
        border-radius: 10px;
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
}

.consumer-gallery {
    ion-col {
        padding: 5px;
        display: flex;
    }
}

@media only screen and (min-width:768px) {
    .consumer-gallery {
        img {
            height: 240px;
        }
    }
}

.gallery-date {
    font-size: 17px;
    font-weight: 600;
    margin: 15px 0;
    display: block;
    color: #222;
}



.video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: none !important;
}

.num_badge {
    // position: absolute;
    // top: 28%;
    // font-size: 25px;
    // width: 100%;
    // margin-left: 40%;
    // margin-right: 40%;
    // color: #fff;

    position: absolute;
    font-size: 25px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    z-index: 9999;
    align-items: center;
    height: 100%;
    top: 0;
}

.vmore-media {
    text-align: center;
    font-weight: normal;
    color: #7d7d7d;
    font-size: 16px;
    display: flex;
    justify-content: center;

    ion-icon {
        font-size: 25px;
        margin-left: 10px;
    }
}