<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" [routerLink]="['/resident-overview',{flag:flag}]"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Gallery</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <!-- <ion-label class="gallery-date">March 2022</ion-label> -->

  <ion-row class="consumer-gallery" *ngIf="media.length>0">

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4" *ngFor="let item of media | slice:begin:finish"
    (click)="open(item)">

      <img src="{{item.img}}">
      <div class="video-overlay" *ngIf="item.vid==1"></div>
          <div class="num_badge" *ngIf="item.vid==1">
            <ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>

    </ion-col>

    <!-- <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/668353/pexels-photo-668353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/7640/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/2209449/pexels-photo-2209449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/2597205/pexels-photo-2597205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/6787441/pexels-photo-6787441.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

  </ion-row>

  <ion-label class="gallery-date">April 2022</ion-label>

  <ion-row class="consumer-gallery">

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/8088242/pexels-photo-8088242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>


    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/6184766/pexels-photo-6184766.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/5257429/pexels-photo-5257429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/2161449/pexels-photo-2161449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/6293192/pexels-photo-6293192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <img src="https://images.pexels.com/photos/5638644/pexels-photo-5638644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">

    </ion-col> -->

  </ion-row>

  <ion-item lines="none" color="none" *ngIf="media.length>20 && finish<media.length">
    <ion-label class="vmore-media" (click)="viewMore()">View more <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-label>
  </ion-item>

  <div *ngIf="media.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 260px;width: 260px;">
      <img src="assets/no-images.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No images/videos found</ion-label>
    </ion-item>
  </div>

</ion-content>
