
<!-- <ion-header no-padding color="none">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" [routerLink]="['/menu']" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Choose</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none" style="height: 20px;"></ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <span class="alternate-header">
    <ion-buttons slot="start" md="ios">
      <ion-back-button mode="md" text="" (click)="back()"></ion-back-button>
      <ion-label md="ios">Feedback</ion-label>
    </ion-buttons>
  </span> -->
  <div class="feedback-bg-blue">

    <span class="alternate-header">
      <ion-buttons slot="start" mode="md">
        <ion-back-button text="" (click)="back()"></ion-back-button>
        <ion-label mode="md">Feedback</ion-label>
      </ion-buttons>
    </span>

    
    <span class="feedback-white-box" style="margin-top:15px !important" *ngIf="show==4&&utype==6">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Feedback for</ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="mb-10" size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let item of contacts"
             (click)="selectConsumer(item.user_id,item)" [class.no-access]="item.status==0">
            <ion-item lines="none" color="none" class="feedback-choose-resident" [class.fdbk_selected]="con_id==item.user.name">

              <ion-avatar>
                <img [src]="item.user.profile_pic">
              </ion-avatar>

              <ion-label>
                {{item.user.name}}
              </ion-label>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </span>
    <span class="feedback-white-box mt-zero" *ngIf="show==5">
      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Resident is inactive.
          <p>You can't submit the feedback.</p>
        </ion-label>
      </ion-item>
      </span>
    <span class="feedback-white-box" style="margin-top:15px !important" *ngIf="show==0">
      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">What's on your mind ?</ion-label>
      </ion-item>

      <ion-grid>

        <ion-row class="ft-row">

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(3)" class="align_center justify-unset">

            <div class="fdbk-box" [class.fdbk_selected]="type==3">

              <img src="assets/clap.png">

              <ion-label>Compliment</ion-label>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(1)" class="align_center justify-unset">

            <div class="fdbk-box" [class.fdbk_selected]="type==1">

              <img src="assets/unlike.png">

              <ion-label>Complaint</ion-label>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(2)" class="align_center justify-unset">

            <div class="fdbk-box" [class.fdbk_selected]="type==2">

              <img src="assets/bulb.png">

              <ion-label>Suggestion</ion-label>

            </div>

          </ion-col>

        </ion-row>

      </ion-grid>

    </span>

    <span class="feedback-white-box fdbk-cat-box fwb-1 mt-zero sm-top-25" *ngIf="show==1">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Pick a category</ion-label>
      </ion-item>

      <ion-grid id="cat">

        <ion-row class="feedback-category-row">

          <ion-col size="6" size-sm="6" size-md="4" size-lg="4" *ngFor="let cat of category">

            <span class="feedback-card" (click)="gotoFeedback(cat)" [class.fdbk_selected]="cat_id==cat.id">

              <img src="/assets/feedback/categories/care.svg" *ngIf="cat.id==1">
              <img src="/assets/feedback/categories/lifestyle.svg" *ngIf="cat.id==2">
              <img src="/assets/feedback/categories/food.svg" *ngIf="cat.id==3">
              <img src="/assets/feedback/categories/environment.svg" *ngIf="cat.id==4">
              <img src="/assets/feedback/categories/staff.svg" *ngIf="cat.id==5">
              <img src="/assets/feedback/categories/others.svg" *ngIf="cat.id==6">

              <ion-label>{{cat.name}}</ion-label>

            </span>

          </ion-col>
        </ion-row>

      </ion-grid>

    </span>
    

    


    <!-- <ion-button fill="clear"  style="color:#fff;text-transform: none; font-weight: normal;" *ngIf="show!=0" (click)="previous()">Previous</ion-button> -->
  </div>


  <!-- </div> -->

</ion-content>

<ion-footer class="ion-no-border feedback-footer" no-border [class.doNotShow]="show==5"
  *ngIf="(contacts.length>1&&show!=4)||(contacts.length<=1&&show!=0)">

  <span style="float: left; display: flex; align-items: center; color: #0077b5;" *ngIf="(contacts.length>1&&show!=4)||(contacts.length<=1&&show!=0)"
    (click)="previous()">
    <ion-icon name="arrow-back-outline"></ion-icon> &nbsp; Previous
  </span>

  <!-- <span style="float: right; display: flex; align-items: center; color: #0077b5;" (click)="submit()" *ngIf="show==2">
    Next &nbsp; <ion-icon name="arrow-forward-outline">Continue</ion-icon>
  </span> -->

    <!-- <span class="dflex-jc">
      <ion-button class="fdbk-continue-btn" (click)="submit()" *ngIf="show==2">Continue</ion-button>
    </span> -->

    <!-- <ion-button class="fdbk-continue-btn lfa-btn" (click)="submit()">Leave Feedback Anonymously</ion-button> -->

</ion-footer>