ion-header {
  text-align: center;
}

ion-content {
  --padding-top: 30px !important;
  --padding-bottom: 30px !important;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
}

.vd-subtitle {
  margin-bottom: 20px;
  display: block;
}

.vd-form span {
  margin-bottom: 15px;
  display: block;
}

.vd-form span ion-checkbox {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.vd-form span ion-label {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .vd-form span ion-checkbox {
    vertical-align: middle;
    width: 25px;
    height: 25px;
  }
}
