<ion-header>
  <ion-toolbar lines="none" color="none">
    <ion-title>Declaration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="vmanage">

  <ion-grid>

    <ion-row>

      

      <ion-col size="12" class="mb-20">

        <ion-label class="vd-subtitle question">I do not have</ion-label>

      </ion-col>

      <ion-col size="12" class="vd-form">

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Runny nose</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Cough</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Chills or sweats</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Shortness of breath</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>Loss or change in sense of taste</ion-label>
        </span>

        <span>
          <ion-checkbox color="primary" aria-checked="false" role="checkbox"></ion-checkbox>
          <ion-label>loss or change in sense of smell</ion-label>
        </span>

      </ion-col>

      <ion-col size="12" class="vd-form">

        <p class="question">
          In the last 14 days, do you have been in contact with a confirmed case of COVID 19 (except in the course of
          my employment while wearing the appropriate level of PPE)
        </p>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>

      </ion-col>

      <ion-col size="12" class="vd-form">

        <p class="question">
          I have not lived in or visited the Greater Sydney, Central Coast or Northern Beaches areas of New South Wales
          since 11 December 2020 or the Blue Mountains or Woollongong since 27 December
        </p>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
        </ion-item>

        <ion-item lines="none" color="none" class="display_inline_flex">
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
        </ion-item>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="checkout-footer" lines="none" color="none">

  <ion-grid>

    <ion-col size="6">

      <ion-button class="back-btn" [routerLink]="['/checkout-ffmember-name']">

        <ion-icon name="arrow-back-outline"></ion-icon>
        Back

      </ion-button>

    </ion-col>

    <ion-col size="6">

      <ion-button class="next-btn" (click)="checkout()">

        Next
        <ion-icon name="arrow-forward-outline"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-grid>

</ion-footer>