<!-- <div class="pop">
  <ion-slides [options]="slideOptsOne"  pager="true" #slideWithNav  (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
      <ion-slide *ngFor="let s of content" >
        <div style="width: 100%;">
              <img src="{{s.img}}" style="width: 100%;height: 80%;" >
              <div style="height: 100%;width: 100%;" (click)="playVdo(s.url)">
              <div class="myOverlay" *ngIf="s.vid==1"  style="z-index: 9999;opacity: 0.8 !important;" ></div>
              <div *ngIf="s.vid==1" class="play_icon"><ion-icon name="play"   ></ion-icon></div>
              </div>
        </div>
      </ion-slide>
      
  </ion-slides>
  <div class="myOverlay" *ngIf="content.length"></div>
    
              <div class="left" *ngIf="content.length>1">
                <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
              </div>
              <div class="right" *ngIf="content.length>1">
                <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)" [class.disabled]="sliderOne.isEndSlide"></ion-icon>
              </div>
</div> -->


<ion-content>

  <span class="message-attachment-container">
    
    <img [src]="img" style="object-fit: contain" *ngIf="type==0">

    <video [src]="vid" preload="metadata" *ngIf="type==1" style="height:100%;width:100%" poster="assets/video-thumb-dummy.svg"></video>
    <!-- <div class="video-overlay_msg" (click)="playVdo()" *ngIf="type==1"></div> -->
    <!-- <div *ngIf="type==1"> -->
      <ion-icon name="play" class="play_icon_msg" (click)="playVdo()" *ngIf="type==1"></ion-icon>
    <!-- </div> -->
    <div class="myOverlay" style="z-index: 9999;opacity: 0.1 !important;"></div>

  </span>


  <div class="close_icon" (click)="back()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </div>
  <div class="send_icon" >
    <ion-icon class="input_mic ion-activatable ripple-parent" src="/assets/send_btn.svg" (click)="send()"></ion-icon>
  </div>

</ion-content>