.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;
}

.close_icon {
  position: absolute;
  top: 50px;
  font-size: 40px !important;
  width: 100%;
  text-align: right;
  color: #fff;
  background: #222;
  z-index: 9999;
  max-width: fit-content;
  right: 10px;
  border-radius: 50px;
  display: flex;
}

.send_icon {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 40px !important;
  width: 100%;
  text-align: right;
  //   margin-left: auto;
  //   margin-right: 0px;
  color: #fff;
  z-index: 9999;
}

.message-attachment-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
}

.play_icon_msg {
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
