ion-content {
    padding: 20px;
}

.input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.seperator {
    color: #c8c8c8;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
}

ion-input {
    color: #222;
}

.popover-arrow.sc-ion-popover-ios {
    display: none !important;
    position: absolute;
    width: 20px;
    height: 10px;
    overflow: hidden;
}

.input-group {
    position: relative;
}

.input-group::after {
    content: "*";
    position: absolute;
    top: 3px;
    left: 0px;
    color: #f00;
}

ion-item {
    border-bottom: 1px solid #d7d7d7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.border-none {
    border: none !important;
}

.send-invite-btn {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: none;
    --border-radius: 50px;
    --box-shadow: none;
    --background: #0077b5;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
}

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

// .invite_pop {
//     .popover-content {
//         .sc-ion-popover-md {
//             transform-origin: center center !important;
//             top: 0px !important;
//             left: 0px !important;
//             right: 0px !important;
//         }
//     }
// }

.invite-contact-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    position: relative;

    .close-ic-modal-btn {
        --background: transparent;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        height: auto;
        position: absolute;
        top: 20px;
        right: 20px;

        ion-icon {
            font-size: 32px;
            color: #0077b5;
        }
    }

    .ic-title {
        font-size: 18px;
        font-weight: 600;
        color: #222;
        text-align: center;
        margin-top: 20px;
    }

    .send-invitation-img-box {
        display: block;
        margin: 30px auto;

        img {
            width: 80px;
        }
    }

    .icb-input-container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 90%;

        .icb-input-box {
            margin-top: 20px;

            &:first-child {
                margin-top: 0px;
            }

            .icb-input-label {
                font-size: 16px;
                color: #545454;
                margin-bottom: 10px;
                display: block;

                span {
                    color: rgb(218, 18, 18);
                    font-size: 14px;
                }
            }

            ion-input {
                background: #efefef;
                border-radius: 6px;
                color: #555;
                --padding-top: 10px !important;
                --padding-end: 10px !important;
                --padding-bottom: 10px !important;
                --padding-start: 10px !important;
            }
        }

        .send-invitation-button {
            margin-top: 30px;
            margin-bottom: 30px;
            text-transform: none;
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --padding-start: 20px;
            --padding-end: 20px;
            height: 50px;
            font-size: 18px;
            font-weight: normal;
        }
    }
}

@media only screen and (min-width: 768px) {
    .invite-contact-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .ic-title {
            font-size: 18px;
            font-weight: 600;
            color: #0077b5;
            text-align: center;
            margin-top: 20px;
        }

        .send-invitation-img-box {
            display: block;
            margin: 30px auto;

            img {
                width: 80px;
            }
        }

        .icb-input-container {
            display: flex;
            flex-direction: unset !important;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
            width: 100%;

            .icb-input-box {
                min-width: 45%;
                margin: 0 15px 30px !important;

                &:first-child {
                    margin-top: 0px;
                }

                .icb-input-label {
                    font-size: 16px;
                    color: #545454;
                    margin-bottom: 10px;
                    display: block;

                    span {
                        color: rgb(218, 18, 18);
                        font-size: 14px;
                    }
                }

                ion-input {
                    background: #efefef;
                    border-radius: 6px;
                    color: #555;
                    height: 50px;
                    --padding-top: 10px !important;
                    --padding-end: 10px !important;
                    --padding-bottom: 10px !important;
                    --padding-start: 10px !important;
                }
            }

            .send-invitation-button {
                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                text-transform: none;
                --border-radius: 50px;
                --box-shadow: none;
                --background: #0077b5;
                --padding-top: 10px;
                --padding-bottom: 10px;
                --padding-start: 20px;
                --padding-end: 20px;
                height: 50px;
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
}
