<!-- 


<ion-item lines="none" color="none" style="margin-top: 25px;" class="border-none">
  <ion-label style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px; white-space: pre-line;
      letter-spacing: normal; color: #0077b5;">
    Invite Your Family & Friends</ion-label>
</ion-item>


<ion-item lines="none" color="none" style="margin-top: 30px;">
  <span class="input-group">
    <ion-input name="name" type="text" placeholder="Name" [(ngModel)]="name" class="input"></ion-input>
  </span>
</ion-item>


<ion-item lines="none" color="none">
  <span class="input-group">
    <ion-input name="name" type="text" placeholder="Relation" [(ngModel)]="relation" class="input"></ion-input>
  </span>
</ion-item>


<ion-item lines="none" color="none">
  <span class="input-group">
    <ion-input name="name" type="text" placeholder="Email address" [(ngModel)]="email" class="input"></ion-input>
  </span>
</ion-item>


<ion-item lines="none" color="none">
  <ion-input name="name" type="tel" placeholder="Phone number" [(ngModel)]="phone" class="input"></ion-input>
</ion-item>


<ion-button (click)="send()" expand="block" class="send-invite-btn" [disabled]="disable">Send Invitation</ion-button> -->

<ion-content>

  <div class="invite-contact-block">

    <ion-button class="close-ic-modal-btn" (click)="dismiss()"><ion-icon name="close-circle" ></ion-icon></ion-button>

    <ion-label class="ic-title">Invite Your Family & Friends</ion-label>

    <div class="send-invitation-img-box">

      <img src="/assets/send-invite-icon.svg">

    </div>

    <div class="icb-input-container">

      <div class="icb-input-box">

        <ion-label class="icb-input-label">Name <span>*</span></ion-label>

        <ion-input type="text" [(ngModel)]="name"></ion-input> 

      </div>

      <div class="icb-input-box">

        <ion-label class="icb-input-label">Relation <span>*</span></ion-label>

        <ion-input type="text" [(ngModel)]="relation"></ion-input> 

      </div>

      <div class="icb-input-box">

        <ion-label class="icb-input-label">Email address <span>*</span></ion-label>

        <ion-input type="text" [(ngModel)]="email"></ion-input> 

      </div>

      <div class="icb-input-box">

        <ion-label class="icb-input-label">Phone number</ion-label>

        <ion-input type="tel" [(ngModel)]="phone"></ion-input> 

      </div>

      <ion-button (click)="send()" expand="block" class="send-invitation-button">Send Invitation</ion-button>

    </div>

  </div>

</ion-content>
