ion-content {
  padding: 20px;
}

.input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.seperator {
  color: #c8c8c8;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3px;
}

.popover-arrow.sc-ion-popover-ios {
  display: none !important;
  position: absolute;
  width: 20px;
  height: 10px;
  overflow: hidden;
}

.input-group {
  position: relative;
}

.input-group::after {
  content: '*';
  position: absolute;
  top: 3px;
  left: 0px;
  color: #f00;
}

ion-item {
  border-bottom: 1px solid #d7d7d7;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  --padding-start: 0;
}

.border-none {
  border: none !important;
}

.send-invite-btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: none;
  --border-radius: 50px;
  --box-shadow: none;
  --background: #0077b5;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  height: 50px;
  font-size: 18px;
  font-weight: normal;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
