@media (min-width: 1024px) {
  .menu_card_new {
    width: 95% !important;
    height: auto;
    margin: 10px !important;
  }

  ion-card {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 40px;
    padding: 40px !important;
  }

  .story_heading {
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px !important;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .menu_container {
    padding: 0px 40px;
    margin-top: 10%;
  }

  .sign_in {
    margin-top: 64px !important;
  }

  item1 {
    --width: 80%;
    --padding-top: 20px;
    --padding-start: 100px !important;
  }

  .header_padding {
    padding: 0 13%;
  }

  .date_card {
    --ion-background-color: #f0f0f0 !important;
    box-shadow: none !important;
    margin: 8px !important;
    border-radius: 10px !important;
    padding: 0px !important;
    width: 80px;
  }

  .menu_card_new ion-label {
    font-size: 20px !important;
    font-weight: normal;
    color: #616777;
    display: block;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 23px !important;
  }

  .callbook_list {
    display: flex;
  }

  .callbook_list_time {
    text-align: center;
    display: inline-table;
    margin-right: 20px !important;
    margin-top: 21px;
    font-size: 16px !important;
  }

  .calllist_display_ib {
    /* display: inline-block; */
    width: -webkit-fill-available;
  }

  .caller_contact_align_center {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .call_list_30_percent_container {
    min-width: 30%;
    display: inline-flex;
  }

  .call_list_20_percent_container {
    width: 20%;
    display: inline-flex;
    max-width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
  }

  .call_list_16_percent_container {
    width: 16%;
    display: inline-flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 0px !important;
    margin-right: 0px;
  }

  .call_list_10_percent_container {
    width: 10%;
    display: inline-flex;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 30px;
    margin-right: 0px;
  }

  .call_list_20_percent_container .mlr_auto {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .more_callers {
    top: 30px !important;
  }

  .start_call_btn {
    margin-top: 30px !important;
  }

  .custom-mtb {
    margin-top: 22px !important;
  }

  .upcoming_calls {
    font-size: 25px !important;
  }

  .timeline_label {
    min-width: 230px;
  }

  .transaction_date {
    padding-inline-start: 30px;
  }

  .entertainment_card {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
  }

  .entertainment_card ion-label {
    font-size: 18px !important;
  }

  .threesixty_video_card {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    min-height: 190px;
  }

  .threesixty_video_card ion-label {
    font-size: 18px !important;
  }

  .threesixty_video_card img {
    height: auto !important;
  }

  .survey_blue_card {
    /* margin-bottom: 15px !important; */
    margin-bottom: 8px !important;
  }

  .feedback1_ion_content {
    --padding-top: 30px;
  }

  .feedback_container1 {
    display: block;
    /* height: 372px !important; */
    height: auto !important;
    overflow-y: scroll;
    margin-top: 180px !important;
  }

  .booking_icon {
    background-image: url(/assets/menu/tab/booking-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .visitbooking_icon {
    background-image: url(/assets/menu/tab/visitor-booking.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .residenticon {
    background-image: url(/assets/menu/tab/resident-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .myprofileicon {
    background-image: url(/assets/menu/tab/myprofile_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .diningicon {
    background-image: url(/assets/menu/tab/dining_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .maintenanceicon {
    background-image: url(/assets/menu/tab/maintenance_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .pettycashicon {
    background-image: url(/assets/menu/tab/pettycash_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100% !important;
  }

  .newslettericon {
    background-image: url(/assets/menu/tab/newsletter_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .resourcesicon {
    background-image: url(/assets/menu/tab/resources_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .abouticon {
    background-image: url(/assets/menu/tab/about_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .surveyicon {
    background-image: url(/assets/menu/tab/survey_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .feedbackicon {
    background-image: url(/assets/menu/tab/feedback_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .entertainmenticon {
    background-image: url(/assets/menu/tab/entertainment_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .feedicon {
    background-image: url(/assets/menu/tab/feeds-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .activityicon {
    background-image: url(/assets/menu/tab/activity.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .messageicon {
    background-image: url(/assets/menu/tab/message_menu.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
    position: relative;
  }

  .callbooking_icon {
    background-image: url(/assets/menu/tab/call_booking_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .checkin_icon {
    background-image: url(/assets/menu/tab/check-in.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .checkout_icon {
    background-image: url(/assets/menu/tab/check-out.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .pollicon {
    background-image: url(/assets/menu/tab/poll-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .menu_grid {
    margin-bottom: 40px !important;
  }

  .ion-maintenance-content ion-card {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px;
    padding: 0px !important;
  }

  .callerbox_border {
    min-width: fit-content !important;
  }

  .maintenance_details_card {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .comment_card {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .ion_maintenance_details_content ion-grid {
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }

  .add_comment_btn {
    padding: 5px 13px !important;
  }

  .ion_maintenance_overview_content ion-grid ion-row ion-col ion-card {
    margin: 20px !important;
  }

  .ion_maintenance_overview_content
    ion-grid
    ion-row
    ion-col
    ion-card
    ion-label {
    font-size: 20px !important;
  }

  .mes-badge {
    margin-left: 47% !important;
  }

  ion-badge {
    color: white;
    background-color: #e70d68;
    margin-left: 2px !important;
    margin-top: -9px !important;
    border-radius: 12px;
    min-height: 20px;
    min-width: 20px;
    padding: 2px;
    font-weight: normal;
    font-size: 14px !important;
  }

  .feedback_container {
    min-height: auto;
  }

  .feedback-bg {
    margin: 10px 50px !important;
    padding: 40px !important;
    min-height: 350px;
  }

  .feedback_que {
    padding-top: 0px !important;
  }

  /* .vertical-align-center {
        margin-top: 30vh !important;
    } */

  .newsletter_card {
    padding: 15px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }

  .newsletter_card .newsletter-icon {
    width: 40px !important;
    vertical-align: middle;
  }
}

@media screen and (max-width: 479px) {
  .menu_icon {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .header_padding {
    padding: 0 2%;
  }

  .welcome_container {
    padding: 2px 10px !important;
  }

  /* .date_card {
        --ion-background-color: #F0F0F0 !important;
        box-shadow: none !important;
        margin: 0px !important;
        border-radius: 10px !important;
        padding: 0px !important;
        width: 72px !important;
    } */
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .act_calendar {
    margin-top: 440px !important;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .act_calendar {
    margin-top: 360px !important;
  }

  .menu_card_new {
    width: 97% !important;
  }

  .booking_icon {
    background-image: url(/assets/menu/tab/booking-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .visitbooking_icon {
    background-image: url(/assets/menu/tab/visitor-booking.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .residenticon {
    background-image: url(/assets/menu/tab/resident-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .myprofileicon {
    background-image: url(/assets/menu/tab/myprofile_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .diningicon {
    background-image: url(/assets/menu/tab/dining_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .maintenanceicon {
    background-image: url(/assets/menu/tab/maintenance_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .pettycashicon {
    background-image: url(/assets/menu/tab/pettycash_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100% !important;
  }

  .newslettericon {
    background-image: url(/assets/menu/tab/newsletter_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .resourcesicon {
    background-image: url(/assets/menu/tab/resources_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .abouticon {
    background-image: url(/assets/menu/tab/about_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .surveyicon {
    background-image: url(/assets/menu/tab/survey_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .feedbackicon {
    background-image: url(/assets/menu/tab/feedback_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .entertainmenticon {
    background-image: url(/assets/menu/tab/entertainment_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .feedicon {
    background-image: url(/assets/menu/tab/feeds-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .activityicon {
    background-image: url(/assets/menu/tab/activity.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .messageicon {
    background-image: url(/assets/menu/tab/message_menu.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
    position: relative;
  }

  .callbooking_icon {
    background-image: url(/assets/menu/tab/call_booking_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .checkin_icon {
    background-image: url(/assets/menu/tab/check-in.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .checkout_icon {
    background-image: url(/assets/menu/tab/check-out.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .pollicon {
    background-image: url(/assets/menu/tab/poll-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 80px !important;
    height: 80px !important;
    max-width: 100%;
  }

  .menu_card_new ion-label {
    font-size: 20px !important;
    font-weight: normal;
    color: #616777;
    display: block;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 23px !important;
  }
}

@media screen and (min-width: 768px) {
  .conversation_item_right {
    max-width: 80%;
    margin-bottom: 30px;
  }

  .conversation_item_left {
    max-width: 80%;
    margin-bottom: 30px;
  }

  .conversation_day {
    background-color: #e0f4ff;
    border-radius: 8px;
    padding: 5px 10px;
    color: #0077b5 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 14px !important;
    font-weight: normal !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .act_calendar {
    min-width: 95% !important;
  }

  .story-card-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
  }

  .week_container .swiper-container .swiper-wrapper .swiper-slide {
    width: 100px !important;
  }

  ion-searchbar {
    width: 90% !important;
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }

  .play_pos {
    margin-top: 35%;
  }

  .sign_in {
    font-size: 25px !important;
    margin-top: 60px !important;
    height: 60px !important;
  }

  .item1 {
    --width: 80%;
    --padding-top: 20px;
    --padding-start: 100px !important;
  }

  .header_padding {
    /* padding: 0 10%; */
    padding: 0 5%;
  }

  .date_card {
    --ion-background-color: #f0f0f0 !important;
    box-shadow: none !important;
    margin: 8px !important;
    border-radius: 10px !important;
    padding: 0px !important;
  }

  .ion-maintenance-content ion-card {
    margin: 10px !important;
  }

  .maintenance_details_card {
    margin: 0px 0px 10px 0px !important;
  }

  .add_comment_btn {
    background-color: #0077b5;
    color: #fff;
    padding: 5px 15px;
    margin: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    font-size: 16px;
    text-align: center;
    border-radius: 8px !important;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  /* .vertical-align-center {
        margin-top: 20vh !important;
    } */

  .booking_confirm_btn {
    height: 60px !important;
    width: 30% !important;
  }

  .booking_cancel_btn {
    height: 60px !important;
    width: 30% !important;
  }

  .callbooking_date {
    border-radius: 10px !important;
  }

  .continue_btn {
    padding: 18px 45px !important;
  }

  .notify-modal {
    --width: 60vw !important;
  }

  .report-reason-modal {
    --width: 60vw !important;
  }

  .reset-password-sec .rp-form {
    margin: 25px auto !important;
    min-width: 320px;
    max-width: 320px;
  }

  .reset-password-sec .rps-item .reset-password-btn {
    max-width: 320px;
    margin-top: -30px !important;
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 411px) {
  .mlr_auto ion-col {
    margin: 0 6px;
  }
}

@media screen and (min-width: 375px) {
  .play_pos {
    margin-top: 55%;
  }

  /* .story_head_container {
        margin-left: 13px !important;
    } */
}

@media screen and (min-width: 369px) {
  /* .story_head_container {
        margin-left: 12px !important;
    } */
}

@media screen and (min-width: 360px) {
  /* .mlr_auto ion-col {
        margin-left: -5px;
    } */

  /* .story_head_container {
        margin-left: 11px !important;
    } */

  .profile_switch ion-avatar {
    margin-left: 4px !important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  .overview-date-card ion-item .activity_date {
    font-size: 14px;
  }

  /* .fixed-top-sec .fts-box-1 .din-control-btn-sec ion-button {
    width: 45px !important;
    height: 45px !important;
  } */

  .fixed-top-sec .fts-box-1 .date-range-box ion-icon {
    font-size: 26px !important;
  }
}

@media screen and (max-width: 320px) {
  /* .story_head_container {
        margin-left: 7px !important;
    } */

  .profile_switch ion-avatar {
    margin-left: -12px !important;
  }

  .display_none {
    display: none !important;
  }
}

@media screen and (min-width: 314px) {
  /* .story_head_container {
        margin-left: 4px !important;
    } */
}

/*---------------------------------------------------- media screen (min-width) starts here -----------------------------------------------------------------*/

@media screen and (min-width: 320px) {
  .crown_position {
    position: absolute;
    left: 182px !important;
  }

  .chat_message {
    max-width: 162px;
  }
}

@media screen and (min-width: 360px) {
  .crown_position {
    position: absolute;
    left: 222px !important;
  }

  .chat_message {
    max-width: 202px;
  }
}

@media screen and (min-width: 375px) {
  .crown_position {
    position: absolute;
    left: 237px !important;
  }

  .chat_message {
    max-width: 215px;
  }
}

@media screen and (min-width: 384px) {
  .crown_position {
    position: absolute;
    left: 246px !important;
  }

  .chat_message {
    max-width: 225px;
  }
}

@media screen and (min-width: 412px) {
  .crown_position {
    position: absolute;
    left: 273px !important;
  }

  .chat_message {
    max-width: 255px;
  }
}

@media screen and (min-width: 414px) {
  .crown_position {
    position: absolute;
    left: 274px !important;
  }

  .chat_message {
    max-width: 248px;
  }
}

@media screen and (min-width: 480px) {
  .crown_position {
    position: absolute;
    left: 335px !important;
  }

  .chat_message {
    max-width: 322px;
  }
}

@media screen and (min-width: 533px) {
  .chat_message {
    max-width: 390px;
  }
}

@media screen and (min-width: 600px) {
  .crown_position {
    position: absolute;
    left: 465px !important;
  }

  .chat_message {
    max-width: 455px;
  }
}

@media screen and (min-width: 603px) {
  .crown_position {
    position: absolute;
    left: 465px !important;
  }

  .chat_message {
    max-width: 460px;
  }
}

@media screen and (min-width: 768px) {
  .ion_content_style ion-col:nth-child(2) {
    max-width: 92% !important;
  }

  .crown_position {
    position: absolute;
    left: 624px !important;
  }

  .chat_message {
    max-width: 625px;
  }

  .select-contact-card {
    margin: 5px !important;
  }
}

@media screen and (min-width: 800px) {
  .ion_content_style ion-col:nth-child(2) {
    max-width: 92% !important;
  }

  .crown_position {
    position: absolute;
    left: 662px !important;
  }

  .chat_message {
    max-width: 655px;
  }
}

@media screen and (min-width: 1018px) {
  .chat_message {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .crown_position {
    position: absolute;
    left: 886px !important;
  }

  .chat_message {
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .chat_message {
    max-width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .crown_position {
    position: absolute;
    left: 1229px !important;
  }
}

/*---------------------------------------------------- media screen ends here -----------------------------------------------------------------*/

/*-----------------------------------------------------media screen between -------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ion_content_style ion-col:nth-child(2) {
    max-width: 86% !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1920px) {
  .ion_content_style ion-col:nth-child(2) {
    max-width: 100% !important;
  }
}

/*-----------------------------------------------------media screen between -------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
  .author_name {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1020px) and (orientation: landscape) {
  .feedback_container textarea {
    width: 100%;
    height: 98px !important;
    padding: 15px;
    border: none;
    border-radius: 10px;
    resize: none;
    overflow-y: scroll !important;
  }

  .feedback_container {
    border: 1px solid #0077b5;
    border-radius: 10px;
    min-height: 200px !important;
    margin-bottom: 10px;
  }

  .feedback-card img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 5px !important;
    min-height: 42px !important;
    width: 40px !important;
  }

  .give-us-feedback {
    font-size: 20px !important;
    line-height: 33px !important;
    text-align: center !important;
    width: 100% !important;
    color: #1c1c1c !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  .feedback-white-box {
    background-color: #fff;
    padding: 10px !important;
    border-radius: 10px;
    display: block;
    margin: 25px auto !important;
  }

  .feedback-bg-blue ion-card {
    margin: 8px 15px !important;
    height: 90px;
  }

  .feedback-bg-blue {
    padding: 0px 25px;
  }

  .feedback-footer {
    padding: 5px 20px !important;
  }
}

@media only screen and (max-width: 767px) {
  .activity_card {
    width: 92% !important;
  }

  .threesixty_video_card .media-box {
    width: 100%;
    height: 150px !important;
  }

  .threesixty_video_card .media-box .video-overlay {
    width: 100%;
    height: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 393px) {
  .invite_pop .popover-content.sc-ion-popover-md {
    top: 35px !important;
  }

  .invite-contact-block .ic-title {
    font-size: 16px !important;
  }

  .invite-contact-block .send-invitation-img-box img {
    width: 70px !important;
  }
}

@media only screen and (min-device-pixel-ratio: 3) {
  .alternate-header {
    top: 40px !important;
  }
}

@media only screen and (min-width: 430px) and (max-width: 435px) and (min-height: 932px) and (max-width: 935px) {
  .inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    padding: 15px 10px 10px !important;
  }

  .inner-header-1.ios.header-ios.header-collapse-none.hydrated .page-close-btn {
    top: 50px !important;
    padding-top: 5px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 395px) {
  ion-content.ios.overscroll.hydrated .feedback-bg-blue .alternate-header {
    margin-top: 55px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .cl-menu-card ion-label {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 700px) {
  .footer-items-sec .bottom-navbar-sec {
    justify-content: space-evenly !important;
  }

  .resident-mark-away-sec ion-row ion-col {
    margin: 0 !important;
    padding: 15px;
  }

  .resident-mark-away-sec ion-row ion-col .rma-item ion-item {
    padding-top: 22px;
  }

  .resident-away-card-holder .resident-away-card .rac-content ion-row ion-col {
    margin: 0 !important;
    padding: 10px 5px !important;
    display: flex;
    align-items: center;
  }

  ion-footer ion-toolbar .footer-btns-holder {
    margin: 0 auto;
    max-width: fit-content;
  }

  ion-footer ion-toolbar .footer-btns-holder ion-button {
    min-width: 150px;
    max-width: 150px;
  }

  ion-footer ion-toolbar .footer-btns-holder .ftr-cancel-btn {
    margin-left: 20px !important;
  }

  .resident-away-card-holder
    .resident-away-card
    .rac-content
    ion-row
    ion-col
    .other-away-info-holder
    ion-row
    ion-col {
    margin: 0 !important;
    padding: 5px 10px !important;
  }

  .staffs-row ion-col {
    margin: 0 !important;
    padding: 5px 5px 8px;
  }

  .maintenance-staffs-row ion-col {
    margin: 0 !important;
    padding: 5px 5px 8px;
  }

  .dining-dpreference-modal .modal-wrapper {
    max-width: 50%;
  }

  .din-choosedate-modal .modal-wrapper {
    max-width: 50%;
  }

  .game_name span {
    margin: 20px auto !important;
    min-width: 120px;
    max-width: fit-content;
  }

  .book_name span {
    margin: 20px auto !important;
    min-width: 160px;
    max-width: fit-content;
  }

  ion-footer .footer-submit-btn {
    max-width: fit-content;
    min-width: 120px;
    margin: 0 auto !important;
    display: block;
  }
}
