
<ion-content *ngIf="viewEntered">

    <ion-grid class="main-content-wrapper">
  
      <ion-row>
  
        <ion-col size="12">
  
          <p class="welcome-text mb-10">
            Hi, {{name}}
          </p>
  
        </ion-col>
  
        <ion-col size="12" class="mb-30" *ngIf="tempStatus==1">
  
          <p class="mb-zero">Please enter your body temperature<span class="red-asterisk">*</span></p>
  
          <span class="temp-info-box">
            <ion-input type="number" [(ngModel)]="temp" placeholder="Eg:36"></ion-input>
            <ion-label class="temp-unit">°C</ion-label>
          </span>
  
        </ion-col>
  
  
        
  
        <ion-col size="12" class="mb-20" *ngIf="user_vaccine.includes(2)">
  
          <div class="vaccine-info-box covid-vaccine">
  
            <ion-label>Covid-19 vaccine</ion-label>
  
            <ion-icon class="" name="checkmark-circle-sharp" ></ion-icon>
          
  
          </div>
  
        </ion-col>
        <ion-col size="12" class="mb-20" *ngIf="user_vaccine.includes(1)">
  
          <div class="vaccine-info-box influenza-vaccine">
  
            <ion-label>Influenza vaccine</ion-label>
  
            <ion-icon class="" name="checkmark-circle-sharp" ></ion-icon>
          
  
          </div>
  
        </ion-col>
  
        
  
        <ion-col size="12" *ngIf="show_covid_vac&&vacArray.includes(2)">
  
          <div class="upload-vaccine-info-box covid-vaccine">
  
            <span class="title">Covid-19 Vaccine</span>
  
            <p class="alert" >We do not have your details. Please upload</p>
  
            
  
            <span class="vaccination-date">
  
              <ion-label>First dose vaccination date</ion-label>
  
              <ion-datetime class="custom-input1" displayFormat="DD MMM YYYY" placeholder="Choose vaccination date"
                [(ngModel)]="firstDose" value="" [max]="minDate" (ionChange)="changeStatus(1)">
              </ion-datetime>
  
              <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
  
              <p class="clear-date" (click)="clearDate(1)" *ngIf="firstDose">
                <ion-icon name="close"></ion-icon>
                <ion-label>Clear</ion-label>
              </p>
            </span>
            <span class="vaccination-date">
  
              <ion-label>Second dose vaccination date</ion-label>
  
              <ion-datetime class="custom-input1" displayFormat="DD MMM YYYY" placeholder="Choose vaccination date"
                [(ngModel)]="secondDose" value="" [min]="firstDose" [max]="minDate" (ionChange)="changeStatus(2)">
              </ion-datetime>
  
              <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
              <p class="clear-date" (click)="clearDate(2)" *ngIf="secondDose">
                <ion-icon name="close"></ion-icon>
                <ion-label>Clear</ion-label>
              </p>
            </span>
  
            <span class="upload-vaccine-evidence-box">
  
              <ion-label class="uve-label">Vaccination evidence</ion-label>
  
              <span class="attach-icon-sec" (click)="attachfile(2)" *ngIf="!vac_proof">
                <ion-icon name="camera-outline"></ion-icon>
                <ion-label>Attach file</ion-label>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
  
            </span>
  
            <ion-grid class="ve-attachment-box" *ngIf="vac_proof">
  
              <ion-row>
  
                <ion-col size-sm="6" size-md="4" size-lg="4" size="6" *ngIf="vac_proof.includes('.jpg')||vac_proof.includes('.png')||vac_proof.includes('jpeg')">
  
                  <ion-thumbnail (click)="showImg(vac_proof)">
                    <img [src]="vac_proof">
                  </ion-thumbnail>
                  <ion-icon name="close-circle" class="remove-image" (click)="removeImg(1)"></ion-icon>
  
                </ion-col>
  
                <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngIf="vac_proof.includes('.pdf')||vac_proof.includes('.doc')||vac_proof.includes('.docx')">
                  
                  <ion-item lines="none" color="none" class="ve-document-box" (click)="openDoc(vac_proof)">
    
                    <ion-icon name="document-text-outline"></ion-icon>
    
                    <ion-label>{{vac_proof.substr(vac_proof.lastIndexOf('/') + 1)}}</ion-label>
    
                    <ion-icon name="eye-sharp"></ion-icon>
    
                  </ion-item>

                  <ion-icon name="close-circle" class="remove-doc" (click)="removeImg(1)"></ion-icon>

                </ion-col>
                
  
              </ion-row>
  
            </ion-grid>
  
        
  
          </div>
  
        </ion-col>
  
  
        <ion-col size="12" *ngIf="show_inf_vac&&vacArray.includes(1)">
  
          <div class="upload-vaccine-info-box influenza-vaccine">
  
            <span class="title">Influenza Vaccine</span>
  
            <p class="alert" >We do not have your details. Please upload</p>
  
            <span class="vaccination-date">
  
              <ion-label>Vaccination date</ion-label>
  
              <ion-datetime class="custom-input1" displayFormat="DD MMM YYYY" placeholder="Choose vaccination date"
                [(ngModel)]="testDate" value="" [max]="minDate" (ionChange)="changeStatus(3)">
              </ion-datetime>
  
              <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
              <p class="clear-date" (click)="clearDate(3)" *ngIf="testDate">
                <ion-icon name="close"></ion-icon>
                <ion-label>Clear</ion-label>
              </p>
            </span>
  
  
  
  
            <span class="upload-vaccine-evidence-box">
  
              <ion-label class="uve-label">Vaccination evidence</ion-label>
  
              <span class="attach-icon-sec" (click)="attachfile(1)" *ngIf="!inf_proof">
                <ion-icon name="camera-outline"></ion-icon>
                <ion-label>Attach file</ion-label>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </span>
  
            </span>
  
            <ion-grid class="ve-attachment-box" *ngIf="inf_proof">
  
              <ion-row>
  
                <ion-col size-sm="6" size-md="4" size-lg="4" size="6" *ngIf="inf_proof.includes('.jpg')||inf_proof.includes('.png')||inf_proof.includes('jpeg')">
  
                  <ion-thumbnail (click)="showImg(inf_proof)">
                    <img
                      [src]="inf_proof">
                  </ion-thumbnail>
                  <ion-icon name="close-circle" class="remove-image" (click)="removeImg(2)"></ion-icon>
  
                </ion-col>
                <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngIf="inf_proof.includes('.pdf')||inf_proof.includes('.doc')||inf_proof.includes('.docx')">
                  <ion-item lines="none" color="none" class="ve-document-box" (click)="openDoc(inf_proof)">
    
                    <ion-icon name="document-text-outline"></ion-icon>
    
                    <ion-label>{{inf_proof.substr(inf_proof.lastIndexOf('/') + 1)}}</ion-label>
    
                    <ion-icon name="eye-sharp"></ion-icon>
    
                  </ion-item>

                  <ion-icon name="close-circle" class="remove-doc" (click)="removeImg(2)"></ion-icon>

                </ion-col>
               
  
              </ion-row>
  
            </ion-grid>
  
          </div>
  
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
  
  </ion-content>
  

  <ion-footer class="checkout-footer" lines="none" color="none">

    <ion-grid>
  
      <ion-col size="6">
  
        <ion-button class="back-btn" (click)="back()">
  
          <ion-icon name="arrow-back-outline"></ion-icon>
          Back
  
        </ion-button>
  
      </ion-col>
  
      <ion-col size="6">
  
        <ion-button class="next-btn" (click)="gotoNext()" [disabled]="disable">
  
          Next
          <ion-icon name="arrow-forward-outline"></ion-icon>
  
        </ion-button>
  
      </ion-col>
  
    </ion-grid>
  
  </ion-footer>