<ion-header class="inner-header-1">
  <ion-row style="height: 10px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">{{title}}</ion-title>

  </ion-toolbar>
  <ion-toolbar color="none" style="height: 10px;"></ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="folder.length || files.length">

    <ion-grid>

      <ion-row class="media-items-block">

        <ion-col size-sm="6" size-md="3" size-lg="3" size="6" *ngFor="let item of folder">

          <ion-card class="threesixty_video_card">


            <ion-thumbnail>
              <img src="/assets/entertainment/folder_icon.svg">
            </ion-thumbnail>

            <ion-label>
              {{item.title}}
            </ion-label>

          </ion-card>

        </ion-col>


      </ion-row>

    </ion-grid>


    <ion-grid *ngIf="flag==1 || flag==2 || flag==3 || flag==4 || flag==5 ">

      <ion-row class="media-items-block">

        <ion-col *ngFor="let i of vid" size-sm="12" size-md="6" size-lg="6" size="12">

          <ion-card class="threesixty_video_card">
            <!-- <iframe name="iframe" #iframe width="100%" height="315" [src]="i.url" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> -->

            <div class="media-box">

              <img width="100%" height="150" *ngIf="i.type==1" src="/assets/entertainment/vimeo-video-thumbnail.svg"
                frameborder="0" />
              <img width="100%" height="150" [src]="i.img" frameborder="0" *ngIf="i.type==0" />
              <div class="video-overlay"></div>
              <ion-icon name="play" class="play_icon" (click)="play(i)"></ion-icon>
              <!-- <i class="las la-play play_icon" (click)="play(i)"></i> -->

            </div>

            <ion-label class="video_name">
              {{i.title}}
            </ion-label>

          </ion-card>

        </ion-col>

      </ion-row>


    </ion-grid>


    <ion-grid *ngIf="flag==6 || flag==7">

      <ion-row class="media-items-block">

        <ion-col *ngFor="let i of files" size-sm="12" size-md="6" size-lg="6" size="12">
          <ion-card class="threesixty_video_card">

            <img width="100%" height="150" src="/assets/ebook/book.svg" *ngIf="flag==7" frameborder="0" />
            <img width="100%" height="150" src="/assets/ebook/audio-book.svg" *ngIf="flag==6" frameborder="0" />

            <!-- <iframe src="https://amzn.in/1DsyCe1" width="100%" height="150"
                                            seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"
                                            scrolling="no"></iframe> -->

            <ion-label class="book_name">
              {{i.title}}
              <span (click)="read(i)" *ngIf="flag==7">Read Full Story</span>
              <span (click)="playAudio(i)" *ngIf="flag==6">Play</span>
            </ion-label>

          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="flag==8">
      <ion-row class="media-items-block">

        <ion-col *ngFor="let i of other" size-sm="12" size-md="6" size-lg="6" size="12">
          <ion-card class="threesixty_video_card">
            <img width="100%" height="150" *ngIf="i.url!='null' && i.type==1"
              src="/assets/entertainment/vimeo-video-thumbnail.svg" frameborder="0" />
            <iframe name="iframe" *ngIf="i.url!='null' && i.type==0" #iframe width="100%" height="150" [src]="i.url"
              frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>


            <div class="mask-youtube" *ngIf="i.url!='null'" (click)="playOther(i)"></div>
            <img width="100%" height="150" src="/assets/ebook/book.svg" frameborder="0" *ngIf="i.url=='null'" />

            <ion-label class="book_name">
              {{i.title}}
              <span (click)="view(i)" *ngIf="i.url=='null'">View</span>

            </ion-label>

          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>


  </div>


  <div *ngIf="folder.length==0 && files.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/No_data_found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found.</ion-label>
    </ion-item>
  </div>



</ion-content>

<ion-content *ngIf="flag==9">
  <iframe frameborder="0" scrolling="no" height="130" width="100%" [src]="au_url"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen='allowfullscreen'></iframe>

</ion-content>

<ion-content *ngIf="flag==10">
  <iframe frameborder="0" scrolling="no" height="100%" width="100%" [src]="au_url"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen='allowfullscreen'></iframe>

</ion-content>