.oops{
    font-size: 45px; 
    color : #0077b5; 
    font-weight:bold;
    text-align: center !important;
    span{
        color: #858585;
        font-size: 20px;
        font-weight: normal;
        text-align: center !important;
        display: block !important;
        line-height: 26px !important;
        padding-top: 25px !important;
    }
}
.label_text{
color: #858585;
font-size: 20px;
font-weight: normal
}