<ion-header class="inner-header-1">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-space-between">

        <ion-col class="col-fit page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{ser_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sub">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="sub.individualitem.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{sub.individualitem.item_name}}</ion-label>

        

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom" *ngIf="sub.individualitem.foodtexture&&sub.individualitem.foodtexture.length">

        <ion-label class="dining-inner-title">Texture</ion-label>

        <div class="fi-options-block" *ngFor="let i of sub.individualitem.foodtexture" >

        

          <ion-label class="fi-options " [class]="i.fdtexture.color"> {{i.fdtexture.food_texture}} </ion-label>

         

        </div>
       

      </ion-col>

     

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="sub.individualitem.alergies&&sub.individualitem.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let i of sub.individualitem.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>

          

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="din-sec-title" *ngIf="sub.individualitem.ingredientes&&sub.individualitem.ingredientes.length">

        <ion-label class="dining-inner-title">More information</ion-label>

        <ion-icon name="chevron-down-outline"></ion-icon>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10" *ngIf="sub.individualitem.ingredientes&&sub.individualitem.ingredientes.length">

        <div class="ingredients-box">

          <span class="ib-title">Ingredients</span>

          <ng-container *ngFor="let ing of sub.individualitem.ingredientes">
            <ion-label *ngIf="ing.ingredient">{{ing.ingredient.name}}
            </ion-label>
          </ng-container>
        </div>

      </ion-col>

     

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20">

        

        <ion-label class="dining-inner-title" *ngIf="sub.individualitem.description">Description</ion-label>
        <p class="fi-description">{{sub.individualitem.description}}</p>
      

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

