ion-content {
  --padding-top: 15px !important;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 15px;
  --background:#efefef;
}

.media-items-block {
  ion-col {
    margin-bottom: 20px !important;

    .threesixty_video_card {
      padding: 20px !important;
      border: 1px solid #dfdfdf;
      box-shadow: none;
      height: 100%;

      .video_name {
        margin-top: 15px;
      }
    }
  }
}
