<div class="pop" *ngIf="viewEntered">

  <ion-slides [options]="slideOptsOne" pager="true" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of data">
      <div style="width: 100%;">
        <img src="{{s.activity_image}}" style="width: 100%;height: 100%;" *ngIf="flag==2">
        <img src="{{s.image}}" style="width: 100%;height: 100%;" *ngIf="flag==3">
        <img src="{{s}}" style="width: 100%;height: 100%;" *ngIf="flag==1">
      </div>
    </ion-slide>

  </ion-slides>
  <div class="myOverlay" *ngIf="data.length"></div>
  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismiss()"></ion-icon>

  <span class="lr-control">
    <div class="left" *ngIf="data.length>1">
      <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)"
        [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
    </div>
    <div class="right" *ngIf="data.length>1">
      <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)"
        [class.disabled]="sliderOne.isEndSlide"></ion-icon>
    </div>
  </span>



</div>
<!-- <div class="myOverlay" *ngIf="video.length>0" style="z-index: 9999;opacity: 0.8 !important;">
<div *ngFor="let s of content">
  <div  *ngIf="s.vid==1" (click)="playVdo(s.url)"></div>
  <div ><ion-icon name="play"  class="play_icon" ></ion-icon></div>
</div>
</div> -->
