<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="stories">
        <!-- <ion-icon name="speedometer"></ion-icon> -->
        <!-- <ion-icon src="assets/stories.svg"></ion-icon> -->
        <ion-icon name="globe-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="activities">
        <!-- <ion-icon src="assets/activities.svg"></ion-icon> -->
        <ion-icon name="pulse-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button >
        <!-- <ion-icon src="assets/user.svg"></ion-icon> -->
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button >
        <!-- <ion-icon src="assets/message.svg"></ion-icon> -->
        <ion-icon name="mail-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="menu">
        <!-- <ion-icon src="assets/menu.svg"></ion-icon> -->
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
