<ion-header class="inner-header-1">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button style="color: white;" text="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title" mode="md">Notifications</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 40px;"></ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-item lines="none" color="none" style="width: 100%;margin-bottom: 10px; --min-height:auto;" *ngIf="notification.length">
    <ion-row style="width: 100%;color: #0077b5;font-size: 13px;justify-content: flex-end;" (click)="readAllAlert()">
      Clear All</ion-row>
  </ion-item>

  <ion-item lines="none" color="none">
    <ion-grid>
      <div *ngFor="let item of notification ; let idx=index">
        <ion-row class="notif_sep" [class.unread]="item.readstatus==0">
          <ion-item color="none" lines="none" no-padding style="width: 100%;">
            <ion-col class="col_fit">

              <ion-avatar class="notif_avatar_icon">
                <img [src]="item.notification_icon">
              </ion-avatar>

            </ion-col>

            <ion-col class="col_fit" (click)="gotoDetails(item,idx)">

              <ion-label text-wrap class="notif_details">{{item.title}}
                <span *ngIf="item.payload&&item.payload!==''">{{item.payload}}</span>
                <!-- <b>Michael John</b>  added a story Birthday celebration of Amelia -->
                <span>{{item.created_at}}</span>
              </ion-label>

            </ion-col>

            <ion-col slot="end" class="time">
              <ion-icon name="close-outline" style="font-size: 20px;" (click)="readItem(item.id,idx)"></ion-icon>
            </ion-col>
          </ion-item>
        </ion-row>
      </div>
    </ion-grid>
  </ion-item>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

 
  <div *ngIf="notification.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-notification-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Notifications Found.</ion-label>
    </ion-item>
  </div>



</ion-content>