ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.time {
    font-size: 12px;
    color: #A6A6A6;
    text-align: right;
    margin-inline-start: 0px;
    max-width: fit-content;
}

.unread {
    font-weight: bold;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}