ion-content {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.vmanage {
    .main-content-wrapper {
        display: initial;
    }
}

ion-input {
    background: #f5f5f5;
    border-radius: 10px;
    --padding-start: 15px;
    --padding-end: 15px !important;
}

.vaccineinfo-form {
    .salutation {
        font-size: 20px;
    }

    span {
        margin-bottom: 15px;
        display: block;

        ion-checkbox {
            width: 20px;
            height: 20px;
            margin: 0px 10px 0px 0px;
            --border-radius: 50px;
            --border-color: transparent;
            --background: #e0e0e0;
            vertical-align: middle;
            align-self: center;
        }

        ion-label {
            margin-left: 15px;
        }
    }
}

.temp-info-box {
    max-width: 140px;
    display: flex;
    position: relative;

    ion-input {
        background-color: #f5f5f5;
        border-radius: 10px;
        height: 50px;
        padding: 10px !important;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .temp-unit {
        position: absolute;
        top: 22px;
        right: 15px;
        z-index: 9999;
        border-left: 1px solid #b1b1b1;
        padding-left: 10px;
    }
}

.vaccine-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    // border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px 15px;

    &:nth-child(even) {
        margin-top: 20px;
    }

    ion-label {
        font-size: 18px;
        color: #222;
    }

    ion-icon {
        font-size: 30px;
        color: #00bf3b;
    }
}

.vaccine-info-box {
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    ion-label {
        font-size: 16px;
        color: #636363;

        span {
            color: #000;
            font-weight: 500;
        }

        &:nth-child(2) {
            span {
                margin-bottom: 0px;
            }
        }
    }

    p {
        margin: 0px;
        align-self: center;
    }

    .vaccine-active {
        font-size: 30px;
        color: #00bf3b;
    }
}

.upload-vaccine-info-box {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;

    .title {
        border: 1px solid #e9e9e9;
        background: #e9e9e9;
        padding: 10px 15px 10px;
        margin: 0;
        font-size: 17px;
        border-radius: 6px 6px 0 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
    }

    .custom-input1 {
        background: #e8e8e8;
        border-radius: 6px;
        border: none;
        --padding-start: 15px;
        --padding-end: 15px !important;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .calander-icon {
        position: absolute;
        top: 94px;
        right: 25px;
        z-index: 9999;
        font-size: 25px;
        color: #656565;
    }

    .d-block-mt-40 {
        display: block;
        margin-top: 40px;
    }

    ion-label {
        font-size: 16px;
        color: #636363;
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 0px;

            .attach-vaccine-docs {
                color: #656565;
                font-size: 25px;
                transform: rotate(30deg);
                margin-top: 0;
                margin-right: 5px;
            }
        }
    }
}

.upload-vaccine-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent !important;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    .title {
        color: #222;
        background: #e9f9ff;
        border: 1px solid #d7eaf1;
        align-self: flex-start;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    ion-label {
        font-size: 18px;
        color: #606060;
        align-self: flex-start;
    }

    .alert {
        align-self: flex-start;
        color: #f90;
        display: block;
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 15px;
    }

    .vaccination-date {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
        margin-top: 30px;
        position: relative;

        ion-datetime {
            background-color: #f5f5f5;
            border-radius: 10px;
            height: 50px;
            padding: 10px 15px !important;
            margin-top: 10px;
            margin-bottom: 0px;
            align-items: center;

            &:nth-child(2) {
                margin-top: 15px;
            }
        }

        .clear-date {
            width: fit-content;
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 0;

            ion-icon {
                font-size: 22px;
                color: #ff4040;
            }

            ion-label {
                font-size: 15px;
                margin-left: 5px;
            }
        }

        .calendar-icon {
            position: absolute;
            top: 50px;
            right: 15px;
            z-index: 9999;
            font-size: 25px;
            color: #606060;
        }
    }

    .upload-vaccine-evidence-box {
        // display: flex;
        // flex-direction: column;
        // align-self: flex-start;
        // width: 100%;
        // margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;

        .ion-label {
            font-size: 18px;
        }

        .attach-icon-sec {
            // display: flex;
            // margin-top: 5px;
            display: flex;
            margin-top: 5px;
            background: #dbecff;
            padding: 10px 15px;
            border-radius: 50px;

            ion-icon {
                font-size: 22px;
                vertical-align: middle;
                align-self: center;
                // transform: rotate(35deg);
                color: #0077b5;
            }

            ion-label {
                font-size: 16px;
                margin-left: 10px;
                margin-right: 10px;
                color: #0077b5;
            }
        }

        .uve-label {
            display: flex;
            align-self: center !important;
            margin-top: 5px !important;
        }
    }
}

.influenza-vaccine {
    background: #fcf8ff;
    border: 1px solid #e7d5f5;

    .title {
        // border: 1px solid #be92dc;
        // background: #be92dc;
        // color: #fff;
        color: #636363;
        background: #fcf8ff !important;
        border: 1px solid #e7d5f5 !important;
    }

    .custom-input1 {
        background: #f6e9ff;
        // border: 1px solid #edd2ff;
    }

    .calander-icon {
        color: #be92dc;
    }
}

.covid-vaccine {
    background: #f4fcff;
    border: 1px solid #e0f2f9;

    .title {
        border: 1px solid #d7eaf1;
        background: #e9f9ff;
    }

    .custom-input1 {
        background: #e1f4fd;
        border: 1px solid #caeeff;
    }

    .calander-icon {
        color: #64a2bf;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .upload-vaccine-info-box {
        .upload-vaccine-evidence-box {
            flex-direction: column;

            .uve-label {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-content-wrapper {
        width: 55%;
        margin: 0 auto;
        float: none;
        display: flex !important;
        align-content: unset;
    }

    .vaccineinfo-form {
        span {
            ion-checkbox {
                vertical-align: middle;
                width: 25px;
                height: 25px;
            }
        }

        .vaccine-info-box {
            display: flex;

            ion-label {
                span {
                    margin-bottom: 0px;
                }

                &:nth-child(2) {
                    margin-left: 40px;
                }
            }
        }
    }
}

.temp-span {
    max-width: 155px;
}

.custom-input {
    color: #000;
    background: #f5f5f5;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px !important;
    margin-bottom: 10px;
    height: 45px;
}

.custom-input1 {
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px !important;
    margin-top: 15px;
    margin-bottom: 10px;
}

.unit-sep {
    position: relative;
    top: -43px;
    right: 15px;
    z-index: 9999;
    float: right;
    color: #7e7e7e;
    border-left: 1px solid #d6d6d6;
    padding-left: 10px;
}

.vaccineinfo1-form {
    ion-radio {
        margin-right: 15px;
    }

    p {
        line-height: 22px;
    }
}

.vaccineinfo-form {
    span {
        ion-label {
            margin-left: 0;
        }
    }
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.ve-attachment-box {
    width: 100%;
    margin-top: 20px;
    // margin-left: auto;
    // margin-right: auto;
    display: block;
    // max-width: fit-content;

    ion-col {
        max-width: fit-content !important;
    }

    ion-thumbnail {
        width: 120px;
        height: 100px;
        object-fit: cover;
        margin: 10px;

        img {
            border-radius: 6px;
        }
    }

    .remove-image {
        font-size: 25px;
        color: #727271;
        position: absolute;
        right: 0px;
        z-index: 99999;
        top: 0px;
        border-radius: 50px;
        background: #ffffff;
    }

    .remove-doc {
        font-size: 25px;
        color: #727271;
        position: absolute;
        left: -6px;
        z-index: 99999;
        top: -13px;
        border-radius: 50px;
        background: #ffffff;
    }

    .ve-document-box {
        border: 1px solid #cbcbcb;
        border-radius: 10px;
        padding: 10px;
        --min-height: auto;

        ion-icon {
            font-size: 25px;
            vertical-align: middle;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            color: #707070;
            margin: 0px 10px;
            vertical-align: middle;
            display: flex;
            align-self: center;
        }
    }
}

.vmanage.ios.overscroll.hydrated {
    --padding-top: 45px !important;
}
