<ion-content>

  <span class="thanks-info-container">


      <img src="assets/centrim_logo_inner.svg" class="img">


      <ion-label class="fgt_head">
        Thank You!!
        <span *ngIf="data!=1">
          Your feedback helps us to improve our service<br>We will be in touch to follow up on your feedback
        </span>
        <span *ngIf="data==1">
          Your feedback helps us to improve our service
        </span>
      </ion-label>


  </span>

</ion-content>