.img {
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.thanks-info-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.fgt_head span {
  font-size: 18px !important;
}
