.activity_day {
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #3880ff;
    color: #fff;
    margin-block-end: 0;
}

.phy_label {
    color: #e2001e;
    font-size: 14px;
}

.act_time {
    color: #505050;
    font-weight: normal !important;
    font-size: 13px;
}

.display_grid {
    display: grid !important;
}

.multi-consumer-info-sec {
    background-color: #7c2939;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    ion-col {
        align-self: center;

        &:nth-child(2) {
            padding-left: 10px;
        }
    }

    ion-avatar {
        width: 40px;
        height: 40px;
        margin: 0 !important;
        border: 2px solid #fff;
        display: inline-flex;
        vertical-align: middle;
    }

    ion-label {
        font-size: 16px;
        color: #fff;
        vertical-align: middle;
        margin-left: 10px;
        display: inline-flex;
    }

    ion-button {
        background: #9f4254;
        border-radius: 50px;
        --box-shadow: none !important;
        --background: transparent;
        align-self: center;
        vertical-align: middle;
        --padding-top: 5px;
        --padding-bottom: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        margin: 0;
        height: auto;

        ion-icon {
            font-size: 25px;
            color: #fff;

        }
    }


}


.video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: none !important;
}

.num_badge {
    // position: absolute;
    // top: 28%;
    // font-size: 25px;
    // width: 100%;
    // margin-left: 40%;
    // margin-right: 40%;
    // color: #fff;

    position: absolute;
    font-size: 25px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    z-index: 9999;
    align-items: center;
    height: 100%;
    top: 0;
}

.vmore-media {
    text-align: center;
    font-weight: normal;
    color: #7d7d7d;
    font-size: 16px;
    display: flex;
    justify-content: center;

    ion-icon {
        font-size: 25px;
        margin-left: 10px;
    }
}

.user-media {

    img {
        width: 100%;
        height: 100% !important;
        overflow: hidden;
        -o-object-fit: cover;
        object-fit: cover;
        border: 2px solid #fff;
        border-radius: 6px;
    }
}

.user-act-card {
    display: flex;
    // flex-direction: column;
    text-align: center;
    padding: 10px 15px;

    span {
        color: #9c27b0;
        font-size: 45px;
        text-align: center;
        align-self: center;
    }

    ion-label {
        font-size: 16px;
        color: #232323;
        display: block;
        margin-top: 0;
        text-align: left;
        border-left: 1px solid #c1c1c1;
        padding-left: 10px;
        margin-left: 10px;
        align-self: center;
    }
}

ion-card {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%) !important;
}

.activity_day1 {
    font-size: 19px;
    color: #0077b5;
}

// @media only screen and (min-width:768px) {
//     .profile_bg {
//         height: 350px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     .consumer-contact-box {
//         display: flex;
//         flex-wrap: wrap;

//         .consumer_contact_card {
//             border: none !important;
//             border-radius: 10px !important;
//             width: 70% !important;
//             margin-left: 10px;
//             margin-right: 10px;
//             margin-bottom: 0;
//             box-shadow: none !important;
//             padding: 15px !important;
//             box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%) !important;
//             max-width: fit-content;
//         }
//     }
// }