.activity_day {
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 16px;
  background-color: #3880ff;
  color: #fff;
  margin-block-end: 0;
}

.phy_label {
  color: #e2001e;
  font-size: 14px;
}

.act_time {
  color: #505050;
  font-weight: normal !important;
  font-size: 13px;
}

.display_grid {
  display: grid !important;
}

.multi-consumer-info-sec {
  background-color: #004488;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.multi-consumer-info-sec ion-col {
  align-self: center;
}

.multi-consumer-info-sec ion-col:nth-child(2) {
  padding-left: 10px;
}

.multi-consumer-info-sec ion-avatar {
  width: 40px;
  height: 40px;
  margin: 0 !important;
  border: 2px solid #fff;
  display: inline-flex;
  vertical-align: middle;
}

.multi-consumer-info-sec ion-label {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-left: 10px;
  display: inline-flex;
}

.multi-consumer-info-sec ion-button {
  background: #0066cc;
  border-radius: 50px;
  --box-shadow: none !important;
  --background: transparent;
  align-self: center;
  vertical-align: middle;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  margin: 0;
  height: auto;
}

.multi-consumer-info-sec ion-button ion-icon {
  font-size: 25px;
  color: #fff;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.num_badge {
  position: absolute;
  font-size: 25px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  z-index: 9999;
  align-items: center;
  height: 100%;
}

.vmore-media {
  text-align: center;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.vmore-media ion-icon {
  font-size: 25px;
  margin-left: 10px;
}

.user-media img {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.user-act-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.user-act-card span {
  color: #9c27b0;
  font-size: 45px;
  text-align: center;
}

.user-act-card ion-label {
  font-size: 16px;
  color: #232323;
  display: block;
  margin-top: 10px;
  text-align: center;
}
