<ion-header no-padding color="none">
  <ion-row style="height: 20px;"></ion-row>
  <ion-toolbar color="none">
    <ion-buttons slot="start" mode="md">
      <ion-back-button text="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" style="float: left; padding-inline-start: 30px !important; padding-inline-end: 0px !important;">Resident
      Details

      <!-- <ion-item class="profile_switch" lines="none" color="none" *ngIf="profile_view" >

      <ion-avatar slot="end" *ngFor="let mem of members">
        <img [src]="mem.user.profile_pic" (click)="switchProfile(mem.id,mem.user_id)">
      </ion-avatar>

     

    </ion-item> -->
    </ion-title>
  </ion-toolbar>

</ion-header>



<ion-content>
  <ion-row class="multi-consumer-info-sec" *ngIf="members.length>1">

    <!-- <ion-col class="col_fit">

     <ion-avatar>
       <img [src]="assets/man1.jpg">
     </ion-avatar>

     <ion-label>
       John Doe
     </ion-label>

   </ion-col> -->

    <ion-col size="12" style="text-align: end;">

      <ion-button (click)="showConsumer()">
        <ion-icon name="repeat-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>

    </ion-col>

  </ion-row>
  <ion-grid class="profile_bg">

    <ion-row>

      <ion-col>
        <ion-avatar>
          <img [src]="user.profile_pic">
        </ion-avatar>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="consumer_profile_name">
        <ion-label>
          {{user.name}}
        </ion-label>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="facility_name">
        <ion-label>
          {{branch}}
          <span class="other_details">
            Room No: {{" "}}{{room}}
          </span>
        </ion-label>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid style="width: 100%; margin-left: auto; margin-right: auto; margin-top: 20px; align-self: center;">
    <ion-row>

      <ion-col width-33 style="text-align: center;margin-left: 9px;color:#8c8c8c" *ngIf="tabStatus!=1"
        (click)="setContent(1)">Activity overview</ion-col>
      <ion-col width-33 style="text-align: center;margin-left: 9px;color:#0077b5" *ngIf="tabStatus==1"
        (click)="setContent(1)">Activity overview</ion-col>

      <ion-col width-33 style="text-align: center;margin-left: -9px;color:#8c8c8c" *ngIf="tabStatus!=2"
        (click)="setContent(2)">Contacts</ion-col>
      <ion-col width-33 style="text-align: center;margin-left: -9px;color:#0077b5" *ngIf="tabStatus==2"
        (click)="setContent(2)">Contacts</ion-col>

      <ion-col width-33 style="text-align: center;margin-left: -9px;color:#8c8c8c" *ngIf="tabStatus!=3"
        (click)="setContent(3)">Gallery</ion-col>
      <ion-col width-33 style="text-align: center;margin-left: -9px;color:#0077b5" *ngIf="tabStatus==3"
        (click)="setContent(3)">Gallery</ion-col>

    </ion-row>
    <ion-row no-padding>
      <ion-col width-33 style="text-align: center;margin-left: 9px;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8c8c8c" *ngIf="tabStatus!=1">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="tabStatus==1">
      </ion-col>
      <ion-col width-33 style="text-align: center;margin-left: -9px;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8c8c8c" *ngIf="tabStatus!=2">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="tabStatus==2">
      </ion-col>
      <ion-col width-33 style="text-align: center;margin-left: -9px;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8c8c8c" *ngIf="tabStatus!=3">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077b5" *ngIf="tabStatus==3">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="tabStatus==2">
    <ion-card class="consumer_contact_card" style="box-shadow: none !important;" *ngFor="let item of contacts">
      <ion-item class="contact_min_height" no-padding lines="none" color="none">
        <ion-label class="primary_contact">{{item.user.name}}

          <ion-icon class="crown" slot="end" src="assets/crown.svg" *ngIf="item.is_primary==1"></ion-icon>

        </ion-label>
      </ion-item>
      <ion-item class="relate_consumer_parent" no-padding lines="none" color="none">
        <ion-label class="relate_consumer no_padding_inline">{{item.relation}}
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="tabStatus==2 && pending.length!=0">
    <ion-card class="consumer_contact_card" style="box-shadow: none !important;" *ngFor="let item of pending">
      <ion-item class="contact_min_height" no-padding lines="none" color="none">
        <ion-label class="primary_contact">{{item.name}}

        </ion-label>
      </ion-item>
      <ion-item no-padding lines="none" color="none">
        <ion-label class="relate_consumer">
          {{item.relation}}
          <span class="pending_invitation">Invitation Pending</span>
        </ion-label>
      </ion-item>

    </ion-card>
  </div>

  <ion-item lines="none" color="none" style="margin-top: 15px;" *ngIf="tabStatus==2">
    <!-- <ion-label color="primary" class="invite_new_btn" (click)="invite()">

      <span>
        <ion-icon style="font-size: 25px;" name="add-circle-outline"></ion-icon> Invite
      </span>
    </ion-label> -->

    <ion-button class="invite_new_btn" color="primary" (click)="invite()" *ngIf="hideInvite">
      <ion-icon style="font-size: 25px;" name="add-circle-outline"></ion-icon> &nbsp; Invite
    </ion-button>

  </ion-item>

  <!-- <ion-item lines="none" *ngIf="!tabStatus"
    style="width: 80%;margin-left: auto;margin-right: auto;align-self: center; --inner-padding-end: 0;">
    <ion-icon class="week_left_arrow" slot="start"></ion-icon>

    <ion-card class="week_starting_card">
      <ion-label>
        Week starting
        <span>
          15 March 2020
        </span>
      </ion-label>
    </ion-card>

    <ion-icon class="week_right_arrow" slot="end"></ion-icon>
  </ion-item> -->

  <div [hidden]="tabStatus!=1" style="width: 71%; margin-right: auto;margin-left: auto;align-self: center;">
    <!-- <ion-item style="--padding-start: 0px; --min-height: auto !important;" lines="none" color="none" *ngIf="activity.length>0">
      <p class="activity_day">Today</p>
    </ion-item>
    <ul class="timeline" *ngIf="activity.length>0">
      <li *ngFor="let act of activity">

        <ion-grid class="act_timeline_card no_padding_inline">
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
              <ion-label class="timeline_label">{{act.title}}</ion-label>
            
            </ion-col>
          
            <ion-col class="act_type" size="12" size-sm="12" size-md="3" size-lg="3">

              <ion-chip class="social_icon" *ngIf="act.type.type_name=='Social'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="physical_icon" *ngIf="act.type.type_name=='Physical'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label class="phy_label">{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="trip_icon" *ngIf="act.type.type_name=='Trip'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="meeting_icon" *ngIf="act.type.type_name=='Meeting'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="event_icon" *ngIf="act.type.type_name=='Event'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="spiritual_icon" *ngIf="act.type.type_name=='Spiritual'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="cognitive_icon" *ngIf="act.type.type_name=='Cognitive'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="entertainment_icon" *ngIf="act.type.type_name=='Entertainment'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="emotional_icon" *ngIf="act.type.type_name=='Emotional'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="other_icon" *ngIf="act.type.type_name=='Other'">
                <i class="{{act.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
               
                <ion-label>{{act.type.type_name}}</ion-label>
              </ion-chip>
              
            </ion-col>
           
          </ion-row>
        </ion-grid>

      </li>

    </ul> -->

    <ion-card class="user-act-card">

      <span>{{count_30}}</span>

      <ion-label>Activities attended in the past 30 days</ion-label>
      <!-- <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content> -->
    </ion-card>
    <div style="display:flex; justify-content: center; align-items: center;width: 100%;" *ngIf="count_30!=0">
      <canvas #doughnutCanvas width="300" height="300" style="margin: 20px 0px;" class="wd-graph"></canvas>
    </div>

    <ion-item style="--padding-start: 0px; --min-height: auto !important;" lines="none" color="none"
      *ngIf="attended.length>0">
      <p class="activity_day1">Recently attended</p>
    </ion-item>

    <ul class="timeline" *ngIf="attended.length>0">


      <li *ngFor="let item of attended">

        <ion-grid class="act_timeline_card no_padding_inline">
          <ion-row>
            <!----------------------------------- attended activity date col ---------------------------------------------------->
            <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="display_grid">
              <ion-label class="act_time">{{item.activity_start_date | dateformat :'DD MMM yyyy'}} - {{item.start_time}}
              </ion-label>
              <p class="timeline_label">{{item.title}}</p>
            </ion-col>
            <ion-col class="act_type" size="12" size-sm="12" size-md="3" size-lg="3">
              <!-- <img src="assets/physical_activity_icon.svg"> -->
              <ion-chip class="social_icon" *ngIf="item.type.type_name=='Social'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="physical_icon" *ngIf="item.type.type_name=='Physical'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="trip_icon" *ngIf="item.type.type_name=='Trip'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="meeting_icon" *ngIf="item.type.type_name=='Meeting'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="event_icon" *ngIf="item.type.type_name=='Event'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="spiritual_icon" *ngIf="item.type.type_name=='Spiritual'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="cognitive_icon" *ngIf="item.type.type_name=='Cognitive'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="entertainment_icon" *ngIf="item.type.type_name=='Entertainment'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="emotional_icon" *ngIf="item.type.type_name=='Emotional'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
              <ion-chip class="other_icon" *ngIf="item.type.type_name=='Other'">
                <i class="{{item.type.icon}}" style="margin-right:3px"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>
            </ion-col>
            <!-- <ion-col class="act_image" size="12" size-sm="12" size-md="3" size-lg="3"><img
                style=" border-radius: 10px; " src="assets/agecare-party.png"></ion-col> -->
          </ion-row>
        </ion-grid>

      </li>

      <!-- <li>

        <ion-grid class="act_timeline_card no_padding_inline">
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
              <ion-label>First block resident's Meeting</ion-label>
            </ion-col>
            <ion-col class="act_type" size="12" size-sm="12" size-md="3" size-lg="3"><img
                src="assets/event_activity_icon.svg">
            </ion-col>
            <ion-col class="act_image" size="12" size-sm="12" size-md="3" size-lg="3"><img
                style=" border-radius: 10px; " src="assets/agecare-party.png"></ion-col>
          </ion-row>
        </ion-grid>

      </li>

      <li>

        <ion-grid class="act_timeline_card no_padding_inline">
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
              <ion-label>Paul Michael's song performance</ion-label>
            </ion-col>
            <ion-col class="act_type" size="12" size-sm="12" size-md="3" size-lg="3"><img src="assets/trip_icon.svg">
            </ion-col>
            <ion-col class="act_image" size="12" size-sm="12" size-md="3" size-lg="3"><img
                style=" border-radius: 10px; " src="assets/agecare-party.png"></ion-col>
          </ion-row>
        </ion-grid>

      </li>  -->
    </ul>
    <ion-item lines="none" color="none" *ngIf="count>20&&attended.length<count">
      <ion-label class="vmore-media" (click)="loadMore()">View more <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item style="width: 100%;margin-top:15px" lines="none" color="none" *ngIf="attended.length==0">
      <ion-label style="width: 100%;text-align: center;color: dimgrey;">No activities found</ion-label>
    </ion-item>

  </div>


  <div *ngIf="tabStatus==3">
    <ion-grid *ngIf="media.length>0">

      <ion-row class="user-media">

        <ion-col size="6" size-sm="6" size-md="4" size-lg="4" *ngFor="let item of media | slice:begin:finish"
          (click)="open(item)">

          <img src="{{item.img}}">
          <div class="video-overlay" *ngIf="item.vid==1"></div>
          <div class="num_badge" *ngIf="item.vid==1">
            <ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>
        </ion-col>



      </ion-row>

    </ion-grid>
    <ion-item lines="none" color="none" *ngIf="media.length>20 && finish<media.length">
      <ion-label class="vmore-media" (click)="viewMore()">View more <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <div *ngIf="media.length==0">
      <ion-thumbnail
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no_posts_found_img.svg">
      </ion-thumbnail>

      <ion-item lines="none" color="none" style="margin-top: 25px;">
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No images/videos found</ion-label>
      </ion-item>
    </div>

  </div>
</ion-content>


<style>
  ul.timeline {
    list-style-type: none;
    position: relative;
    top: 5px;
  }

  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: -4px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }

  ul.timeline>li {
    margin: 30px 0;
    padding-left: 0px;
  }

  ul.timeline>li:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: -11px;
    width: 10px;
    height: 10px;
    z-index: 400;
  }

  .timeline_label {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: normal;
    line-height: 25px;
    margin-block-start: 0;
    margin-block-end: 0px;
  }



  .act_type ion-chip {
    margin-inline-start: 0;
    margin-bottom: 0;
    margin-inline-end: 0;
    margin-top: 0;
  }

  @media (min-width: 768px) {

    /* .timeline p {
      display: inline-block !important;
      vertical-align: super !important;
      margin-right: 100px !important;
      margin-block-start: 0;
      margin-block-end: 0;
    } */


    /* .timeline img {
      float: right !important;
    } */

    .act_timeline_card {
      border-radius: 10px !important;
      border: 1px solid #dadada;
      /* background-color: #f7f7f7 !important; */
      /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important; */
      position: relative;
      padding-left: 5px !important;
      padding: 15px !important;
    }

    /* .act_timeline_card:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 15px solid transparent;
      border-right: 15px solid #f7f7f7;
      border-top: 15px solid #f7f7f7;
      border-bottom: 15px solid transparent;
      left: -22px;
      top: 0px;
    } */

    .act_timeline_card ion-col.md {
      align-self: center;
      display: flex;
      /* justify-content: center; */
    }

    .timeline_label {
      min-width: 163px;
    }
  }



  @media (min-width: 314px) and (max-width: 767px) {

    .act_image {
      display: none !important;
    }

    .act_type {
      margin-top: 10px;
    }

    .act_time {
      margin-bottom: 10px;
    }

  }
</style>