ion-content{

    overflow-y: hidden;

}

.vdo-call-content{

    width: 100%;

    height: 100%;

    margin-bottom:0

}

.myOverlay{

    width: 100%;

    height: 100%;

    position: absolute;

    // z-index: 200;

    bottom: 0px;

    opacity: 0.8;

    background: rgba(0,0,0,0.6);

  

    // color: #fff;

  

  }

.top-video{

    position: absolute;

    top: 50px;

    right: 50px;

    max-width: 100px;

    height: 150px;

    z-index: 2;

    // background: aquamarine;

}



.main-video{

    // width: 100%;

    // max-height: 70%;

    width: auto;

    height: 100vh;

}



.call_end_btn {

    width: 80px;

    height: 80px;

    position: absolute;

    top: 80%;

    left: 0;

    right: 0;

    z-index: 99999;

    margin-left: auto;

    margin-right: auto;

}



.calling{

    width: 100%;

    position: absolute;

    top: 25px;

    left: 0;

    right: 0;

    z-index: 99999;

    

}













.videocall-sec{

    position:relative;

    height: 100%;

    margin-top: 0px !important;

}

.videocall-sec .company-logo-box{

    text-align:center;margin-bottom:30px

}

    .videocall-sec .company-logo-box .logo img{

        max-width:250px;max-height:100px

    }.vdo-call-box{

        width:100%;height:85vh;margin-bottom:0

    }.vmlink-gen-btn{

        font-size:16px;padding:6px 14px 5px !important;color:#0077b5

    }.vmlink-gen-btn:hover{

        color:#003ad8

    }

    .leftwatermark{

        display:none !important

    }

    .videocall-sec.c-logo-inner{

        text-align:center;margin:-30px;overflow:hidden

    }

    .videocall-sec.c-logo-inner .company-logo-box{

        margin-bottom:0;position:absolute;top:17px;left:32px;

        width:90%;height:auto;min-height:75px;max-height:125px;display:flex;

        align-items:center;justify-content:flex-start}

        .videocall-sec.c-logo-inner .company-logo-box::after{

            content:"";width:85%;height:100%;max-height:125px;

            position:absolute;top:2px;left:-38px;z-index:1;

            background-image:linear-gradient(to left, rgba(0,0,0,0) 0, #1b2638 80%)

        }

        .videocall-sec.c-logo-inner .company-logo-box .logo{

            position:relative;z-index:2}

            .videocall-sec.c-logo-inner .company-logo-box .logo img{

                max-width:220px;max-height:100px;z-index:2}

                .videocall-sec.c-logo-inner .call-control{

                    display:inline-block;position:absolute;bottom:50px;left:auto;right:auto}

                    .videocall-sec.c-logo-inner .call-control .icon-btn{

                        width:55px;height:55px;background:#04bf0c;display:inline-flex;

                        justify-content:center;align-items:center;border-radius:50%;font-size:24px;color:#fff;margin:0;border:0;transition:.3s all ease-in}

                        .videocall-sec.c-logo-inner .call-control .icon-btn.cancelcall{

                            background:#867777}

                            .videocall-sec.c-logo-inner .call-control .icon-btn.cancelcall i{

                                transform:rotate(135deg)}

                                .videocall-sec.c-logo-inner .call-control .icon-btn.cancelcall:hover{

                                    background:#c00}

                                    .videocall-sec.c-logo-inner .call-control-block{

                                        position:absolute;bottom:0;width:100%;background:#1b2638;padding:12px 0}

                                        .videocall-sec.c-logo-inner .call-control-block .call-cntrl-inner{display:flex;justify-content:center;align-items:center}

                                        .videocall-sec.c-logo-inner .call-control-block .call-cntrl-inner .contrl-item .icon-btn{width:55px;height:55px;background:#b4b4b4;

                display:inline-flex;justify-content:center;align-items:center;

                border-radius:50%;font-size:24px;color:#fff;margin:0 12px;

                border:0;transition:.3s all ease-in}

                .videocall-sec.c-logo-inner .call-control-block .call-cntrl-inner .contrl-item .icon-btn:hover{background:#7a7a7a}.videocall-sec.c-logo-inner .call-control-block .call-cntrl-inner .contrl-item .icon-btn.cancelcall{background:#ec0000}.videocall-sec.c-logo-inner .call-control-block .call-cntrl-inner .contrl-item .icon-btn.cancelcall i{

                    transform:rotate(135deg)}

                    .videocall-sec.c-logo-inner .call-control-block .call-cntrl-inner .contrl-item .icon-btn.cancelcall:hover{background:#c00}.videocall-sec.c-logo-inner .vdo-call-box{height:100vh}.videocall-sec .call-control-block.menu-view{transform:translateY(100%);opacity:0;transition:.3s ease-out}.videocall-sec:hover .call-control-block.menu-view{

                        opacity:1;transform:translateY(0)}.page-error-sec .page-error-content .error-img.thankyou-img img{max-width:500px}@media screen and (min-device-width: 1300px) and (max-device-width: 1400px){.videocall-sec.c-logo-inner{margin:-20px -20px 0}.videocall-sec.c-logo-inner .company-logo-box{top:17px;width:85%}}@media screen and (min-device-width: 1199px) and (max-device-width: 1299px){.videocall-sec.c-logo-inner{margin:-20px -20px 0}.videocall-sec.c-logo-inner .company-logo-box{top:17px;width:85%}}@media screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){.videocall-sec.c-logo-inner{margin:-20px -20px 0}.videocall-sec.c-logo-inner .company-logo-box{top:17px;width:85%}}@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait){.videocall-sec.c-logo-inner{margin:-30px -30px 0}.videocall-sec.c-logo-inner .company-logo-box{width:83%}}@media screen and (min-device-width: 1025px) and (max-device-width: 1112px) and (orientation: landscape){.videocall-sec.c-logo-inner .company-logo-box{width:83%}.videocall-sec.c-logo-inner .company-logo-box .logo img{max-width:200px;max-height:100px}.videocall-sec.c-logo-inner{margin:-30px -25px 0}}@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){.videocall-sec.c-logo-inner .company-logo-box .logo img{max-width:200px;max-height:100px;z-index:2}.videocall-sec.c-logo-inner{margin:-30px -25px 0}.videocall-sec.c-logo-inner .company-logo-box{width:83%}}@media screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait){.videocall-sec.c-logo-inner{margin:-30px -25px 0}.videocall-sec.c-logo-inner .company-logo-box{top:17px;left:22px;width:80%}.videocall-sec.c-logo-inner .company-logo-box .logo img{max-width:180px;max-height:80px}.videocall-sec.c-logo-inner .call-control .icon-btn{margin-left:-15px}}@media screen and (min-device-width: 768px) and (max-device-width: 833px) and (orientation: portrait){.videocall-sec.c-logo-inner{margin:-30px -25px 0}.videocall-sec.c-logo-inner .company-logo-box{top:17px;left:22px;width:80%}.videocall-sec.c-logo-inner .company-logo-box .logo img{max-width:180px;max-height:80px}.videocall-sec.c-logo-inner .call-control .icon-btn{margin-left:-15px}}@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait){.videocall-sec.c-logo-inner{margin:-15px -15px 0}.videocall-sec.c-logo-inner .company-logo-box{top:17px;left:22px;width:60%;min-height:68px;max-height:70px}.videocall-sec.c-logo-inner .company-logo-box::after{width:100%;background-image:linear-gradient(to left, rgba(0,0,0,0) 0%, #1b2638 35%)}.videocall-sec.c-logo-inner .company-logo-box .logo img{max-width:150px;max-height:70px}.videocall-sec.c-logo-inner .call-control .icon-btn{width:50px;height:50px;font-size:22px;margin-left:-25px}}@media screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape){html body .content .content-wrapper{padding:20px 20px 0}.videocall-sec.c-logo-inner{margin:-15px -15px 0}.videocall-sec.c-logo-inner .company-logo-box{top:22px;left:22px}.videocall-sec.c-logo-inner .company-logo-box .logo img{max-width:180px;max-height:80px}.videocall-sec.c-logo-inner .call-control .icon-btn{width:50px;height:50px;font-size:22px;margin-left:-25px}}







                        .vdoon{

                            background-image: url("/assets/vdocall/video_call.svg") !important;

                        }

                        .vdoOff{

                            background-image: url("/assets/vdocall/video-off.svg") !important;

                        }

                        .mic{

                        background-image:url("/assets/vdocall/mic.svg") !important;

                        }

                        .mute{

                            background-image: url("/assets/vdocall/mute-mic.svg") !important;

                        }