<ion-content>
  
  <div class="videocall-sec c-logo-inner">
    <input type="hidden" id="base_url" value="https://app.centrim.life">
     
    <div class="company-logo-box">
        <a  class="logo" >
            <img src="https://app.centrim.life/assets/img/ecaretlogo.png" alt="">
        </a>
    </div>
    <div class="call-control-block menu-view-x">
        <div class="call-cntrl-inner">

             <!--button click i class change to 'ft-mic-off'--> 
             
              <!-- <div class="contrl-item">
                <ion-icon class=" btn icon-btn audio" src="/assets/call_end_btn.svg" (click)="screenshare()"></ion-icon>  -->
                <!-- <button type="button" class=" btn icon-btn audio" href="#" onclick="screenshare()">
                    <i class="ft-monitor" ></i> -->
                     <!--<i class="ft-mic-off"></i>--> 
                <!-- </button> -->
            <!-- </div> -->
             
             

            <div class="contrl-item">
              <div class=" btn icon-btn audio mic" id="audioicon" (click)="audiocontrol()"></div>
                <!-- <button type="button" class=" btn icon-btn audio" href="#" onclick="audiocontrol()">
                    <i class="ft-mic" id="audioicon"></i> -->
                     <!--<i class="ft-mic-off"></i>--> 
                <!-- </button> -->
            </div>


            <div class="contrl-item">
              <ion-icon class=" btn icon-btn cancelcall" src="/assets/call_end_btn.svg" (click)="closeCall()"></ion-icon> 
                <!-- <button type="button"  onclick="closecall()" href="#">
                    <i class="ft-phone"></i>
                </button> -->
            </div>


             <!--button click i class change to 'ft-video-off'--> 

            <div class="contrl-item">
              <div class=" btn icon-btn video vdoon" id="vdoicon" (click)="videocontrol()"></div> 
                <!-- <button type="button" class=" btn icon-btn video" href="#" onclick="videocontrol()">
                    <i class="ft-video" id="vdoicon"></i>  -->
                     <!--<i class="ft-video-off"></i>--> 
                <!-- </button> -->
            </div>
        </div>
    </div>
  <div class="vdo-call-content" id="meeting"></div>
  <!-- <ion-icon class="call_end_btn" src="/assets/call_end_btn.svg" (click)="closeCall()"></ion-icon> -->
  <!-- <div class="call_end_btn">
    <button type="button"  onclick="closecall()" href="#">
        <i class="ft-phone"></i>
    </button>
</div> -->
</div>

  

</ion-content>
